<template>
  <!-- Table Container Card -->
  <b-card no-body>
    <div class="m-2">
      <b-row>
        <b-col md="6">
          <b-form-group label="Estado del inmueble" label-for="state_fisico">
            <v-select
              v-model="inmueble.state_fisico"
              :options="state_fisico"
              label="name"
              :value="state_fisico.id"
              input-id="state_fisico"
              @input="buscarInfo"
              placeholder="Seleccionar"
            />
          </b-form-group>
        </b-col>

        <b-col md="6">
          <b-form-group label="Tipo negocio" label-for="tipo_negocio">
            <v-select
              v-model="inmueble.tipo_negocio"
              :options="tipo_negocio"
              label="descripcion"
              :value="tipo_negocio.id"
              input-id="tipo_negocio"
              @input="buscarInfo"
              placeholder="Seleccionar"
            />
          </b-form-group>
        </b-col>

        <b-col md="6">
          <b-form-group label="Agentes" label-for="agentes">
            <v-select
              v-model="inmueble.agente"
              :options="agente"
              label="username"
              :value="agente.id"
              input-id="agentes"
              @input="buscarInfo"
              placeholder="Seleccionar"
            />
          </b-form-group>
        </b-col>

        <b-col md="6">
          <b-form-group label="Tipo de inmueble" label-for="tipo_inmueble">
            <v-select
              v-model="inmueble.tipo_inmueble"
              :options="tipo_inmuebles"
              label="tipo"
              :value="tipo_inmuebles.id"
              input-id="tipo_inmueble"
              @input="buscarInfo"
              placeholder="Seleccionar"
            />
          </b-form-group>
        </b-col>
      </b-row>
      <b-row>
        <b-col md="3">
          <b-form-group label="Departamento" label-for="departamento">
            <v-select
              v-model="inmueble.state_id"
              :options="states"
              label="name"
              :value="states.id"
              input-id="departamento"
              @input="buscarInfo"
              placeholder="Seleccionar"
            />
          </b-form-group>
        </b-col>
        <b-col md="3">
          <b-form-group label="Ciudad" label-for="ciudad">
            <v-select
              v-model="inmueble.city_id"
              :options="city"
              label="name"
              :value="city.id"
              input-id="ciudad"
              @input="buscarInfo"
              placeholder="Seleccionar"
            />
          </b-form-group>
        </b-col>
        <b-col md="3">
          <b-form-group label="Barrio" label-for="barrio">
            <v-select
              v-model="inmueble.barrio_id"
              :options="barrio"
              label="name"
              :value="barrio.id"
              input-id="barrio"
              @input="buscarInfo"
              placeholder="Seleccionar"
            />
          </b-form-group>
        </b-col>
        <b-col md="3">
          <b-form-group label="Zona" label-for="zona">
            <v-select
              v-model="inmueble.zona_id"
              :options="zona"
              label="name"
              :value="zona.id"
              input-id="zona"
              @input="buscarInfo"
              placeholder="Seleccionar"
            />
          </b-form-group>
        </b-col>
      </b-row>
    </div>
    <div class="m-2">
      <b-row>
        <b-col>
          <b-button
            size="sm"
            v-ripple.400="'rgba(113, 102, 240, 0.15)'"
            variant="success"
            @click="exportInmueble()"
          >
            <feather-icon icon="FilePlusIcon" class="mr-50" />
            <span class="align-middle">Exportar Excel</span>
          </b-button>
        </b-col>
      </b-row>
      <!-- Table Top -->
      <b-row class="m-2">
        <!-- Per Page -->
        <b-col
          cols="12"
          md="6"
          class="d-flex align-items-center justify-content-start mb-1 mb-md-0"
        >
          <label>Entradas </label>

          <v-select
            v-model="perPageClients"
            :options="pageOptionsClients"
            :clearable="false"
            class="per-page-selector d-inline-block ml-50 mr-1"
          />
          <b-button
            v-if="$can('create', 'inmuebles')"
            variant="primary"
            :to="{ name: 'agregar-inmueble' }"
          >
            Agregar Inmuebles
          </b-button>
        </b-col>

        <!-- Search -->
        <b-col cols="12" md="6">
          <div class="d-flex align-items-center justify-content-end">
            <b-form-input
              v-model="filter"
              class="d-inline-block mr-1"
              placeholder="Buscar Inmuebles..."
            />
            <b-input-group-append>
              <b-button :disabled="!filter" @click="filter = ''"
                >limpiar</b-button
              >
            </b-input-group-append>
          </div>
        </b-col>
      </b-row>
    </div>

    <!-- Main table element -->
    <b-table
      responsive
      empty-text="No hay Inmuebles registrados por el momento"
      :items="data == null ? datas : data"
      small
      :bordered="true"
      :fields="fields"
      :current-page="currentPageClients"
      :per-page="perPageClients"
      :filter="filter"
      :filter-included-fields="filterOn"
      show-empty
      @filtered="onFiltered"
      class="position-relative"
      :select-mode="selectMode"
      selected-variant="success"
      selectable
      :busy="isBusy"
      @row-selected="onRowSelected"
      outlined
    >
      <template #cell(area_lote)="data">
        <span
          v-if="data.item.area_lote != 'null' && data.item.area_lote != null"
        >
          <strong>{{ data.item.area_lote + "m2" }}</strong>
        </span>
        <span v-else>
          <strong>{{ "0 m2" }}</strong>
        </span>
      </template>
      <template #cell(area_contruida)="data">
        <span
          v-if="
            data.item.area_contruida != 'null' && data.item.area_lote != null
          "
        >
          <strong>{{ data.item.area_contruida + "m2" }}</strong>
        </span>
        <span v-else>
          <strong>{{ "0 m2" }}</strong>
        </span>
      </template>

      <template #cell(precio_alquiler)="data">
        <span v-if="data.item.precio_alquiler != 'null'">
          <strong
            >${{
              data.item.precio_alquiler == ""
                ? 0
                : data.item.precio_alquiler | priceFormattin
            }}</strong
          >
        </span>
        <span v-else>
          <strong>{{ "$0" }}</strong>
        </span>
      </template>

      <template #cell(precio_venta)="data">
        <span v-if="data.item.precio_alquiler != 'null'">
          <strong
            >${{
              data.item.precio_venta == ""
                ? 0
                : data.item.precio_venta | priceFormattin
            }}</strong
          >
        </span>
        <span v-else>
          <strong>{{ "$0" }}</strong>
        </span>
      </template>

      <template #cell(zona_id)="data">
        <div v-if="data.item.zona_id != null">
          {{ data.item.zona_id.name }}
        </div>
      </template>

      <template #cell(ciudad_id)="data">
        <div v-if="data.item.ciudad_id != null">
          {{ data.item.ciudad_id.name }}
        </div>
      </template>

      <template #cell(tipo_negocio)="data">
        <div v-if="data.item.tipo_negocio != null">
          {{ data.item.tipo_negocio.descripcion }}
        </div>
      </template>

      <template #cell(state_inmueble)="data">
        <div v-if="data.item.state_inmueble == 2">
          <b-badge variant="light-primary"> Activo </b-badge>
        </div>
        <div v-if="data.item.state_inmueble == 3">
          <b-badge variant="light-danger"> Eliminado </b-badge>
        </div>
        <div v-if="data.item.state_inmueble == 4">
          <b-badge variant="light-warning"> Inactivo </b-badge>
        </div>
      </template>

      <template #cell(tipo_inmueble)="data">
        <div v-if="data.item.tipo_inmueble != null">
          {{ data.item.tipo_inmueble.tipo }}
        </div>
      </template>

      <template #cell(barrio_id)="data">
        <div v-if="data.item.barrio_id != null">
          {{ data.item.barrio_id.name }}
        </div>
      </template>

      <template #table-busy>
        <div class="text-center text-danger my-2">
          <b-spinner class="align-middle"></b-spinner>
          <strong>Cargando...</strong>
        </div>
      </template>

      <template #cell(user_id)="row">
        <strong>{{ row.item.user_id.username }}</strong>
      </template>

      <template #cell(actions)="row">
        <b-button-group size="sm">
          <b-button
            v-if="$can('updated', 'inmuebles')"
            :to="{ name: 'editar-inmueble', params: { id: row.item.slug } }"
            variant="info"
            v-ripple.400="'rgba(255, 255, 255, 0.15)'"
          >
            <feather-icon icon="EditIcon" />
          </b-button>

          <b-button
            v-if="$can('read', 'inmuebles')"
            :to="{ name: 'inmuebles-details', params: { slug: row.item.slug } }"
            v-ripple.400="'rgba(255, 255, 255, 0.15)'"
            variant="primary"
            >Ficha</b-button
          >

          <!-- <b-button
            v-if="$can('read', 'inmuebles')"
            @click="infoPortales(row.item, $event.target)"
            variant="dark"
            v-ripple.400="'rgba(255, 255, 255, 0.15)'"
            >Hist. Cita</b-button
          > -->
          <!-- <b-button variant="warning">Eliminar</b-button> -->
        </b-button-group>
      </template>

      <template #cell(selected)="{ rowSelected }">
        <template v-if="rowSelected">
          <span aria-hidden="true">&check;</span>
          <span class="sr-only">Selected</span>
        </template>
        <template v-else>
          <span aria-hidden="true">&nbsp;</span>
          <span class="sr-only">Not selected</span>
        </template>
      </template>
    </b-table>
    <b-modal
      id="modal-warning"
      ok-only
      ok-variant="warning"
      ok-title="Aceptar"
      modal-class="modal-warning"
      @ok="soatActions(row.item.id)"
      centered
      title="Success Modal"
    >
      <b-card-text>
        <b-overlay :show="show_spinner_sin" rounded="sm">
          <div class="demo-inline-spacing">
            <b-img
              left
              class="mb-1 mb-sm-0"
              height="120"
              :src="require('@/assets/images/fincarraiz.png')"
              alt="Left image')"
            />
          </div>
        </b-overlay>
      </b-card-text>
    </b-modal>
    <div class="mx-2 mb-2">
      <b-row>
        <!-- Pagination -->
        <b-col
          cols="12"
          sm="6"
          class="
            d-flex
            align-items-center
            justify-content-center justify-content-sm-end
          "
        >
          <b-pagination
            v-model="currentPageClients"
            :total-rows="totalRows"
            :per-page="perPageClients"
            first-number
            last-number
            class="mb-0 mt-1 mt-sm-0"
            prev-class="prev-item"
            next-class="next-item"
          >
            <template #prev-text>
              <feather-icon icon="ChevronLeftIcon" size="18" />
            </template>
            <template #next-text>
              <feather-icon icon="ChevronRightIcon" size="18" />
            </template>
          </b-pagination>
        </b-col>
      </b-row>

      <b-container>
        <div class="demo-inline-spacing mt-2">
          <b-button
            size="sm"
            v-ripple.400="'rgba(255, 255, 255, 0.15)'"
            variant="primary"
            @click="infoAddAgenda($event.targuet)"
          >
            Agendar
          </b-button>
          <b-button
            size="sm"
            v-if="$can('read', 'inmuebles')"
            @click="infoPortales($event.target)"
            variant="warning"
            v-ripple.400="'rgba(255, 255, 255, 0.15)'"
            >Sincronizar</b-button
          >

          <b-button
            size="sm"
            v-ripple.400="'rgba(255, 255, 255, 0.15)'"
            variant="success"
            @click="infoHistoralModal($event.target)"
          >
            Historial Agenda
          </b-button>
        </div>
      </b-container>
    </div>

    <section class="app-ecommerce-details">
      <b-alert variant="danger" :show="product === undefined"> </b-alert>
      <b-card v-if="product" no-body>
        <b-card-body>
          <b-row class="my-2">
            <b-col cols="12" md="8">
              <swiper
                class="swiper-multiple"
                :options="swiperOptions"
                :dir="$store.state.appConfig.isRTL ? 'rtl' : 'ltr'"
              >
                <swiper-slide
                  v-for="(data, index) in product.inmueble_imagenes"
                  :key="index"
                >
                  <b-img
                     v-if="data.url.substr(0,4)=='http'"
                    class="image_slider"
                    :src="data.url"
                    fluid
                  />
                  <b-img
                     v-else
                    class="image_slider"
                    :src="'/storage/' + data.url"
                    fluid
                  />


                </swiper-slide>
                <div slot="button-next" class="swiper-button-next" />
                <div slot="button-prev" class="swiper-button-prev" />
                <div slot="pagination" class="swiper-pagination" />
              </swiper>
            </b-col>
            <b-col cols="12" md="4">
              <h1><strong>Precios:</strong></h1>
              <b-card-text class="item-company mb-0">
                <b-link class="company-name">
                  {{ product.brand }}
                </b-link>
              </b-card-text>
              <div
                class="ecommerce-details-price d-flex flex-wrap mt-1"
                v-if="product.tipo_negocio.tipo == 'Venta'"
              >
                <h4 class="item-price mr-1">
                  Valor Venta: ${{
                    product.precio_venta == ""
                      ? "0"
                      : product.precio_venta | priceFormattin
                  }}
                </h4>
              </div>
              <div
                class="ecommerce-details-price d-flex flex-wrap mt-1"
                v-if="product.tipo_negocio.tipo == 'Alquiler'"
              >
                <h4 class="item-price mr-1">
                  Valor Arriendo: ${{
                    product.precio_alquiler == ""
                      ? "0"
                      : product.precio_alquiler | priceFormattin
                  }}
                </h4>
                <h4 class="item-price mr-1">
                  Valor Administracion ${{
                    product.precio_administracion == ""
                      ? "0"
                      : product.precio_administracion | priceFormattin
                  }}
                </h4>
              </div>

              <ul class="product-features list-unstyled">
                <b-row>
                  <b-col v-if="product.agente != null">
                    <h1>agente</h1>
                    <li v-if="product.agente.primer_nombre != null">
                      <strong>Nombre:</strong>
                      {{
                        product.agente.primer_nombre +
                        product.agente.segundo_nombre
                      }}
                    </li>
                    <li>
                      <strong>Apellido:</strong>
                      {{
                        product.agente.primer_apellido +
                        product.agente.segundo_apellido
                      }}
                    </li>
                    <li>
                      <strong>Celular:</strong>
                      {{ product.agente.celular }}
                    </li>
                    <li>
                      <strong>Telefono fijo:</strong>
                      {{ product.agente.telefono_fijo }}
                    </li>
                    <li><strong>Correo:</strong> {{ product.agente.email }}</li>

                    <hr />
                    <h1>Longitudes</h1>
                    <li><strong># Baños:</strong> {{ product.banos }}</li>
                    <li><strong># Alcobas:</strong> {{ product.alcobas }}</li>
                    <li>
                      <strong># Parqueaderos:</strong>
                      {{ product.cantidad_parqueadero }}
                    </li>

                    <li><strong># Garaje:</strong> {{ product.garaje }}</li>
                    <li><strong># Pisos:</strong> {{ product.pisos }}</li>
                    <hr />
                    <h1>Precios</h1>
                    <li>
                      <strong>Precio administración:</strong>
                      {{ "$" + product.precio_administracion }}
                    </li>
                    <li>
                      <strong>Precio alquiler:</strong>
                      <span v-if="product.precio_alquiler != null">
                        {{ "$" + product.precio_alquiler }}
                      </span>
                      <span v-else>
                        {{ "$0" }}
                      </span>
                    </li>
                    <li>
                      <strong>Precio venta:</strong>
                      {{ "$" + product.precio_venta }}
                    </li>

                    <li>
                      <strong>Direccion:</strong>
                      {{ "$" + product.direccion }}
                    </li>
                  </b-col>
                  <b-col>
                    <h1><strong> Datos Basicos: </strong></h1>
                    <li>
                      <strong> Tipo de inmueble:</strong>
                      <span v-if="product.tipo_inmueble != null">{{
                        product.tipo_inmueble.tipo
                      }}</span>
                    </li>
                    <li>
                      <strong> # Habitaciones:</strong>
                      {{ product.habitaciones }}
                    </li>
                    <li><strong># Baños:</strong> {{ product.banos }}</li>
                    <li>
                      <strong># Parqueaderos:</strong>
                      {{ product.cantidad_parqueadero }}
                    </li>
                    <li><strong># Pisos:</strong> {{ product.pisos }}</li>

                    <li>
                      <strong> Direccion:</strong> {{ product.direccion }}
                    </li>

                    <li>
                      <strong>
                        Año de construccion:
                        {{ product.ano_construcion }}</strong
                      >
                    </li>
                    <hr />
                    <h1><strong>Areas del Inmueble:</strong></h1>
                    <li>
                      <strong>Area Lote:</strong>
                      {{ product.area_lote + "m2" }}
                    </li>
                    <li>
                      <strong>Area Construida:</strong>
                      {{ product.area_contruida + "m2" }}
                    </li>

                    <li>
                      <strong>Area Total:</strong>
                      {{ product.area_total + "m2" }}
                    </li>
                    <li><strong>Fondo:</strong> {{ product.fondo + "m2" }}</li>
                    <li>
                      <strong>Frente:</strong> {{ product.frente + "m2" }}
                    </li>
                  </b-col>
                </b-row>
              </ul>
            </b-col>
          </b-row>
          <h1 class="text-centrado">
            <strong>{{ product.titulo_inmueble }}</strong>
          </h1>
        </b-card-body>
        <b-container fluid="sm">
          <b-row class="my-2">
            <b-col cols="12" md="4">
              <ul class="product-features list-unstyled">
                <b-row>
                  <b-col>
                    <h5><strong>Caracteristicas Internas :</strong></h5>
                    <li
                      v-for="caracteristicas in product.caracteristicas_internas"
                      :key="caracteristicas.id"
                    >
                      {{ caracteristicas.caracteristicas_internas.texto }}
                    </li>
                  </b-col>

                  <b-col>
                    <h5><strong>Caracteristicas Externas :</strong></h5>
                    <li
                      v-for="caracteristicas in product.caracteristicas_externas"
                      :key="caracteristicas.id"
                    >
                      {{ caracteristicas.caracteristicas_externas.texto }}
                    </li>
                  </b-col>
                </b-row>
              </ul>
            </b-col>
            <b-col>
              <b-card-text
                ><span
                  v-html="
                    product.descripcion == 'null'
                      ? 'Sin Descripcion'
                      : product.descripcion
                  "
                ></span
              ></b-card-text>
            </b-col>
          </b-row>
        </b-container>
        <b-container>
          <b-row>
            <b-col cols="12" md="6" v-if="product.latitud != null">
              <GmapMap
                :center="center"
                :zoom="18"
                style="width: 100%; height: 400px"
              >
                <GmapMarker
                  :key="index"
                  v-for="(m, index) in markers"
                  :position="m.position"
                  @click="center = m.position"
                />
              </GmapMap>
            </b-col>
            <b-col cols="12" md="6">
              <b-embed
                v-if="product.url_video != ''"
                type="iframe"
                aspect="16by9"
                :src="product.url_video"
                allowfullscreen
              />
            </b-col>
          </b-row>
        </b-container>
        <!-- Static Content -->
        <!-- <e-commerce-product-details-item-features /> -->

        <!-- Static Content -->
        <!-- Slider: Related Products -->
        <!-- <e-commerce-product-details-related-products /> -->
      </b-card>
    </section>
    <modal-cita ref="modalCita" />
    <modal-portales ref="modalPortales" />
    <modal-add-agenda ref="modalAddAgenda" />
    <modal-historial-agenda ref="modalHistorialAgenda" />
  </b-card>
</template>

<script>
import {
  BCard,
  BRow,
  BCol,
  BFormInput,
  BButton,
  BTable,
  BAlert,
  BMedia,
  BAvatar,
  BLink,
  BBadge,
  BDropdown,
  BDropdownItem,
  BPagination,
  BTooltip,
  BFormGroup,
  BFormSelect,
  BButtonGroup,
  BInputGroupAppend,
  BCardText,
  VBPopover,
  BImg,
  BPopover,
  BCarousel,
  BCarouselSlide,
  BCardBody,
  BSpinner,
  BEmbed,
  BOverlay,
  BContainer,
  BModal,
} from "bootstrap-vue";
import vSelect from "vue-select";
import BCardCode from "@core/components/b-card-code";
import Ripple from "vue-ripple-directive";
import Templates from "../../../templates/templates.vue";
import modalPortalesVue from "../components/modalPortales.vue";
import modalAddCitaVue from "../components/modalAddCita.vue";
import { Swiper, SwiperSlide } from "vue-awesome-swiper";
import "swiper/css/swiper.css";
import modalAddAgendaVue from "../components/modalAddAgenda.vue";
import modalHistorialAgendaVue from "../components/modalHistorialAgenda.vue";
import axios from "axios";

export default {
  components: {
    BCard,
    BRow,
    BImg,
    BSpinner,
    Swiper,
    SwiperSlide,
    BContainer,
    BCol,
    BFormInput,
    BButton,
    BTable,
    BCarousel,
    BCarouselSlide,
    BEmbed,
    BCardBody,
    BMedia,
    BAvatar,
    BLink,
    BAlert,
    BBadge,
    BOverlay,
    BDropdown,
    BDropdownItem,
    BPagination,
    BTooltip,
    BFormGroup,
    BFormSelect,
    vSelect,
    BButtonGroup,
    BInputGroupAppend,
    BCardCode,
    BCardText,
    Ripple,
    BModal,
    BPopover,
    Templates,
    "modal-portales": modalPortalesVue,
    "modal-cita": modalAddCitaVue,
    "modal-add-agenda": modalAddAgendaVue,
    "modal-historial-agenda": modalHistorialAgendaVue,
  },

  directives: {
    "b-popover": VBPopover,

    Ripple,
  },

  data() {
    return {
      swiperOptions: {
        navigation: {
          nextEl: ".swiper-button-next",
          prevEl: ".swiper-button-prev",
        },
        slidesPerView: 2,
        spaceBetween: 0,
        pagination: {
          el: ".swiper-pagination",
          clickable: true,
        },
      },

      path: process.env.MIX_API_URL + "private/inmuebles/",
      isBusy: false,
      show_spinner_sin: false,
      selectMode: "single",
      inmueble_selected: null,
      selected: [],
      modes: ["single"],
      fields: [
        // { key: "image_principal", label: "Imagen", sortable: true },
        { key: "id", label: "Codigo", sortable: true },
        { key: "tipo_inmueble", label: "Tipo", sortable: true },
        { key: "tipo_negocio", label: "Tipo negocio", sortable: true },
        { key: "zona_id", label: "Zona", sortable: true },
        { key: "ciudad_id", label: "Ciudad", sortable: true },
        { key: "state_inmueble", label: "Estados", sortable: true },
        { key: "barrio_id", label: "Barrio", sortable: true },
        { key: "titulo_inmueble", label: "Titulo", sortable: true },
        { key: "area_lote", label: "A. Lote", sortable: true },
        { key: "area_contruida", label: "A. Construida", sortable: true },
        { key: "precio_alquiler", label: "Alquiler", sortable: true },
        { key: "precio_venta", label: "Venta", sortable: true },
        { key: "actions", label: "Acciones" },
      ],
      totalRows: 1,
      currentPageClients: 1,
      perPageClients: 5,
      pageOptionsClients: [5, 10, 15, { value: 100, text: "Show a lot" }],
      filter: null,
      filterOn: [],
      userData: null,
      tipo_negocio: [],
      state_fisico: [],
      inmueble: {
        state_fisico: null,
        tipo_negocio: null,
        tipo_inmueble: null,
        state_id: null,
        city_id: null,
        zona_id: null,
        barrio_id: null,
        agente: null,
      },

      tipo_inmuebles: [],
      states: [],
      city: [],
      zona: [],
      barrio: [],
      agente: [],

      data: null,
      markers: [],
      center: null,
      currentPlace: null,

      places: [],
      product: null,
      payLoad: false,
    };
  },
  created() {
    this.getInmuebles();
  },

  mounted() {
    this.$root.$on(
      "inmuebles",
      function () {
        this.getInmuebles();
      }.bind(this)
    );

    this.$root.$on(
      "inmueble_selected",
      function (payload) {
        if (this.payLoad != payload) {
          this.onRowSelected(payload);
        }
      }.bind(this)
    );
  },

  computed: {
    usuario() {
      let store = this.$store.state.userData.userData;
      return store;
    },

    datas() {
      return this.$store.state.appInmueble.inmuebles;
    },
  },
  filters: {
    priceFormattin: function (value) {
      let format = parseInt(value);
      let dollarUSLocale = Intl.NumberFormat("es-CO");
      let price = dollarUSLocale.format(format);
      return price;
    },
  },
  methods: {
    infoCita(item, button) {
      this.$refs.modalCita.info(item, button);
    },

    infoAddAgenda(button) {
      if (this.product != null) {
        this.$refs.modalAddAgenda.info(this.product, button);
      } else {
        this.mensageNullAlert();
      }
    },

    infoHistoralModal(button) {
      if (this.product != null) {
        this.$refs.modalHistorialAgenda.info(this.product, button);
      } else {
        this.mensageNullAlert();
      }
    },

    infoPortales(button) {
      if (this.product != null) {
        this.$refs.modalPortales.info(this.product, button);
      } else {
        this.mensageNullAlert();
      }
    },

    otherPage(slug) {
      window.open(this.path + slug); //para nueva pestaña
    },

    mensageNullAlert() {
      this.$swal({
        title: "Seleccionar!",
        text: "Selecciona un inmueble!",
        icon: "warning",
        customClass: {
          confirmButton: "btn btn-primary",
        },
        buttonsStyling: false,
      });
    },

    exportInmueble() {
      this.isBusy = true;
      this.$store
        .dispatch("appInmueble/exportInmueble")
        .then(() => {
          this.isBusy = false;
        })
        .catch((error) => {
          console.log(error);
        });
    },

    buscarInfo() {
      this.isBusy = true;
      let inmueble = this.inmueble;
      this.$store
        .dispatch("appInmueble/filterInmueble", inmueble)
        .then((response) => {
          setTimeout(() => {
            console.log(response);
            this.data = response.inmuebles;
            this.isBusy = false;
          }, 1000);
        })
        .catch((error) => {
          console.log(error);
        });
    },

    onRowSelected(items) {
      this.product = items[0];
      const marker = {
        lat: parseFloat(this.product.latitud),
        lng: parseFloat(this.product.longitud),
      };
      this.markers.push({ position: marker, title: this.product.direccion });
      this.center = marker;
    },

    soatActions(code) {
      this.show_spinner_sin = true;
      this.$store.dispatch("appInmueble/soatAction", code).then((data) => {
        this.show_spinner_sin = false;
        this.$bvModal.hide("modal-warning");
      });
    },

    getTokenCiencuadra() {
      this.$store
        .dispatch("appPortales/getTokenCiencuadra")
        .then((response) => {
          console.log(response);
        });
    },

    getInmuebles() {
      this.$store
        .dispatch("appInmueble/getInmuebles")
        .then((response) => {
          this.totalRows = response.length;

          for (let i = 0; i < response.length; i++) {
            if (response[i].tipo_inmueble) {
              this.tipo_inmuebles.push(response[i].tipo_inmueble);
            }
            if (response[i].estado_id != null) {
              this.states.push(response[i].estado_id);
            }
            if (response[i].ciudad_id != null) {
              this.city.push(response[i].ciudad_id);
            }
            if (response[i].zona_id != null) {
              this.zona.push(response[i].zona_id);
            }

            if (response[i].barrio_id != null) {
              this.barrio.push(response[i].barrio_id);
            }

            if (response[i].user_id != null) {
              this.agente.push(response[i].user_id);
            }
            if (response[i].tipo_negocio != null) {
              this.tipo_negocio.push(response[i].tipo_negocio);
            }

            if (response[i].state_fisico != null) {
              this.state_fisico.push(response[i].state_fisico);
            }
          }

          this.tipo_inmuebles = this.deleteDuplicate(this.tipo_inmuebles);
          this.states = this.deleteDuplicate(this.states);
          this.city = this.deleteDuplicate(this.city);
          this.zona = this.deleteDuplicate(this.zona);
          this.barrio = this.deleteDuplicate(this.barrio);
          this.agente = this.deleteDuplicate(this.agente);
          this.tipo_negocio = this.deleteDuplicate(this.tipo_negocio);
        })
        .catch((error) => {
          console.log(error);
        });
    },

    deleteDuplicate(arr = []) {
      let array = arr.filter(
        (thing, index, self) =>
          index === self.findIndex((t) => t.id === thing.id)
      );
      return array;
    },

    onFiltered(filteredItems) {
      this.totalRows = filteredItems.length;
      this.currentPNit = 1;
    },

    selectAllRows() {
      this.$refs.selectableTable.selectAllRows();
    },
    clearSelected() {
      this.$refs.selectableTable.clearSelected();
    },
    selectThirdRow() {
      this.$refs.selectableTable.selectRow(2);
    },
    unselectThirdRow() {
      this.$refs.selectableTable.unselectRow(2);
    },
  },
};
</script>

<style lang="scss" scoped>
.per-page-selector {
  width: 90px;
}

.invoice-filter-select {
  min-width: 190px;

  ::v-deep .vs__selected-options {
    flex-wrap: nowrap;
  }

  ::v-deep .vs__selected {
    width: 100px;
  }
}
.per-page-selector {
  width: 90px;
}

.invoice-filter-select {
  min-width: 190px;

  ::v-deep .vs__selected-options {
    flex-wrap: nowrap;
  }

  ::v-deep .vs__selected {
    width: 100px;
  }
}

.text-centrado {
  text-align: center;
}
.image_slider {
  width: 100%;
  height: 30rem;
}
@import "@core/scss/vue/libs/vue-select.scss";
</style>
