<template>
  <b-container style="background-color: #fff">

    <b-row class="mb-4 pt-4">
      <b-col v-if="configuracion.sitioactivo">
        
        
        
         <b-button v-if="configuracion.sitioactivo=='1'"
              @click="enlace('http://'+configuracion.slug+'.crmaddy.online/#/')"
              variant="primary"
              >ir a la Pagina</b-button
            >

          <h3 v-else>Estamos preparando su pagina web, en poco minutos estara lista.</h3>  
      </b-col>

      <b-col v-else>
        <h3>Debe completar los datos de su empresa para activar su pagina web.</h3>
      </b-col>

    </b-row>

       <b-row>
      <b-col md="6" xl="4" v-for="item in items" :key="item.id">
        <div v-if="item.imagen">
        <b-card v-if="item.imagen.substr(0,4)=='http'"
          :title="item.nombre"
          :img-src="item.imagen"
          img-top
          img-alt="card img"
          class="mb-3"
        >
        <b-row>
          <b-col></b-col>
          <b-col></b-col>
        </b-row>
          <b-card-text>

        <b-row>
          <b-col>
            <div v-if="item.selected==1">
                <b-button size="sm"  variant="primary">Seleccionado</b-button>
            </div>
            <div v-else>
              <b-button size="sm" @click="seleccionarTemplate(item.id)" variant="info">Seleccionar</b-button>
            </div>
          </b-col>
          <b-col>
            <b-button size="sm" @click="info(item.imagen)" variant="primary"
              >ver plantilla</b-button
            >
          </b-col>
        </b-row>


            

            
          </b-card-text>
        </b-card>

        <b-card v-else
          :title="item.nombre"
          :img-src="'/storage/'+item.imagen"
          img-top
          img-alt="card img"
          class="mb-3"
        >
          <b-card-text>

            <b-row>
          <b-col>
            <div v-if="item.selected==1">
                <b-button size="sm"  variant="primary">Seleccionado</b-button>
            </div>
            <div v-else>
              <b-button size="sm" @click="seleccionarTemplate(item.id)" variant="info">Seleccionar</b-button>
            </div>
          </b-col>
          <b-col>
            <b-button size="sm" @click="info(item.imagen)" variant="primary"
              >ver plantilla</b-button
            >
          </b-col>
        </b-row>

          </b-card-text>
        </b-card>

        </div>


      </b-col>
    </b-row>

    <image-component ref="modalImage" />
  </b-container>
</template>

<script>
import {
  BCard,
  BCardText,
  BContainer,
  BRow,
  BCol,
  BButton,
} from "bootstrap-vue";

import imageComponent from "../componente/Image-component.vue";

export default {
  components: {
    BCard,
    BCardText,
    BContainer,
    BRow,
    BCol,
    BButton,
    "image-component": imageComponent,
  },

  computed: {
    tprofileData() {
      return this.$store.state.userData.userData;
    },
  },
  created() {
        this.gettemplates();
        this.getEmpresa();
  },

  data() {
    return {
      configuracion: [],
      items: [],
      data: [
         {
           id: 1,
           img: require("@/assets/images/template/template2.jpeg"),
           title: "Template 2",
           url: process.env.MIX_API_URL_HIllSIDE,
         },

        {
          id: 2,
          img: require("@/assets/images/template/template_royalestate.png"),
          title: "Template 1",
          url: process.env.MIX_API_URL_REALSTATE,
        },
      ],
    };
  },

  methods: {
    gettemplates(){

          this.$store
          .dispatch("banners/gettemplates")
          .then((response) => {

            this.items=response.data.templates;

            //console.log(this.banners);
          })
          .catch((error) => {
            console.log(error);
          });

    },

    seleccionarTemplate(id){

      console.log(id);

          this.$store
          .dispatch("banners/settemplates", id)
          .then((response) => {

            this.gettemplates();

            //console.log(this.banners);
          })
          .catch((error) => {
            console.log(error);
          });

    },

    getEmpresa() {
      this.$store
        .dispatch("appConfiguracion/getEmpresa")
        .then((response) => {
          if (response == null) {
          } else {
            localStorage.setItem("empresa", JSON.stringify(response));
            
            this.configuracion=response;

            console.log(this.configuracion.slug);
          }
        })
        .catch((error) => {
          console.log(error);
        });
    },



    enlace(url) {
      window.open(url);
    },

    info(item, button) {
      this.$refs.modalImage.info(item, button);
    },
  },
};
</script>

<style>
</style>