<template>
  <div class="sidebar-left">
    <div class="sidebar">
      <div class="sidebar-content todo-sidebar">
        <div class="todo-app-menu">
          <div class="add-task" id="tour-card">
            <b-button
              v-ripple.400="'rgba(255, 255, 255, 0.15)'"
              variant="primary"
              block
              @click="
                $emit('update:is-task-handler-sidebar-active', true);
                $emit('close-left-sidebar');
              "
            >
              Agregar Tarea
            </b-button>
          </div>
          <vue-perfect-scrollbar
            :settings="perfectScrollbarSettings"
            class="sidebar-menu-list scroll-area"
          >
            <!-- Filters -->
            <b-list-group class="list-group-filters">
              <b-list-group-item
                v-for="filter in taskFilters"
                :key="filter.title + $route.path"
                :to="filter.route"
                :active="isDynamicRouteActive(filter.route)"
                @click="$emit('close-left-sidebar')"
              >
                <feather-icon :icon="filter.icon" size="18" class="mr-75" />
                <span class="align-text-bottom line-height-1">{{
                  filter.title
                }}</span>
              </b-list-group-item>
            </b-list-group>

            <!-- <b-button
              v-ripple.400="'rgba(113, 102, 240, 0.15)'"
              variant="outline-primary"
              @click="tourStart"
            >
              Start Tour
            </b-button> -->

            <div class="mt-3 px-2 d-flex justify-content-between">
              <h6 class="section-label mb-1">Etiquetas</h6>
              <b-button v-b-modal.modal-etiquetas variant="outline-primary"
                ><feather-icon icon="PlusIcon"
              /></b-button>
            </div>
            <b-modal
              @show="resetModal"
              @hidden="resetModal"
              @ok="handleOk"
              ok-title="Registrar"
              cancel-title="Cancelar"
              id="modal-etiquetas"
              title="Registro de Etiquetas"
            >
              <b-form ref="form" @submit.stop.prevent="handleSubmit">
                <b-form-group
                  id="input-group-1"
                  label="Titulo Etiqueta:"
                  label-for="input-1"
                  description=""
                >
                  <b-form-input
                    id="input-1"
                    v-model="form.titulo"
                    type="text"
                    placeholder="Escribe el nombre de la etiqueta"
                    required
                  ></b-form-input>
                </b-form-group>
              </b-form>
            </b-modal>
            <b-list-group class="list-group-labels">
              <b-list-group-item
                v-for="tag in etiqutas_fins"
                :key="tag.title + $route.path"
                :to="tag.route"
                :active="isDynamicRouteActive(tag.route)"
                @click="$emit('close-left-sidebar')"
              >
                <span
                  class="bullet bullet-sm mr-1"
                  :class="`bullet-${tag.color}`"
                />
                <span>{{ tag.title }}</span>
              </b-list-group-item>
            </b-list-group>
          </vue-perfect-scrollbar>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
import VuePerfectScrollbar from "vue-perfect-scrollbar";
import {
  BButton,
  BListGroup,
  BListGroupItem,
  BForm,
  BFormGroup,
  BFormInput,
} from "bootstrap-vue";
import { isDynamicRouteActive } from "@core/utils/utils";
import Ripple from "vue-ripple-directive";
//import AppTour from "@core/components/app-tour/AppTour.vue";

export default {
  data() {
    return {
      show: true,
      form: {
        titulo: "",
        id_user: "",
      },
    };
  },
  directives: {
    Ripple,
  },
  components: {
    BButton,
    BListGroup,
    BListGroupItem,
    VuePerfectScrollbar,
    //AppTour,
    BForm,
    BFormGroup,
    BFormInput,
  },

  methods: {
    // tour steps
    resetModal() {
      this.form.titulo = "";
    },

    handleOk(bvModalEvt) {
      this.$store
        .dispatch("appTareas/addEtiquetasRegister", { label: this.form.titulo })
        .then(() => {
          this.$store.dispatch("appTareas/fetchEtiquetas").then(() => {});
        });

      this.handleSubmit();
    },

    handleSubmit() {
      this.$nextTick(() => {
        this.$bvModal.hide("modal-prevent-closing");
      });
    },
  },

  computed: {
    etiqutas_fins() {
      return this.$store.state.appTask.etiquetas_local;
    },
  },

  props: {
    taskTags: {
      type: Array,
      required: true,
    },
  },
  setup() {
    const perfectScrollbarSettings = {
      maxScrollbarLength: 60,
    };

    const taskFilters = [
      { title: "Mis tareas", icon: "MailIcon", route: { name: "apps-todo" } },
      {
        title: "Importantes",
        icon: "StarIcon",
        route: { name: "apps-todo-filter", params: { filter: "important" } },
      },
      {
        title: "Completadas",
        icon: "CheckIcon",
        route: { name: "apps-todo-filter", params: { filter: "completed" } },
      },
      {
        title: "Eliminadas",
        icon: "TrashIcon",
        route: { name: "apps-todo-filter", params: { filter: "deleted" } },
      },
    ];

    return {
      perfectScrollbarSettings,
      taskFilters,
      isDynamicRouteActive,
    };
  },
};
</script>

<style lang="scss">
@import "@core/scss/vue/libs/tour.scss";
</style>
