<template>
  <div>
    <b-card>
      <div class="d-flex justify-content-start align-items-center mb-1">
        <b-card>
          <!-- about -->
          <div class="mt-2">
            <b-card-text>
              <strong> Nombre : {{ primer_nombre }} </strong>
            </b-card-text>
          </div>
          <div class="mt-2">
            <b-card-text> E-Mail : {{ userdata.email }} </b-card-text>
          </div>
          <div class="mt-2">
            <b-card-text>
              <strong>Cedula:</strong> {{ cedula_persona }}
            </b-card-text>
          </div>
          <div class="mt-2">
            <b-card-text> Ciudad : Cali </b-card-text>
          </div>
          <div class="mt-2">
            <b-card-text> Pais : Colombia </b-card-text>
          </div>
        </b-card>
      </div>
    </b-card>
  </div>
</template>

<script>
import {
  BAlert,
  BAvatar,
  BCard,
  BCardText,
  BCardTitle,
  BImg,
  BLink,
  BRow,
  BCol,
  BAvatarGroup,
  VBTooltip,
  BFormTextarea,
  BButton,
  BFormGroup,
  BEmbed,
} from "bootstrap-vue";
import Ripple from "vue-ripple-directive";
import { kFormatter } from "@core/utils/filter";

export default {
  components: {
    BAvatar,
    BCard,
    BCardText,
    BCardTitle,
    BButton,
    BFormTextarea,
    BImg,
    BFormGroup,
    BRow,
    BLink,
    BCol,
    BAvatarGroup,
    BEmbed,
    BAlert,
  },
  data() {
    return {
      primer_nombre: "",
      primer_apellido: "",
      email: "",
      cedula_persona: "",

      fullName: null,
      rol: null,
      tipoidentificacion: null,
    };
  },
  created() {
    if (this.userdata != undefined) {
      this.email = this.userdata.correo_persona;
      this.primer_nombre = this.userdata.primer_nombre;
      this.primer_apellido = this.userdata.primer_apellido;
      this.cedula_persona = this.userdata.cedula_persona;

      if (this.userdata.tipo_identificacion === 1) {
        this.tipoidentificacion = "CC";
      }
    }
  },

  directives: {
    "b-tooltip": VBTooltip,
    Ripple,
  },
  props: {
    userdata: {
      type: Object,
      default: () => {},
    },
  },
  methods: {
    kFormatter,
  },
};
</script>
