<template>
  <b-container fluid>
    <b-container class="container-tarjeta">
      <b-img class="image2" :src="portada"> </b-img>

      <h1 class="h1-tipografit">
        <strong>{{ tprofileData.primer_nombre }}</strong>
      </h1>
      <hr class="hr-separate" />
      <h5 class="h4-tipografit">Agente Inmobiliario</h5>
      <hr class="hr-separate" />

      <div class="parent top-container">
        <b-img class="image1" :src="foto_persona"> </b-img>
      </div>

      <b-container class="top-container-button">
        <b-button
          size="sm"
          v-if="show_button"
          v-show="showButton"
          :to="{ name: 'pages-profile-agente-edit' }"
          align-h="end"
          variant="primary"
          >Editar perfil</b-button
        >

        <b-button
          size="sm"
          v-if="show_button"
          v-show="showButton"
          @click="fichaAgente"
          align-h="end"
          variant="success"
          >Tarjeta Agente</b-button
        >
      </b-container>

      <hr class="hr-separate" />
      <b-container class="top-container">
        <h3 class="h4-tipografit">Descripcion:</h3>
        <p
          style="color: #fff"
          v-if="tprofileData.descripcion != 'null'"
          v-html="tprofileData.descripcion"
        ></p>
        <strong
          class="tipografit-style"
          v-if="tprofileData.descripcion == 'null'"
          >Coloca una descripción profesional en este campo</strong
        >
      </b-container>

      <hr class="hr-separate" />
      <b-container class="top-container width-container">
        <h3 class="h4-tipografit">Contacto:</h3>
        <div class="auth-footer-btn d-flex justify-content-center">
          <b-img
            @click="llamadatelefono(tprofileData.celular_movil)"
            class="img-width-logos"
            :src="require('@/assets/images/logo/telefono.png')"
          ></b-img>
          <p class="p-logo">Telefono</p>

          <b-img
            @click="enviaremail(tprofileData.email)"
            class="img-width-logos"
            :src="require('@/assets/images/logo/correo.png')"
          ></b-img>
          <p class="p-logo">E-mail</p>

          <b-img
            @click="enviarWeb(empresa.pagina_web)"
            class="img-width-logos"
            :src="require('@/assets/images/logo/web.png')"
          ></b-img>
          <p class="p-logo">Web</p>

          <b-img
            @click="
              sendWhatsapp(
                tprofileData.celular_whatsapp == null
                  ? tprofileData.celular_movil
                  : tprofileData.celular_whatsapp
              )
            "
            class="img-width-logos"
            :src="require('@/assets/images/logo/whatsapp.png')"
          ></b-img>
          <p class="p-logo">WhatsApp</p>
        </div>
      </b-container>
      <hr class="hr-separate" />
      <h3 class="h4-tipografit">Redes Sociales</h3>

      <hr class="hr-separate" />
      <div class="auth-footer-btn d-flex justify-content-center">
        <!-- <img
          src="@/assets/images/whatsapp.png"
          alt="${tprofileData.celular_movil}"
          class="image-redes"
          @click="getLink('WhatsApp', tprofileData.celular_movil)"
          v-b-popover.hover="tprofileData.celular_movil"
          title="WhatsApp"
          variant="outline-primary"
        /> -->

        <img
          src="@/assets/images/linkedin.png"
          alt="${tprofileData.linkedin}"
          class="image-redes"
          @click="getLink('Linkedin', tprofileData.linkedin)"
          v-b-popover.hover="tprofileData.linkedin"
          title="Linkedin"
          variant="outline-primary"
        />

        <img
          src="@/assets/images/facebook.png"
          alt="${tprofileData.facebook}"
          class="image-redes"
          @click="getLink('Facebook', tprofileData.facebook)"
          v-b-popover.hover="tprofileData.facebook"
          title="Facebook"
          variant="outline-primary"
        />
        <img
          src="@/assets/images/instagram.png"
          alt="${tprofileData.instagram}"
          class="image-redes"
          @click="getLink('Instagram', tprofileData.instagram)"
          v-b-popover.hover="tprofileData.instagram"
          title="Instagram"
          variant="outline-primary"
        />
      </div>
      <!-- <div class="demo-inline-spacing aliniar-center">
        <img
          src="@/assets/images/whatsapp.png"
          alt="${tprofileData.celular_movil}"
          class="image-redes"
          @click="getLink('WhatsApp', tprofileData.celular_movil)"
          v-b-popover.hover="tprofileData.celular_movil"
          title="WhatsApp"
          variant="outline-primary"
        />

        <img
          src="@/assets/images/linkedin.png"
          alt="${tprofileData.linkedin}"
          class="image-redes"
          @click="getLink('Linkedin', tprofileData.linkedin)"
          v-b-popover.hover="tprofileData.linkedin"
          title="Linkedin"
          variant="outline-primary"
        />

        <img
          src="@/assets/images/facebook.png"
          alt="${tprofileData.facebook}"
          class="image-redes"
          @click="getLink('Facebook', tprofileData.facebook)"
          v-b-popover.hover="tprofileData.facebook"
          title="Facebook"
          variant="outline-primary"
        />
      </div> -->
      <!-- <facebook :url="url" scale="3">facebook</facebook>
        <linkedin :url="url" scale="3"></linkedin>
        <whats-app :url="url" title="Hello" scale="3"></whats-app>
        <google :url="url" scale="3"></google> -->
    </b-container>
  </b-container>
</template>

<script>
import {
  BRow,
  BCol,
  BFormGroup,
  BFormInput,
  BFormCheckbox,
  BForm,
  BButton,
  BInputGroup,
  BInputGroupPrepend,
  BCard,
  BAvatar,
  BBadge,
  BCardGroup,
  BCardText,
  BCardTitle,
  BCardFooter,
  BCardBody,
  BCardHeader,
  BContainer,
  BImg,
} from "bootstrap-vue";
import {
  Facebook,
  Twitter,
  Linkedin,
  Pinterest,
  Reddit,
  Telegram,
  WhatsApp,
  Email,
  Google,
} from "vue-socialmedia-share";
import { quillEditor } from "vue-quill-editor";
import { stringify } from "postcss";

export default {
  data() {
    return {
      path3: "mailto:",
      show_button: true,
      portada: require("@/assets/images/avatars/pngegg.png"),
      foto_persona: require("@/assets/images/avatars/portada.png"),
      widthImgCard: 0,
      showButton: true,
      empresa: localStorage.getItem("empresa"),

      userdata: {
        descripcion: null,
      },
      url: "",

      snowOption: {
        theme: "snow",
        placeholder:
          "En este apartado, escribe toda la descripción necesaria para tus inmuebles.",
        readOnly: true,
      },

      redes: [],
    };
  },
  components: {
    BCard,
    BBadge,
    BImg,
    BAvatar,
    quillEditor,
    BCardHeader,
    BRow,
    BCol,
    BFormGroup,
    BFormInput,
    BFormCheckbox,
    BForm,
    BButton,
    BInputGroup,
    BInputGroupPrepend,
    BCardGroup,
    BCardText,
    BCardTitle,
    BCardFooter,
    BCardBody,
    BContainer,
    Facebook,
    Twitter,
    Linkedin,
    Pinterest,
    Reddit,
    Telegram,
    WhatsApp,
    Email,
    Google,
  },

  created() {
    let code = this.$route.params.code;
    const name = localStorage.getItem("userData");

    if (name) {
      if (code) {
        this.showButton = false;
        this.url = process.env.MIX_API_URL + "perfil/agente/" + code;
      } else {
        this.url =
          process.env.MIX_API_URL +
          "perfil/agente/" +
          this.tprofileData.referral_code;
      }

      this.getFoto();
    } else {
      this.getUsers(code);
    }

    this.calculateWithImgCard();
  },

  computed: {
    tprofileData() {
      return this.$store.state.userData.userData;
    },
  },

  methods: {
    enviaremail(email) {
      window.location.href = "mailto:" + email;
    },
    llamadatelefono(telefono) {
      window.location.href = "tel:" + telefono;
    },
    enviarWeb(web) {
      window.open(web);
    },
    sendWhatsapp(whatsapp) {
      window.open(
        `https://api.whatsapp.com/send?phone=+57${whatsapp.replace(
          / /g,
          ""
        )}&text=Hola me intereso tu perfil, quiero contactarme con usted`
      );
    },

    fichaAgente() {
      let data =
        process.env.MIX_API_URL +
        "perfil/agente/" +
        this.tprofileData.referral_code;

      window.open(data); //para nueva pestaña
    },

    getUsers(code) {
      this.$store
        .dispatch("appUser/getUserSession", code)
        .then((response) => {
          this.show_button = false;
          this.$store.commit("userData/UPDATE_USER_DATA", response);
          localStorage.setItem("empresa", JSON.stringify(response.empresa));
          this.getFoto();
        })
        .catch(() => {});
    },

    getLink(red, url) {
      if (red == "WhatsApp") {
        window.open(
          `https://api.whatsapp.com/send?phone=+57${this.tprofileData.celular_whatsapp}&text=Hola me intereso tu perfil`
        );
      } else {
        window.open(url);
      }
    },

    getFoto() {
      let data = this.tprofileData;
      let empresa = JSON.parse(localStorage.getItem("empresa"));

      if (empresa.logo != null) {

        if(empresa.logo.substr(0,4)=='http'){

          this.portada =  empresa.logo;

        }else{
          this.portada = "/storage/" + empresa.logo;
        }


      }

      if (data.foto_persona != null) {

        if(this.tprofileData.foto_persona.substr(0,4)=='http'){

          this.foto_persona =  this.tprofileData.foto_persona;

        }else{
          this.foto_persona = "/storage/" + this.tprofileData.foto_persona;
        }



      }
    },

    calculateWithImgCard() {
      if (window.screen.availWidth > 500) {
        this.widthImgCard = 400;
      } else {
        this.widthImgCard = 300;
      }
    },
  },
};
</script>

<style scoped>
.container-tarjeta {
  background-color: rgb(27, 27, 27);
  height: auto;
  width: 60%;
}

.width-container {
  width: 100%;
}

.aliniar-center {
  text-align: center;
}

.image-redes {
  width: 5%;
}

@media only screen and (max-width: 800px) {
  .container-tarjeta {
    background-color: rgb(27, 27, 27);
    height: auto;
    width: 100%;
  }
  .width-container {
    width: 100%;
  }
  .img-width-logos {
    width: 20%;
  }
  .p-logo {
    display: none;
  }
  .image-redes {
    width: 15%;
  }
  .parent {
    width: 60%;
    text-align: center;
    position: relative;
    top: 0;
    left: 0;
  }

  .top-container {
    text-align: center;
    margin-top: 14%;
  }
  .image1 {
    position: relative;
    min-width: 199px;

    max-height: 12rem;
    left: 30%;
    right: 35%;
    top: 0;
    border: none;
    border-radius: 20%;

    border: 1px solid #fff;
  }

  .image2 {
    position: relative;
    width: 20%;
    height: 12%;
    min-width: 10px;

    margin-left: 5%;
    margin-top: 5%;
    margin-right: auto;

    border: none;
  }
}

.h1-tipografit {
  font-family: "Montserrat", sans-serif;
  font-size: 10vw;

  text-align: center;
  color: #fff;
  font-weight: 100%;
  font-size: 3em;
}

.top-container-button {
  text-align: center;
  margin-top: 15%;
}

.top-container {
  text-align: center;
  margin-top: 2%;
}

.tipografit-style {
  color: #fff;
  font-family: "Montserrat", sans-serif;
}

.parent {
  text-align: center;
  position: relative;
  top: 0;
  left: 0;
}

.image1 {
  position: relative;
  max-width: 50%;
  max-height: 55%;

  top: 0;
  border: none;
  border-radius: 5%;
  text-align: center;
}

.image2 {
  position: relative;
  max-width: 30%;
  max-height: 30%;
  margin-top: 5%;
  margin-right: auto;
  margin-left: 5%;
  border: none;
}
.img-width-logos {
  max-width: 10%;
}
.p-logo {
  display: none;
}

.h4-tipografit {
  font-family: "Montserrat", sans-serif;
  font-size: 10vw;

  text-align: center;
  color: #fff;
  font-weight: 100%;
  font-size: 2em;
}
.icono-social > span {
  padding: 0.9em;
  background-color: #fff;
  text-align: center;
  border-radius: 2%;

  max-width: 1%;
}

.hr-separate {
  background-color: rgb(180, 176, 176);
  max-width: 10%;
}
</style>


<style lang="scss">
@import "@core/scss/vue/libs/quill.scss";
.ql-editor {
  height: 12rem;

  resize: vertical;
  overflow-y: scroll;
}

.height-card {
  padding: 1%;
}

.image-redes {
  width: 30%;
}

.column {
  float: left;
  width: 25%;
  padding: 0px;
}

/* Clearfix (clear floats) */
.row::after {
  content: "";
  clear: both;
  display: table;
}
</style>
