<template>
  <div>
    <!-- Media -->

    <!-- User Info: Input Fields -->
    <b-form>
      <b-row>
        <!-- Field: Username -->
        <b-col cols="12" md="8">
          <b-form-group label="* Nombre Completo" label-for="primer_nombre">
            <b-form-input
              v-model="userdatas.primer_nombre"
              id="primer_nombre"
            />
          </b-form-group>
        </b-col>

        <!-- Field: Full Name -->

        <!-- Field: Email -->
        <b-col cols="12" md="4">
          <b-form-group label="Correo" label-for="email">
            <b-form-input v-model="userdatas.email" id="email" type="email" />
          </b-form-group>
        </b-col>

        <b-col cols="12" md="4">
          <b-form-group label="" label-for="v-whatsapp">
            * WhatsApp
            <vue-phone-number-input
              default-country-code="CO"
              :translations="{
                countrySelectorLabel: 'Codigo pais',
                countrySelectorError: 'Choisir un pays',
                phoneNumberLabel: 'Numéro de WhatsApp',
                example: 'Ejemplo :',
              }"
              v-model="userdatas.celular_whatsapp"
              @update="results = $event"
            />
          </b-form-group>
        </b-col>

        <b-col cols="12" md="4">
          <b-form-group label="* Telefono de contacto" label-for="v-celular">
            <vue-phone-number-input
              default-country-code="CO"
              :translations="{
                countrySelectorLabel: 'Codigo pais',
                countrySelectorError: 'Choisir un pays',
                phoneNumberLabel: 'Numéro de Celular',
                example: 'Ejemplo :',
              }"
              v-model="userdatas.celular_movil"
              @update="results = $event"
            />
          </b-form-group>
        </b-col>
        <b-col cols="12" md="4">
          <b-form-group label="Direccion" label-for="direccion_persona">
            <b-form-input
              v-model="userdatas.direccion_persona"
              id="direccion_persona"
              type="text"
            />
          </b-form-group>
        </b-col>
        <b-col md="6">
          <b-form-group label="Seleccionar pais">
            <b-form-select
              v-model="userdatas.codigo_pais"
              :options="paises"
              value-field="id"
              text-field="name"
              @change="CambiarPais()"
              disabled-field="notEnabled"
            ></b-form-select>
          </b-form-group>
        </b-col>

        <b-col md="6">
          <b-form-group label="Seleccionar estado">
            <b-form-select
              v-model="userdatas.codigo_estado"
              :options="estados"
              value-field="id"
              @change="getCiudades()"
              text-field="name"
              disabled-field="notEnabled"
            ></b-form-select>
          </b-form-group>
        </b-col>

        <b-col md="6">
          <b-form-group label="Seleccionar ciudad">
            <b-form-select
              v-model="userdatas.codigo_ciudad"
              :options="ciudades"
              value-field="id"
              text-field="name"
              disabled-field="notEnabled"
            ></b-form-select>
          </b-form-group>
        </b-col>
        <b-col cols="12" md="6" lg="4">
          <b-form-group label="Genero" label-for="gender" label-class="mb-1">
            <b-form-radio
              v-model="userdatas.genero"
              name="some-radios"
              value="1"
              >Masculino</b-form-radio
            >
            <b-form-radio
              v-model="userdatas.genero"
              name="some-radios"
              value="2"
              >Femenino</b-form-radio
            >
          </b-form-group>
        </b-col>

         <b-col cols="12" md="4">
            <b-form-group label="Color de fondo para el perfil agente." label-for="pagina_web">
              <b-form-input
                v-model="userdatas.color_fondo"
                id="color_fondo"
                type="color"
              />
            </b-form-group>
          </b-col>

          <b-col cols="12" md="4">
              <b-form-group label="Color de Fuente para el perfil agente." label-for="pagina_web">
                <b-form-input
                  v-model="userdatas.color_fuente"
                  id="color_fuente"
                  type="color"
                />
              </b-form-group>
          </b-col>
        <!-- Field: Status -->
       
        

        <!-- Field: Role -->

        <!-- Field: Email -->
      </b-row>
    </b-form>

    <!-- PERMISSION TABLE -->

    <!-- Action Buttons -->
  </div>
</template>

<script>
import {
  BButton,
  BMedia,
  BAvatar,
  BRow,
  BCol,
  BFormGroup,
  BFormInput,
  BForm,
  BTable,
  BCard,
  BCardHeader,
  BCardTitle,
  BFormCheckbox,
  BFormRadioGroup,
  BFormFile,
  BFormSelect,
  BFormRadio,
} from "bootstrap-vue";
import vSelect from "vue-select";

export default {
  components: {
    BButton,
    BMedia,
    BAvatar,
    BRow,
    BCol,
    BFormGroup,
    BFormInput,
    BForm,
    BTable,
    BCard,
    BCardHeader,
    BCardTitle,
    BFormCheckbox,
    BFormRadioGroup,
    vSelect,
    BFormFile,
    BFormSelect,
    BFormRadio,
  },
  props: {
    userdata: {
      type: Object,
      required: true,
    },
  },

  data() {
    return {
      imageData: "",
      imageDataPortada: "",
      file: "",
      genderOptions: [
        { text: "Masculino", value: "1" },
        { text: "Femenino", value: "2" },
      ],
      tipo_documento: [
        { text: "Selecciona tu tipo de documento", value: null },
        { text: "Cedula de ciudadania", value: 1 },
        { text: "Cédula de extranjería", value: 1 },
        { text: "Pasaporte", value: 2 },
        { text: "ID", value: 1 },
      ],

      ciudades: [],
      estados: [],
      paises: [],

      userdatas: {
        id: null,
        email: null,
        genero: null,
        cedula_persona: null,
        primer_nombre: null,

        fecha_nacimiento: null,
        telefono_fijo: null,
        celular_movil: null,
        celular_whatsapp: null,
        direccion_persona: null,
        numero_cedula: null,
        codigo_pais: null,
        codigo_estado: null,
        codigo_ciudad: null,
        color_fondo: null,
        color_fuente: null,
        color_fuente: null
      },
    };
  },

  created() {
    this.dataInfo();
    this.getPaises();
    this.getEstados();
    this.getCiudades();
    this.$root.$emit("datosBasicosUser", this.userdatas);
  },

  methods: {

    dataInfo() {

      this.userdatas.foto_persona = "/storage/" + this.userdata.foto_persona;
      this.userdatas.color_fondo = this.userdata.color_fondo;
       this.userdatas.color_fondo = this.userdata.color_fondo;
      this.userdatas.color_fuente = this.userdata.color_fuente;
      this.userdatas.id = this.userdata.id;
      this.userdatas.primer_nombre =
        this.userdata.primer_nombre == "null"
          ? ""
          : this.userdata.primer_nombre;
      this.userdatas.segundo_nombre =
        this.userdata.segundo_nombre == "null"
          ? ""
          : this.userdata.segundo_nombre;
      this.userdatas.email =
        this.userdata.email == "null" ? "" : this.userdata.email;
      this.userdatas.primer_apellido =
        this.userdata.primer_apellido == "null"
          ? ""
          : this.userdata.primer_apellido;
      this.userdatas.segundo_apellido =
        this.userdata.segundo_apellido == "null"
          ? ""
          : this.userdata.segundo_apellido;
      this.userdatas.celular_movil =
        this.userdata.celular_movil == "null"
          ? ""
          : this.userdata.celular_movil;
      this.userdatas.celular_whatsapp =
        this.userdata.celular_whatsapp == "null"
          ? ""
          : this.userdata.celular_whatsapp;
      this.userdatas.direccion_persona =
        this.userdata.direccion_persona == "null"
          ? ""
          : this.userdata.direccion_persona;
      this.userdatas.genero =
        this.userdata.genero == "null" ? "" : this.userdata.genero;
      this.userdatas.numero_cedula =
        this.userdata.cedula_persona == "null"
          ? ""
          : this.userdata.cedula_persona;
      (this.userdatas.codigo_pais = this.userdata.id_pais),
        (this.userdatas.codigo_estado = this.userdata.id_estado),
        (this.userdatas.codigo_ciudad = this.userdata.id_ciudad);
    },

    

    getPaises() {
      this.$store
        .dispatch("appLocalidades/getPaises")
        .then((response) => {
          this.paises = response;
        })
        .catch((error) => {
          console.log(error);
        });
    },

    CambiarPais() {
      this.getEstados();
    },

    getEstados() {
      let codigo = this.userdatas.codigo_pais;
      this.$store
        .dispatch("appLocalidades/getStates", { codigo })
        .then((response) => {
          this.estados = response;
        })
        .catch((error) => {
          console.log(error);
        });
    },

    getCiudades() {
      let codigo = this.userdatas.codigo_estado;
      this.$store
        .dispatch("appLocalidades/getCiudades", { codigo })
        .then((response) => {
          this.ciudades = response;
        })
        .catch((error) => {
          console.log(error);
        });
    },
  },
};
</script>

<style lang="scss">
@import "@core/scss/vue/libs/vue-select.scss";
</style>
