<template>
  <div>
    <quill-editor
      id="quil-content"
      class="border-bottom-0"
      v-model="data.descripcion"
      :options="snowOption"
    />
    <div id="quill-toolbar" class="d-flex justify-content-end border-top-0">
      <!-- Add a bold button -->
      <button class="ql-bold" />
      <button class="ql-italic" />
      <button class="ql-underline" />
      <button class="ql-align" />
      <button class="ql-link" />
    </div>
  </div>
</template>

<script>
import {
  BRow,
  BCol,
  BForm,
  BFormGroup,
  BFormInput,
  BFormRadioGroup,
  BFormCheckboxGroup,
  BButton,
} from "bootstrap-vue";
import flatPickr from "vue-flatpickr-component";
import { ref } from "@vue/composition-api";
import vSelect from "vue-select";
import { quillEditor } from "vue-quill-editor";

export default {
  components: {
    BRow,
    BCol,
    BForm,
    BFormGroup,
    flatPickr,
    BFormInput,
    vSelect,
    BFormRadioGroup,
    BFormCheckboxGroup,
    BButton,
    quillEditor,
  },
  data() {
    return {
      snowOption: {
        modules: {
          toolbar: "#quill-toolbar",
        },
        placeholder:
          "En este apartado, escribe toda la descripción necesaria para tus clientes.",
        // readOnly: true,
      },

      data: {
        descripcion: null,
      },
    };
  },

  props: {
    userdata: {
      type: Object,
      required: true,
    },
  },

  methods: {
    llenarData() {
      this.data.descripcion = this.userdata.descripcion;
    },
  },

  created() {
    this.llenarData();

    this.$root.$emit("descripcionUser", this.data);
  },

  setup() {
    const userDataInfo = ref({
      dob: null,

      mobile: "+6595895857",
      website: "https://rowboat.com/insititious/Angelo",
      language: "French",
      gender: "female",
      contactOptions: ["Email", "Message"],
      addressLine1: "A-65, Belvedere Streets",
      addressLine2: "",
      postcode: "",
      city: "New York",
      state: "",
      country: "",
    });

    const languageOptions = [
      "English",
      "Spanish",
      "French",
      "Russian",
      "German",
      "Arabic",
      "Sanskrit",
    ];

    const genderOptions = [
      { text: "Male", value: "male" },
      { text: "Female", value: "female" },
    ];

    const contactOptionsOptions = ["Email", "Message", "Phone"];

    return {
      userDataInfo,
      languageOptions,
      genderOptions,
      contactOptionsOptions,
    };
  },
};
</script>

<style lang="scss">
@import "@core/scss/vue/libs/vue-flatpicker.scss";
@import "@core/scss/vue/libs/quill.scss";

.ql-editor {
  height: 12rem;

  resize: vertical;
  overflow-y: scroll;
}
</style>
