<template>
  <div>
    <b-modal
      centered
      size="lg"
      :id="infoModal.id"
      ref="modal-register-permission-action"
      :header-bg-variant="headerBgVariant"
      :title="infoModal.content.nombre"
      hide-footer
    >
      <template #modal-header="{ close }">
        <h3 class="text-light">{{ infoModal.content.nombre }}</h3>
        <b-button size="sm" variant="outline-light" @click="close()">
          x
        </b-button>
      </template>
      <b-overlay :show="show" rounded="sm" spinner-variant="primary">
        <span v-for="perm in permissions" v-bind:key="perm.id">
          <hr />
          <div class="row-container">
            <div class="col-container">
              <div class="tabs">
                <div class="taba">
                  <input type="radio" :id="perm.id" name="rd" />
                  <span style="color: black"
                    ><strong> {{ perm.title }} </strong></span
                  >

                  <label
                    class="taba-label"
                    @click="getActions(perm.id)"
                    :for="perm.id"
                    >{{ perm.title }}</label
                  >
                  <div class="taba-content">
                    <div v-for="acti in actions" v-bind:key="acti.id">
                      <b-form-checkbox
                        v-model="selected"
                        :value="acti.id"
                        
                      >
                        {{ acti.action }}
                      </b-form-checkbox>
                    </div>
                    <hr />
                    <b-button
                      @click="addActivePermissionsActions(perm.id)"
                      v-ripple.400="'rgba(255, 255, 255, 0.15)'"
                      size="sm"
                      variant="primary"
                      
                    >
                      Asignar accion
                    </b-button>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </span>
      </b-overlay>
    </b-modal>
  </div>
</template>

<script>
import {
  BModal,
  BRow,
  BCol,
  BFormGroup,
  BFormInput,
  BFormCheckbox,
  BForm,
  BButton,
  BInputGroup,
  BSpinner,
  BOverlay,
  BInputGroupPrepend,
} from "bootstrap-vue";
import Ripple from "vue-ripple-directive";
import { quillEditor } from "vue-quill-editor";
import AppCollapse from "@core/components/app-collapse/AppCollapse.vue";
import AppCollapseItem from "@core/components/app-collapse/AppCollapseItem.vue";
export default {
  name: "edictRole",

  components: {
    BModal,
    BRow,
    BCol,
    BFormGroup,
    BFormInput,
    BFormCheckbox,
    BForm,
    BButton,
    BInputGroup,
    BSpinner,
    BOverlay,
    BInputGroupPrepend,
    quillEditor,
    AppCollapse,
    AppCollapseItem,
  },

  directives: {
    Ripple,
  },

  data() {
    return {
      show: true,
      selected: [],
      permissions: [],
      permissions_active: [],
      actions: [],

      infoModal: {
        id: "modal-permission-action",
        title: "",
        content: {},
        contentPreguntas: {},
      },

      snowOption: {
        theme: "snow",
        placeholder:
          "En este apartado, escribe toda la descripción necesaria para tus inmuebles.",
        readOnly: true,
      },

      headerBgVariant: "primary",
    };
  },

  computed: {
    tprofileData() {
      return this.$store.state.userData.userData;
    },
  },

  created() {},

  methods: {
    getActions(data) {
      this.getActivePermissionActions(data);
      this.actions = [];
      this.selected = [];

      let act = this.permissions.filter((code) => {
        return data == code.id;
      });

      this.actions = act[0].actions[0];
    },
    info(code, button) {
      this.permissions = [];
      this.infoModal.content = { ...code };
      console.log(this.infoModal.content);
      this.getPermissionsActionsForRoleId();
      this.$root.$emit("bv::show::modal", this.infoModal.id, button);
    },

    hideModal() {
      this.$refs["modal-register-permission-action"].hide();
    },

    getPermissions() {
      this.$store.dispatch("appRole/getPermissions");
    },

    getPermissionsActionsForRoleId() {
      this.$store
        .dispatch("appRole/getPermissionsActionsForRoleId", {
          role: this.infoModal.content.id,
        })
        .then((data) => {
          this.permissions = data;
          this.show = false;
        })
        .catch((error) => {});
    },

    addActivePermissionsActions(code) {
      this.selected = this.selected.filter(function (el) {
        return el != null;
      });

      let data = {
        role: this.infoModal.content.id,
        permission: code,
        actions: this.selected,
      };

      this.$store
        .dispatch("appRole/addActivePermissionsActions", data)
        .then((data) => {
          console.log(data);
        })
        .catch((error) => {
          console.log(error);
        });
    },

    getActivePermissionActions(code) {
      let data = {
        permission: code,
        role: this.infoModal.content.id,
      };
      this.$store
        .dispatch("appRole/getPermissionActiveRole", data)
        .then((datas) => {
          for (let i = 0; i < datas.length; i++) {
            this.selected.push(datas[i].action);
          }

          this.getPermissionsActionsForRoleId();
        });
    },

    async getModules() {
      await this.$store.dispatch("appRole/getModules").then((data) => {
        this.permissions = data;
      });
    },
  },
};
</script>

<style lang="scss">
@import "@core/scss/vue/libs/quill.scss";

$midnight: #2c3e50;
$clouds: #ecf0f1;
// General

// Layout
.row-container {
  display: flex;
  .col-container {
    flex: 1;
    &:last-child {
      margin-left: 1em;
    }
  }
}
/* Accordion styles */
.tabs {
  border-radius: 8px;
  overflow: hidden;
  box-shadow: 0 4px 4px -2px rgba(0, 0, 0, 0.5);
}
.taba {
  width: 100%;
  color: white;
  overflow: hidden;
  &-label {
    display: flex;
    justify-content: space-between;
    padding: 1em;
    background: $midnight;
    font-weight: bold;
    cursor: pointer;
    /* Icon */
    &:hover {
      background: darken($midnight, 10%);
    }
    &::after {
      content: "\276F";
      width: 1em;
      height: 1em;
      text-align: center;
      transition: all 0.35s;
    }
  }
  &-content {
    max-height: 0;
    padding: 0 1em;
    color: $midnight;
    background: white;
    transition: all 0.35s;
  }
  &-close {
    display: flex;
    justify-content: flex-end;
    padding: 1em;
    font-size: 0.75em;
    background: $midnight;
    cursor: pointer;
    &:hover {
      background: darken($midnight, 10%);
    }
  }
}

// :checked
input:checked {
  + .taba-label {
    background: darken($midnight, 10%);
    &::after {
      transform: rotate(90deg);
    }
  }
  ~ .taba-content {
    max-height: 100vh;
    padding: 1em;
  }
}
</style>