<template>
  <!-- Table Container Card -->
  <b-card no-body>
    <div class="m-2">
      <!-- Table Top -->
      <b-row>
        <!-- Per Page -->
        <b-col
          cols="12"
          md="6"
          class="d-flex align-items-center justify-content-start mb-1 mb-md-0"
        >
          <label>Entradas</label>

          <v-select
            v-model="perPageClients"
            :options="pageOptionsClients"
            :clearable="false"
            class="per-page-selector d-inline-block ml-50 mr-1"
          />
          <b-button variant="primary" :to="{ name: 'apps-referido-add' }">
            Agregar referidos
          </b-button>
        </b-col>

        <!-- Search -->
        <b-col cols="12" md="6">
          <div class="d-flex align-items-center justify-content-end">
            <b-form-input
              v-model="filter"
              class="d-inline-block mr-1"
              placeholder="Buscar referidos..."
            />
            <b-input-group-append>
              <b-button :disabled="!filter" @click="filter = ''"
                >limpiar</b-button
              >
            </b-input-group-append>
          </div>
        </b-col>
      </b-row>
    </div>

    <!-- Main table element -->
    <b-table
      empty-text="No hay referidos registrados por el momento"
      :items="referidos.referido"
      :fields="fields"
      responsive
      :current-page="currentPageClients"
      :per-page="perPageClients"
      :filter="filter"
      :filter-included-fields="filterOn"
      show-empty
      @filtered="onFiltered"
      class="position-relative"
      outlined
    >
      <template #cell(porcentaje_perfil)="row">
        <template v-if="row.item.porcentaje_perfil === null">
          <b-badge pill variant="light-danger"> 0 puntos </b-badge>
        </template>
        <template v-else>
          <b-badge pill variant="light-success">
            {{ row.item.porcentaje_perfil }} puntos
          </b-badge>
        </template>
      </template>

      <!-- Estado flm -->

      <template #cell(estado_persona)="row">
        <template v-if="row.item.porcentaje_perfil == 0">
          <b-badge pill variant="light-primary"> Nuevo </b-badge>
        </template>
        <template v-if="row.item.porcentaje_perfil == 100">
          <b-badge pill variant="light-success"> Contactado </b-badge>
        </template>
        <template
          v-if="
            row.item.porcentaje_perfil > 0 && row.item.porcentaje_perfil < '100'
          "
        >
          <b-badge pill variant="light-warning"> en proceso </b-badge>
        </template>
      </template>

      <!-- Fin estado -->

      <!-- Estado WhatsApp 'Hola EDteam'.slice(1,-1) // 'ola EDtea' -->

      <template #cell(celular_whatsapp)="row">
        <template>
          <b-link>
            <div class="text-center col-6">
              <img
                src="@/assets/images/whatsapp.png"
                alt="${row.item.celular_whatsapp}"
                @click="sendWhatsapp(row.item.celular_whatsapp)"
                v-ripple.400="'rgba(113, 102, 240, 0.15)'"
                v-b-popover.hover="row.item.celular_whatsapp"
                title="WhatsApp"
                variant="outline-primary"
                style="max-width:30px"
              />
            </div>
          </b-link>
        </template>
      </template>

      <!-- fin Whatsapp -->

      <!-- telefono -->
      <template #cell(celular_movil)="row">
        <template>
          <b-link>
            <feather-icon
              icon="PhoneCallIcon"
              size="20"
              class="mx-1"
              @click="llamadatelefono(row.item.celular_movil)"
              v-ripple.400="'rgba(113, 102, 240, 0.15)'"
              v-b-popover.hover="row.item.celular_movil"
              title="Telefono"
              variant="outline-primary"
            />
          </b-link>
        </template>
      </template>

      <!-- Fin Correo -->

      <!-- telefono -->
      <template #cell(email)="row">
        <b-link>
          <feather-icon
            icon="MailIcon"
            size="20"
            class="mx-1"
            @click="enviaremail(row.item.email)"
            v-ripple.400="'rgba(113, 102, 240, 0.15)'"
            v-b-popover.hover="row.item.email"
            title="Correo"
            variant="outline-primary"
          />
        </b-link>
      </template>

      <!-- Fin Correo -->

      <template #head(icon)>
        <feather-icon icon="MoreVerticalIcon" class="mx-auto" />
      </template>
      <template #cell(icon)="row">
        <!-- Boton editar -->

        <feather-icon
          :id="`invoice-row-${row.item.id}-preview-icon`"
          icon="EditIcon"
          size="16"
          class="mx-1"
          @click="
            $router.push({
              name: 'apps-referido-edit',
              params: { id: row.item.id_usuario },
            })
          "
        />
        <b-tooltip
          title="Editar Referido"
          :target="`invoice-row-${row.item.id}-preview-icon`"
        />

        <!-- Boton Acciones -->
      </template>
      <template #cell(actions)="row">
        <b-row
          ><b-col md="5">
            <div class="text-nowrap">
              <div
                v-if="
                  (usuario.role.slug === 'administrator' &&
                    row.item.porcentaje_perfil == 0) ||
                  (usuario.role.slug === 'staff' &&
                    row.item.porcentaje_perfil == 0)
                "
              >
                <b-button
                  v-ripple.400="'rgba(255, 255, 255, 0.15)'"
                  variant="outline-primary"
                  size="sm"
                  @click="tipoCliente(row.item)"
                >
                  Preguntar
                </b-button>
              </div>
              <div
                v-if="
                  (usuario.role.slug === 'administrator' &&
                    row.item.porcentaje_perfil != 0) ||
                  (usuario.role.slug === 'staff' &&
                    row.item.porcentaje_perfil != 0)
                "
              >
                <b-button
                  v-ripple.400="'rgba(255, 255, 255, 0.15)'"
                  variant="outline-success"
                  size="sm"
                  @click="tipoCliente(row.item)"
                >
                  Editar
                </b-button>
              </div>
            </div>
          </b-col>
          <b-col md="3">
            <b-button
              v-ripple.400="'rgba(255, 255, 255, 0.15)'"
              variant="primary"
              size="sm"
              @click="info(row.item, $event.target)"
            >
              Ver
            </b-button></b-col
          >
        </b-row>
        <!-- modal -->

        <b-modal
          id="modal-primary"
          ok-only
          ok-title="Accept"
          modal-class="modal-primary"
          centered
          title="Respuestas"
        >
          <b-card-text>
            {{ row.item }}
            Respuestas al formulario en proceso...
          </b-card-text>
        </b-modal>
      </template>

      <template #cell(nombre_tipo)="row">
        <template v-if="row.item.slug_tipo === 'cliente_vendedor'">
          <b-badge pill variant="light-primary">
            {{ row.item.nombre_tipo }}
          </b-badge>
        </template>
        <template v-else>
          <b-badge pill variant="light-success">
            {{ row.item.nombre_tipo }}
          </b-badge>
        </template>
      </template>
    </b-table>

    <modal-preguntas ref="Modal" />

    <div class="mx-2 mb-2">
      <b-row>
        <!-- Pagination -->
        <b-col
          cols="12"
          sm="6"
          class="
            d-flex
            align-items-center
            justify-content-center justify-content-sm-end
          "
        >
          <b-pagination
            v-model="currentPageClients"
            :total-rows="totalRows"
            :per-page="perPageClients"
            first-number
            last-number
            class="mb-0 mt-1 mt-sm-0"
            prev-class="prev-item"
            next-class="next-item"
          >
            <template #prev-text>
              <feather-icon icon="ChevronLeftIcon" size="18" />
            </template>
            <template #next-text>
              <feather-icon icon="ChevronRightIcon" size="18" />
            </template>
          </b-pagination>
        </b-col>
      </b-row>
    </div>
  </b-card>
</template>

<script>
import {
  BCard,
  BRow,
  BCol,
  BFormInput,
  BButton,
  BTable,
  BMedia,
  BAvatar,
  BLink,
  BBadge,
  BDropdown,
  BDropdownItem,
  BPagination,
  BTooltip,
  BFormGroup,
  BFormSelect,
  BButtonGroup,
  BInputGroupAppend,
  BCardText,
  VBPopover,
  BPopover,
  BModal,
  VBModal,
} from "bootstrap-vue";
import vSelect from "vue-select";
import BCardCode from "@core/components/b-card-code";
import Ripple from "vue-ripple-directive";
import Modal from "./modal/Modal.vue";

export default {
  components: {
    BCard,
    BRow,
    BCol,
    BFormInput,
    BButton,
    BTable,
    BMedia,
    BAvatar,
    BLink,
    BBadge,
    BDropdown,
    BDropdownItem,
    BPagination,
    BTooltip,
    BFormGroup,
    BFormSelect,
    vSelect,
    BButtonGroup,
    BInputGroupAppend,
    BCardCode,
    BCardText,
    Ripple,
    BPopover,
    BModal,
    VBModal,
    "modal-preguntas": Modal,
  },

  directives: {
    "b-popover": VBPopover,
    "b-modal": VBModal,
    Ripple,
  },

  data() {
    return {
      fields: [],
      totalRows: 1,
      currentPageClients: 1,
      perPageClients: 5,
      pageOptionsClients: [5, 10, 15, { value: 100, text: "Show a lot" }],
      path: "http://wa.me/",
      filter: null,
      filterOn: [],
      path2: "tel:",
      path3: "mailto:",
      userData: null,

      infoModal: {
        id: "modal-preguntas",
        title: "",
        content: {},
      },
    };
  },

  mounted() {
    let userData = JSON.parse(localStorage.getItem("userData"));
    this.$store
      .dispatch("referidoStoreModule/getReferidos", {
        data: userData.referral_code,
      })
      .then((response) => {
        this.totalRows = response.length;

        this.$store.commit(
          "dashboardData/UPDATE_CANT_REFERIDOS",
          this.totalRows
        );
      })
      .catch((error) => {
        console.log(error);
      });
  },
  setup() {},

  methods: {
    sendWhatsapp(whatsapp) {
      window.open(this.path + whatsapp.replace(/ /g, "")); //para nueva pestaña
    },

    llamadatelefono(telefono) {
      window.location.href = this.path2 + telefono;
    },

    enviaremail(email) {
      window.location.href = this.path3 + email;
    },

    tipoCliente(tipo) {
      this.$router.push("/preguntas/crear/" + tipo.id + "/" + tipo.slug_tipo);
    },
    onFiltered(filteredItems) {
      // Trigger pagination to update the number of buttons/pNits due to filtering
      this.totalRows = filteredItems.length;
      this.currentPNit = 1;
    },

    info(item, button) {
      this.$refs.Modal.info(item, button);
    },

    llenarFields(role) {
      if (role === "administrator") {
        this.fields = [
          { key: "icon" },
          { key: "porcentaje_perfil", label: "Puntaje", sortable: true },
          { key: "estado_persona", label: "Estado", sortable: true },
          { key: "primer_nombre", label: "Nombre", sortable: true },
          { key: "celular_whatsapp", label: "Whatsapp", sortable: true },
          { key: "celular_movil", label: "Telefono", sortable: true },
          { key: "email", label: "Email" },
          // { key: "id_cedula", label: "Referidor", sortable: true },
          { key: "nombre_tipo", label: "Tipo de cliente", sortable: true },
          { key: "actions", label: "Preguntas" },
        ];
      } else {
        this.fields = [
          { key: "icon" },
          { key: "porcentaje_perfil", label: "Puntaje", sortable: true },
          { key: "estado_persona", label: "Estado", sortable: true },
          { key: "primer_nombre", label: "Nombre", sortable: true },
          { key: "celular_whatsapp", label: "Whatsapp", sortable: true },
          { key: "celular_movil", label: "Telefono", sortable: true },
          { key: "email", label: "Email" },
          { key: "nombre_tipo", label: "Tipo de cliente", sortable: true },
          { key: "actions", label: "Acciones" },
        ];
      }
    },
  },
  created() {
    this.userData = JSON.parse(localStorage.getItem("userData"));
    this.llenarFields(this.userData.role.slug);
  },

  computed: {
    usuario() {
      let store = this.$store.state.userData.userData;
      return store;
    },
    referidos() {
      return this.$store.state.referidoStoreModule;
    },
  },
};
</script>

<style lang="scss" scoped>
.per-page-selector {
  width: 90px;
}

.invoice-filter-select {
  min-width: 190px;

  ::v-deep .vs__selected-options {
    flex-wrap: nowrap;
  }

  ::v-deep .vs__selected {
    width: 100px;
  }
}
.per-page-selector {
  width: 90px;
}

.invoice-filter-select {
  min-width: 190px;

  ::v-deep .vs__selected-options {
    flex-wrap: nowrap;
  }

  ::v-deep .vs__selected {
    width: 100px;
  }
}
</style>

<style lang="scss">
@import "@core/scss/vue/libs/vue-select.scss";
</style>
