<template>
  <b-card>
    <div v-show="show_loading" class="loader"></div>
    <form v-show="show" @submit.prevent="sendEmail">
      <div class="modal-body">
        <div class="form-group">
          <label>Asunto del E-Mail</label>
          <input
            v-model="title"
            type="text"
            name="title"
            placeholder="Titulo del email"
            class="form-control"
          />
        </div>
        <!-- <div class="form-group">
          <label>Referencia </label>
          <textarea
            v-model="body"
            name="body"
            id="body"
            placeholder="Utiliza este campo para describir a que tipo de clientes estas enviando esta campaña"
            class="form-control"
            rows="5"
          >
          </textarea>
        </div> -->

        <div class="form-group">
          <b-col md="12">
            <div class="demo-inline-spacing">
              <b-form-radio
                v-model="show_select"
                name="some-radios"
                :value="false"
              >
                Todos los Clientes
              </b-form-radio>
              <b-form-radio
                @change="infoModalListClientes(1, $event.target)"
                name="some-radios"
                :value="true"
              >
                Seleccionar Clientes
              </b-form-radio>
            </div>
          </b-col>
        </div>

        <div class="form-group" v-if="show_select">
          <label style="margin-bottom: 10px">Selecciona clientes</label>
          <v-select
            v-model="selectedCliente"
            :dir="$store.state.appConfig.isRTL ? 'rtl' : 'ltr'"
            multiple
            label="nombre"
            :options="clientes"
          />
        </div>

        <div class="form-group">
          <label style="margin-bottom: 10px">Cuando lo envia?</label>
          <div class="form-control">
            <span style="margin-right: 20px">
              <input
                type="radio"
                name="sending"
                value="now"
                v-model="item"
                checked
              />
              <label>Enviar ahora</label>
            </span>
            <span>
              <input type="radio" name="sending" value="later" v-model="item" />
              <label>Programar Envio</label>
            </span>
          </div>
        </div>
      </div>
      <div v-if="item === 'later'">
        <VueCtkDateTimePicker
          label="Seleciona tu fecha"
          :no-button-now="true"
          v-model="send_date"
        />
      </div>

      <b-card>
        <hr />
        <b-tabs pills align="center">
          <b-tab title="Predeterminadas" active>
            <template #title>
              <feather-icon icon="ImageIcon" size="16" class="mr-0 mr-sm-50" />
              <span class="d-none d-sm-inline">Predeterminada</span>
            </template>
            <predeterminate-template />
          </b-tab>

          <b-tab>
            <template #title>
              <feather-icon icon="ImageIcon" size="16" class="mr-0 mr-sm-50" />
              <span class="d-none d-sm-inline">Tus plantillas</span>
            </template>
            <user-template ref="" />
          </b-tab>
        </b-tabs>

        <div class="modal-footer">
          <b-button
            :disabled="disabled"
            v-if="loading && item === 'now'"
            type="submit"
            class="btn btn-success"
          >
            Cargando Email...
          </b-button>
          <b-button
            :disabled="disabled"
            v-if="!loading && item === 'now'"
            type="submit"
            class="btn btn-success"
          >
            enviar email
          </b-button>
          <button
            v-if="!loading && item === 'later'"
            :disabled="disabled"
            type="submit"
            class="btn btn-success"
          >
            Enviar mas tarde
          </button>
        </div>
      </b-card>
      <modal-clientes ref="modalClientes" />
    </form>
  </b-card>
</template>

<script>
import {
  BButton,
  BCard,
  BContainer,
  BRow,
  BCol,
  BInputGroup,
  BFormInput,
  BInputGroupPrepend,
  BInputGroupAppend,
  BFormGroup,
  BFormTextarea,
  BCardText,
  BFormRadio,
  BTab,
  BTabs,
} from "bootstrap-vue";
import vSelect from "vue-select";
import userTemplatesVue from "./components/userTemplates.vue";
import predeterminateTemplatesVue from "./components/predeterminateTemplates.vue";
import modalClientesVue from "../../../componente/modalClientes.vue";

let user = JSON.parse(localStorage.getItem("userData"));

export default {
  data() {
    return {
      show_select: false,
      show: true,
      show_loading: false,
      send_now: true,
      loading: false,
      title: "",
      body: "",
      send_date: "",
      isBusy: false,
      isBusyMessage: false,
      item: "now",
      search: "",
      data: [],
      mercadeo_id: null,
      payLoad: null,
      dir: "ltr",
      selectedReferido: [],
      selectedCliente: [],
    };
  },

  components: {
    BButton,
    BCard,
    BRow,
    BFormRadio,
    BCol,
    BInputGroup,
    BFormInput,
    BInputGroupPrepend,
    BInputGroupAppend,
    vSelect,
    BFormGroup,
    BFormTextarea,
    BTab,
    BTabs,
    BCardText,
    "user-template": userTemplatesVue,
    "predeterminate-template": predeterminateTemplatesVue,
    "modal-clientes": modalClientesVue,
  },
  computed: {
    clientes() {
      return this.$store.state.appCliente.clientes;
    },

    referidos() {
      return this.$store.state.referidoStoreModule.referido;
    },

    disabled() {
      return this.title === "" || !this.title || this.loading;
    },

    statusVariant() {
      const statusColor = {
        Current: "light-primary",
        Professional: "light-success",
        Rejected: "light-danger",
        Resigned: "light-warning",
        Applied: "light-info",
      };

      return (status) => statusColor[status];
    },
  },

  mounted() {
    this.$root.$on(
      "selectedClientesModal",
      function (payLoad) {
        if (this.payLoad != payLoad) {
          this.selectedCliente = payLoad.selected;
        }
      }.bind(this)
    );
    this.predeterminateTemplatePrivate();
    this.predeterminateTemplatePublic();
  },

  created() {
    this.getMercadeos();
    this.getMercadeoPrivate();
    this.getCliente();
    //this.getReferido();
  },

  methods: {
    infoModalListClientes(button) {
      this.$refs.modalClientes.info(button);
    },

    predeterminateTemplatePublic() {
      this.$root.$on(
        "predeterminateTemplatePublic",
        function (payLoad) {
          if (this.payLoad != payLoad) {
            this.mercadeo_id = payLoad;
          }
        }.bind(this)
      );
    },
    predeterminateTemplatePrivate() {
      this.$root.$on(
        "predeterminateTemplatePrivate",
        function (payLoad) {
          if (this.payLoad != payLoad) {
            this.mercadeo_id = payLoad;
          }
        }.bind(this)
      );
    },
    async getCliente() {
      await this.$store
        .dispatch("appCliente/fetchClients")
        .then((response) => {
          console.log(response);
        })
        .catch((error) => {
          console.log(error);
        });
    },

    async getMercadeos() {
      await this.$store
        .dispatch("appMercadeo/fetchMercadeos", { user_id: user.id })
        .then((response) => {})
        .catch((error) => {
          console.log(error);
        });
    },

    async getMercadeoPrivate() {
      await this.$store
        .dispatch("appMercadeoAdmin/fetchMercadeoAdmin")
        .then((response) => {})
        .catch((error) => {
          console.log(error);
        });
    },

    async sendEmail() {
      this.loading = true;
      this.show = false;
      this.show_loading = true;

      const sendData = {
        item: this.item,
        title: this.title,
        body: this.body,
        send_date: this.send_date,
        item: this.item,
        mercadeo_id: this.mercadeo_id,
        selectedCliente: this.selectedCliente,
      };

      console.log(sendData);
      await this.$store
        .dispatch("appMercadeo/sendNotifications", sendData)
        .then((resp) => {
          this.title = "";
          this.body = "";
          this.send_date = "";
          this.mercadeo_id = null;
          this.loading = false;
          this.show = true;
          this.show_loading = false;
          setTimeout(() => {}, 1000);
          if (this.item == "now") {
            this.AlerSwall("Enviado!", "Tu E-Mail ha sido enviado");
          } else {
            this.AlerSwall(
              "Programado!",
              "Email programado! Tu correo se enviara mas tarde"
            );
          }
        })
        .catch((error) => console.log(error));
    },

    AlerSwall(type, message) {
      this.$swal({
        title: type,
        text: message,
        icon: "success",
        customClass: {
          confirmButton: "btn btn-primary",
        },
        buttonsStyling: false,
      });

      this.$router.push({ name: "programar-email" });
    },

    reuteSend() {},
  },
};
</script>

<style>
.loader {
  border: 16px solid #f3f3f3;
  border-radius: 50%;
  border-top: 16px solid #3498db;
  width: 120px;
  height: 120px;
  -webkit-animation: spin 2s linear infinite; /* Safari */
  animation: spin 2s linear infinite;
}

/* Safari */
@-webkit-keyframes spin {
  0% {
    -webkit-transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
  }
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
</style>
