<template>
  <b-modal
    :id="infoModal.id"
    size="lg"
    ref="modal-historial-agenda"
    title=""
    ok-title="Registrar"
    cancel-title="Cancelar"
    cancel-variant="outline-secondary"
    @ok="soatActions"
  >
    <b-table responsive="sm" :items="reportes" :fields="fields" />
  </b-modal>
</template>

<script>
import { BModal, BTable } from "bootstrap-vue";
import Ripple from "vue-ripple-directive";

export default {
  name: "edictRole",
  components: {
    BModal,
    BTable,
  },
  directives: {
    Ripple,
  },
  data() {
    return {
      infoModal: {
        id: "modal-historial-agenda",
        title: "",
        content: {},
        contentPreguntas: {},
      },
      reportes: [],
      fields: [
        // { key: "image_principal", label: "Imagen", sortable: true },
        { key: "id", label: "Codigo", sortable: true },
        { key: "nota", label: "Descripción", sortable: true },
        { key: "direccion", label: "Dirección", sortable: true },
      ],
    };
  },

  computed: {
    usuario() {
      return this.$store.state.userData.userData;
    },
    portales() {
      return this.$store.state.appPortales.portales;
    },
  },

  methods: {
    info(code, button) {
      this.infoModal.content = { ...code };
      this.getHistorialAgenda(this.infoModal.content.id);
      this.$root.$emit("bv::show::modal", this.infoModal.id, button);
    },

    hideModal() {
      this.$refs["modal-historial-agenda"].hide();
    },

    soatActions() {
      this.show_spinner_sin = true;
      this.$store
        .dispatch("appInmueble/soatAction", this.infoModal.content.id)
        .then((data) => {
          this.show_spinner_sin = false;
          this.infoModal();
        });
    },

    async getHistorialAgenda(id) {
      this.$store
        .dispatch("appCalendar/fetchReporteAgente", id)
        .then((response) => {
          this.reportes = response;
        })
        .catch((error) => {
          console.log(error);
        });
    },
  },
};
</script>

<style lang="scss">
</style>

