<template>
  <b-modal
    :id="infoModal.id"
    size="xl"
    ref="modal-portales"
    :title="
      'Sincronizar: ' +
      infoModal.content.titulo_inmueble +
      '. codigo: ' +
      infoModal.content.id
    "
    ok-title="Sincronizar"
    cancel-title="Cancelar"
    cancel-variant="outline-secondary"
    no-close-on-backdrop
    hide-footer
    @ok="soatActions"
  >
    <div class="container">
      <ul class="nav nav-tabs nav-justified">
        <li v-for="por in portales" :key="por.id" class="nav-item">
          <a
            class="nav-link"
            @click.prevent="setActive(por.slug)"
            :class="{ active: isActive(por.slug) }"
            :href="'#' + por.slug"
          >
            <img
              class="img_portales"
              :src="'/storage/' + por.image"
              alt=""
              srcset=""
          /></a>
        </li>
      </ul>
      <div class="tab-content py-3" id="myTabContent">
        <div
          v-for="por in portales"
          :key="por.id"
          class="tab-pane fade"
          :class="{ 'active show': isActive(por.slug) }"
          :id="por.slug"
        >
          <fincarraiz
            v-if="por.slug == 'fincaraiz'"
            :inmueble="infoModal.content"
            :data_fincarraiz="por"
          />

          <ciencuadra
            v-if="por.slug == 'ciencuadras'"
            :data_ciencuadra="por"
            :inmueble_ciencuadra="infoModal.content"
          />

          <elpais
            v-if="por.slug == 'clasificados_el_pais'"
            :portal="por"
            :inmueble="infoModal.content"
          />

          <metrocuadrado
            v-if="por.slug == 'metro_cuadrado'"
            :data_metro_cuadrado="por"
            :inmueble_metro_cuadrado="infoModal.content"
          />
        </div>
      </div>
    </div>
    <b-overlay :show="show_spinner_sin" rounded="sm"> </b-overlay>
  </b-modal>
</template>

<script>
import {
  BModal,
  BRow,
  BCol,
  BFormGroup,
  BFormInput,
  BFormCheckbox,
  BForm,
  BCardText,
  BButton,
  BFormFile,
  BAvatar,
  BInputGroup,
  BFormTextarea,
  BOverlay,
  BImg,
  BMedia,
  BTabs,
  BTab,
  BInputGroupPrepend,
} from "bootstrap-vue";
import Ripple from "vue-ripple-directive";
import { quillEditor } from "vue-quill-editor";
import fincaraiz_portalVue from "./componentsPortales/fincaraiz_portal.vue";
import elpais_portalVue from "./componentsPortales/elpais_portal.vue";
import puntopropiedad_portalVue from "./componentsPortales/puntopropiedad_portal.vue";
import ciencuadra_portalVue from "./componentsPortales/ciencuadra_portal.vue";
import metro_cuadrado_portalVue from "./componentsPortales/metro_cuadrado_portal.vue";

export default {
  name: "edictRole",
  components: {
    BModal,
    BRow,
    BCol,
    BFormGroup,
    BFormInput,
    BFormCheckbox,
    BCardText,
    BFormFile,
    BAvatar,
    BMedia,
    BFormTextarea,
    BForm,

    BTabs,
    BTab,
    BImg,
    BButton,
    BOverlay,
    BInputGroup,
    BInputGroupPrepend,
    quillEditor,
    fincarraiz: fincaraiz_portalVue,
    elpais: elpais_portalVue,
    puntopropiedad: puntopropiedad_portalVue,
    ciencuadra: ciencuadra_portalVue,
    metrocuadrado: metro_cuadrado_portalVue,
  },
  directives: {
    Ripple,
  },
  data() {
    return {
      activeItem: "home",
      infoModal: {
        id: "modal-portales",
        title: "",
        content: {},
        contentPreguntas: {},
      },
      selected: [],
      portal_show: null,
      aprobe: true,
      metrocuadrado: null,
      fincarraiz: null,
      ciencuadra: null,
      data: {
        user_id: null,
        portale_id: null,
        user: null,
        email: null,
        token: null,
      },
      show_spinner_sin: false,
      payLoad: false,
    };
  },

  computed: {
    usuario() {
      return this.$store.state.userData.userData;
    },
    portales() {
      return this.$store.state.appPortales.portales;
    },
  },

  mounted() {
    this.$root.$on(
      "fincarraiz",
      function (payLoad) {
        if (this.payLoad != payLoad) {
          this.soatActions(payLoad, "fincarraiz");
        }
      }.bind(this)
    );
    this.$root.$on(
      "infomodal",
      function (payLoad) {
        if (this.payLoad != payLoad) {
          this.infoModal.content = payLoad;
        }
      }.bind(this)
    );

    this.$root.$on(
      "message",
      function (payLoad) {
        if (this.payLoad != payLoad) {
          this.alertPortales(payLoad);
        }
      }.bind(this)
    );

    this.$root.$on(
      "message_error",
      function (payLoad) {
        if (this.payLoad != payLoad) {
          this.alertPortalesError(payLoad);
        }
      }.bind(this)
    );
  },

  methods: {
    showPortal(code) {
      let data = this.portales.filter((x) => x.id == code);
      this.portal_show = data[0];
    },

    isActive(menuItem) {
      return this.activeItem === menuItem;
    },
    setActive(menuItem) {
      this.activeItem = menuItem;
    },

    info(code, button) {
      this.infoModal.content = {};
      this.infoModal.content = { ...code };

      this.getPortales();
      this.getLocalidadesCiencuadra();

      this.$root.$emit("bv::show::modal", this.infoModal.id, button);
    },

    hideModal() {
      this.$refs["modal-portales"].hide();
    },

    async soatActions(payload, type) {
      await this.$store
        .dispatch("appInmueble/soatAction", {
          id: this.infoModal.content.id,
          data: payload,
        })
        .then((data) => {
          this.$swal({
            title: "Se sincronizo el inmueble.",
            text: "Muy bien",
            icon: "info",
            customClass: {
              confirmButton: "btn btn-primary",
            },
            confirmButtonText: "Aceptar",
            buttonsStyling: false,
          });
        })
        .catch((data) => {
          console.log(data);
        });
    },

    alertPortales(message) {
      this.$swal({
        position: "top-end",
        icon: "success",
        title: message,
        showConfirmButton: false,
        timer: 1500,
        customClass: {
          confirmButton: "btn btn-primary",
        },
        buttonsStyling: false,
      });

      this.$root.$emit("sincronizado");
    },

    alertPortalesError(message) {
      this.$swal({
        position: "top-end",
        icon: "warning",
        title: message,
        showConfirmButton: false,
        timer: 1500,
        customClass: {
          confirmButton: "btn btn-primary",
        },
        buttonsStyling: false,
      });

      //this.$root.$emit("sincronizado");
    },

    apiServiceCiencuadra() {
      this.$store
        .dispatch(
          "appPortales/sincronizarCiencuadra",
          this.infoModal.content.id
        )
        .then((response) => {
          console.log(response);
        })
        .catch((error) => {
          console.log(error);
        });
    },

    getPortales() {
      this.$store
        .dispatch("appPortales/fetchPortales")
        .then((response) => {})
        .catch((error) => {
          console.log(error);
        });
    },

    getLocalidadesCiencuadra() {
      this.$store
        .dispatch("appPortales/getLocalidadesCiencuadra")
        .then((response) => {
          console.log(response);
        })
        .catch((error) => {
          console.log(error);
        });
    },

    getCredencialesPortalesUser(portal) {
      this.$store
        .dispatch("appPortales/addCredencialesPortalesUser", {
          portal: data,
          user_id: this.usuario.id,
          email: this.data.email,
          user: this.data.user,
          token: this.data.token,
        })
        .then((response) => {
          console.log(response);
        })
        .catch((error) => {
          console.log(error);
        });
    },

    addCredencialesPortalesUser(data) {
      this.$store
        .dispatch("appPortales/addCredencialesPortalesUser", {
          portal: data,
          user_id: this.usuario.id,
          email: this.data.email,
          user: this.data.user,
          token: this.data.token,
        })
        .then(() => {
          this.data = null;
          this.show_spinner_sin = false;
        })
        .catch((error) => {
          console.log(error);
        });
    },
  },
};
</script>
<style>
.btn-group button {
  background-color: #04aa6d;
  border: 1px solid green;
  color: white;
  padding: 10px 24px;
  cursor: pointer;
  float: left;
}

/* Clear floats (clearfix hack) */
.btn-group:after {
  content: "";
  clear: both;
  display: table;
}
.img_portales {
  width: 50%;
  height: 50%;
}

.btn-group button:not(:last-child) {
  border-right: none; /* Prevent double borders */
}

/* Add a background color on hover */
.btn-group button:hover {
  background-color: #3e8e41;
}
</style>

<style lang="scss">
.img-responsive {
  width: 65%;
  max-width: 60%;
  height: 70%;
}
</style>

