<template>
  <section id="inicio-home">
    <!-- Fila 1 -->
    <b-row class="match-height">
      <b-col xl="4" md="6">
        <inicio-medalla :data="mony" />
      </b-col>
      <b-col xl="8" md="6">
        <inicio-estadisticas :data="statisticsItems" />
      </b-col>
    </b-row>
    <!-- Fila 2 -->

    <!-- <b-row class="match-height">
      <b-col>
        <b-row class="match-height">


          <b-col lg="4" md="6">
            <inicio-ganancias :data="data.earningsChart" />
          </b-col>

          <b-col lg="6" md="6"> 
            <inicio-gestion :data="data.statisticsOrder" />
          </b-col>

          <b-col lg="6" md="6">
            <inicio-crecimiento :data="data.statisticsProfit" />
          </b-col>
        </b-row>
      </b-col>
    </b-row> -->

    <!-- Fila3 --
    <b-row class="match-height">

      <b-col
        lg="6"
        md="6"
      >
        <inicio-citas :data="data.meetup" />
      </b-col>

      <b-col 
        lg="6"
        md="6"
      >
        <inicio-resumen-utilidades :data="data2.salesChart" />
      </b-col>
    </b-row> 
    -- Fin Fila3 -->
  </section>
</template>

<script>
import { BRow, BCol } from "bootstrap-vue";

import { getUserData } from "@/auth/utils";
import InicioMedalla from "./InicioMedalla.vue";
import InicioEstadisticas from "./InicioEstadisticas.vue";
import InicioGestion from "./InicioGestion.vue";
import InicioCrecimiento from "./InicioCrecimiento.vue";
import InicioGanancias from "./InicioGanancias.vue";
import InicioCitas from "./InicioCitas.vue";
import InicioResumenUtilidades from "./InicioResumenUtilidades.vue";
import { onUnmounted } from "@vue/composition-api";
import store from "@/store/index";
import inicioStoreModule from "./inicioStoreModule";

const REFERIDOS_APP_STORE_MODULE_NAME = "app-inicio";

// Register module
if (!store.hasModule(REFERIDOS_APP_STORE_MODULE_NAME))
  store.registerModule(REFERIDOS_APP_STORE_MODULE_NAME, inicioStoreModule);

// UnRegister on leave
onUnmounted(() => {
  if (store.hasModule(REFERIDOS_APP_STORE_MODULE_NAME))
    store.unregisterModule(REFERIDOS_APP_STORE_MODULE_NAME);
});

export default {
  components: {
    BRow,
    BCol,

    InicioMedalla,
    InicioEstadisticas,
    InicioGestion,
    InicioCrecimiento,
    InicioGanancias,
    InicioCitas,
    InicioResumenUtilidades,
  },
  data() {
    return {
      mony: null,
      statisticsItems: [
        {
          icon: "UserIcon",
          color: "light-primary",
          title: "0",
          subtitle: "Total Referidos",
          customClass: "mb-2 mb-xl-0",
        },
        {
          icon: "TrendingUpIcon",
          color: "light-info",
          title: "0",
          subtitle: "Compradores",
          customClass: "mb-2 mb-xl-0",
        },
        {
          icon: "BoxIcon",
          color: "light-danger",
          title: "24",
          subtitle: "Vendedores",
          customClass: "mb-2 mb-sm-0",
        },
        // {
        //   icon: "DollarSignIcon",
        //   color: "light-success",
        //   title: "$ 120K",
        //   subtitle: "Invertido",
        //   customClass: "",
        // },
      ],
      data: {},
      data2: {},
    };
  },

  computed: {
    usuario() {
      return this.$store.state.userData.userData;
    },
  },

  methods: {
    number_format_js(number, decimals, dec_point, thousands_point) {
      if (number == null || !isFinite(number)) {
        throw new TypeError("number is not valid");
      }

      if (!decimals) {
        var len = number.toString().split(".").length;
        decimals = len > 1 ? len : 0;
      }

      if (!dec_point) {
        dec_point = ".";
      }

      if (!thousands_point) {
        thousands_point = ",";
      }

      number = parseFloat(number).toFixed(decimals);

      number = number.replace(".", dec_point);

      var splitNum = number.split(dec_point);
      splitNum[0] = splitNum[0].replace(
        /\B(?=(\d{3})+(?!\d))/g,
        thousands_point
      );
      number = splitNum.join(dec_point);

      return number;
    },

    informacion() {
      store
        .dispatch("app-inicio/getMonyCountReferidos", { id: this.usuario.id })
        .then((response) => {
          this.mony = this.number_format_js(response.data.mony, 0, ",", ".");

          this.statisticsItems[0].title = response.data.cantidad;
          this.statisticsItems[1].title = response.data.comprador;
          this.statisticsItems[2].title = response.data.vendedor;
        });
    },
  },
  created() {
    this.informacion();

    // data
    this.$http.get("/ecommerce/data").then((response) => {
      this.data = response.data;

      // ? Your API will return name of logged in user or you might just directly get name of logged in user
      // ? This is just for demo purpose
      const userData = getUserData();
      this.data.congratulations.name =
        userData.primer_nombre.split(" ")[0] || userData.username;
    });

    this.$http
      .get("/analytics/data") //DatabaseFake
      .then((response) => {
        this.data2 = response.data;
      });
  },
};
</script>

<style lang="scss">
@import "@core/scss/vue/pages/dashboard-ecommerce.scss";
@import "@core/scss/vue/libs/chart-apex.scss";
</style>
