<template>
  <b-card  class="card-congratulation-medal">
    <h5>Hola 🎉 {{ fullName }}</h5>
    <b-card-text class="font-small-3">
      Éste mes podrias generar hasta:
    </b-card-text>
    <h3 class="mb-75 mt-2 pt-50">
      <b-link>$ {{ data }} COP</b-link>
    </h3>
    <b-button
      v-ripple.400="'rgba(255, 255, 255, 0.15)'"
      variant="primary"
      :to="{ name: 'apps-referido-list' }"
    >
      Ver referidos
    </b-button>
    <b-img
      :src="require('@/assets/images/illustration/badge.svg')"
      class="congratulation-medal"
      alt="Medal Pic"
    />
  </b-card>
</template>

<script>
import { BCard, BCardText, BLink, BButton, BImg } from "bootstrap-vue";
import Ripple from "vue-ripple-directive";
import { kFormatter } from "@core/utils/filter";
import { onUnmounted } from "@vue/composition-api";
import store from "@/store/index";
import inicioStoreModule from "./inicioStoreModule";

const REFERIDOS_APP_STORE_MODULE_NAME = "app-inicio";

// Register module
if (!store.hasModule(REFERIDOS_APP_STORE_MODULE_NAME))
  store.registerModule(REFERIDOS_APP_STORE_MODULE_NAME, inicioStoreModule);

// UnRegister on leave
onUnmounted(() => {
  if (store.hasModule(REFERIDOS_APP_STORE_MODULE_NAME))
    store.unregisterModule(REFERIDOS_APP_STORE_MODULE_NAME);
});
export default {
  components: {
    BCard,
    BCardText,
    BLink,
    BImg,
    BButton,
  },
  data() {
    return {
      fullName: "",
      mony: "",
    };
  },
  created() {
    let user = JSON.parse(localStorage.getItem("userData"));
    this.fullName = user.primer_nombre + " " + user.primer_apellido;

  
  },

  directives: {
    Ripple,
  },
  props: {
    data: {
      type: String,
      default: () => '',
    },
  },
  methods: {
   
    kFormatter,

  },
};
// Agregado
// mounted() {
//     this.$store
//       .dispatch("referidoStoreModule/fetchInvoices")
//       .then((response) => {
//         const { referidos } = response;
//         this.totalRows = referidos.length;
//       })
//       .catch((error) => {
//         console.log(error);
//       });
//   },
//   setup() {},

//   methods: {
//     tipoCliente(tipo) {
//       this.$router.push(
//         "/preguntas/crear/" + tipo.id_referido_primary + "/" + tipo.slug_tipo
//       );
//     },
//     onFiltered(filteredItems) {
//       // Trigger pagination to update the number of buttons/pNits due to filtering
//       this.totalRows = filteredItems.length;
//       this.currentPNit = 1;
//     },
//   },
//   created() {},

//   computed: {
//     usuario() {
//       let store = this.$store.state.userData.userData;
//       return store;
//     },
//     referidos() {
//       return this.$store.state.referidoStoreModule;
//     },
//   },
// };
// Fin Agregado
</script>
