<template>
  <b-card no-body class="card-developer-meetup">
    <div class="bg-light-primary rounded-top text-center">
      <b-img
        :src="require('@/assets/images/illustration/email.svg')"
        alt="Meeting Pic"
        height="170"
      />
    </div>
    <b-card-body>
      <!-- metting header -->
      <div class="meetup-header d-flex align-items-center">
        <div class="my-auto">
          <b-card-title class="mb-25">
            {{ referido.primer_nombre }} {{ referido.segundo_nombre }} {{ referido.primer_apellido }} {{ referido.segundo_apellido }}
          </b-card-title>
          <b-card-text class="mb-0">
            {{ referido.nombre_tipo }}
          </b-card-text>
        </div>
      </div>
      <!--/ metting header -->

      <!-- media -->
      <b-media v-for="media in mediaData" :key="media.avatar" no-body>
        <b-media-aside class="mr-1">
          <b-avatar rounded variant="light-primary" size="34">
            <feather-icon :icon="media.avatar" size="18" />
          </b-avatar>
        </b-media-aside>
        <b-media-body>
          <h6 class="mb-0">
            {{ media.title }}
          </h6>
          <small>{{ media.subtitle }}</small>
        </b-media-body>
      </b-media>
    </b-card-body>
  </b-card>
</template>

<script>
import {
  BCard,
  BImg,
  BCardBody,
  BCardText,
  BCardTitle,
  BMedia,
  BMediaAside,
  BAvatar,
  BAvatarGroup,
  VBTooltip,
  BMediaBody,
} from "bootstrap-vue";
import referidoStoreModule from "../../referidoStoreModule";
import { onUnmounted } from "@vue/composition-api";
import store from "@/store/index";

const REFERIDOS_APP_STORE_MODULE_NAME = "app-referidos";

// Register module
if (!store.hasModule(REFERIDOS_APP_STORE_MODULE_NAME))
  store.registerModule(REFERIDOS_APP_STORE_MODULE_NAME, referidoStoreModule);

// UnRegister on leave
onUnmounted(() => {
  if (store.hasModule(REFERIDOS_APP_STORE_MODULE_NAME))
    store.unregisterModule(REFERIDOS_APP_STORE_MODULE_NAME);
});
/* eslint-disable global-require */
export default {
  components: {
    BCard,
    BImg,
    BCardBody,
    BCardText,
    BCardTitle,
    BMedia,
    BMediaAside,
    BAvatar,
    BAvatarGroup,
    BMediaBody,
  },
  directives: {
    "b-tooltip": VBTooltip,
  },
  props: {
    referido: {
      type: Object,
      default: () => {},
    },
  },
  created() {
    this.mediaData[0].subtitle = this.referido.celular_whatsapp
    this.mediaData[1].subtitle = this.referido.celular_movil;
    this.mediaData[2].subtitle = this.referido.codigo_ciudad;
    this.mediaData[3].subtitle = this.referido.correo_persona;
    console.log(this.referido);
    this.getCiudades();
  },
  data() {
    return {
      mediaData: [
        { avatar: "SmartphoneIcon", 
          title: "WhatsApp", 
          subtitle: "31323123" },
        {
          avatar: "PhoneCallIcon",
          title: "Celular",
          subtitle: "",
        },
        {
          avatar: "MapPinIcon",
          title: "Ubicación",
          subtitle: "",
        },
        {
          avatar: "MailIcon",
          title: "E-mail",
          subtitle: "",
        },
      ],
      avatars: [
        {
          avatar: require("@/assets/images/portrait/small/avatar-s-9.jpg"),
          fullName: "Billy Hopkins",
        },
        {
          avatar: require("@/assets/images/portrait/small/avatar-s-6.jpg"),
          fullName: "Amy Carson",
        },
        {
          avatar: require("@/assets/images/portrait/small/avatar-s-8.jpg"),
          fullName: "Brandon Miles",
        },
        {
          avatar: require("@/assets/images/portrait/small/avatar-s-7.jpg"),
          fullName: "Daisy Weber",
        },
        {
          avatar: require("@/assets/images/portrait/small/avatar-s-20.jpg"),
          fullName: "Jenny Looper",
        },
      ],
    };
  },

  methods: {
    // Obtiene las ciudades con el id
    getCiudades() {
      store
        .dispatch("app-referidos/fetchCreateReferido")
        .then((response) => {
        
          let ciudades = response.data.ciudades;
          let paises = response.data.paises;

          let nombre_ciudad = "";
          let nombre_pais = "";

          for (let i = 0; i < ciudades.length; i++) {
            if (this.referido.codigo_ciudad == ciudades[i].id_ciudades) {
              nombre_ciudad = ciudades[i].nombre_ciudad;
            }
          }

          for (let i = 0; i < paises.length; i++) {
            if (this.referido.codigo_pais == paises[i].codigo) {
              nombre_pais = paises[i].pais;
            }
          }

          this.mediaData[2].subtitle = nombre_ciudad + ", " + nombre_pais;

        })
        .catch((error) => {
          console.log(error);
        });
    },
  },
};
</script>
