<template>
  <div>
    <b-input-group class="input-group-merge input-width">
      <b-input-group-prepend is-text>
        <feather-icon icon="SearchIcon" />
      </b-input-group-prepend>
      <b-form-input v-model="search" placeholder="Buscar plantilla de correo" />
    </b-input-group>
    <hr />
    <b-row>
      <b-col cols="3" md="auto" v-for="item in filteredList" :key="item.id">
        <b-card
          :title="item.name"
          style="max-width: 50rem; border: 2px solid blue"
          tag="article"
          class="mb-2"
        >
          <b-form-radio
            @change="checkData(item.mercadeo_type, $event.target)"
            v-model="mercadeo_id"
            name="some-radios-mercadeo"
            :value="item.id"
          >
            Seleccionar esta plantilla</b-form-radio
          >
          <b-img class="image-width" :src="'/storage/' + item.url"></b-img>
        </b-card>
      </b-col>
    </b-row>
    <modal-inmuebles ref="modalInmueble" />
  </div>
</template>

<script>
import {
  BCard,
  BRow,
  BCol,
  BImg,
  BFormRadio,
  BFormInput,
  BInputGroup,
  BButton,
  BInputGroupPrepend,
} from "bootstrap-vue";
import modalInmueblesVue from "./modalInmuebles.vue";

export default {
  components: {
    BCard,
    BRow,
    BCol,
    BImg,
    BFormRadio,
    BFormInput,
    BInputGroup,
    BButton,
    BInputGroupPrepend,
    "modal-inmuebles": modalInmueblesVue,
  },

  data() {
    return {
      show_select: false,
      show: true,
      show_loading: false,
      send_now: true,
      loading: false,
      title: "",
      body: "",
      send_date: "",
      isBusy: false,
      isBusyMessage: false,
      item: "now",
      search: "",
      selected: [],
      data: [],
      mercadeo_id: null,
      dir: "ltr",
    };
  },

  computed: {
    filteredList() {
      this.data = this.$store.state.appMercadeoAdmin.mercadeo_admin;
      return this.data.filter((post) => {
        return post.name.toLowerCase().includes(this.search.toLowerCase());
      });
    },
  },
  created() {
    this.$root.$on(
      "selectedTemplates",
      function (payLoad) {
        if (this.payLoad != payLoad) {
          this.selected = payLoad;
        }
      }.bind(this)
    );
  },

  methods: {
    checkData(type, button) {
      if (type.name == "inmueble") {
        this.$refs.modalInmueble.info(this.mercadeo_id, button, type="mercadeo");
      } else if (type.name == "agente") {
        this.$root.$emit("predeterminateTemplatePrivate", {
          type: "private",
          mercadeo: this.mercadeo_id,
        });
      }
    },
  },
};
</script>

<style>
.image-width {
  width: 100%;
}
</style>