<template>
  <div>
    <b-card-code title="Formulario preguntas comprador" v-if="show">
      <b-form @submit.prevent="enviarData">
        <b-row>
          <!--###### NUEVAS PREGUNTAS #####-->

          <!-- Pregunta 10 -->

          <b-col md="6">
            <b-form-group
              label="¿Cuál es el rango de precio de la compra?"
              label-for="pregunta1"
            >
              <b-form-group>
                <b-row>
                  <b-col>
                    <b-form-group>
                      <b-form-checkbox
                        id="casa"
                        name="casa"
                        value="Casa"
                        v-model="preguntas.respuesta1"
                      >
                        Casa
                      </b-form-checkbox>
                      <b-form-checkbox
                        id="apartamento"
                        name="apartamento"
                        value="apartamento"
                        v-model="preguntas.respuesta1"
                      >
                        Apartamento
                      </b-form-checkbox>
                      <b-form-checkbox
                        id="apartaestudio"
                        name="apartaestudio"
                        value="Apartaestudio"
                        v-model="preguntas.respuesta1"
                      >
                        Apartaestudio
                      </b-form-checkbox>
                      <b-form-checkbox
                        id="local"
                        name="local"
                        value="Local"
                        v-model="preguntas.respuesta1"
                      >
                        Local
                      </b-form-checkbox>
                    </b-form-group>
                  </b-col>
                  <b-col>
                    <b-form-group>
                      <b-form-checkbox
                        id="oficina"
                        name="oficina"
                        value="Oficina"
                        v-model="preguntas.respuesta1"
                      >
                        Oficina
                      </b-form-checkbox>
                      <b-form-checkbox
                        id="bodega"
                        name="bodega"
                        value="odega"
                        v-model="preguntas.respuesta1"
                      >
                        Bodega
                      </b-form-checkbox>
                      <b-form-checkbox
                        id="finca_campestre"
                        name="finca_campestre"
                        value="finca_campestre"
                        v-model="preguntas.respuesta1"
                      >
                        Finca Campestre
                      </b-form-checkbox>
                      <b-form-checkbox
                        id="lote"
                        name="lote"
                        value="lote"
                        v-model="preguntas.respuesta1"
                      >
                        Lote
                      </b-form-checkbox>
                    </b-form-group>
                  </b-col>
                </b-row>
              </b-form-group>
            </b-form-group>
          </b-col>

          <!-- Fin Pregunta 10 -->

          <!-- pregunta 4 -->
          <!-- Rango de precios de respuesta4 en 11.1-->

          <b-col md="6">
            <b-form-group
              label="¿Que tipo de inmueble esta buscando?"
              label-for="number"
            >
              <b-row>
                <!-- Rango Inicial -->
                <b-col lg="6">
                  <b-input-group prepend="$">
                    <cleave
                      id="rango_compra_inicial"
                      v-model="preguntas.respuesta2.inicial"
                      class="form-control"
                      :raw="false"
                      :options="noptions.number"
                      placeholder="Rango Inicial"
                    />
                    <b-input-group-append>
                      <b-form-select
                        id="divisa1"
                        v-model="preguntas.respuesta2.divisa"
                        :options="divisa"
                      >
                      </b-form-select>
                    </b-input-group-append>
                  </b-input-group>
                </b-col>
                <!-- rango final -->
                <b-col lg="6">
                  <b-input-group prepend="$">
                    <cleave
                      id="rango_compra_final"
                      v-model="preguntas.respuesta2.final"
                      class="form-control"
                      :raw="false"
                      :options="noptions.number"
                      placeholder="Rango Final"
                    />
                    <b-input-group-append>
                      <b-form-select
                        v-model="preguntas.respuesta2.divisa"
                        :options="divisa"
                      >
                      </b-form-select>
                    </b-input-group-append>
                  </b-input-group>
                </b-col>
              </b-row>
            </b-form-group>
          </b-col>

          <!-- Fin Rango de precios de respuesta4-->
          <!-- Fin pregunta 4  -->

          <!-- Pregunta 11 -->

          <b-col md="6">
            <b-form-group label-for="" label="¿Cual es la modalidad de compra?">
              <div class="form-label-group">
                <b-form-select
                  id="modalidad_compra"
                  v-model="preguntas.respuesta3"
                  :options="modalidadCompra"
                  placeholder="Selecciona la modalidad"
                ></b-form-select>
              </div>
            </b-form-group>
          </b-col>

          <!-- Fin Pregunta 11 -->

          <!-- Pregunta 3 -->

          <b-col md="6">
            <b-form-group label="¿Tiene credito aprobado?" label-for="mc-city">
              <!-- date and time -->
              <b-form-radio
                v-model="preguntas.respuesta4.valor"
                name="4"
                value="Si"
              >
                Si
              </b-form-radio>
              <b-col>
                <b-form-group
                  label="¿Cual es el valor del credito?."
                  label-for="mc-city"
                  v-if="preguntas.respuesta4.valor === 'Si'"
                >
                  <b-input-group prepend="$">
                    <cleave
                      id="rango_compra_final"
                      v-model="preguntas.respuesta4.subrespuesta"
                      class="form-control"
                      :raw="false"
                      :options="noptions.number"
                      placeholder="Valor"
                    />
                    <b-input-group-append>
                      <b-form-select
                        v-model="preguntas.respuesta4.divisa"
                        :options="divisa"
                      >
                      </b-form-select>
                    </b-input-group-append>
                  </b-input-group>
                </b-form-group>
              </b-col>
              <b-form-radio
                v-model="preguntas.respuesta4.valor"
                name="4"
                value="No"
              >
                No
              </b-form-radio>
            </b-form-group>
          </b-col>
          <!-- Fin Pregunta 3 -->

          <!-- Pregunta 12 -->
          <b-col md="6">
            <b-form-group
              label-for=""
              label="¿Cual es el valor de la cuota inicial que tiene disponible?"
            >
              <div class="form-label-group">
                <b-input-group prepend="$">
                  <cleave
                    id="5"
                    v-model="preguntas.respuesta5.value"
                    class="form-control"
                    :raw="false"
                    :options="noptions.number"
                    placeholder="Cuota inicial"
                  />
                  <b-input-group-append>
                    <b-form-select
                      v-model="preguntas.respuesta5.divisa"
                      :options="divisa"
                    >
                    </b-form-select>
                  </b-input-group-append>
                </b-input-group>
              </div>
            </b-form-group>
          </b-col>
        </b-row>

        <div class="mt-2">
          <h4>Ubicación del inmueble que esta buscando</h4>
        </div>

        <!-- Nuevas preguntas inician desde aqui  -->
        <b-row class="mt-2">
          <!-- Pregunta pais -->
          <b-col md="6">
            <b-form-group label="¿En que pais?" label-for="paises">
              <v-select
                v-model="preguntas.respuesta6.pais"
                :options="paises"
                label="name"
                :value="paises.id"
                @input="getEstados"
                input-id="paises"
                placeholder="Seleccionar"
              />
            </b-form-group>
          </b-col>
          <!-- Fin Pregunta pais -->
          <b-col md="6">
            <b-form-group label="¿En que departamento?" label-for="estados">
              <v-select
                v-model="preguntas.respuesta61.estado"
                :options="estados"
                label="name"
                :value="estados.id"
                @input="getCiudades"
                input-id="estados"
                placeholder="Seleccionar"
              />
            </b-form-group>
          </b-col>
          <!-- Pregunta Ciudades -->
          <b-col md="4">
            <b-form-group label="¿En que ciudad?" label-for="ciudades">
              <v-select
                v-model="preguntas.respuesta7.ciudad"
                :options="ciudades"
                label="name"
                :value="ciudades.id"
                @input="getZona"
                input-id="ciudades"
                placeholder="Seleccionar"
              />
            </b-form-group>
          </b-col>
          <!-- Fin preguntas ciudades -->

          <!-- Pregunta Zona -->

          <!-- field: Zona  -->
          <b-col md="2">
            <b-form-group label="Zona" label-for="zona">
              <v-select
                v-model="preguntas.respuesta8.zona"
                :options="zonas"
                label="name"
                :value="zonas.id"
                @input="getBarrio"
                :clearable="false"
                input-id="zona"
              />
            </b-form-group>
          </b-col>
          <b-col md="2">
            <b-form-group label="+" label-for="zonaAdd">
              <b-button
                variant="gradient-primary"
                class="btn-icon"
                v-b-modal.modal-zonas
              >
                <feather-icon icon="PlusCircleIcon" />
              </b-button>
              <strong> Agregar Zona </strong>
            </b-form-group>
          </b-col>
          <!-- Modal -->
          <b-modal
            ref="modalZona"
            id="modal-zonas"
            @show="resetModalZona"
            @hidden="resetModalZona"
            @ok="handleOkZona"
            ok-title="Registrar"
            cancel-title="Cancelar"
            centered
            size="lg"
            title="Agregar Zona"
          >
            <b-card-text>
              <b-row>
                <b-col>
                  <form ref="formZona" @submit.stop.prevent="handleSubmitZona">
                    <b-form-group
                      label="Agregar Zona"
                      label-for="basicInput"
                      invalid-feedback="La zona es requerida"
                      :state="zonaState"
                    >
                      <b-form-input
                        v-model="preguntas.respuesta8.zona"
                        id="basicInput"
                        :state="zonaState"
                        placeholder="Ingresar el nombre de la zona"
                      />
                    </b-form-group>
                  </form>
                </b-col>
              </b-row>
            </b-card-text>
          </b-modal>
          <!-- Fin Modal Zonas -->

          <!-- field: Barrio  -->
          <b-col md="2">
            <b-form-group label="Barrio" label-for="barrios">
              <v-select
                v-model="preguntas.respuesta9.barrio"
                :options="barrios"
                label="name"
                :value="barrios.id"
                :clearable="false"
                input-id="barrios"
              />
            </b-form-group>
          </b-col>
          <b-col md="2">
            <b-form-group label="+" label-for="BarrioAdd">
              <b-button
                variant="gradient-primary"
                class="btn-icon"
                v-b-modal.modal-barrio
              >
                <feather-icon icon="PlusCircleIcon" />
              </b-button>
              <strong> Agregar Barrio</strong>
            </b-form-group>
          </b-col>

          <!-- Modal Barrios-->
          <b-modal
            ref="modalBarrio"
            id="modal-barrio"
            @show="resetModalBarrio"
            @hidden="resetModalBarrio"
            @ok="handleOkBarrio"
            ok-title="Registrar"
            cancel-title="Cancelar"
            centered
            size="lg"
            title="Agregar Barrio"
          >
            <b-card-text>
              <b-row>
                <b-col>
                  <form
                    ref="formBarrio"
                    @submit.stop.prevent="handleSubmitBarrio"
                  >
                    <b-form-group
                      label="Agregar Barrio"
                      label-for="basicInputBarrio"
                      invalid-feedback="El Barrio es requerido"
                      :state="barrioState"
                    >
                      <b-form-input
                        v-model="preguntas.respuesta9.barrio"
                        id="basicInputBarrio"
                        :state="barrioState"
                        placeholder="Ingresar el nombre del barrio"
                      />
                    </b-form-group>
                  </form>
                </b-col>
              </b-row>
            </b-card-text>
          </b-modal>
        </b-row>
        <!-- Fin Pregunta Barrio Localidad -->

        <div class="mt-2">
          <h4>Caracteristicas del inmueble que esta buscando</h4>
        </div>
        <b-row class="mt-2">
          <!-- Pregunta Area ideal  -->
          <b-col md="6">
            <b-form-group label-for="" label="¿Área ideal para la propiedad?">
              <div class="form-label-group">
                <b-input-group>
                  <cleave
                    id="pregunta12"
                    v-model="preguntas.respuesta10.value"
                    class="form-control"
                    :raw="false"
                    :options="noptions.numberArea"
                    placeholder="Área"
                  />
                  <b-input-group-append>
                    <b-form-select
                      v-model="preguntas.respuesta10.longitud"
                      :options="tipoArea"
                    >
                    </b-form-select>
                  </b-input-group-append>
                </b-input-group>
              </div>
            </b-form-group>
          </b-col>
          <!-- Fin pregunta Area ideal  -->

          <!-- Pregunta hace cuanto tiempo -->
          <b-col md="6">
            <b-form-group label-for="" label="¿Número de habitaciones?">
              <div class="form-label-group">
                <b-form-select
                  id="numero_habitaciones"
                  v-model="preguntas.respuesta11.numero_habitaciones"
                  :options="cantHabitaciones"
                  placeholder="Selecciona un horario"
                ></b-form-select>
              </div>
            </b-form-group>
          </b-col>
          <!-- Fin Pregunta hace cuanto tiempo -->

          <!-- Pregunta informacion adiciona  -->

          <!-- Fin pregunta informacion adicional  -->
        </b-row>
        <b-row class="mt-2">
          <b-col md="12">
            <b-form-group
              label="¿Alguna caracteristica indispensable?"
              label-for=""
            >
              <quill-editor
                id="quil-content"
                v-model="preguntas.respuesta12.caracteristica"
                :options="editorOption"
                class="border-bottom-0"
                placeholder="Describa las caracteristicas mas importantes"
              />
              <div id="quill-toolbar"></div>
            </b-form-group>
          </b-col>
        </b-row>
        <div class="mt-2"><h4>Estimado de tiempo para la compra</h4></div>
        <b-row class="mt-2">
          <!-- Pregunta hace cuanto tiempo -->
          <b-col md="6">
            <b-form-group
              label-for=""
              label="¿Hace cuanto timepo esta buscando inmueble?"
            >
              <div class="form-label-group">
                <b-form-select
                  id="tipo_inmueble"
                  v-model="preguntas.respuesta13.tiempo_buscando"
                  :options="buscaInmueble"
                  placeholder="Selecciona un horario"
                ></b-form-select>
              </div>
            </b-form-group>
          </b-col>
          <!-- Fin Pregunta hace cuanto tiempo -->

          <!-- En cuanto tiempo necesita comprar propiedad -->
          <b-col md="6">
            <b-form-group
              label-for=""
              label="¿En cuanto tiempo necesita comprar propiedad?"
            >
              <div class="form-label-group">
                <b-form-select
                  id="tiempo_necesario"
                  v-model="preguntas.respuesta14.tiempo_necesitando"
                  :options="tiempoCompra"
                  placeholder="Selecciona un horario"
                ></b-form-select>
              </div>
            </b-form-group>
          </b-col>
          <!-- Fin En cuanto tiempo necesita comprar propiedad -->
        </b-row>

        <b-row> </b-row>

        <b-row>
          <b-col md="6">
            <b-button
              v-ripple.400="'rgba(255, 255, 255, 0.15)'"
              type="submit"
              variant="primary"
              class="mr-1"
            >
              Registrar preguntas
            </b-button>
          </b-col>
        </b-row>
      </b-form>
    </b-card-code>
  </div>
</template>

<script>
import {
  BRow,
  BCol,
  BFormGroup,
  BFormInput,
  BFormCheckbox,
  BForm,
  BButton,
  BFormTextarea,
  BFormDatalist,
  BFormRadio,
  BFormSelect,
  BFormTimepicker,
  BInputGroupPrepend,
  BInputGroupAppend,
  BDropdown,
  BDropdownItem,
  BDropdownDivider,
  BInputGroup,
  BCard,
  BFormInvalidFeedback,
  BIconEmojiNeutralFill,
} from "bootstrap-vue";

import BCardCode from "@core/components/b-card-code/BCardCode.vue";
import flatPickr from "vue-flatpickr-component";
import Ripple from "vue-ripple-directive";
import preguntaStoreModule from "../preguntaStoreModule";
import { onUnmounted } from "@vue/composition-api";
import store from "@/store/index";
import ToastificationContent from "@core/components/toastification/ToastificationContent.vue";
import Cleave from "vue-cleave-component";
import { ValidationProvider, ValidationObserver } from "vee-validate";
import { quillEditor } from "vue-quill-editor";
import vSelect from "vue-select";
// Numero con formato
import "cleave.js/dist/addons/cleave-phone.us";
//formulario
const REFERIDOS_APP_STORE_MODULE_NAME = "app-preguntas";

// Register module
if (!store.hasModule(REFERIDOS_APP_STORE_MODULE_NAME))
  store.registerModule(REFERIDOS_APP_STORE_MODULE_NAME, preguntaStoreModule);

// UnRegister on leave
onUnmounted(() => {
  if (store.hasModule(REFERIDOS_APP_STORE_MODULE_NAME))
    store.unregisterModule(REFERIDOS_APP_STORE_MODULE_NAME);
});
export default {
  props: {
    tipo: [String, Number],
  },
  components: {
    BRow,
    BCol,
    BCard,
    BFormTextarea,
    BFormGroup,
    BFormInput,
    BFormCheckbox,
    BForm,
    BButton,
    BCardCode,
    BFormDatalist,
    vSelect,
    flatPickr,
    BFormRadio,
    BFormSelect,
    BFormTimepicker,
    BInputGroupPrepend,
    BInputGroupAppend,
    BDropdown,
    BDropdownItem,
    BDropdownDivider,
    ToastificationContent,
    Cleave,
    BInputGroup,
    ValidationProvider,
    ValidationObserver,
    BFormInvalidFeedback,
    quillEditor,
  },
  data() {
    return {
      barrioState: null,
      zonaState: null,

      estado_pregunta: "inicial",
      editorOption: {
        modules: {
          toolbar: [
            ["bold", "italic"],
            [{ header: [1, 2, 3, 4, 5, 6, false] }],
          ],
        },
        placeholder: "Escribe una nota",
      },
      redes: [],
      tipo_documento: [
        { text: "Credito aprobado", value: "Credito aprobado" },
        { text: "credito pre aprobado", value: "credito pre aprobado" },
        { text: "Otro", value: "Otro" },
      ],
      queHorario: [
        { text: "08:00 AM a 10:00 AM", value: "08:00 AM a 10:00 AM" },
        { text: "10 AM a 12 AM", value: "10 AM a 12 AM" },
        { text: "12 PM a 02 PM", value: "12 PM a 02 PM" },
        { text: "02 PM a 04 PM", value: "02 PM a 04 PM" },
        { text: "04 PM a 06 PM", value: "04 PM a 06 PM" },
        { text: "06 PM a 08 PM", value: "06 PM a 08 PM" },
        { text: "Otro", value: "7" },
      ],
      zonasPregunta: [
        { text: "Selecciona una zona", value: "", disabled: true },
        { text: "Sur", value: "Sur" },
        { text: "Norte", value: "Norte" },
      ],

      barrioLocalidad: [
        {
          text: "Selecciona un barrio o localidad",
          value: null,
          disabled: true,
        },
        { text: "Melendes", value: "Melendes" },
        { text: "Ciudad Jardin", value: "Ciudad Jardin" },
      ],
      cantHabitaciones: [
        { text: "Selecciona la cantidad", value: "", disabled: true },
        { text: "1", value: "1" },
        { text: "2", value: "2" },
        { text: "3", value: "3" },
        { text: "4", value: "4" },
        { text: "5+", value: "otro" },
      ],
      modalidadCompra: [
        { text: "Selecciona un tipo de inmueble", value: "", disabled: true },
        { text: "Contado", value: "Contado" },
        { text: "Hipoteca", value: "Hipoteca" },
        { text: "Leasing", value: "Leasing" },
        { text: "Otro", value: "Otro" },
      ],

      options: ["Credito aprobado", "credito pre aprobado", "Otro"],
      dateNtim: null,
      dateDefault: null,
      checked: false,
      checked1: false,
      checked2: false,
      checked3: false,
      checked4: false,
      codigo: null,
      codigo_pais: 114,
      codigo_ciudad: 12,
      date: null,
      show: false,
      selected: null,
      selected1: null,

      divisa: [
        { text: "COP", value: "COP" },
        { text: "USD", value: "USD" },
      ],
      tipoArea: [
        { text: "Mt2", value: "Mt2" },
        { text: "Hectareas", value: "Hectareas" },
        { text: "Plazas", value: "Plazas" },
      ],
      buscaInmueble: [
        { text: "Selecciona un rango", value: "", disable: true },
        { text: "Menos de 1 Mes", value: "3" },
        { text: "de 1 a 6 Meses", value: "2" },
        { text: "Mas de 6 meses", value: "1" },
      ],
      tiempoCompra: [
        { text: "Selecciona un rango", value: "", disable: true },
        { text: "Menos de 1 Mes", value: "3" },
        { text: "de 1 a 3 Meses", value: "2" },
        { text: "No tengo afán", value: "1" },
      ],

      respuesta12: {
        divisa: "COP",
        value: "",
      },

      preguntas: {
        tipo_cliente: null,
        id_referido: null,

        pregunta1: 1,
        respuesta1: [],

        pregunta2: 2,
        respuesta2: {
          divisa: "COP",
          inicial: "",
          final: "",
        },

        pregunta3: 3,
        respuesta3: "",

        pregunta4: 4,
        respuesta4: {
          valor: "",
          subrespuesta: "",
          divisa: "COP",
        },

        pregunta5: 5,
        respuesta5: {
          divisa: "COP",
          value: "",
        },

        pregunta6: 6,
        respuesta6: {
          pais: null,
        },

        pregunta61: 61,
        respuesta61: {
          estado: null,
        },

        pregunta7: 7,
        respuesta7: {
          ciudad: null,
        },

        pregunta8: 8,
        respuesta8: {
          zona: null,
        },

        pregunta9: 9,
        respuesta9: {
          barrio: null,
        },

        pregunta10: 10,
        respuesta10: {
          longitud: "Mt2",
          value: "",
        },

        pregunta11: 11,
        respuesta11: {
          numero_habitaciones: "",
        },

        pregunta12: 12,
        respuesta12: {
          caracteristica: "",
        },

        pregunta13: 13,
        respuesta13: {
          tiempo_buscando: "",
        },

        pregunta14: 14,
        respuesta14: {
          tiempo_necesitando: "",
        },
      },

      noptions: {
        number: {
          numeral: true,
          numeralDecimalMark: ",",
          delimiter: ".",

          noImmediatePrefix: true,
        },
        numberArea: {
          numeral: true,
        },
      },

      estados: [],
      ciudades: [],
      zonas: [],
      barrios: [],
    };
  },

  directives: {
    Ripple,
  },
  computed: {
    paises() {
      return this.$store.state.appLocalidades.paises;
    },
  },

  async created() {
    this.$store.dispatch("appLocalidades/getPaises");

    if (this.$route.params.tipo == "cliente_comprador") {
      this.preguntas.tipo_cliente = "cliente_comprador";
      this.preguntas.id_referido = this.$route.params.id;
      this.show = true;

      await this.getPreguntas(this.$route.params.id);
    }
  },
  methods: {
    getEstados(codigo_parameter = null) {
      if (codigo_parameter == null) {
        this.preguntas.respuesta7.ciudad = null;
        this.storageStados(this.preguntas.respuesta6.pais.id);
        console.log(1);
      } else {
        if (typeof codigo_parameter.id != "undefined") {
          this.storageStados(codigo_parameter.id, "1");
        } else {
          this.storageStados(codigo_parameter, "1");
        }
      }
    },

    storageStados(codigo, tipo = null) {
      this.$store
        .dispatch("appLocalidades/getStates", { codigo })
        .then((response) => {
          this.estados = response;

          if (tipo != null) {
            this.preguntas.respuesta61.estado = response.filter((e) => {
              return e.id == this.preguntas.respuesta61.estado;
            });
          }
        })
        .catch((error) => {
          console.log(error);
        });
    },

    getCiudades(codigo = null) {
      if (codigo == null) {
        this.preguntas.respuesta8.zona = null;
        this.storageCiudad(this.preguntas.respuesta61.estado.id);
      } else {
        if (typeof codigo.id != "undefined") {
          this.storageCiudad(codigo.id, "1");
        } else {
          this.storageCiudad(codigo, "1");
        }
      }
    },

    storageCiudad(codigo, tipo = null) {
      this.$store
        .dispatch("appLocalidades/getCiudades", { codigo })
        .then((response) => {
          this.ciudades = response;

          if (tipo != null) {
            this.preguntas.respuesta7.ciudad = response.filter((e) => {
              return e.id == this.preguntas.respuesta7.ciudad;
            });
          }
        })
        .catch((error) => {
          console.log(error);
        });
    },

    getZona(codigo = null) {
      if (codigo == null) {
        this.preguntas.respuesta9.barrio = null;
        this.storageZona(this.preguntas.respuesta7.ciudad.id);
      } else {
        if (typeof codigo.id != "undefined") {
          this.storageZona(codigo.id, "1");
        } else {
          this.storageZona(codigo, "1");
        }
      }
    },

    storageZona(codigo, tipo = null) {
      this.$store
        .dispatch("appLocalidades/getZona", { codigo })
        .then((response) => {
          this.zonas = response;

          if (tipo != null) {
            this.preguntas.respuesta8.zona = response.filter((e) => {
              return e.id == this.preguntas.respuesta8.zona;
            });
          }
        })
        .catch((error) => {
          console.log(error);
        });
    },

    getBarrio(codigo = null) {
      if (codigo == null) {
        this.storageBarrio(this.preguntas.respuesta8.zona.id);
      } else {
        if (typeof codigo.id != "undefined") {
          this.storageBarrio(codigo.id, "1");
        } else {
          this.storageBarrio(codigo, "1");
        }
      }
    },

    storageBarrio(codigo, tipo = null) {
      this.$store
        .dispatch("appLocalidades/getBarrio", { codigo })
        .then((response) => {
          this.barrios = response;

          if (tipo != null) {
            this.preguntas.respuesta9.barrio = response.filter((e) => {
              return e.id == this.preguntas.respuesta9.barrio;
            });
          }
        })
        .catch((error) => {
          console.log(error);
        });
    },

    async getPreguntas(data) {
      store
        .dispatch("app-preguntas/listResponsePregunta", { id: data })
        .then((response) => {
          let preguntas = response.data.data.preguntas;
          let range = response.data.data.rangue[0];
          let mony = response.data.data.mony;

          this.estado_pregunta = preguntas[0].state;

          if (preguntas[0].tipo_formulario == "cliente_comprador") {
            if (preguntas[0].id_pregunta == 1) {
              if (preguntas[0].descripcion_respuesta != "Sin informacion") {
                this.preguntas.respuesta1 = preguntas[0].descripcion_respuesta.split(
                  ","
                );
              }
            }

            if (preguntas[1].id_pregunta == 2) {
              if (preguntas[1].descripcion_respuesta != "Sin informacion") {
                this.preguntas.respuesta2.inicial = range.inicial;
                this.preguntas.respuesta2.final = range.final;
              }
            }

            if (preguntas[2].id_pregunta == 3) {
              if (preguntas[2].descripcion_respuesta != "Sin informacion") {
                this.preguntas.respuesta3 = preguntas[2].descripcion_respuesta;
              }
            }

            if (preguntas[3].id_pregunta == 4) {
              if (preguntas[3].descripcion_respuesta != "Sin informacion") {
                let array = preguntas[3].descripcion_respuesta.split(", ");

                let value = null;
                let divisa = null;
                for (let i = 0; i < mony.length; i++) {
                  if (mony[i].id_respuesta_r == 4) {
                    value = mony[i].value;
                    divisa = mony[i].divisa;
                  }
                }
                this.preguntas.respuesta4.valor = array[0];
                this.preguntas.respuesta4.divisa = divisa;
                this.preguntas.respuesta4.subrespuesta = value;
              }
            }

            if (preguntas[4].id_pregunta == 5) {
              if (preguntas[4].descripcion_respuesta != "Sin informacion") {
                let value = null;
                let divisa = null;
                for (let i = 0; i < mony.length; i++) {
                  if (mony[i].id_respuesta_r == 5) {
                    value = mony[i].value;
                    divisa = mony[i].divisa;
                  }
                }

                this.preguntas.respuesta5.divisa = divisa;
                this.preguntas.respuesta5.value = value;
              }
            }

            if (preguntas[5].id_pregunta == 6) {
              if (preguntas[5].descripcion_respuesta != "Sin informacion") {
                this.preguntas.respuesta6.pais = this.paises.filter(function(
                  e
                ) {
                  return e.id == preguntas[5].descripcion_respuesta;
                });

                this.getEstados(preguntas[5].descripcion_respuesta);
              }
            }

            if (preguntas[6].id_pregunta == 61) {
              if (preguntas[6].descripcion_respuesta != "Sin informacion") {
                this.preguntas.respuesta61.estado =
                  preguntas[6].descripcion_respuesta;

                this.getCiudades(this.preguntas.respuesta61.estado);
              }
            }

            if (preguntas[7].id_pregunta == 7) {
              if (preguntas[7].descripcion_respuesta != "Sin informacion") {
                this.preguntas.respuesta7.ciudad =
                  preguntas[7].descripcion_respuesta;

                this.getZona(this.preguntas.respuesta7.ciudad);
              }
            }

            if (preguntas[8].id_pregunta == 8) {
              if (preguntas[8].descripcion_respuesta != "Sin informacion") {
                this.preguntas.respuesta8.zona =
                  preguntas[8].descripcion_respuesta;

                this.getBarrio(this.preguntas.respuesta8.zona);
              }
            }

            if (preguntas[9].id_pregunta == 9) {
              if (preguntas[9].descripcion_respuesta != "Sin informacion") {
                this.preguntas.respuesta9.barrio =
                  preguntas[9].descripcion_respuesta;
              }
            }

            if (preguntas[10].id_pregunta == 10) {
              if (preguntas[10].descripcion_respuesta != "Sin informacion") {
                let array = preguntas[10].descripcion_respuesta.split(" ");
                this.preguntas.respuesta10.longitud = array[0];
                this.preguntas.respuesta10.value = array[1];
              }
            }

            if (preguntas[11].id_pregunta == 11) {
              if (preguntas[11].descripcion_respuesta != "Sin informacion") {
                this.preguntas.respuesta11.numero_habitaciones =
                  preguntas[11].descripcion_respuesta;
              }
            }

            if (preguntas[12].id_pregunta == 12) {
              if (preguntas[12].descripcion_respuesta != "Sin informacion") {
                this.preguntas.respuesta12.caracteristica =
                  preguntas[12].descripcion_respuesta;
              }
            }

            if (preguntas[13].id_pregunta == 13) {
              if (preguntas[13].descripcion_respuesta != "Sin informacion") {
                this.preguntas.respuesta13.tiempo_buscando =
                  preguntas[13].descripcion_respuesta;
              }
            }

            if (preguntas[14].id_pregunta == 14) {
              if (preguntas[14].descripcion_respuesta != "Sin informacion") {
                this.preguntas.respuesta14.tiempo_necesitando =
                  preguntas[14].descripcion_respuesta;
              }
            }
          }
        })
        .catch((error) => {
          console.log(error);
        });
    },

    enviarData() {
      if (this.estado_pregunta == "inicial") {
        store
          .dispatch("app-preguntas/addPregunta", this.preguntas)
          .then((response) => {
            this.$toast({
              component: ToastificationContent,
              props: {
                title: "Gracias por responder",
                icon: "EditIcon",
                variant: "success",
              },
            });
            this.$router.push({ name: "apps-referido-list" });
          })
          .catch((error) => {
            console.log(error);

            this.$toast({
              component: ToastificationContent,
              props: {
                title: "Error de la informacion",
                icon: "EditIcon",
                variant: "danger",
              },
            });
          });
      } else {
        if (typeof this.preguntas.respuesta6.pais[0] != "undefined") {
          this.preguntas.respuesta6.pais = this.preguntas.respuesta6.pais[0];
        }

        if (this.preguntas.respuesta6.pais.length == 0) {
          this.preguntas.respuesta6.pais = null;
        }

        if (typeof this.preguntas.respuesta61.estado[0] != "undefined") {
          this.preguntas.respuesta61.estado = this.preguntas.respuesta61.estado[0];
        }
        if (this.preguntas.respuesta61.estado.length == 0) {
          this.preguntas.respuesta61.estado = null;
        }
        if (typeof this.preguntas.respuesta7.ciudad[0] != "undefined") {
          this.preguntas.respuesta7.ciudad = this.preguntas.respuesta7.ciudad[0];
        }

        if (this.preguntas.respuesta7.ciudad.length == 0) {
          this.preguntas.respuesta7.ciudad = null;
        }
        if (typeof this.preguntas.respuesta8.zona[0] != "undefined") {
          this.preguntas.respuesta8.zona = this.preguntas.respuesta8.zona[0];
        }
        if (this.preguntas.respuesta8.zona.length == 0) {
          this.preguntas.respuesta8.zona = null;
        }
        if (typeof this.preguntas.respuesta9.barrio[0] != "undefined") {
          this.preguntas.respuesta9.barrio = this.preguntas.respuesta9.barrio[0];
        }
        if (this.preguntas.respuesta9.barrio.length == 0) {
          this.preguntas.respuesta9.barrio = null;
        }

        store
          .dispatch("app-preguntas/editPregunta", this.preguntas)
          .then((response) => {
            this.$toast({
              component: ToastificationContent,
              props: {
                title: "Gracias por responder",
                icon: "EditIcon",
                variant: "success",
              },
            });
            this.$router.push({ name: "apps-referido-list" });
          })
          .catch((error) => {
            console.log(error);

            this.$toast({
              component: ToastificationContent,
              props: {
                title: "Error de la informacion",
                icon: "EditIcon",
                variant: "danger",
              },
            });
          });
      }
    },

    checkFormValidityBarrio() {
      const valid = this.$refs.formBarrio.checkValidity();
      this.barrioState = valid;
      return valid;
    },

    resetModalBarrio() {
      this.preguntas.respuesta9.barrio = null;
      this.barrioState = null;
    },

    handleOkBarrio(bvModalEvt) {
      bvModalEvt.preventDefault();
      this.handleSubmitBarrio();
    },

    hideModalBarrio() {
      this.$refs["modalBarrio"].hide();
    },

    handleSubmitBarrio() {
      if (!this.checkFormValidityBarrio()) {
        return;
      }

      let data = {
        zona_id: this.preguntas.respuesta8.zona.id,
        name: this.preguntas.respuesta9.barrio,
      };

      this.$store
        .dispatch("appLocalidades/saveBarrio", data)
        .then((response) => {
          this.preguntas.respuesta9.barrio = response;
          this.getBarrio();
          this.hideModalBarrio();
        })
        .catch((error) => {
          this.hideModalBarrio();
        });
    },

    checkFormValidityZona() {
      const valid = this.$refs.formZona.checkValidity();
      this.zonaState = valid;
      return valid;
    },

    resetModalZona() {
      (this.preguntas.respuesta8.zona = null), (this.zonaState = null);
    },

    handleOkZona(bvModalEvt) {
      bvModalEvt.preventDefault();
      this.handleSubmitZona();
    },

    hideModal() {
      this.$refs["modalZona"].hide();
    },

    handleSubmitZona() {
      if (!this.checkFormValidityZona()) {
        return;
      }

      let data = {
        ciudad_id: this.preguntas.respuesta7.ciudad.id,
        name: this.preguntas.respuesta8.zona,
      };

      this.$store
        .dispatch("appLocalidades/saveZona", data)
        .then((response) => {
          this.preguntas.respuesta8.zona = response;
          this.getZona();
          this.hideModal();
        })
        .catch((error) => {
          this.hideModal();
        });
    },
  },
};
</script>

<style lang="scss">
@import "@core/scss/vue/libs/quill.scss";
</style>
