<template>
  <div>
    <b-card-code title="Formulario preguntas vendedor" v-if="show">
      <b-form @submit.prevent="sendResponse">
        <b-row>
          <b-col cols="6">
            <b-form-group label="Tipo de inmueble" label-for="mc-company">
              <div class="form-label-group">
                <b-form-select
                  id="tipo_inmueble"
                  v-model="preguntas.respuesta1"
                  :options="tipo_documento"
                  placeholder=""
                ></b-form-select>
              </div>
            </b-form-group>
          </b-col>
          <b-col md="6">
            <b-form-group label-for="" label="Direccion">
              <div class="form-label-group">
                <b-form-input
                  v-model="preguntas.respuesta2"
                  id="direccion"
                  type="text"
                  placeholder="Escrible tu direccion"
                />
              </div>
            </b-form-group>
          </b-col>

          <b-col md="6">
            <b-form-group label-for="condominio" label="Condominio">
              <div class="form-label-group">
                <b-form-input
                  id="condominio"
                  v-model="preguntas.respuesta3"
                  placeholder="Escriba su respuesta"
                />
              </div>
            </b-form-group>
          </b-col>

          <b-col md="6">
            <b-form-group label-for="" label="Barrio">
              <div class="form-label-group">
                <b-form-input
                  id="mc-text"
                  v-model="preguntas.respuesta4"
                  type="text"
                  placeholder="Escribe tu respuesta"
                />
              </div>
            </b-form-group>
          </b-col>

          <b-col md="6">
            <b-form-group label-for="" label="Estrato">
              <div class="form-label-group">
                <b-form-select
                  id="tipo_inmueble"
                  v-model="preguntas.respuesta5"
                  :options="estrato"
                  placeholder=""
                ></b-form-select>
              </div>
            </b-form-group>
          </b-col>
          <b-col md="6">
            <b-form-group label-for="" label="Año de construcion">
              <div class="form-label-group">
                <flat-pickr
                  v-model="preguntas.respuesta6"
                  class="form-control"
                  :config="{ enableTime: true, dateFormat: 'Y-m-d' }"
                />
              </div>
            </b-form-group>
          </b-col>

          <b-col md="6">
            <b-form-group label-for="" label="Area lote">
              <div class="form-label-group">
                <b-form-input
                  v-model="preguntas.respuesta7"
                  id="area_lote"
                  type="text"
                  placeholder="Escribe tu respuesta"
                />
              </div>
            </b-form-group>
          </b-col>

          <b-col md="6">
            <b-form-group label-for="" label="Area construida">
              <div class="form-label-group">
                <b-form-input
                  v-model="preguntas.respuesta8"
                  id="area"
                  type="text"
                  placeholder="Area construccion"
                />
              </div>
            </b-form-group>
          </b-col>

          <b-col md="6">
            <b-form-group label-for="" label="Frente">
              <div class="form-label-group">
                <b-form-input
                  v-model="preguntas.respuesta9"
                  id="frente"
                  type="text"
                  placeholder="Escribe tu respueta"
                />
              </div>
            </b-form-group>
          </b-col>

          <b-col md="6">
            <b-form-group label-for="" label="Fondo">
              <div class="form-label-group">
                <b-form-input
                  v-model="preguntas.respuesta10"
                  id="fondo"
                  type="text"
                  placeholder="Escribe tu respuesta"
                />
              </div>
            </b-form-group>
          </b-col>

        </b-row>
        <b-col>
          <b-button
            v-ripple.400="'rgba(255, 255, 255, 0.15)'"
            type="submit"
            variant="primary"
            class="mr-1"
          >
            Registrar preguntas
          </b-button>
        </b-col>
      </b-form>
    </b-card-code>
  </div>
</template>

<script>
import Ripple from "vue-ripple-directive";
import {
  BRow,
  BCol,
  BFormGroup,
  BFormInput,
  BFormCheckbox,
  BForm,
  BButton,
  BFormText,
  BFormDatalist,
  BCard,
  BFormTextarea,
  BCardText,
  BFormSelect,
  BFormRadio,
} from "bootstrap-vue";
import flatPickr from "vue-flatpickr-component";
import BCardCode from "@core/components/b-card-code/BCardCode.vue";
import preguntaStoreModule from "../preguntaStoreModule";
import ToastificationContent from "@core/components/toastification/ToastificationContent.vue";
import { onUnmounted } from "@vue/composition-api";
import store from "@/store/index";

const REFERIDOS_APP_STORE_MODULE_NAME = "app-pregustas";

// Register module
if (!store.hasModule(REFERIDOS_APP_STORE_MODULE_NAME))
  store.registerModule(REFERIDOS_APP_STORE_MODULE_NAME, preguntaStoreModule);

// UnRegister on leave
onUnmounted(() => {
  if (store.hasModule(REFERIDOS_APP_STORE_MODULE_NAME))
    store.unregisterModule(REFERIDOS_APP_STORE_MODULE_NAME);
});
export default {
  components: {
    BRow,
    BCol,
    BFormGroup,
    BFormInput,
    BFormCheckbox,
    BForm,
    BButton,
    BFormText,
    BFormDatalist,
    BCardCode,
    BCard,
    flatPickr,
    BFormTextarea,
    BCardText,
    BFormSelect,
    BFormRadio,
  },

  data() {
    return {
      estado_pregunta: "inicial",
      show: false,
      tipo_documento: [
        { text: "Apartamento", value: "Apartamento" },
        { text: "Casa", value: "Casa" },
        { text: "Apartaestudio", value: "Apartaestudio" },
        { text: "Oficina", value: "Oficina" },
        { text: "Consultorio", value: "Consultorio" },
        { text: "Local", value: "Local" },
        { text: "Lote", value: "Lote" },
        { text: "Finca", value: "Finca" },
        { text: "Bodega", value: "Bodega" },
        { text: "Habitacion", value: "Habitacion" },
        { text: "Parqueadero", value: "Parqueadero" },
      ],
      estrato: [
        { text: "Estrato 1", value: "1" },
        { text: "Estrato 2", value: "2" },
        { text: "Estrato 3", value: "3" },
        { text: "Estrato 4", value: "4" },
        { text: "Estrato 5", value: "5" },
        { text: "Estrato 6", value: "6" },
        { text: "Estrato 7", value: "7" },
      ],
      servicio_publicos: [
        { text: "Energía, Acueducto", value: "Energía, Acueducto" },
        { text: "Alcantarillado", value: "Alcantarillado" },
        { text: "Gas Domiciliario", value: "Gas Domiciliario" },
      ],
      preguntas: {
        tipo_cliente: 'cliente_vendedor',
        id_referido: null,
        pregunta1: 1,
        respuesta1: "Apartamento",
        pregunta2: 2,
        respuesta2: null,
        pregunta3: 3,
        respuesta3: null,
        pregunta4: 4,
        respuesta4: null,
        pregunta5: 5,
        respuesta5: 1,
        pregunta6: 6,
        respuesta6: null,
        pregunta7: 7,
        respuesta7: null,
        pregunta8: 8,
        respuesta8: null,
        pregunta9: 9,
        respuesta9: null,
        pregunta10: 10,
        respuesta10: null,
      },
    };
  },
  directives: {
    Ripple,
  },
  created() {
    if (this.$route.params.tipo == "cliente_vendedor") {
     // this.preguntas.tipo_cliente = "";
      this.preguntas.id_referido = this.$route.params.id;
      this.show = true;

      this.getPreguntas(this.$route.params.id);
    }
  },

  methods: {
    getPreguntas(data) {
      store
        .dispatch("app-preguntas/getPregungaVendedor", { id: data })
        .then((response) => {

          let preguntas = response.data.data.preguntas;
          this.estado_pregunta = preguntas[0].state;
                  

          if (preguntas[0].tipo_formulario == "cliente_vendedor") {
            if (preguntas[0].id_pregunta == 1) {
              if (preguntas[0].descripcion_respuesta != "Sin informacion") {
                this.preguntas.respuesta1 = preguntas[0].descripcion_respuesta;
              }
            }
            if (preguntas[1].id_pregunta == 2) {
              if (preguntas[1].descripcion_respuesta != "Sin informacion") {
                this.preguntas.respuesta2 = preguntas[1].descripcion_respuesta;
              }
            }

            if (preguntas[2].id_pregunta == 3) {
              if (preguntas[2].descripcion_respuesta != "Sin informacion") {
                this.preguntas.respuesta3 = preguntas[2].descripcion_respuesta;
              }
            }

            if (preguntas[3].id_pregunta == 4) {
              if (preguntas[3].descripcion_respuesta != "Sin informacion") {
                this.preguntas.respuesta4 = preguntas[3].descripcion_respuesta;
              }
            }

            if (preguntas[4].id_pregunta == 5) {
              if (preguntas[4].descripcion_respuesta != "Sin informacion") {
                this.preguntas.respuesta5 = preguntas[4].descripcion_respuesta;
              }
            }

            if (preguntas[5].id_pregunta == 6) {
              if (preguntas[5].descripcion_respuesta != "Sin informacion") {
                this.preguntas.respuesta6 = preguntas[5].descripcion_respuesta;
              }
            }

            if (preguntas[6].id_pregunta == 7) {
              if (preguntas[6].descripcion_respuesta != "Sin informacion") {
                this.preguntas.respuesta7 = preguntas[6].descripcion_respuesta;
              }
            }

            if (preguntas[7].id_pregunta == 8) {
              if (preguntas[7].descripcion_respuesta != "Sin informacion") {
                this.preguntas.respuesta8 = preguntas[7].descripcion_respuesta;
              }
            }
            if (preguntas[8].id_pregunta == 9) {
              if (preguntas[8].descripcion_respuesta != "Sin informacion") {
                this.preguntas.respuesta9 = preguntas[8].descripcion_respuesta;
              }
            }
            if (preguntas[9].id_pregunta == 10) {
              if (preguntas[9].descripcion_respuesta != "Sin informacion") {
                this.preguntas.respuesta10 = preguntas[9].descripcion_respuesta;
              }
            }
          }
        })
        .catch((error) => {
          console.log(error);
        });
    },

    sendResponse() {
      if (this.estado_pregunta == "inicial") {
        store
          .dispatch("app-pregustas/addPregunta", this.preguntas)
          .then((response) => {
       
            console.log(response);
            this.$toast({
              component: ToastificationContent,
              props: {
                title: "Gracias por responder",
                icon: "EditIcon",
                variant: "success",
              },
            });
            this.$router.push({ name: "apps-referido-list" });
          })
          .catch((error) => {
            this.$toast({
              component: ToastificationContent,
              props: {
                title: error.data.message,
                icon: "EditIcon",
                variant: "danger",
              },
            });
          });
      } else {
        store
          .dispatch("app-preguntas/editPregunta", this.preguntas)
          .then((response) => {
           
            this.$toast({
              component: ToastificationContent,
              props: {
                title: "Gracias por responder",
                icon: "EditIcon",
                variant: "success",
              },
            });
            this.$router.push({ name: "apps-referido-list" });
          })
          .catch((error) => {
            console.log(error);

            this.$toast({
              component: ToastificationContent,
              props: {
                title: "Error de la informacion",
                icon: "EditIcon",
                variant: "danger",
              },
            });
          });
      }
    },
  },
};
</script>

<style></style>
