<template>
  <!-- Table Container Card -->
  <div>
    <b-container>
      <b-card no-body>
        <div class="m-2">
          <!-- Table Top -->
          <b-row>
            <!-- Per Page -->
            <b-col
              cols="12"
              md="6"
              class="
                d-flex
                align-items-center
                justify-content-start
                mb-1 mb-md-0
              "
            >
              <label>Entradas</label>

              <v-select
                v-model="perPageInternas"
                :options="pageOptionsInternas"
                :clearable="false"
                class="per-page-selector d-inline-block ml-50 mr-1"
              />
              <!-- <b-button variant="primary" :to="{ name: 'apps-referido-add' }">
            Agregar Departamentos
          </b-button> -->
            </b-col>

            <!-- Search -->
            <b-col cols="12" md="6">
              <div class="d-flex align-items-center justify-content-end">
                <b-form-input
                  v-model="filter"
                  class="d-inline-block mr-1"
                  placeholder="Buscar caracteristicas internas..."
                />
                <b-input-group-append>
                  <b-button :disabled="!filter" @click="filter = ''"
                    >limpiar</b-button
                  >
                </b-input-group-append>
              </div>
            </b-col>
          </b-row>
        </div>

        <!-- Main table element -->
        <b-table
          empty-text="No hay caracteristicas internas por el momento"
          :items="caracteristicasInternas"
          :fields="fields"
          responsive
          :current-page="currentPageInternas"
          :per-page="perPageInternas"
          :filter="filter"
          :filter-included-fields="filterOn"
          show-empty
          @filtered="onFiltered"
          class="position-relative"
          outlined
        >
          <template #cell(portales)="data">
            <b-button-group size="sm">
              <b-button
                size="sm"
                @click="
                  infoPortalCaracteristicaInternas(data.item, $event.target)
                "
                v-ripple.400="'rgba(113, 102, 240, 0.15)'"
                variant="primary"
              >
                <span class="align-middle">Portales</span>
              </b-button>
            </b-button-group>
          </template>
        </b-table>

        <div class="mx-2 mb-2">
          <b-row>
            <!-- Pagination -->
            <b-col
              cols="12"
              sm="6"
              class="
                d-flex
                align-items-center
                justify-content-center justify-content-sm-end
              "
            >
              <b-pagination
                v-model="currentPageInternas"
                :total-rows="totalRowsInternas"
                :per-page="perPageInternas"
                first-number
                last-number
                class="mb-0 mt-1 mt-sm-0"
                prev-class="prev-item"
                next-class="next-item"
              >
                <template #prev-text>
                  <feather-icon icon="ChevronLeftIcon" size="18" />
                </template>
                <template #next-text>
                  <feather-icon icon="ChevronRightIcon" size="18" />
                </template>
              </b-pagination>
            </b-col>
          </b-row>
        </div>
        
      </b-card>
      <b-card no-body>
        <div class="m-2">
          <!-- Table Top -->
          <b-row>
            <!-- Per Page -->
            <b-col
              cols="12"
              md="6"
              class="
                d-flex
                align-items-center
                justify-content-start
                mb-1 mb-md-0
              "
            >
              <label>Entradas</label>

              <v-select
                v-model="perPageExternas"
                :options="pageOptionsExternas"
                :clearable="false"
                class="per-page-selector d-inline-block ml-50 mr-1"
              />
              <!-- <b-button variant="primary" :to="{ name: 'apps-referido-add' }">
            Agregar Departamentos
          </b-button> -->
            </b-col>

            <!-- Search -->
            <b-col cols="12" md="6">
              <div class="d-flex align-items-center justify-content-end">
                <b-form-input
                  v-model="filterInternas"
                  class="d-inline-block mr-1"
                  placeholder="Buscar caracteristicas externas..."
                />
                <b-input-group-append>
                  <b-button :disabled="!filter" @click="filter = ''"
                    >limpiar</b-button
                  >
                </b-input-group-append>
              </div>
            </b-col>
          </b-row>
        </div>

        <!-- Main table element -->
        <b-table
          empty-text="No hay caracteristicas externas por el momento"
          :items="caracteristicasExternas"
          :fields="fields"
          responsive
          :current-page="currentPageExternas"
          :per-page="perPageExternas"
          :filter="filterInternas"
          :filter-included-fields="filterOn"
          show-empty
          @filtered="onFiltered"
          class="position-relative"
          outlined
        >
          <template #cell(portales)="data">
            <b-button-group size="sm">
              <b-button
                size="sm"
                @click="
                  infoPortalCaracteristicaExternas(data.item, $event.target)
                "
                v-ripple.400="'rgba(113, 102, 240, 0.15)'"
                variant="primary"
              >
                <span class="align-middle">Portales</span>
              </b-button>
            </b-button-group>
          </template>
        </b-table>

        <div class="mx-2 mb-2">
          <b-row>
            <!-- Pagination -->
            <b-col
              cols="12"
              sm="6"
              class="
                d-flex
                align-items-center
                justify-content-center justify-content-sm-end
              "
            >
              <b-pagination
                v-model="currentPageExternas"
                :total-rows="totalRowsExternas"
                :per-page="perPageExternas"
                first-number
                last-number
                class="mb-0 mt-1 mt-sm-0"
                prev-class="prev-item"
                next-class="next-item"
              >
                <template #prev-text>
                  <feather-icon icon="ChevronLeftIcon" size="18" />
                </template>
                <template #next-text>
                  <feather-icon icon="ChevronRightIcon" size="18" />
                </template>
              </b-pagination>
            </b-col>
          </b-row>
        </div>
        <modal-caracteristicas-internas ref="modalCaracteristicasInternas" />
        <modal-caracteristicas-externas ref="modalCaracteristicasExternas" />
      </b-card>
    </b-container>

    <tipo-oferta />
    <tipo-inmuebles />
  </div>
</template>

<script>
import {
  BCard,
  BRow,
  BCol,
  BFormInput,
  BButton,
  BTable,
  BMedia,
  BAvatar,
  BLink,
  BBadge,
  BDropdown,
  BDropdownItem,
  BPagination,
  BTooltip,
  BFormGroup,
  BFormSelect,
  BButtonGroup,
  BInputGroupAppend,
  BCardText,
  VBPopover,
  BContainer,
  BPopover,
  BModal,
  VBModal,
} from "bootstrap-vue";
import vSelect from "vue-select";
import BCardCode from "@core/components/b-card-code";
import Ripple from "vue-ripple-directive";
import modalCaracteristicasInternasVue from "./components/modalCaracteristicasInternas.vue";
import modalCaracteristicasExternasVue from "./components/modalCaracteristicasExternas.vue";
import tipoOfertaVue from "./tipoOferta.vue";
import tipoInmueblesVue from './tipoInmuebles.vue';

export default {
  components: {
    BCard,
    BRow,
    BCol,
    BFormInput,
    BButton,
    BTable,
    BMedia,
    BAvatar,
    BLink,
    BBadge,
    BDropdown,
    BDropdownItem,
    BPagination,
    BTooltip,
    BFormGroup,
    BFormSelect,
    vSelect,
    BButtonGroup,
    BInputGroupAppend,
    BCardCode,
    BCardText,
    BContainer,
    Ripple,
    BPopover,
    BModal,
    VBModal,
    "modal-caracteristicas-internas": modalCaracteristicasInternasVue,
    "modal-caracteristicas-externas": modalCaracteristicasExternasVue,
    "tipo-oferta": tipoOfertaVue,
    "tipo-inmuebles": tipoInmueblesVue
  },

  directives: {
    "b-popover": VBPopover,
    "b-modal": VBModal,
    Ripple,
  },

  data() {
    return {
      fields: [
        { key: "id", label: "Codigo", sortable: true },
        { key: "texto", label: "Nombre", sortable: true },
        { key: "value", label: "Valor", sortable: true },
        { key: "portales", label: "portales" },
      ],
      totalRowsInternas: 1,
      currentPageInternas: 1,
      perPageInternas: 5,
      pageOptionsInternas: [5, 10, 15, { value: 100, text: "Show a lot" }],

      totalRowsExternas: 1,
      currentPageExternas: 1,
      perPageExternas: 5,
      pageOptionsExternas: [5, 10, 15, { value: 100, text: "Show a lot" }],
      path: "http://wa.me/",
      filterInternas: null,
      filter: null,
      filterOn: [],
    };
  },

  mounted() {},
  setup() {},

  methods: {
    onFiltered(filteredItems) {
      this.totalRows = filteredItems.length;
      this.currentPNit = 1;
    },

    infoPortalCaracteristicaInternas(id, button) {
      this.$refs.modalCaracteristicasInternas.info(id, button);
    },

    infoPortalCaracteristicaExternas(id, button) {
      this.$refs.modalCaracteristicasExternas.info(id, button);
    },

    getCaracteristicasInternas() {
      this.$store
        .dispatch("apiInmueblePrivate/getCaracteristicasInternas", {})
        .then((res) => {
          this.totalRowsInternas = res.length;
        });
    },

    getCaracteristicasExternas() {
      this.$store
        .dispatch("apiInmueblePrivate/getCaracteristicasExternas", {})
        .then((res) => {
          this.totalRowsExternas = res.length;
        });
    },
  },
  created() {
    this.getCaracteristicasInternas();
    this.getCaracteristicasExternas();
  },

  computed: {
    caracteristicasInternas() {
      return this.$store.state.apiInmueblePrivate.caracteristicas_internas;
    },
    caracteristicasExternas() {
      return this.$store.state.apiInmueblePrivate.caracteristicas_externas;
    },
  },
};
</script>

<style lang="scss" scoped>
.per-page-selector {
  width: 90px;
}

.invoice-filter-select {
  min-width: 190px;

  ::v-deep .vs__selected-options {
    flex-wrap: nowrap;
  }

  ::v-deep .vs__selected {
    width: 100px;
  }
}
.per-page-selector {
  width: 90px;
}

.invoice-filter-select {
  min-width: 190px;

  ::v-deep .vs__selected-options {
    flex-wrap: nowrap;
  }

  ::v-deep .vs__selected {
    width: 100px;
  }
}

.width-data {
  max-width: 50%;
}
</style>

<style lang="scss">
@import "@core/scss/vue/libs/vue-select.scss";
</style>
