<template >
  <b-card>
    <b-tabs pills v-model="tabIndex">
      <!-- Tab: Account -->
      <b-tab active>
        <template #title>
          <feather-icon icon="UserIcon" size="16" class="mr-0 mr-sm-50" />
          <span class="d-none d-sm-inline">Datos basicos</span>
        </template>
        <b-media class="mb-2">
          <b-row>
            <b-col cols="12" sm="6" class="mb-2">
              <b-media class="mb-2">
                <div class="demo-inline-spacing">
                  <template>

                    <div v-if="imageData">
                      <b-avatar v-if="imageData.substr(0,4)=='http'"  v-bind:src="imageData" size="90px" rounded />
                      <b-avatar v-else-if="imageData.substr(0,4)=='data'"  v-bind:src="imageData" size="90px" rounded />
                      <b-avatar v-else  v-bind:src="'/storage/'+imageData" size="90px" rounded />
                    </div>
                  </template>
                  <h4 class="mb-1">Logo empresa</h4>
                </div>
              </b-media>
              <b-form-file
                @change="previewImage"
                ref="file-input"
                placeholder="click para seleccionar una imagen"
                browse-text="Cargar"
                class="mb-2"
              ></b-form-file>
            </b-col>
          </b-row>
        </b-media>
        <b-row>
          <!-- Field: Username -->
          <b-col cols="12" md="6">
            <b-form-group label="Nombre o Razon social" label-for="nombre">
              <b-form-input v-model="configuracion.nombre" id="nombre" />
            </b-form-group>
          </b-col>

          <b-col cols="12" md="4">
            <b-form-group label="Url de la empresa" label-for="nombre">
              <b-form-input v-model="slug" id="slug" /> 
            </b-form-group>
          </b-col>

          <b-col cols="12" md="2" style="padding: 2em 0em;">
            {{'.'+dominio}}
          </b-col>


          <!-- Field: Full Name -->

          <!-- Field: Email -->
          <b-col cols="12" md="4">
            <b-row>
              <b-col cols="9">
                <b-form-group label="Nit" label-for="nit">
                  <b-form-input
                    placeholder="nit"
                    v-model="configuracion.nit"
                    id="nit"
                    type="text"
                  />
                </b-form-group>
              </b-col>
              <b-col>
                <b-form-group label="DV" label-for="DV">
                  <b-form-input
                    id="DV"
                    type="text"
                    placeholder="DV"
                    v-model="configuracion.dv"
                  />
                </b-form-group>
              </b-col>
            </b-row>
          </b-col>
          <b-col cols="12" md="4">
            <b-form-group label="Telefono" label-for="telefono">
              <b-form-input
                placeholder="Escribe tu telefono"
                type="number"
                v-model="configuracion.telefono"
                id="telefono"
              />
            </b-form-group>
          </b-col>
          <b-col cols="12" md="4">
            <b-form-group label="E-mail" label-for="email">
              <b-form-input
                placeholder="Escribe tu email"
                type="email"
                v-model="configuracion.email"
                id="email"
              />
            </b-form-group>
          </b-col>
          <b-col cols="12" md="4">
            <b-form-group label="Celular" label-for="celular">
              <b-form-input
                placeholder="Escribe tu celular"
                type="number"
                v-model="configuracion.celular"
                id="celular"
              />
            </b-form-group>
          </b-col>
          

          <b-col cols="12" md="4">
            <b-form-group label="Pagina web" label-for="pagina_web">
              <b-form-input
                v-model="configuracion.pagina_web"
                id="pagina_web"
                type="text"
              />
            </b-form-group>
          </b-col>

          <b-col cols="12" md="4">
            <b-form-group label="Color Principal, Se usa en el Header, Footer y color de Botones." label-for="pagina_web">
              <b-form-input
                v-model="configuracion.color_primario"
                id="pagina_web"
                type="color"
              />
            </b-form-group>
          </b-col>

          <b-col cols="12" md="4">
              <b-form-group label="Color Secundario, Se usara como fondo de las propiedades y blogs." label-for="pagina_web">
                <b-form-input
                  v-model="configuracion.color_secundario"
                  id="pagina_web"
                  type="color"
                />
              </b-form-group>
          </b-col>


          <b-col cols="12" md="4">
              <b-form-group label="Color Fuente, es el color de fuentes del Color primario" label-for="pagina_web">
                <b-form-input
                  v-model="configuracion.font_color"
                  id="font_color"
                  type="color"
                />
              </b-form-group>
          </b-col>


          <!-- <b-col cols="12" md="6">
            <b-row
              v-for="(item, index) in itemsCorreo"
              :id="item.id"
              :key="item.id"
              ref="row"
            >
              <b-col md="6">
                <b-form-group label="* Correo electronico" label-for="v-correo">
                  <b-form-input
                    id="v-correo"
                    v-model="item.correo"
                    type="email"
                    placeholder="Escribe tu correo electronico"
                  />
                </b-form-group>
              </b-col>
              <b-col>
                <div class="demo-inline-spacing">
                  <b-button
                    v-ripple.400="'rgba(234, 84, 85, 0.15)'"
                    variant="outline-danger"
                    class="mt-0 mt-md-2"
                    @click="removeItemEmails(index)"
                  >
                    <feather-icon icon="Trash2Icon" class="mr-25" />
                  </b-button>
                  <b-button
                    v-ripple.400="'rgba(255, 255, 255, 0.15)'"
                    variant="primary"
                    @click="repeateAgainCorreo"
                  >
                    <feather-icon icon="PlusIcon" class="mr-25" />
                  </b-button>
                </div>
              </b-col>
            </b-row>

            <list-email-empresas :emails="configuracion.empresa_emails" />
            <list-numbers-empresas :numbers="configuracion.empresa_numbers" />
          </b-col>

          <b-col cols="12" md="6">
            <b-row
              v-for="(item, index) in itemsNumero"
              :id="item.id"
              :key="item.id"
              ref="row"
            >
              <b-col md="6">
                <b-form-group label="* Celular" label-for="v-celular">
                  <b-form-input
                    id="v-correo"
                    v-model="item.numero"
                    type="text"
                    placeholder="Escribe tu celular"
                  />
                </b-form-group>
              </b-col>
              <b-col>
                <div class="demo-inline-spacing">
                  <b-button
                    v-ripple.400="'rgba(234, 84, 85, 0.15)'"
                    variant="outline-danger"
                    class="mt-0 mt-md-2"
                    @click="removeItemNumero(index)"
                  >
                    <feather-icon icon="Trash2Icon" class="mr-25" />
                  </b-button>
                  <b-button
                    v-ripple.400="'rgba(255, 255, 255, 0.15)'"
                    variant="primary"
                    @click="repeateAgainNumero"
                  >
                    <feather-icon icon="PlusIcon" class="mr-25" />
                  </b-button>
                </div>
              </b-col>
            </b-row>

            <list-email-empresas :emails="configuracion.empresa_emails" />
            <list-numbers-empresas :numbers="configuracion.empresa_numbers" />
          </b-col>
          <b-col md="12">
            <b-row>
              <b-col md="6" v-if="numeros.length > 0">
                <list-numeros :numeros="numeros"></list-numeros>
              </b-col>

              <b-col md="6" v-if="numeros.length > 0">
                <list-correos :correos="correos"></list-correos>
              </b-col>
            </b-row>
          </b-col> -->
        </b-row>
      </b-tab>

      <b-tab>
        <template #title>
          <feather-icon icon="MapPinIcon" size="16" class="mr-0 mr-sm-50" />
          <span class="d-none d-sm-inline">Ubicacion</span>
        </template>
        <b-row>
          <!-- Columna 1  -->
          <b-col md="12" lg="12">
            <b-card-actions
              border-variant="primary"
              bg-variant="transparent"
              class="shadow-none"
              title="Ubicaciones"
              action-collapse
            >
              <b-row>
                <b-col>
                  <b-form-group label="Pais" label-for="paises">
                    <v-select
                      :options="paises"
                      :value="paises.id"
                      @input="getEstados"
                      v-model="configuracion.id_pais"
                      label="name"
                      placeholder="Seleccionar"
                    />
                  </b-form-group>
                </b-col>

                <!-- field: Departamento  -->
                <b-col>
                  <b-form-group label="Departamento" label-for="states">
                    <v-select
                      :options="estados"
                      :value="estados.id"
                      @input="getCiudades"
                      v-model="configuracion.id_estado"
                      label="name"
                      placeholder="Seleccionar"
                    />
                  </b-form-group>
                </b-col>

                <!-- field: Ciudad  -->
                <b-col>
                  <b-form-group label="Ciudad" label-for="ciudad">
                    <v-select
                      :options="ciudad"
                      :value="ciudad.id"
                      v-model="configuracion.id_ciudad"
                      label="name"
                      input-id="ciudad"
                      placeholder="Seleccionar"
                    />
                  </b-form-group>
                </b-col>
              </b-row>
            </b-card-actions>
          </b-col>
        </b-row>

        <b-row>
          <b-col cols="12">
            <div>
              <div>
                <GmapAutocomplete
                  @place_changed="setPlace"
                  class="button-google"
                  :options="{
                    fields: [
                      'geometry',
                      'formatted_address',
                      'address_components',
                    ],
                  }"
                />
                <b-button variant="primary" @click="addMarker">Buscar</b-button>
              </div>
              <br />
              <GmapMap
                :center="center"
                :zoom="18"
                style="width: 100%; height: 400px"
              >
                <GmapMarker
                  :key="index"
                  v-for="(m, index) in markers"
                  :position="m.position"
                  @click="center = m.position"
                />
              </GmapMap>
            </div>
          </b-col>
        </b-row>
      </b-tab>

      <!-- Tab: Information -->
      <b-tab>

        <template #title>
          <feather-icon icon="InfoIcon" size="16" class="mr-0 mr-sm-50" />
          <span class="d-none d-sm-inline">Descripcion</span>
        </template>

        <b-row>

          <b-col>
            
            <p>Descripción</p>

            <quill-editor
              v-model="configuracion.descripcion"
              :options="snowOption"
              id="quil-content"
              class="border-bottom-0"
            />
          </b-col>

        </b-row>

        <b-row>

          <b-col>
            
            <p>Misión</p>

            <quill-editor
              v-model="configuracion.mision"
              :options="snowOption"
              id="quil-content"
              class="border-bottom-0"
            />
          </b-col>

        </b-row>

        <b-row>

          <b-col>
            
            <p>Visión</p>

            <quill-editor
              v-model="configuracion.vision"
              :options="snowOption"
              id="quil-content"
              class="border-bottom-0"
            />
          </b-col>

        </b-row>

        

        <div id="quill-toolbar" class="d-flex justify-content-end border-top-0">
          <!-- Add a bold button -->
          <button class="ql-bold" />
          <button class="ql-italic" />
          <button class="ql-underline" />
          <button class="ql-align" />
          <button class="ql-link" />
        </div>

      </b-tab>

      <!-- Tab: Social -->
      <b-tab>
        <template #title>
          <feather-icon icon="Share2Icon" size="16" class="mr-0 mr-sm-50" />
          <span class="d-none d-sm-inline">Redes sociales</span>
        </template>
        <b-row>
          <b-col
            v-for="socialField in socialInputs"
            :key="socialField.dataField"
            cols="12"
            md="6"
            lg="4"
          >
            <b-form-group
              :label="socialField.label"
              :label-for="socialField.dataField"
            >
              <b-input-group class="input-group-merge">
                <b-input-group-prepend is-text>
                  <feather-icon size="16" :icon="socialField.icon" />
                </b-input-group-prepend>
                <b-form-input
                  :id="socialField.dataField"
                  v-model="configuracion[socialField.dataField]"
                  type="url"
                />
              </b-input-group>
            </b-form-group>
          </b-col>
        </b-row>
      </b-tab>
    </b-tabs>

    <b-row class="mt-3">
      <b-col>
        <b-button
          variant="primary"
          class="mb-1 mb-sm-0 mr-0 mr-sm-1"
          @click="sendData()"
        >
          Guardar cambios 
        </b-button>
      </b-col>
    </b-row>
  </b-card>
</template>

<script>
import {
  BTab,
  BTabs,
  BCard,
  BAlert,
  BLink,
  BButton,
  BCol,
  BRow,
  BMedia,
  BAvatar,
  BFormFile,
  BFormCheckbox,
  BFormGroup,
  BFormInput,
  BFormSelect,
  BFormInvalidFeedback,
  BFormCheckboxGroup,
  BFormRadio,
  BFormDatepicker,
  BButtonGroup,
  BInputGroupPrepend,
  BForm,
  BInputGroup,
} from "bootstrap-vue";
import ToastificationContent from "@core/components/toastification/ToastificationContent.vue";
import { required, email } from "@validations";
import Ripple from "vue-ripple-directive";
import vSelect from "vue-select";
import BCardActions from "@core/components/b-card-actions/BCardActions.vue";
import "vue-form-wizard/dist/vue-form-wizard.min.css";
import { onUnmounted } from "@vue/composition-api";
import store from "@/store/index";
import perfilStoreModule from "../perfil/perfilStoreModule";
import EmpresaEditTabAccountVue from "./components/EmpresaEditTabAccount.vue";
import EmpresaEditTabInformationVue from "./components/EmpresaEditTabInformation.vue";
import EmpresaEditTabSocialVue from "./components/EmpresaEditTabSocial.vue";
import EmpresaEditTabLocalizationVue from "./components/EmpresaEditTabLocalization.vue";
import { quillEditor } from "vue-quill-editor";
import { heightTransition } from "@core/mixins/ui/transition";
import ListCelularVue from "../clientes/components/ListCelular.vue";
import ListCorreoVue from "../clientes/components/ListCorreo.vue";

const PERFIL_APP_STORE_MODULE_NAME = "app-perfil";

// Register module
if (!store.hasModule(PERFIL_APP_STORE_MODULE_NAME))
  store.registerModule(PERFIL_APP_STORE_MODULE_NAME, perfilStoreModule);

// UnRegister on leave
onUnmounted(() => {
  if (store.hasModule(PERFIL_APP_STORE_MODULE_NAME))
    store.unregisterModule(PERFIL_APP_STORE_MODULE_NAME);
});

export default {
  components: {
    BTab,
    BTabs,
    BCard,
    BAlert,
    BLink,
    BButton,
    BCol,
    BFormFile,
    BRow,
    BMedia,
    BAvatar,

    BForm,
    "empresa-edict-account": EmpresaEditTabAccountVue,
    "empresa-edict-information": EmpresaEditTabInformationVue,
    "empresa-edict-tab-social": EmpresaEditTabSocialVue,
    "empresa-edict-tab-localization": EmpresaEditTabLocalizationVue,

    ToastificationContent,
    BFormCheckbox,
    BFormGroup,
    BFormInput,
    BFormSelect,
    vSelect,
    BFormInvalidFeedback,
    BCardActions,
    BInputGroup,
    BFormCheckboxGroup,
    BFormRadio,
    BFormDatepicker,
    BButtonGroup,
    BInputGroupPrepend,
    required,
    email,
    quillEditor,
    "list-numeros": ListCelularVue,
    "list-correos": ListCorreoVue,
  },
  directives: {
    Ripple,
  },

  computed: {
    userdata() {
      return this.$store.state.userData.userData;
    },

    configur() {
      return this.$store.state.appConfiguracion.configuracion;
    },

    dominio() {
      return this.$store.state.appConfiguracion.dominio;
    },


    paises() {
      return this.$store.state.appLocalidades.paises;
    },
    estados() {
      return this.$store.state.appLocalidades.estados;
    },

    ciudad() {
      return this.$store.state.appLocalidades.ciudades;
    },

     generarSlug:{
      get(){
        this.configuracion.slug=this.configuracion.nombre;
        this.configuracion.slug = this.configuracion.slug.replace(/[`~!@#$%^&*()_\-+=\[\]{};:'"\\|\/,.<>?\s]/g, ' ').toLowerCase();
        this.configuracion.slug = this.configuracion.slug.replace(/^\s+|\s+$/gm, '');
        this.configuracion.slug = this.configuracion.slug.replace(/\s+/g, '-');
        this.configuracion.slug = this.configuracion.slug.replace('&/g', 'y');

        return this.configuracion.nombre;
      },
      set(newValue){
        this.configuracion.nombre=newValue;
      }
    },
    slug: function() {
       this.configuracion.slug = this.sanitizeTitle(this.configuracion.nombre);
      return this.configuracion.slug;
    }
  },

  data() {
    return {
     // dominio:'crmaddy.online',
      tabIndex:1,
      loading: "",
      imageData: "",
      imageDataPortada: "",
      file: "",
      payLoad: null,
      correos: [],
      numeros: [],
      snowOption: {
        modules: {
          toolbar: "#quill-toolbar",
        },
        placeholder:
          "En este apartado, escribe toda la descripción necesaria para tus clientes.",
        // readOnly: true,
      },
      descripcion: null,
      social: {},
      nextTodoId: 2,
      nextTodoIdNumero: 2,

      socialInputs: [
        {
          icon: "LinkedinIcon",
          dataField: "linkedin",
          label: "linkedin",
        },
        {
          icon: "FacebookIcon",
          dataField: "facebook",
          label: "facebook",
        },
        {
          icon: "InstagramIcon",
          dataField: "instagram",
          label: "instagram",
        },
      ],
      itemsCorreo: [
        {
          id: 1,
          selected: "male",
          selected1: "designer",
          prevHeight: 0,
          correo: "",
        },
      ],
      itemsNumero: [
        {
          id: 1,
          selected: "male",
          selected1: "designer",
          prevHeight: 0,
          numero: "",
        },
      ],

      componentKey: 0,
      configuracion: {
        id: null,
        logo: null,
        email: null,
        genero: null,
        nombre: null,
        slug: null,
        slogan: null,
        nit: null,
        pagina_web: null,
        razon_social: "",
        direccion: "",
        latitud: null,
        longitud: null,
        email: null,
        celular: null,
        descripcion: "",
        id_pais: null,
        id_ciudad: null,
        id_estado: null,
        linkedin: "",
        facebook: "",
        instagram: "",
        color_primario: "",
        color_secundario: "",
        font_color: "",
        complete: "",
        mision: "",
        vision: "",
      },

      center: { lat: 45.508, lng: -73.587 },
      currentPlace: null,
      markers: [],
      places: [],
      results: null,
    };
  },

  mixins: [heightTransition],

  mounted() {
    this.geolocate();
    this.initTrHeight();
  },

  created() {
    window.addEventListener("resize", this.initTrHeight);
    this.getPaises();

    this.getEmpresa();

    this.$store.dispatch('appConfig/setNavMenuhidden', true).then(()=>this.loading=false);
    //this.$store.appConfig.layout.menu.hidden=true;

  },

  destroyed() {
    window.removeEventListener("resize", this.initTrHeight);
  },

  methods: {
    // repeateAgainCorreo() {
    //   this.itemsCorreo.push({
    //     id: (this.nextTodoId += this.nextTodoId),
    //   });

    //   this.$nextTick(() => {
    //     this.trAddHeight(this.$refs.row[0].offsetHeight);
    //   });
    // },

    // removeItemEmails(index) {
    //   this.itemsCorreo.splice(index, 1);
    //   this.trTrimHeight(this.$refs.row[0].offsetHeight);
    // },

    // removeItemNumero(index) {
    //   this.itemsNumero.splice(index, 1);
    //   this.trTrimHeight(this.$refs.row[0].offsetHeight);
    // },

    // repeateAgainNumero() {
    //   this.itemsNumero.push({
    //     id: (this.nextTodoId += this.nextTodoId),
    //   });

    //   this.$nextTick(() => {
    //     this.trAddHeight(this.$refs.row[0].offsetHeight);
    //   });
    // },

    sanitizeTitle: function(title) {

      if(title!=null){

        var slug = "";
        // Change to lower case
        var titleLower = title.toLowerCase();
        // Letter "e"
        slug = titleLower.replace(/e|é|è|ẽ|ẻ|ẹ|ê|ế|ề|ễ|ể|ệ/gi, 'e');
        // Letter "a"
        slug = slug.replace(/a|á|à|ã|ả|ạ|ă|ắ|ằ|ẵ|ẳ|ặ|â|ấ|ầ|ẫ|ẩ|ậ/gi, 'a');
        // Letter "o"
        slug = slug.replace(/o|ó|ò|õ|ỏ|ọ|ô|ố|ồ|ỗ|ổ|ộ|ơ|ớ|ờ|ỡ|ở|ợ/gi, 'o');
        // Letter "u"
        slug = slug.replace(/u|ú|ù|ũ|ủ|ụ|ư|ứ|ừ|ữ|ử|ự/gi, 'u');
        // Letter "d"
        slug = slug.replace(/đ/gi, 'd');
        // Trim the last whitespace
        slug = slug.replace(/\s*$/g, '');
        // Change whitespace to "-"
        slug = slug.replace(/\s+/g, '-');

        /*   # % & * { } \ : < > ? / +  */

        slug = slug.replace('&', 'y');

      }else{

        slug='';
      }
      
      return slug;
    },

    initTrHeight() {
      this.trSetHeight(null);
      this.$nextTick(() => {});
    },

    getEmpresa() {
      this.$store
        .dispatch("appConfiguracion/getEmpresa")
        .then((response) => {
          if (response == null) {
          } else {
            localStorage.setItem("empresa", JSON.stringify(response));

            this.configuracion = {
              id: response.id,
              logo: response.logo == "null" ? "" : response.logo,
              email: response.email == "null" ? "" : response.email,
              celular: response.celular == "null" ? "" : response.celular,

              genero: response.genero == "null" ? "" : response.genero,
              nombre: response.nombre == "null" ? "" : response.nombre,
              nit: response.nit == "null" ? "" : response.nit,
              dv: response.dv == "null" ? "" : response.dv,

              telefono: response.telefono == "null" ? "" : response.telefono,
              descripcion: response.descripcion == "null" ? "" : response.descripcion,
              direccion: response.direccion == "null" ? "" : response.direccion,
              pagina_web:  response.pagina_web == "null" ? "" : response.pagina_web,
              razon_social:  response.razon_social == "null" ? "" : response.razon_social,
              id_pais: response.id_pais == "null" ? "" : response.id_pais,
              id_estado: response.id_estado == "null" ? "" : response.id_estado,
              id_ciudad: response.id_ciudad == "null" ? "" : response.id_ciudad,
              facebook: response.facebook == "null" ? "" : response.facebook,
              instagram: response.instagram == "null" ? "" : response.instagram,
              linkedin: response.linkedin == "null" ? "" : response.linkedin,
              color_primario: response.color_primario == "null" ? "" : response.color_primario,
              color_secundario: response.color_secundario == "null" ? "" : response.color_secundario,
              font_color: response.font_color == "null" ? "" : response.font_color,
              mision: response.mision == "null" ? "" : response.mision,
              vision: response.vision == "null" ? "" : response.vision,
              latitud: response.latitud,
              longitud: response.longitud,
              complete: response.complete,
              slug: response.slug,
            };

            console.log(response);
          
            if(response.complete=='1'){
              this.$store.dispatch('appConfig/setNavMenuhidden', false).then(()=>this.loading=false);
            }


            (this.correos = response.empresa_emails),
              (this.numeros = response.empresa_numbers),
              this.getImagenes();
            this.getEstados();
            this.getCiudades();

          
            
          }
        })
        .catch((error) => {
          console.log(error);
        });
    },

    getDominio() {
      this.$store
        .dispatch("appConfiguracion/getEmpresa")
        .then((response) => {
          if (response == null) {
          } else {
            this.dominio = response.dominio;
            console.log('respose '+response);
            console.log(this.dominio);
          }
        })
        .catch((error) => {
          console.log(error);
        });
    },




    getPaises() {
      this.$store
        .dispatch("appLocalidades/getPaises")
        .then((response) => {})
        .catch((error) => {
          console.log(error);
        });
    },

    getEstados() {
      this.$store
        .dispatch("appLocalidades/getStates", {
          codigo: this.configuracion.id_pais.id,
        })
        .then((response) => {})
        .catch((error) => {
          console.log(error);
        });
    },

    getCiudades() {
      this.$store
        .dispatch("appLocalidades/getCiudades", {
          codigo: this.configuracion.id_estado.id,
        })
        .then((response) => {})
        .catch((error) => {
          console.log(error);
        });
    },

    setPlace(place) {
      this.configuracion.direccion = place.formatted_address;
      this.configuracion.latitud = place.geometry.location.lat();
      this.configuracion.longitud = place.geometry.location.lng();

      this.currentPlace = place;
    },

    addMarker() {
      if (this.currentPlace) {
        const marker = {
          lat: this.currentPlace.geometry.location.lat(),
          lng: this.currentPlace.geometry.location.lng(),
        };
        this.markers.push({ position: marker });
        this.places.push(this.currentPlace);
        this.center = marker;
        this.currentPlace = null;
      }
    },

    geolocate: function () {
      if (this.configuracion.id != null) {
        const marker = {
          lat: parseFloat(this.configuracion.latitud),
          lng: parseFloat(this.configuracion.longitud),
        };
        this.markers.push({ position: marker, title: this.inmueble.direccion });
        this.center = marker;
      } else {
        this.center = {
          lat: 3.42158,
          lng: -76.5205,
        };
      }
    },

    getImagenes() {
     //
      

      if(this.configuracion.logo.substr(0,4)=='http'){
        this.imageData = this.configuracion.logo;
      }else if(this.configuracion.logo.substr(0,4)=='data'){
        this.imageData = this.configuracion.logo;
      }else{
        this.imageData = "/storage/" + this.configuracion.logo;
      }

      
    },

    sendData() {
      this.enviarData();

    },

    enviarData() {
      if (this.itemsNumero.lenght > 0) {
        this.itemsNumero.forEach((element) => {
          this.configuracion.numeros.push({ numero: element.numero });
        });
      }

      if (this.itemsCorreo.lenght > 0) {
        this.itemsCorreo.forEach((element) => {
          this.configuracion.correos.push({ correo: element.correo });
        });
      }
      let formData = new FormData();

      if (this.configuracion.logo != "") {
        formData.append("logo", this.configuracion.logo);
      }
      formData.append("id", this.configuracion.id);

      formData.append("agente", this.userdata.id);
      formData.append("id_pais", JSON.stringify(this.configuracion.id_pais));
      formData.append(
        "id_estado",
        JSON.stringify(this.configuracion.id_estado)
      );
      formData.append(
        "id_ciudad",
        JSON.stringify(this.configuracion.id_ciudad)
      );
      // formData.append("slogan", this.configuracion.slogan);
      formData.append("nombre", this.configuracion.nombre);
      formData.append("nit", this.configuracion.nit);
      formData.append("dv", this.configuracion.dv);

      formData.append("telefono", this.configuracion.telefono);
      // formData.append("razon_social", this.configuracion.razon_social);

      formData.append("email", this.configuracion.email);
      formData.append("celular", this.configuracion.celular);

      formData.append("pagina_web", this.configuracion.pagina_web);
      formData.append("descripcion", this.configuracion.descripcion);
      formData.append("facebook", this.configuracion.facebook);
      formData.append("instagram", this.configuracion.instagram);
      formData.append("linkedin", this.configuracion.linkedin);
      formData.append("latitud", this.configuracion.latitud);
      formData.append("longitud", this.configuracion.longitud);
      formData.append("direccion", this.configuracion.direccion);
      formData.append("color_primario", this.configuracion.color_primario);
      formData.append("color_secundario", this.configuracion.color_secundario);
      formData.append("font_color", this.configuracion.font_color);
      formData.append("mision", this.configuracion.mision);
      formData.append("vision", this.configuracion.vision);
      formData.append("slug", this.configuracion.slug);

      this.$store
        .dispatch("appConfiguracion/addEmpresa", formData)
        .then((response) => {

          //console.log(response);

          localStorage.setItem("empresa", JSON.stringify(response.data.data.empresa));

          (this.itemsCorreo = [
            {
              id: 1,
              selected: "male",
              selected1: "designer",
              prevHeight: 0,
              correo: "",
            },
          ]),
            (this.itemsNumero = [
              {
                id: 1,
                selected: "male",
                selected1: "designer",
                prevHeight: 0,
                numero: "",
              },
            ]),
            this.$swal({
              title: response.data.message,
              text: "Haga clic en el botón!",
              icon: "success",
              customClass: {
                confirmButton: "btn btn-primary",
              },
              buttonsStyling: false,
            });

          this.componentKey += 1;
          this.getEmpresa();

          if(this.tabIndex==3){
            this.tabIndex=0;
          }else{
            this.tabIndex=this.tabIndex+1;
          }
          

        })
        .catch((error) => {
          console.log(error);
          this.$toast({
            component: ToastificationContent,
            props: {
              title: error.data.errorMessage,
              icon: "EditIcon",
              variant: "danger",
            },
          });
        });
    },

    previewImage: function (event) {
      var input = event.target;
      this.configuracion.logo = input.files[0];
      console.log(this.configuracion.logo);
      if (input.files && input.files[0]) {
        var reader = new FileReader();
        reader.onload = (e) => {
          this.imageData = e.target.result;
          console.log(this.imageData);
        };
        reader.readAsDataURL(input.files[0]);
      }
    },

    socio(data) {
      let user = JSON.parse(localStorage.getItem("configuracion"));
      this.configuracion.id = user.id_user;
      if (data === "agentes") {
        this.configuracion.tipo_cliente = "agentes";
      } else {
        this.configuracion.tipo_cliente = "socio_referidor";
      }
    },
    validationTipoCliente() {
      this.enviarData();
    },
    toggleIndeterminate() {
      this.indeterminate = !this.indeterminate;
    },

    //formulario para enviar informacion
  },
};
</script>

<style></style>
