<template>
  <!-- Table Container Card -->
  <b-card no-body>
    <div class="m-1">
      <!-- Table Top -->
      <div class="demo-inline-spacing">
        <div class="card-addy" v-for="por in portales" :key="por.id">
          <img
            :src="'/storage/' + por.image"
            alt="Avatar"
            class="img-card-portal"
          />
          <div class="container-card-addy">
            <button-credential :portal_pros="por" />
          </div>
        </div>
      </div>
    </div>

    <!-- Main table element -->

    <modal-portales-credentials-fincaraiz ref="modalPortalesCredentiales" />
    <modal-portales-credentials-clasificados-pais
      ref="modalPortalesCredentialesClasificadosPais"
    />
    <modal-portales-credentials-metrocuadrado
      ref="modalPortalesCredentialsMetrocuadrado"
    />
    <modal-portales-credentials-punto-propiedad
      ref="modalPortalesCredentialsPuntoPropiedad"
    />

<modal-portales-credentials-ciencuadra ref="modalPortalesCredentialsCiencuadra" />
  </b-card>
</template>

<script>
import {
  BCard,
  BRow,
  BCol,
  BFormInput,
  BButton,
  BTable,
  BMedia,
  BAvatar,
  BLink,
  BBadge,
  BDropdown,
  BDropdownItem,
  BPagination,
  BTooltip,
  BFormGroup,
  BFormSelect,
  BButtonGroup,
  BInputGroupAppend,
  BCardText,
  VBPopover,
  BPopover,
  BModal,
  VBModal,
} from "bootstrap-vue";
import vSelect from "vue-select";
import BCardCode from "@core/components/b-card-code";
import Ripple from "vue-ripple-directive";
import buttonCredentialPortalVue from "./components/button-credential-portal.vue";
import modalPortalesCredencialesFincaraizVue from "./components/modalPortalesCredencialesFincaraiz.vue";
import modalPortalesCredencialesClasificadosPaisVue from "./components/modalPortalesCredencialesClasificadosPais.vue";
import modalPortalesCredencialesMetroCuadradoVue from "./components/modalPortalesCredencialesMetroCuadrado.vue";
import modalPortalesCredencialesPuntoPropiedadVue from "./components/modalPortalesCredencialesPuntoPropiedad.vue";
import modalPortalesCredencialesCiencuadrasVue from './components/modalPortalesCredencialesCiencuadras.vue';

export default {
  components: {
    BCard,
    BRow,
    BCol,
    BFormInput,
    BButton,
    BTable,
    BMedia,
    BAvatar,
    BLink,
    BBadge,
    BDropdown,
    BDropdownItem,
    BPagination,
    BTooltip,
    BFormGroup,
    BFormSelect,
    vSelect,
    BButtonGroup,
    BInputGroupAppend,
    BCardCode,
    BCardText,
    Ripple,
    BPopover,
    BModal,
    VBModal,
    "modal-portales-credentials-fincaraiz":
      modalPortalesCredencialesFincaraizVue,
    "modal-portales-credentials-clasificados-pais":
      modalPortalesCredencialesClasificadosPaisVue,
    "modal-portales-credentials-metrocuadrado":
      modalPortalesCredencialesMetroCuadradoVue,
    "modal-portales-credentials-punto-propiedad":
      modalPortalesCredencialesPuntoPropiedadVue,
    "modal-portales-credentials-ciencuadra":
      modalPortalesCredencialesCiencuadrasVue,

    "button-credential": buttonCredentialPortalVue,
  },

  directives: {
    "b-popover": VBPopover,
    "b-modal": VBModal,
    Ripple,
  },

  mounted() {
    this.$root.$on(
      "portal-credential",
      function (payLoad) {
        if (this.payLoad != payLoad) {
          this.portalCredential(payLoad);
        }
      }.bind(this)
    );
  },

  computed: {
    portales() {
      return this.$store.state.appPortales.portales;
    },
  },

  data() {
    return {
      fields: [
        { key: "id", label: "Codigo", sortable: true },
        { key: "image", label: "Imagen", sortable: true },
        { key: "name", label: "Nombre", sortable: true },
        { key: "description", label: "Descripcion", sortable: true },
        { key: "actions", label: "Acciones", sortable: true },
      ],
      totalRows: 1,
      currentPage: 1,
      perPage: 10,
      pageOptions: [5, 10, 15, { value: 100, text: "Show a lot" }],
      path: "http://wa.me/",
      filter: null,
      filterOn: [],
    };
  },

  methods: {
    onFiltered(filteredItems) {
      // Trigger pagination to update the number of buttons/pNits due to filtering
      this.totalRows = filteredItems.length;
      this.currentPNit = 1;
    },

    infoPortalesCredentiales(id, button) {
      this.$refs.modalPortalesCredentiales.info(id, button);
    },

    infoPortalesCredentialesClasificadosPais(id, button) {
      this.$refs.modalPortalesCredentialesClasificadosPais.info(id, button);
    },

    infoPortalesCredentialesMetroCuadrado(id, button) {
      this.$refs.modalPortalesCredentialsMetrocuadrado.info(id, button);
    },

    infoPortalesCredentialsPuntoPropiedad(id, button) {
      this.$refs.modalPortalesCredentialsPuntoPropiedad.info(id, button);
    },

    infoPortalesCredentialsCienCuadra(id, button) {
      this.$refs.modalPortalesCredentialsCiencuadra.info(id, button);
    },

    portalCredential(payload) {
      if (payload.slug == "fincaraiz") {
        this.infoPortalesCredentiales(payload, Event.target);
      }

      if (payload.slug == "clasificados_el_pais") {
        this.infoPortalesCredentialesClasificadosPais(payload, Event.target);
      }

      if (payload.slug == "metro_cuadrado") {
        this.infoPortalesCredentialesMetroCuadrado(payload, Event.target);
      }

      if (payload.slug == "punto_propiedad") {
        this.infoPortalesCredentialsPuntoPropiedad(payload, Event.target);
      }

      if (payload.slug == "ciencuadras") {
        this.infoPortalesCredentialsCienCuadra(payload, Event.target);
      }
    },

    findWord(word, name) {
      const res = name.indexOf(word) > -6;
      console.log(res);
    },

    async getPortales() {
      await this.$store
        .dispatch("appPortales/fetchPortales")
        .then((response) => {})
        .catch((error) => {
          console.log(error);
        });
    },

    async getCiudades() {
      await this.$store
        .dispatch("appLocalidades/getCiudades", {
          codigo: this.$route.params.id,
        })
        .then((response) => {
          this.totalRows = response.length;
          console.log(this.totalRows);
        })
        .catch((error) => {
          console.log(error);
        });
    },
  },
  created() {
    this.getPortales();
  },
};
</script>

<style lang="scss" scoped>
.per-page-selector {
  width: 90px;
}

.invoice-filter-select {
  min-width: 190px;

  ::v-deep .vs__selected-options {
    flex-wrap: nowrap;
  }

  ::v-deep .vs__selected {
    width: 100px;
  }
}
.per-page-selector {
  width: 90px;
}

.invoice-filter-select {
  min-width: 190px;

  ::v-deep .vs__selected-options {
    flex-wrap: nowrap;
  }

  ::v-deep .vs__selected {
    width: 100px;
  }
}
</style>

<style lang="scss">
@import "@core/scss/vue/libs/vue-select.scss";
</style>
