<template>
  <!-- Table Container Card -->
  <b-card no-body>
    <div class="m-2">
      <!-- Table Top -->
      <b-row>
        <!-- Per Page -->
        <b-col
          cols="12"
          md="6"
          class="d-flex align-items-center justify-content-start mb-1 mb-md-0"
        >



          <label>Entradas</label>



          <v-select
            v-model="perPage"
            :options="pageOptions"
            :clearable="false"
            class="per-page-selector d-inline-block ml-50 mr-1"
          />
          <b-button
            variant="primary"
            @click="infoRegisterMercadeoAdmin($event.target)"
          >
            registrar
          </b-button>
        </b-col>

        <!-- Search -->
        <b-col cols="12" md="6">
          <div class="d-flex align-items-center justify-content-end">
            <b-form-input
              v-model="filter"
              class="d-inline-block mr-1"
              placeholder="Buscar mercadeo_admines..."
            />
            <b-input-group-append>
              <b-button :disabled="!filter" @click="filter = ''"
                >limpiar</b-button
              >
            </b-input-group-append>
          </div>
        </b-col>
      </b-row>
    </div>

    <!-- Main table element -->
    <b-table
      empty-text="No hay mercadeo registrados por el momento"
      :items="mercadeo_admin"
      :fields="fields"
      responsive
      :current-page="currentPage"
      :per-page="perPage"
      :filter="filter"
      :filter-included-fields="filterOn"
      show-empty
      @filtered="onFiltered"
      class="position-relative"
      outlined
    >


      <template #cell(id)="data">
        <b-badge pill variant="light-success">
          {{ data.item.id }}
        </b-badge>
      </template>

      <template #cell(url)="data">
        <b-img
          class="img-width-admin-mercadeo"
          :src="'/storage/' + data.item.url"
        ></b-img>
      </template>

      <template #cell(actions)="data">
        <b-button
          variant="success"
          @click="infoEditMercadeoAdmin(data.item, $event.target)"
          >Edita</b-button
        >
      </template>
    </b-table>



    <div class="mx-2 mb-2">
      <b-row>
        <!-- Pagination -->
        <b-col
          cols="12"
          sm="6"
          class="
            d-flex
            align-items-center
            justify-content-center justify-content-sm-end
          "
        >
          <b-pagination
            v-model="currentPage"
            :total-rows="totalRows"
            :per-page="perPage"
            first-number
            last-number
            class="mb-0 mt-1 mt-sm-0"
            prev-class="prev-item"
            next-class="next-item"
          >
            <template #prev-text>
              <feather-icon icon="ChevronLeftIcon" size="18" />
            </template>
            <template #next-text>
              <feather-icon icon="ChevronRightIcon" size="18" />
            </template>
          </b-pagination>
        </b-col>
      </b-row>
    </div>
    <modal-register-mercadeo-admin
      ref="modalRegisterMercadeoAdmin"
    ></modal-register-mercadeo-admin>
        <modal-edict-mercadeo-admin
      ref="modalEdictMercadeoAdmin"
    ></modal-edict-mercadeo-admin>
    <!-- <modal-add-portal-cities ref="modalAddPortalCities" /> -->
  </b-card>
</template>

<script>
import {
  BCard,
  BRow,
  BImg,
  BCol,
  BFormInput,
  BButton,
  BTable,
  BMedia,
  BAvatar,
  BLink,
  BBadge,
  BDropdown,
  BDropdownItem,
  BPagination,
  BTooltip,
  BFormGroup,
  BFormSelect,
  BButtonGroup,
  BInputGroupAppend,
  BCardText,
  VBPopover,
  BPopover,
  BModal,
  VBModal,
} from "bootstrap-vue";
import vSelect from "vue-select";
import BCardCode from "@core/components/b-card-code";
import Ripple from "vue-ripple-directive";
import modalRegisterMercadeoAdminVue from "./components/modalRegisterMercadeoAdmin.vue";
import modalEditMercadeoAdminVue from './components/modalEditMercadeoAdmin.vue';
// import modalAddPortalCitiesVue from "./modalAddPortalCities.vue";

export default {
  components: {
    BCard,
    BRow,
    BCol,
    BImg,
    BFormInput,
    BButton,
    BTable,
    BMedia,
    BAvatar,
    BLink,
    BBadge,
    BDropdown,
    BDropdownItem,
    BPagination,
    BTooltip,
    BFormGroup,
    BFormSelect,
    vSelect,
    BButtonGroup,
    BInputGroupAppend,
    BCardCode,
    BCardText,
    Ripple,
    BPopover,
    BModal,
    VBModal,
    "modal-register-mercadeo-admin": modalRegisterMercadeoAdminVue,
    "modal-edict-mercadeo-admin": modalEditMercadeoAdminVue
  },

  directives: {
    "b-popover": VBPopover,
    "b-modal": VBModal,
    Ripple,
  },

  data() {
    return {
      fields: [
        { key: "id", label: "Codigo", sortable: true },
        { key: "url", label: "Imagen", sortable: true },
        { key: "name", label: "Nombre", sortable: true },
        { key: "actions", label: "Acciones", sortable: true },
      ],
      totalRows: 1,
      currentPage: 1,
      perPage: 10,
      pageOptions: [5, 10, 15, { value: 100, text: "Show a lot" }],
      path: "http://wa.me/",
      filter: null,
      filterOn: [],
    };
  },

  mounted() {},
  setup() {},

  methods: {
    onFiltered(filteredItems) {
      this.totalRows = filteredItems.length;
      this.currentPNit = 1;
    },

    getMercadeoType() {
      this.$store
        .dispatch("appMercadeoAdmin/fetchTypeMercadeo")
        .then(() => {})
        .catch(() => {});
    },

    infoRegisterMercadeoAdmin(button) {
      this.$refs.modalRegisterMercadeoAdmin.info(button);
    },

    infoEditMercadeoAdmin(item, button) {
      this.$refs.modalEdictMercadeoAdmin.info(item, button);
    },

    async getMercadeoAdmin() {
      await this.$store
        .dispatch("appMercadeoAdmin/fetchMercadeoAdmin")
        .then((response) => {
          this.totalRows = response.length;
        })
        .catch((error) => {
          console.log(error);
        });
    },

  },
  created() {
    this.getMercadeoAdmin();
    this.getMercadeoType();
  },

  computed: {
    mercadeo_admin() {
      return this.$store.state.appMercadeoAdmin.mercadeo_admin;
    },
  },
};
</script>

<style lang="scss" scoped>
.per-page-selector {
  width: 90px;
}
.img-width-admin-mercadeo {
  width: 10%;
}
.invoice-filter-select {
  min-width: 190px;

  ::v-deep .vs__selected-options {
    flex-wrap: nowrap;
  }

  ::v-deep .vs__selected {
    width: 100px;
  }
}
.per-page-selector {
  width: 90px;
}

.invoice-filter-select {
  min-width: 190px;

  ::v-deep .vs__selected-options {
    flex-wrap: nowrap;
  }

  ::v-deep .vs__selected {
    width: 100px;
  }
}
</style>

<style lang="scss">
@import "@core/scss/vue/libs/vue-select.scss";
</style>
