<template>
  <b-button
    size="sm"
    v-ripple.400="'rgba(113, 102, 240, 0.15)'"
    variant="outline-primary"
    @click="sendWhasapp()"
  >
   
      <img
        src="@/assets/images/whatsapp.png"
        v-ripple.400="'rgba(113, 102, 240, 0.15)'"
        title="WhatsApp"
       class="img-width"
      />
   
    <span class="align-middle">SOPORTE</span>
  </b-button>
</template>

<script>
import Ripple from "vue-ripple-directive";
import { BButton } from "bootstrap-vue";
export default {
  name: "soporteWhatsapp",

  components: {
    BButton,
  },
  data() {
    return {
      path: "http://wa.me/",
      whatsapp: "+573175791446",
    };
  },

  directives: {
    Ripple,
  },

  methods: {
    sendWhasapp() {
      window.open(this.path + this.whatsapp); //para nueva pestaña
    },
  },
};
</script>

<style>
.img-width {
  width: 5%;
}
</style>