<template>
  <div class="auth-wrapper auth-v2">
    <b-row class="auth-inner m-0">
      <!-- Brand logo-->

      <!-- /Brand logo-->
      <b-link class="brand-logo">
        <b-img fluid :src="imageLogo" alt="logo" style="max-width:120px" />
      </b-link>
      <!-- Left Text-->
      <b-col lg="8" class="d-none d-lg-flex align-items-center p-5">
        <div
          class="w-100 d-lg-flex align-items-center justify-content-center px-5"
        >
          <b-img fluid :src="imgUrl" alt="Login V2" />
        </div>
      </b-col>
      <!-- /Left Text-->

      <!-- Login-->
      <b-col lg="4" class="d-flex align-items-center auth-bg px-2 p-lg-5">
        <b-col sm="8" md="6" lg="12" class="px-xl-2 mx-auto">
          <b-card-title class="mb-1 font-weight-bold" title-tag="h2">
           <b-img
              fluid
              :src="imageLogo"
              alt="logo"
              style="max-width:100px"
            />
            👋
          </b-card-title>
          <b-card-text class="mb-2">
           {{message}}
          </b-card-text>

          <!-- submit buttons -->
          <b-button :to="{ name: 'auth-login' }" variant="primary">
            ir a Iniciar sesión
          </b-button>
        </b-col>
      </b-col>
      <!-- /Login-->
    </b-row>
  </div>
</template>

<script>
/* eslint-disable global-require */
import { ValidationProvider, ValidationObserver } from "vee-validate";
import VuexyLogo from "@core/layouts/components/Logo.vue";
import store from "@/store/index";
import {
  BRow,
  BCol,
  BLink,
  BFormGroup,
  BFormInput,
  BInputGroupAppend,
  BInputGroup,
  BFormCheckbox,
  BCardText,
  BCardTitle,
  BImg,
  BForm,
  BButton,
  BAlert,
  VBTooltip,
  BSpinner,
  BOverlay,
} from "bootstrap-vue";
export default {
 directives: {
    "b-tooltip": VBTooltip,
  },
  components: {
    BRow,
    BCol,
    BLink,
    BFormGroup,
    BFormInput,
    BInputGroupAppend,
    BInputGroup,
    BFormCheckbox,
    BCardText,
    BCardTitle,
    BImg,
    BForm,
    BButton,
    BAlert,
    VuexyLogo,
    ValidationProvider,
    ValidationObserver,
    BSpinner,
    BOverlay,
  }, data() {
    return {
      status: "",
      message: "",

      sideImg: require("@/assets/images/pages/login-v2.svg"),
      imageLogo: require("@/assets/images/logo/logo_addy.png"),
    };
  },
  computed: {
    imgUrl() {
      if (store.state.appConfig.layout.skin === "dark") {
        // eslint-disable-next-line vue/no-side-effects-in-computed-properties
        this.sideImg = require("@/assets/images/pages/login-v2-dark.svg");
        return this.sideImg;
      }
      return this.sideImg;
    },
  },

  created() {
    this.$http
      .get("/api/email-verification", {
        params: this.$route.query,
      })
      .then((response) => {
       console.log(response)
       this.message = response.data.message
      }).catch((error) => {
        console.log(error)
        this.message = error.response.data.message
      });

  },
};
</script>

<style lang="scss">
@import "@core/scss/vue/pages/page-auth.scss";
</style>
