<template>
  <div class="auth-wrapper auth-v2">
    <b-row class="auth-inner m-0">
      <!-- Brand logo-->
      <b-link class="brand-logo">
        <!-- <vuexy-logo />
        <h2 class="brand-text text-primary ml-1">
          Addy
        </h2> -->
        <b-img fluid :src="imageLogo" alt="logo" style="max-width:120px" />
      </b-link>

      <!-- /Brand logo-->

      <!-- Left Text-->
      <b-col lg="8" class="d-none d-lg-flex align-items-center p-5">
        <div
          class="w-100 d-lg-flex align-items-center justify-content-center px-5"
        >
          <b-img fluid :src="imgUrl" alt="Forgot password V2" />
        </div>
      </b-col>
      <!-- /Left Text-->

      <!-- Forgot password-->
      <b-col lg="4" class="d-flex align-items-center auth-bg px-2 p-lg-5">
        <b-col sm="8" md="6" lg="12" class="px-xl-2 mx-auto">
          <b-overlay :show="show" rounded="sm">
            <b-card-title class="mb-1">
              ¿Olvidaste la contraseña? 🔒
            </b-card-title>
            <b-card-text class="mb-2">
              Por favor, ingresa el correo electrónico con el cual te
              registraste, enviaremos un mensaje de recuperación
            </b-card-text>

            <!-- form -->
            <validation-observer ref="simpleRules">
              <b-form
                class="auth-forgot-password-form mt-2"
                @submit.prevent="validationForm"
              >
                <b-form-group label="Email" label-for="forgot-password-email">
                  <validation-provider
                    #default="{ errors }"
                    name="Email"
                    rules="required|email"
                  >
                    <b-form-input
                      id="forgot-password-email"
                      v-model="userEmail"
                      :state="errors.length > 0 ? false : null"
                      name="forgot-password-email"
                      placeholder="john@example.com"
                    />
                    <small class="text-danger">{{ errors[0] }}</small>
                  </validation-provider>
                </b-form-group>

                <b-button type="submit" variant="primary" block>
                  Enviar mensaje
                </b-button>
              </b-form>
            </validation-observer>

            <p class="text-center mt-2">
              <b-link :to="{ name: 'auth-login' }">
                <feather-icon icon="ChevronLeftIcon" /> Volver a Login
              </b-link>
            </p>
          </b-overlay>
        </b-col>
      </b-col>

      <!-- /Forgot password-->
    </b-row>
  </div>
</template>

<script>
/* eslint-disable global-require */
import { ValidationProvider, ValidationObserver } from "vee-validate";
import VuexyLogo from "@core/layouts/components/Logo.vue";
import {
  BRow,
  BCol,
  BLink,
  BCardTitle,
  BCardText,
  BImg,
  BForm,
  BFormGroup,
  BFormInput,
  BButton,
  BOverlay,
} from "bootstrap-vue";
import { required, email } from "@validations";
import store from "@/store/index";
import ToastificationContent from "@core/components/toastification/ToastificationContent.vue";

export default {
  components: {
    VuexyLogo,
    BRow,
    BCol,
    BLink,
    BImg,
    BForm,
    BButton,
    BFormGroup,
    BFormInput,
    BCardTitle,
    BCardText,
    BOverlay,
    ValidationProvider,
    ValidationObserver,
  },
  data() {
    return {
      show: false,
      userEmail: "",
      sideImg: require("@/assets/images/pages/forgot-password-v2.svg"),
      imageLogo: require("@/assets/images/logo/logo_addy.png"),
      // validation
      required,
      email,
    };
  },
  computed: {
    imgUrl() {
      if (store.state.appConfig.layout.skin === "dark") {
        // eslint-disable-next-line vue/no-side-effects-in-computed-properties
        this.sideImg = require("@/assets/images/pages/forgot-password-v2-dark.svg");
        return this.sideImg;
      }
      return this.sideImg;
    },
  },
  methods: {
    validationForm() {
      this.$refs.simpleRules.validate().then((success) => {
        this.show = true;
        if (success) {
          this.$http
            .post("/api/password/email", {
              email: this.userEmail,
            })
            .then((response) => {
                this.show = false;
                this.$swal({
                  title: "Correo de confirmación enviado!!!",
                  text: response.data.message,
                  icon: "info",
                  customClass: {
                    confirmButton: "btn btn-primary",
                  },
                  confirmButtonText: "Aceptar",
                  buttonsStyling: false,
                }).then((okay) => {
                  if (okay) {
                    this.$router.push({ name: "message-reestablecer" });
                  }
                });
              })
              .catch((error) => {
                this.show = false;
                this.$swal({
                  title: "Tu correo no existe!!!",
                  text: error.response.data.message,
                  icon: "info",
                  customClass: {
                    confirmButton: "btn btn-danger",
                  },
                  confirmButtonText: "Aceptar",
                  buttonsStyling: false,
                })
              });


        }
      });
    },
  },
};
</script>

<style lang="scss">
@import "@core/scss/vue/pages/page-auth.scss";
</style>
