<template>
  <div class="auth-wrapper auth-v1 px-2">
    <div class="auth-inner py-2">
      <b-overlay :show="show" rounded="sm">
        <!-- Reset Password v1 -->
        <b-card class="mb-0">
          <!-- logo -->
          <b-link class="brand-logo">
            <b-img fluid :src="imageLogo" alt="logo" style="max-width: 70%" />
          </b-link>

          <b-card-text class="mb-2">
            <strong> Formulario de Inicio de Sesion </strong>
          </b-card-text>

          <!-- form -->
          <validation-observer ref="loginForm" #default="{ invalid }">
            <b-form class="auth-login-form mt-2" @submit.prevent="login">
              <!-- email -->
              <b-form-group label="Email" label-for="login-email">
                <validation-provider
                  #default="{ errors }"
                  name="Email"
                  vid="email"
                  rules="required|email"
                >
                  <b-form-input
                    id="login-email"
                    v-model="userEmail"
                    :state="errors.length > 0 ? false : null"
                    name="login-email"
                    placeholder="correo@empresa.com"
                  />
                  <small class="text-danger">{{ errors[0] }}</small>
                </validation-provider>
              </b-form-group>

              <!-- forgot password -->
              <b-form-group>
                <div class="d-flex justify-content-between">
                  <label for="login-password">Contraseña</label>
                  <b-link :to="{ name: 'auth-forgot-password' }">
                    <small>Olvidaste tu contraseña?</small>
                  </b-link>
                </div>
                <validation-provider
                  #default="{ errors }"
                  name="Password"
                  vid="password"
                  rules="required"
                >
                  <b-input-group
                    class="input-group-merge"
                    :class="errors.length > 0 ? 'is-invalid' : null"
                  >
                    <b-form-input
                      id="login-password"
                      v-model="password"
                      :state="errors.length > 0 ? false : null"
                      class="form-control-merge"
                      :type="passwordFieldType"
                      name="login-password"
                      placeholder="Contraseña"
                    />
                    <b-input-group-append is-text>
                      <feather-icon
                        class="cursor-pointer"
                        :icon="passwordToggleIcon"
                        @click="togglePasswordVisibility"
                      />
                    </b-input-group-append>
                  </b-input-group>
                  <small class="text-danger">{{ errors[0] }}</small>
                </validation-provider>
              </b-form-group>

              <!-- checkbox -->
              <b-form-group>
                <b-form-checkbox
                  id="remember-me"
                  v-model="status"
                  name="checkbox-1"
                >
                  Recordarme
                </b-form-checkbox>
              </b-form-group>

              <!-- submit buttons -->
              <b-button
                type="submit"
                variant="primary"
                block
                :disabled="invalid"
              >
                Iniciar sesión
              </b-button>
            </b-form>
          </validation-observer>

          <b-card-text class="text-center mt-2">
            <span>¿No tienes cuenta? </span>
            <b-link :to="{ name: 'auth-register' }">
              <span>Registrarme</span>
            </b-link>
          </b-card-text>

          <!-- divider -->
          <div class="divider my-2">
            <div class="divider-text"></div>
          </div>
          <div class="auth-footer-btn d-flex justify-content-center">
            <b-button
              class=""
              @click="AuthProvider('google')"
              variant="outline-primary"
            >
              <img
                width="30px"
                style="margin-bottom: 4px; margin-right: 6px"
                alt="Google login"
                :src="require('@/assets/images/Google.png')"
              />
              Inicia con Google
            </b-button>
          </div>

          <div class="divider my-2">
            <div class="divider-text"></div>
          </div>

          <!-- social buttons -->
          <center>
            <soporte-whatsapp />
          </center>
        </b-card>
      </b-overlay>
    </div>
  </div>
</template>

<script>
/* eslint-disable global-require */
import { ValidationProvider, ValidationObserver } from "vee-validate";
import VuexyLogo from "@core/layouts/components/Logo.vue";
import {
  BRow,
  BCol,
  BLink,
  BFormGroup,
  BFormInput,
  BInputGroupAppend,
  BInputGroup,
  BFormCheckbox,
  BCardText,
  BCardTitle,
  BImg,
  BForm,
  BButton,
  BAlert,
  BCard,
  VBTooltip,
  BSpinner,
  BOverlay,
} from "bootstrap-vue";
import useJwt from "@/auth/jwt/useJwt";
import { required, email } from "@validations";
import { togglePasswordVisibility } from "@core/mixins/ui/forms";
import store from "@/store/index";
import { getHomeRouteForLoggedInUser } from "@/auth/utils";
import Ripple from "vue-ripple-directive";
import ToastificationContent from "@core/components/toastification/ToastificationContent.vue";
import soporteWhatsapp from "../../componente/Soporte-whatsapp.vue";

export default {
  directives: {
    "b-tooltip": VBTooltip,
  },
  components: {
    BRow,
    BCol,
    BLink,
    BFormGroup,
    BFormInput,
    BInputGroupAppend,
    BInputGroup,
    BFormCheckbox,
    BCardText,
    BCardTitle,
    BImg,
    BForm,
    BButton,
    BAlert,
    BCard,
    VuexyLogo,
    "soporte-whatsapp": soporteWhatsapp,
    ValidationProvider,
    ValidationObserver,
    BSpinner,
    BOverlay,
  },
  mixins: [togglePasswordVisibility],
  data() {
    return {
      show: false,
      status: "",
      password: "",
      userEmail: "",
      isConnected: false,
      name: "",
      email: "",
      personalID: "",
      picture: "",
      sideImg: require("@/assets/images/pages/login.svg"),
      imageLogo: require("@/assets/images/logo/logo_crmred.png"),

      // validation rules
      required,
      email,
    };
  },

  directives: {
    Ripple,
  },
  computed: {
    passwordToggleIcon() {
      return this.passwordFieldType === "password" ? "EyeIcon" : "EyeOffIcon";
    },
    imgUrl() {
      if (store.state.appConfig.layout.skin === "dark") {
        // eslint-disable-next-line vue/no-side-effects-in-computed-properties
        this.sideImg = require("@/assets/images/pages/login-v2-dark.svg");
        return this.sideImg;
      }
      return this.sideImg;
    },
  },
  methods: {
    async login() {
      this.$refs.loginForm.validate().then((success) => {
        if (success) {
          this.show = true;

          this.$http
            .post("/api/login", {
              email: this.userEmail,
              password: this.password,
            })
            .then((response) => {
              this.show = false;

              const { userData, token } = response.data;

              useJwt.setToken(token.access_token);
              useJwt.setRefreshToken(token.refresh_token);
              localStorage.setItem("userData", JSON.stringify(userData));
              localStorage.setItem("empresa", JSON.stringify(userData.empresa));

              this.$store.commit("userData/UPDATE_USER_DATA", userData);

              this.$ability.update(userData.ability);

              this.$router
                .replace(getHomeRouteForLoggedInUser(userData.role.slug))
                .then(() => {
                  this.show = false;
                  this.$toast({
                    component: ToastificationContent,
                    position: "top-center",
                    props: {
                      title: `Bienvenid@ ${
                        userData.segundo_nombre || userData.username
                      }`,
                      icon: "CoffeeIcon",
                      variant: "success",
                      text: ``,
                    },
                  });
                });
            })
            .catch((error) => {
              let resError = error.response.data;
              this.show = false;
              this.$toast({
                component: ToastificationContent,
                position: "top-center",
                props: {
                  title: resError.message,
                  icon: "EditIcon",
                  variant: "danger",
                },
              });
            });
        }
      });
    },

    loginWithFacebook() {
      window.FB.login((response) => {
        console.log("fb response", response);
      }, this.params);
    },

    AuthProvider(provider) {
      var self = this;

      this.$auth
        .authenticate(provider)
        .then((response) => {
          self.SocialLogin(provider, response);
        })
        .catch((err) => {
          console.log({ err: err });
        });
    },

    SocialLogin(provider, response) {
      console.log(response)
      this.show = true;
      this.$http
        .post("/sociallogin/" + provider, response)
        .then((response) => {
          this.show = false;

          const { userData, token, user } = response.data;

          useJwt.setToken(token);

          localStorage.setItem("userData", JSON.stringify(userData));
          localStorage.setItem("empresa", JSON.stringify(userData.empresa));
          localStorage.setItem("user", JSON.stringify(user));

          this.$store.commit("userData/UPDATE_USER_DATA", userData);
          this.$store.commit("userData/UPDATE_USER", user);

          this.$ability.update(userData.ability);

          this.$router
            .replace(getHomeRouteForLoggedInUser(userData.role.slug))
            .then(() => {
              this.show = false;
              this.$toast({
                component: ToastificationContent,
                position: "top-center",
                props: {
                  title: `Bienvenid@ ${
                    userData.segundo_nombre || userData.username
                  }`,
                  icon: "CoffeeIcon",
                  variant: "success",
                  text: ``,
                },
              });
            });
        })
        .catch((error) => {
          this.show = false;
          this.$toast({
            component: ToastificationContent,
            position: "top-center",
            props: {
              title: "No puedes iniciar sesion",
              icon: "EditIcon",
              variant: "danger",
            },
          });
        });
    },
  },
};
</script>

<style lang="scss">
@import "@core/scss/vue/pages/page-auth.scss";

.information {
  margin-top: 100px;
  margin: auto;
  display: flex;
  flex-direction: column;
}
.well {
  background-color: rgb(191, 238, 229);
  margin: auto;
  padding: 50px 50px;
  border-radius: 20px;
  /* display:inline-block; */
}
.login {
  width: 200px;
  margin: auto;
}
.list-item:first-child {
  margin: 0;
}
.list-item {
  display: flex;
  align-items: center;
  margin-top: 20px;
}
.button {
  margin: auto;
}
</style>
