<template>
  <div class="auth-wrapper auth-v1 px-2">
    <div class="auth-inner py-2">
      <b-overlay :show="show" rounded="sm">
        <!-- Reset Password v1 -->
        <b-card class="mb-0">
          <b-card-title class="mb-1">
            Registrate
            <b-img fluid :src="imageLogo" alt="logo" style="max-width: 100px" />
            🚀
          </b-card-title>
          <b-card-text class="mb-2"> Formulario de registro </b-card-text>

          <!-- form -->

          <validation-observer ref="registerForm" #default="{ invalid }">
            <b-form class="auth-register-form mt-2" @submit.prevent="register">
              <!-- username -->
              <b-form-group
                label="Nombre de usuario"
                label-for="register-username"
              >
                <validation-provider
                  #default="{ errors }"
                  name="Username"
                  vid="username"
                  rules="required|alpha-num"
                >
                  <b-form-input
                    id="register-username"
                    v-model="username"
                    name="register-username"
                    :state="errors.length > 0 ? false : null"
                    placeholder="Escribe tu usuario"
                  />
                  <small class="text-danger">{{ errors[0] }}</small>
                </validation-provider>
              </b-form-group>

              <!-- email -->
              <b-form-group
                label="correo electronico"
                label-for="register-email"
              >
                <validation-provider
                  #default="{ errors }"
                  name="Email"
                  vid="email"
                  rules="required|email"
                >
                  <b-form-input
                    id="register-email"
                    v-model="userEmail"
                    name="register-email"
                    :state="errors.length > 0 ? false : null"
                    placeholder="Escribe tu correo electronico"
                  />
                  <small class="text-danger">{{ errors[0] }}</small>
                </validation-provider>
              </b-form-group>

              <!-- password -->
              <b-form-group label-for="register-password" label="Contraseña">
                <validation-provider
                  #default="{ errors }"
                  name="Password"
                  vid="password"
                  rules="required"
                >
                  <b-input-group
                    class="input-group-merge"
                    :class="errors.length > 0 ? 'is-invalid' : null"
                  >
                    <b-form-input
                      id="register-password"
                      v-model="password"
                      class="form-control-merge"
                      :type="passwordFieldType"
                      :state="errors.length > 0 ? false : null"
                      name="register-password"
                      placeholder="············"
                    />
                    <b-input-group-append is-text>
                      <feather-icon
                        :icon="passwordToggleIcon"
                        class="cursor-pointer"
                        @click="togglePasswordVisibility"
                      />
                    </b-input-group-append>
                  </b-input-group>
                  <small class="text-danger">{{ errors[0] }}</small>
                </validation-provider>
              </b-form-group>

              <b-form-group
                label-for="password_confirmation"
                label="Confirmar contraseña"
              >
                <validation-provider
                  #default="{ errors }"
                  name="Confirmar contraseña"
                  vid="password_confirmation"
                  rules="required|confirmed:password"
                >
                  <b-input-group
                    class="input-group-merge"
                    :class="errors.length > 0 ? 'is-invalid' : null"
                  >
                    <b-form-input
                      id="password_confirmation"
                      v-model="password_confirmation"
                      class="form-control-merge"
                      :type="passwordFieldType"
                      :state="errors.length > 0 ? false : null"
                      name="password_confirmation"
                      placeholder="············"
                    />
                    <b-input-group-append is-text>
                      <feather-icon
                        :icon="passwordToggleIcon"
                        class="cursor-pointer"
                        @click="togglePasswordVisibility"
                      />
                    </b-input-group-append>
                  </b-input-group>
                  <small class="text-danger">{{ errors[0] }}</small>
                </validation-provider>
              </b-form-group>

              <b-form-group>
                <b-form-checkbox
                  id="register-privacy-policy"
                  v-model="aceptar_condiciones"
                  name="checkbox-1"
                >
                  Acepto las condiciones y las política de privacidad
                  <b-link>ir</b-link>
                </b-form-checkbox>
              </b-form-group>

              <b-button
                variant="primary"
                block
                type="submit"
                :disabled="invalid"
              >
                Registrate
              </b-button>
            </b-form>
          </validation-observer>

          <div class="divider my-2">
            <div class="divider-text"></div>
          </div>
          <div class="auth-footer-btn d-flex justify-content-center">
            <b-button
              class=""
              @click="AuthProvider('google')"
              variant="outline-primary"
            >
              <img
                width="30px"
                style="margin-bottom: 4px; margin-right: 6px"
                alt="Google login"
                :src="require('@/assets/images/Google.png')"
              />
              Inicia con Google
            </b-button>
          </div>

          <div class="divider my-2">
            <div class="divider-text"></div>
          </div>

          <p class="text-center mt-2">
            <span>Ya tienes una cuenta?</span>
            <b-link :to="{ name: 'auth-login' }">
              <span>Iniciar sesion al instante</span>
            </b-link>
          </p>

          <center>
            <soporte-whatsapp />
          </center>
        </b-card>
      </b-overlay>
    </div>
  </div>
  <!-- /Register-->
</template>

<script>
/* eslint-disable global-require */
import { ValidationProvider, ValidationObserver } from "vee-validate";
import ToastificationContent from "@core/components/toastification/ToastificationContent.vue";

import VuexyLogo from "@core/layouts/components/Logo.vue";
import {
  BRow,
  BCol,
  BLink,
  BButton,
  BForm,
  BFormCheckbox,
  BFormGroup,
  BFormInput,
  BInputGroup,
  BInputGroupAppend,
  BImg,
  BCardTitle,
  BCardText,
  BCard,
  BOverlay,
  BFormRadioGroup,
  BFormRadio,
} from "bootstrap-vue";
import { required, email } from "@validations";
import { togglePasswordVisibility } from "@core/mixins/ui/forms";
import store from "@/store/index";
import useJwt from "@/auth/jwt/useJwt";
import soporteWhatsapp from "../../componente/Soporte-whatsapp.vue";

export default {
  components: {
    VuexyLogo,
    "soporte-whatsapp": soporteWhatsapp,
    BRow,
    BImg,
    BCol,
    BLink,
    BButton,
    BForm,
    BCardText,
    BCardTitle,
    BFormCheckbox,
    BCard,
    BFormGroup,
    BFormInput,
    BInputGroup,
    BInputGroupAppend,
    BFormRadioGroup,
    BFormRadio,
    ValidationProvider,
    ValidationObserver,
    BOverlay,
  },
  mixins: [togglePasswordVisibility],
  data() {
    return {
      aceptar_condiciones: false,
      show: false,
      tipo_cliente: null,
      status: "",
      username: "",
      userEmail: "",
      password: "",
      password_confirmation: "",
      path: "http://wa.me/",
      whatsapp: "+523175791446",
      sideImg: require("@/assets/images/pages/login.svg"),
      imageLogo: require("@/assets/images/logo/logo_addy.png"),

      // validation
      required,
      email,
    };
  },
  computed: {
    passwordToggleIcon() {
      return this.passwordFieldType === "password" ? "EyeIcon" : "EyeOffIcon";
    },
    imgUrl() {
      if (store.state.appConfig.layout.skin === "dark") {
        // eslint-disable-next-line vue/no-side-effects-in-computed-properties
        this.sideImg = require("@/assets/images/pages/register-v2-dark.svg");
        return this.sideImg;
      }
      return this.sideImg;
    },
  },
  methods: {
    sendWhasapp() {
      window.open(this.path + this.whatsapp); //para nueva pestaña
    },

    AuthProvider(provider) {
      var self = this;

      this.$auth
        .authenticate(provider)
        .then((response) => {
          self.SocialLogin(provider, response);
        })
        .catch((err) => {
          console.log({ err: err });
        });
    },

    register() {
      this.$refs.registerForm.validate().then((success) => {
        if (success) {
          if (this.aceptar_condiciones != false) {
            this.show = true;
            this.$http
              .post("/api/signup", {
                username: this.username,
                email: this.userEmail,
                password: this.password,
                password_confirmation: this.password_confirmation,
                referral_code: this.$route.params.referral_code,
              })
              .then((response) => {
                this.show = false;
                this.$swal({
                  title: "Revisa tu correo!!!",
                  text: response.data.message,
                  icon: "info",
                  customClass: {
                    confirmButton: "btn btn-primary",
                  },
                  confirmButtonText: "Aceptar",
                  buttonsStyling: false,
                }).then((okay) => {
                  if (okay) {
                    this.$router.push({ name: "auth-login" });
                  }
                });
              })
              .catch((error) => {
                let message = "";
                let err = error.response.data;
                if (typeof err.errors != "undefined") {
                  if (typeof err.errors.email != "undefined") {
                    message = err.errors.email;
                  }
                  if (typeof err.errors.username != "undefined") {
                    message = err.errors.username;
                  }
                } else {
                  message = err.error[0];
                }

                this.show = false;
                this.$swal({
                  title: "Advertencia!!!",
                  text: message,
                  icon: "info",
                  customClass: {
                    confirmButton: "btn btn-danger",
                  },
                  confirmButtonText: "Aceptar",
                  buttonsStyling: false,
                });
              });
          } else {
            this.$toast({
              component: ToastificationContent,
              position: "top-center",
              props: {
                title: "Acepto las condiciones y las política de privacidad",
                icon: "EditIcon",
                variant: "danger",
              },
            });
          }
        }
      });
    },

    AuthProvider(provider) {
      var self = this;

      this.$auth
        .authenticate(provider)
        .then((response) => {
          self.SocialLogin(provider, response);
        })
        .catch((err) => {
          console.log({ err: err });
        });
    },

    SocialLogin(provider, response) {
      this.$http
        .post("/sociallogin/" + provider, response)
        .then((response) => {
          console.log(response.data);
        })
        .catch((err) => {
          console.log({ err: err });
        });
    },
  },
};
/* eslint-disable global-require */
</script>

<style lang="scss">
@import "@core/scss/vue/pages/page-auth.scss";
</style>
