<template>
  <div>
    <div class="responsive-container-ficha">
      <section class="app-ecommerce-details">
        <b-alert variant="danger" :show="product === undefined"> </b-alert>
        <b-card style="">
          <b-row>
            <b-col cols="21" lg="6">
              <b-card no-body class="height-card">
                <b-card-header
                  class="
                    d-flex
                    justify-content-between
                    align-items-center
                    pt-75
                    pb-25
                  "
                >
                  <b-badge variant="light-primary">
                    Informacion Empresa</b-badge
                  >
                </b-card-header>

                <b-card-body>
                  <b-row>
                    <b-col
                      cols="21"
                      xl="6"
                      class="d-flex justify-content-between flex-column mt-2"
                    >
                      <div class="d-flex justify-content-start">

                        <b-avatar
                          v-if="empresa.logo.substr(0,4)=='http'"

                          :src="empresa.logo"
                          :text="avatarText(empresa.logo)"
                          size="90px"
                          rounded
                        />
                        
                        <b-avatar
                          v-else

                          :src="'/storage/' + empresa.logo"
                          :text="avatarText(empresa.logo)"
                          size="90px"
                          rounded
                        />
                        <div class="d-flex flex-column ml-1">
                          <div class="mb-1">
                            <h4 class="mb-0">
                              {{ empresa.nombre }}
                            </h4>
                            <span class="card-text">{{ empresa.email }}</span
                            ><br />
                            <span class="card-text">{{ empresa.celular }}</span
                            ><br />
                            <span class="card-text">{{
                              empresa.pagina_web
                            }}</span>
                          </div>
                        </div>
                      </div>
                      <!-- User Stats -->
                    </b-col>
                  </b-row>
                </b-card-body>
              </b-card>
            </b-col>
            <b-col cols="12" lg="6">
              <b-card no-body class="height-card">
                <b-card-header
                  class="
                    d-flex
                    justify-content-between
                    align-items-center
                    pt-75
                    pb-25
                  "
                >
                  <b-badge variant="light-primary"> Informacion Agente</b-badge>
                </b-card-header>

                <b-card-body>
                  <b-row>
                    <b-col
                      cols="21"
                      xl="6"
                      class="d-flex justify-content-between flex-column mt-2"
                    >
                      <div class="d-flex justify-content-start">
                        <b-avatar
                          v-if="userData.userdata.foto_persona.substr(0,4)=='http'"
                          :src="userData.userdata.foto_persona"
                          :text="avatarText(userData.userdata.foto_persona)"
                          size="90px"
                          rounded
                        />

                         <b-avatar
                          v-else
                          :src="'/storage/' + userData.userdata.foto_persona"
                          :text="avatarText(userData.userdata.foto_persona)"
                          size="90px"
                          rounded
                        />
                        <div class="d-flex flex-column ml-1">
                          <div class="mb-1">
                            <h4 class="mb-0">
                              {{ userData.userdata.primer_nombre }}
                            </h4>
                            <span class="card-text">{{ userData.email }}</span>
                            <span class="card-text">{{
                              userData.userdata.celular_movil
                            }}</span>
                          </div>
                        </div>
                      </div>
                    </b-col>
                  </b-row>
                </b-card-body>
              </b-card>
            </b-col>
          </b-row>
          <b-container
            class="text-center"
            style="background: #7367f0; padding: 2%"
          >
            <b-row>
              <b-col cols="12" md="4">
                <h1 class="tema_title">
                  <strong>
                    {{
                      " " + product.tipo_inmueble == null
                        ? "Sin datos"
                        : product.tipo_inmueble.tipo
                    }}</strong
                  >
                </h1>
              </b-col>
              <b-col cols="12" md="4" class="">
                <h1 class="tema_title">
                  <strong>
                    {{
                      " " + product.tipo_negocio == null
                        ? "Sin datos"
                        : product.tipo_negocio.descripcion
                    }}</strong
                  >
                </h1>
              </b-col>
              <b-col cols="12" md="4" class="">
                <span v-if="product.tipo_negocio.descripcion == 'Venta'">
                  <h2 class="tema_title">
                    <strong>
                      $
                      {{
                        product.precio_venta == "null"
                          ? "0"
                          : product.precio_venta | priceFormattin
                      }}
                    </strong>
                  </h2>
                </span>

                <span v-else>
                  <h2>
                    <strong class="tema_title">
                      $
                      {{
                        product.precio_alquiler == "null"
                          ? "0"
                          : product.precio_alquiler | priceFormattin
                      }}
                    </strong>
                  </h2>
                </span>
              </b-col>
            </b-row>
          </b-container>

          <b-row>
            <b-col>
              <!-- <slider :imagenes="product.inmueble_imagenes" /> -->

              <lightbox cells="2" :items="images"></lightbox>
            </b-col>
          </b-row>
          <b-col cols="21">
            <b-card
              class="height-card"
              :header="product.titulo_inmueble"
              header-tag="h1"
            >
              <p
                v-html="
                  product.descripcion == 'null'
                    ? 'Sin datos'
                    : product.descripcion
                "
              ></p>
            </b-card>
          </b-col>

          <b-container style="margin-top: 2%; margin-top: 2%">
            <b-row>
              <b-col cols="21" lg="6">
                <b-card no-body class="">
                  <b-card-header
                    class="
                      d-flex
                      justify-content-between
                      align-items-center
                      pt-75
                      pb-25
                    "
                  >
                    <b-badge variant="light-primary">Ubicacion</b-badge>
                  </b-card-header>

                  <b-card-body>
                    <table id="customers">
                      <tr>
                        <th>Descripción</th>
                        <th>Detalle</th>
                      </tr>
                      <tr>
                        <td>Pais</td>
                        <td>
                          {{
                            product.pais_id == null
                              ? "Sin datos"
                              : product.pais_id.name
                          }}
                        </td>
                      </tr>
                      <tr>
                        <td>Departamento</td>
                        <td>
                          {{
                            product.estado_id == null
                              ? "Sin datos"
                              : product.estado_id.name
                          }}
                        </td>
                      </tr>

                      <tr>
                        <td>Ciudad</td>
                        <td>
                          {{
                            product.ciudad_id == null
                              ? "Sin datos"
                              : product.ciudad_id.name
                          }}
                        </td>
                      </tr>
                      <tr>
                        <td>Zona</td>
                        <td>
                          {{
                            product.zona_id == null
                              ? "Sin datos"
                              : product.zona_id.name
                          }}
                        </td>
                      </tr>
                    </table>
                  </b-card-body>
                </b-card>
              </b-col>
              <b-col cols="21" lg="6">
                <b-card no-body class="">
                  <b-card-header
                    class="
                      d-flex
                      justify-content-between
                      align-items-center
                      pt-75
                      pb-25
                    "
                  >
                    <b-badge variant="light-primary"> Datos Básicos </b-badge>
                  </b-card-header>

                  <b-card-body>
                    <table id="customers">
                      <tr>
                        <th>Descripción</th>
                        <th>Detalle</th>
                      </tr>
                      <tr>
                        <td>Tipo de inmueble</td>
                        <td>
                          {{
                            product.tipo_inmueble == null
                              ? "Sin datos"
                              : product.tipo_inmueble.descripcion
                          }}
                        </td>
                      </tr>
                      <tr>
                        <td>Segmento</td>
                        <td>
                          {{
                            product.segmento == null
                              ? "Sin datos"
                              : product.segmento.name
                          }}
                        </td>
                      </tr>

                      <tr>
                        <td>Estrato</td>
                        <td>
                          {{
                            product.estrato == null
                              ? "Sin datos"
                              : product.estrato.name
                          }}
                        </td>
                      </tr>
                      <tr>
                        <td>Año de contrucción</td>
                        <td>
                          {{
                            product.ano_construcion == null
                              ? "Sin datos"
                              : product.ano_construcion
                          }}
                        </td>
                      </tr>
                    </table>
                  </b-card-body>
                </b-card>
              </b-col>
              <b-col cols="21" col="4">
                <b-card no-body class="height-card">
                  <b-card-header
                    class="
                      d-flex
                      justify-content-between
                      align-items-center
                      pt-75
                      pb-25
                    "
                  >
                    <b-badge variant="light-primary"> Areas </b-badge>
                  </b-card-header>

                  <b-card-body>
                    <table id="customers">
                      <tr>
                        <th>Descripción</th>
                        <th>M2</th>
                      </tr>
                      <tr>
                        <td>A. Lote</td>
                        <td>
                          {{
                            product.area_lote == "null"
                              ? "Sin datos"
                              : product.area_lote
                          }}
                        </td>
                      </tr>
                      <tr>
                        <td>A. Construida</td>
                        <td>
                          {{
                            product.area_contruida == "null"
                              ? "Sin datos"
                              : product.area_contruida
                          }}
                        </td>
                      </tr>
                      <tr>
                        <td>Frente</td>
                        <td>
                          {{
                            product.frente == "null"
                              ? "Sin datos"
                              : product.frente
                          }}
                        </td>
                      </tr>
                      <tr>
                        <td>Fondo</td>
                        <td>
                          {{
                            product.fondo == "null"
                              ? "Sin datos"
                              : product.fondo
                          }}
                        </td>
                      </tr>
                    </table>
                  </b-card-body>
                </b-card>
              </b-col>
              <b-col cols="21" col="4">
                <b-card no-body class="height-card">
                  <b-card-header
                    class="
                      d-flex
                      justify-content-between
                      align-items-center
                      pt-75
                      pb-25
                    "
                  >
                    <b-badge variant="light-primary"> Precios </b-badge>
                  </b-card-header>

                  <b-card-body>
                    <table id="customers">
                      <tr>
                        <th>Descripción</th>
                        <th>Valor</th>
                      </tr>

                      <tr>
                        <td>P. Alquiler:</td>
                        <td>
                          ${{
                            product.precio_alquiler == ""
                              ? "0"
                              : product.precio_alquiler | priceFormattin
                          }}
                        </td>
                      </tr>
                      <tr>
                        <td>P. Venta:</td>
                        <td>
                          ${{
                            product.precio_venta == ""
                              ? "0"
                              : product.precio_venta | priceFormattin
                          }}
                        </td>
                      </tr>
                      <tr>
                        <td>P. Administración</td>
                        <td>
                          ${{
                            product.precio_administracion == ""
                              ? "0"
                              : product.precio_administracion | priceFormattin
                          }}
                        </td>
                      </tr>
                      <tr>
                        <td>Valor Metro Cuadrado</td>
                        <td>${{ valor_metro_cuadrado | priceFormattin }}</td>
                      </tr>
                    </table>
                  </b-card-body>
                </b-card>
              </b-col>
            </b-row>
            <b-row>
              <b-col cols="21" lg="2">
                <b-card no-body class="height-card">
                  <b-card-header
                    class="
                      d-flex
                      justify-content-between
                      align-items-center
                      pt-75
                      pb-25
                    "
                  >
                    <b-badge variant="light-primary"> Espacios </b-badge>
                  </b-card-header>

                  <b-card-body>
                    <table id="customers">
                      <tr>
                        <th>Descripcion</th>
                        <th>Cantidad</th>
                      </tr>
                      <tr>
                        <td>Habitaciones:</td>
                        <td>
                          {{
                            product.alcobas == "null"
                              ? "Sin datos"
                              : product.alcobas
                          }}
                        </td>
                      </tr>
                      <tr>
                        <td>Baños:</td>
                        <td>
                          {{
                            product.banos == "null"
                              ? "Sin datos"
                              : product.banos
                          }}
                        </td>
                      </tr>

                      <tr>
                        <td>Pisos/Niveles:</td>
                        <td>
                          {{
                            product.pisos == "null"
                              ? "Sin datos"
                              : product.pisos
                          }}
                        </td>
                      </tr>

                      <tr>
                        <td>Cantidad de parqueaderos:</td>
                        <td>
                          {{
                            product.cantidad_parqueadero == "null"
                              ? "Sin datos"
                              : product.cantidad_parqueadero
                          }}
                        </td>
                      </tr>
                    </table>
                  </b-card-body>
                </b-card>
              </b-col>
              <b-col cols="21" col="5">
                <b-card no-body class="height-card">
                  <b-card-header
                    class="
                      d-flex
                      justify-content-between
                      align-items-center
                      pt-75
                      pb-25
                    "
                  >
                    <b-badge variant="light-primary"
                      >Caracteristicas Internas
                    </b-badge>
                  </b-card-header>

                  <b-card-body>
                    <table id="customers">
                      <tr>
                        <th>Descripción</th>
                      </tr>
                      <tr
                        v-for="cara in product.caracteristicas_internas"
                        :key="cara"
                      >
                        <td>{{ cara.caracteristicas_internas.texto }}</td>
                      </tr>
                    </table>
                  </b-card-body>
                </b-card>
              </b-col>
              <b-col cols="21" col="5">
                <b-card no-body class="height-card">
                  <b-card-header
                    class="
                      d-flex
                      justify-content-between
                      align-items-center
                      pt-75
                      pb-25
                    "
                  >
                    <b-badge variant="light-primary"
                      >Caracteristicas Externas
                    </b-badge>
                  </b-card-header>

                  <b-card-body>
                    <table
                      id="customers"
                      v-if="product.caracteristicas_externas != null"
                    >
                      <tr>
                        <th>Descripción</th>
                      </tr>
                      <tr
                        v-for="cara in product.caracteristicas_externas"
                        :key="cara"
                      >
                        <td>{{ cara.caracteristicas_externas.texto }}</td>
                      </tr>
                    </table>
                  </b-card-body>
                </b-card>
              </b-col>
            </b-row>
          </b-container>

          <b-container style="margin-top: 2%; margin-top: 2%">
            <b-row>
              <b-col cols="21" md="6">
                <GmapMap
                  :center="center"
                  :zoom="18"
                  style="width: 100%; height: 400px"
                >
                  <GmapMarker
                    :key="index"
                    v-for="(m, index) in markers"
                    :position="m.position"
                    @click="center = m.position"
                  />
                </GmapMap>
              </b-col>
              <b-col cols="21" md="6" v-if="product.url_video != 'null'">
                <b-embed
                  type="iframe"
                  aspect="16by9"
                  :src="product.url_video"
                  allowfullscreen
                />
              </b-col>
            </b-row>
          </b-container>
          <hr />
          <strong> Compartir: </strong>
          <facebook :url="url_compartir" scale="3">facebook</facebook>
          <linkedin :url="url_compartir" scale="3"></linkedin>
          <whats-app
            :url="url_compartir"
            title="Hola te comparto esta ficha"
            scale="3"
          ></whats-app>
          <telegram :url="url_compartir" scale="3"></telegram>
          <twitter :url="url_compartir" scale="3"></twitter>
        </b-card>
      </section>
    </div>
    <image-component ref="ImageCompnent" />
  </div>
</template>

<script>
import store from "@/store";
import { avatarText } from "@core/utils/filter";

import {
  BCarousel,
  BCarouselSlide,
  BCard,
  BCardBody,
  BRow,
  BCol,
  BImg,
  BCardText,
  BLink,
  BButton,
  BDropdown,
  BDropdownItem,
  BAlert,
  BCardTitle,
  BContainer,
  BCardGroup,
  BModal,
  BCardHeader,
  BBadge,
  BAvatar,
  VBPopover,
  BEmbed,
} from "bootstrap-vue";
import Ripple from "vue-ripple-directive";
import InmuebleDetailsItemFeatures from "./InmuebleDetailsItemFeatures.vue";
import InmuebleDetailsRelatedInmuebles from "./InmuebleDetailsRelatedInmuebles.vue";
import UserViewUserInfoCard from "./UserViewUserInfoCard.vue";

import {
  Facebook,
  Twitter,
  Linkedin,
  Pinterest,
  Reddit,
  Telegram,
  WhatsApp,
  Email,
  Google,
} from "vue-socialmedia-share";
import slide from "@wyhaya/vue-slide";
export default {
  title: "Pagination / Dynamic bullets",
  data() {
    return {
      images: [],
      slide: 0,
      sliding: null,
      url_compartir:
        process.env.MIX_API_URL + "inmuebles/" + this.$route.params.slug,
      menuHidden: this.$store.state.appConfig.layout.menu.hidden,
      url_whatsapp: "",
      url_facebook: "",
      url: process.env.MIX_API_URL,
      path: "http://wa.me/",
      config: null,
      markers: [],
      center: null,
      currentPlace: null,
      slide: [],
      places: [],
      product: null,
      empresa: null,
      userData: null,

      valor_metro_cuadrado: null,
    };
  },

  components: {
    // BSV
    BEmbed,
    BCard,
    BCardBody,
    BCardHeader,
    BBadge,
    slide,
    BRow,
    BCol,
    BImg,
    BCardText,
    BLink,
    BButton,
    BDropdown,
    BDropdownItem,
    BAlert,
    BCardGroup,
    BCarousel,
    BCarouselSlide,
    BContainer,
    BCardTitle,
    Facebook,
    BAvatar,
    Twitter,
    Linkedin,
    Pinterest,
    Reddit,
    Telegram,
    WhatsApp,
    Email,
    Google,
    BModal,
    // SFC
    InmuebleDetailsItemFeatures,
    InmuebleDetailsRelatedInmuebles,
    UserViewUserInfoCard,
  },

  directives: {
    "b-popover": VBPopover,
    Ripple,
  },
  mounted() {},
  filters: {
    priceFormattin: function (value) {
      let format = parseInt(value);
      let dollarUSLocale = Intl.NumberFormat("es-CO");
      let price = dollarUSLocale.format(format);
      return price;
    },
  },
  created() {
    this.url_whatsapp =
      process.env.MIX_API_URL + "inmuebles/" + this.$route.params.slug;
    this.fetchProduct();
  },

  methods: {
    info(item, button) {
      this.$refs.ImageCompnent.info(item, button);
    },
    addMarker() {
      const marker = {
        lat: parseFloat(this.product.latitud),
        lng: parseFloat(this.product.longitud),
      };
      this.markers.push({ position: marker, title: this.product.direccion });
      this.center = marker;
      this.title = this.product.titulo_inmueble;
    },

    sendWhatsapp(number, message) {
      var url =
        "https://api.whatsapp.com/send?phone=" +
        number +
        "&text=" +
        encodeURIComponent(message);

      return url;
    },

    onSlideStart(slide) {
      this.sliding = true;
    },
    onSlideEnd(slide) {
      this.sliding = false;
    },

    fetchProduct() {
      // Get product  id from URL
      const vm = this;
      const productSlug = vm.$route.params.slug;

      store
        .dispatch("appInmueble/fetchInmueble", { productSlug })
        .then((response) => {
          this.product = response;
          this.vfImages = response.inmueble_imagenes;
          this.userData = response.created_by;
          this.empresa = response.empresa;
          for (let i = 0; i < response.inmueble_imagenes.length; i++) {

            if(response.inmueble_imagenes[i].url.substr(0,4)=='http'){
            this.images.push(
                response.inmueble_imagenes[i].url
            );  
            }else{
            this.images.push(
              process.env.MIX_API_URL +
                "storage/" +
                response.inmueble_imagenes[i].url
            );
            
            }
            
          }
          if (response.precio_venta != "") {
            this.valor_metro_cuadrado =
              parseInt(response.precio_venta) /
              parseInt(response.area_contruida);
          }

          if (response.precio_alquiler != "") {
            this.valor_metro_cuadrado =
              parseInt(response.precio_alquiler) /
              parseInt(response.area_contruida);
          }

          console.log(this.url_whatsapp);

          vm.addMarker();
        })
        .catch((error) => {
          if (error.response.status === 404) {
            product.value = undefined;
          }
        });
    },
  },

  setup() {
    return {
      avatarText,
    };
  },
};
</script>

<style lang="scss" scoped>
@import "~@core/scss/base/pages/app-ecommerce-details.scss";

.responsive-container-ficha {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 100rem;
}
.tema_title {
  font-size: 3rem;
  color: #fff;
}
.height-card {
  height: 90%;
}

.card-text {
  font-size: 100%;
}
.img-carrouce {
  width: 100%;
  height: auto;
}
.text-color {
  background: #7367f0;
  color: #fff;
  padding: 2px;
}

@media (max-width: 600px) {
  .responsive-container-ficha {
    width: 100%;
  }

  .tema_title {
    font-size: 1.2rem;
    color: #fff;
  }

  .text-color {
    background: #ffffff;
    color: #fff;
    padding: 0px;
  }
}
</style>
