<template>
  <b-card>
    <b-row>
      <!-- User Info: Left col -->
      <b-col
        cols="21"
        xl="6"
        class="d-flex justify-content-between flex-column"
      > 
        <!-- User Avatar & Action Buttons -->
        <div class="d-flex justify-content-start">
          <b-avatar
            :src="'/storage/' + userData.userdata.foto_persona"
            :text="avatarText(userData.userdatafoto_persona)"
            size="90px"
            rounded
          />
          <div class="d-flex flex-column ml-1">
            <div class="mb-1">
              <h4 class="mb-0">
                {{ userData.username }}
              </h4>
              <span class="card-text">{{ userData.email }}</span>
              <span class="card-text">{{ userData.userdata.celular_movil }}</span>
              
            </div>
          </div>
        </div>

        <!-- User Stats -->
      </b-col>

      <!-- Right Col: Table -->
    </b-row>
  </b-card>
</template>

<script>
import { BCard, BButton, BAvatar, BRow, BCol } from "bootstrap-vue";
import { avatarText } from "@core/utils/filter";

export default {
  components: {
    BCard,
    BButton,
    BRow,
    BCol,
    BAvatar,
  },
  props: {
    userData: {
      type: Object,
      required: true,
    },
  },
  setup() {
    return {
      avatarText,
    };
  },
};
</script>

<style>
</style>
