<template>
  <b-card>
    <b-tabs pills>
      <!-- Tab: Account -->
      <b-tab active>
        <template #title>
          <feather-icon icon="UserIcon" size="16" class="mr-0 mr-sm-50" />
          <span class="d-none d-sm-inline">Datos basicos</span>
        </template>

        <b-row>
          <b-col cols="12" sm="6" class="mb-2">
            <b-media class="mb-2">
              <template #aside>
                <b-avatar v-bind:src="imageData" size="90px" rounded />
              </template>
              <h4 class="mb-1">Editar perfil</h4>
              <b-form-file
                @change="previewImage"
                ref="file-input"
                placeholder="click para seleccionar una imagen"
                browse-text="Cargar"
                class="mb-2"
              ></b-form-file>
            </b-media>
          </b-col>
          <!-- <b-col cols="12" sm="6" class="mb-2">
            <b-media class="mb-2">
              <template #aside>
                <b-avatar v-bind:src="imageDataPortada" size="90px" rounded />
              </template>
              <h4 class="mb-1">Editar portada</h4>
              <b-form-file
                @change="previewImagePortada"
                ref="file-input"
                placeholder="click para seleccionar una imagen"
                browse-text="Cargar"
                class="mb-2"
              ></b-form-file>
            </b-media>
          </b-col> -->
        </b-row>

        <user-edit-tab-account :userdata="userdata" class="mt-2 pt-75" />
      </b-tab>

      <!-- Tab: Information -->
      <b-tab>
        <template #title>
          <feather-icon icon="InfoIcon" size="16" class="mr-0 mr-sm-50" />
          <span class="d-none d-sm-inline">Descripcion</span>
        </template>
        <user-edit-tab-information :userdata="userdata" class="mt-2 pt-75" />
      </b-tab>

      <!-- Tab: Social -->
      <b-tab>
        <template #title>
          <feather-icon icon="Share2Icon" size="16" class="mr-0 mr-sm-50" />
          <span class="d-none d-sm-inline">Redes sociales</span>
        </template>
        <user-edit-tab-social :userdata="userdata" class="mt-2 pt-75" />
      </b-tab>
    </b-tabs>

    <b-row class="mt-2">
      <b-col>
        <b-button
          variant="primary"
          class="mb-1 mb-sm-0 mr-0 mr-sm-1"
          @click="sendData()"
        >
          Guardar cambios
        </b-button>
      </b-col>
    </b-row>
  </b-card>
</template>

<script>
import {
  BTab,
  BTabs,
  BCard,
  BAlert,
  BLink,
  BButton,
  BCol,
  BRow,
  BMedia,
  BAvatar,
  BFormFile,
} from "bootstrap-vue";
import ToastificationContent from "@core/components/toastification/ToastificationContent.vue";
import UserEditTabAccount from "./components/UserEditTabAccount.vue";
import UserEditTabInformation from "./components/UserEditTabInformation.vue";
import UserEditTabSocial from "./components/UserEditTabSocial.vue";
import PerfilStoreModule from "../perfilStoreModule";
import { onUnmounted } from "@vue/composition-api";
import store from "@/store/index";

const PERFIL_APP_STORE_MODULE_NAME = "app-perfil";

// Register module
if (!store.hasModule(PERFIL_APP_STORE_MODULE_NAME))
  store.registerModule(PERFIL_APP_STORE_MODULE_NAME, PerfilStoreModule);

// UnRegister on leave
onUnmounted(() => {
  if (store.hasModule(PERFIL_APP_STORE_MODULE_NAME))
    store.unregisterModule(PERFIL_APP_STORE_MODULE_NAME);
});

export default {
  components: {
    BTab,
    BTabs,
    BCard,
    BAlert,
    BLink,
    BButton,
    BCol,
    BFormFile,
    BRow,
    BMedia,
    BAvatar,
    UserEditTabAccount,
    UserEditTabInformation,
    UserEditTabSocial,
    ToastificationContent,
  },


  computed: {
    userdata() {
      return this.$store.state.userData.userData;
    },
  },

  data() {
    return {
      imageData: "",
      imageDataPortada: "",
      file: "",
      payLoad: null,
      datosbasico: [],
      descripcion: null,
      social: {},
    };
  },

  created() {
    this.getImagenes();

    this.$root.$on(
      "datosBasicosUser",
      function (payLoad) {

        console.log('payload');
          console.log(payLoad);


        if (this.payLoad != payLoad) {

          console.log('payload in');
          console.log(payLoad);

          this.datosbasico = payLoad;

          

        }

        console.log('datosbasico');
          console.log(datosbasico);
      }.bind(this)
    );

    this.$root.$on(
      "descripcionUser",
      function (payLoad) {
        if (this.payLoad != payLoad) {
          this.descripcion = payLoad;
        }
      }.bind(this)
    );

    this.$root.$on(
      "socialUser",
      function (payLoad) {
        if (this.payLoad != payLoad) {
          this.social = payLoad;
        }
      }.bind(this)
    );
  },

  methods: {
    getImagenes() {

      if(this.userdata){

        if(this.userdata.foto_persona.substr(0,4)=='http'){

        this.imageData =  this.userdata.foto_persona;

      }else{
        this.imageData = "/storage/" + this.userdata.foto_persona;
      }

      if(this.userdata.foto_portada_persona.substr(0,4)=='http'){
        
        this.imageDataPortada =  this.userdata.foto_portada_persona;

      }else{
        this.imageDataPortada = "/storage/" + this.userdata.foto_portada_persona;
      }

      }

      

      
    },

    sendData() {
      this.datosbasico.descripcion = this.descripcion;
      this.datosbasico.social = this.social;

      this.enviarData(this.datosbasico);
    },

    enviarData(datosbasico) {

      let formData = new FormData();

      if (datosbasico.foto_persona != "") {
        formData.append("foto_persona", datosbasico.foto_persona);
      }

      if (datosbasico.foto_portada_persona != "") {
        formData.append(
          "foto_portada_persona",
          datosbasico.foto_portada_persona
        );
      }
      formData.append("id", datosbasico.id);
      formData.append("telefono_fijo", datosbasico.telefono_fijo);
      formData.append("primer_nombre", datosbasico.primer_nombre);
      formData.append("whatsapp", datosbasico.celular_whatsapp);
      formData.append("genero", datosbasico.genero);

      formData.append("celular", datosbasico.celular_movil);
      formData.append("code_tipo_documento", 1),
        formData.append("direccion_persona", datosbasico.direccion_persona);
      formData.append("descripcion", datosbasico.descripcion);
      formData.append("numero_cedula", datosbasico.numero_cedula);
      formData.append("codigo_pais", datosbasico.codigo_pais);
      formData.append("codigo_estado", datosbasico.codigo_estado);
      formData.append("codigo_ciudad", datosbasico.codigo_ciudad);
         formData.append("color_fondo", datosbasico.color_fondo);
      formData.append("color_fuente", datosbasico.color_fuente);
      formData.append("social", JSON.stringify(datosbasico.social));

      console.log(datosbasico);

      store
        .dispatch("app-perfil/updatePerfilAgente", formData)
        .then((response) => {
          let user = response.data.userData;
          localStorage.setItem("userData", JSON.stringify(user));
          this.$store.commit("userData/UPDATE_USER_DATA", user);
          this.$ability.update(user.ability);
          this.$toast({
            component: ToastificationContent,
            props: {
              title: "Actualizacion exitosa",
              icon: "EditIcon",
              variant: "success",
            },
          });
          this.$router.push({ name: "pages-profile-agente" });
        })
        .catch((error) => {
          this.$toast({
            component: ToastificationContent,
            props: {
              title: "Completa todos los campos",
              icon: "EditIcon",
              variant: "danger",
            },
          });
        });
    },

    previewImage: function (event) {
      var input = event.target;
      this.datosbasico.foto_persona = input.files[0];
      if (input.files && input.files[0]) {
        var reader = new FileReader();
        reader.onload = (e) => {
          this.imageData = e.target.result;
        };
        reader.readAsDataURL(input.files[0]);
      }
    },

    previewImagePortada: function (event) {
      var input = event.target;
      this.datosbasico.foto_portada_persona = input.files[0];

      if (input.files && input.files[0]) {
        var reader = new FileReader();
        reader.onload = (e) => {
          this.imageDataPortada = e.target.result;
        };
        reader.readAsDataURL(input.files[0]);
      }
    },

    socio(data) {
      let user = JSON.parse(localStorage.getItem("userData"));
      datosbasico.id = user.id_user;
      if (data === "agentes") {
        datosbasico.tipo_cliente = "agentes";
      } else {
        datosbasico.tipo_cliente = "socio_referidor";
      }
    },
    validationTipoCliente() {
      this.enviarData();
    },
    toggleIndeterminate() {
      this.indeterminate = !this.indeterminate;
    },

    //formulario para enviar informacion
  },
};
</script>

<style>
</style>
