<template>
  <div>
    <user-list-add-new
      :is-add-new-user-sidebar-active.sync="isAddNewUserSidebarActive"
      :role-options="roleOptions"
      :paisesOptions="paisesOptions"
      :statesOptions="statesOptions"
      :ciudadOptions="ciudadOptions"
      :plan-options="planOptions"
      @refetch-data="refetchData"
    />

    <!-- Filters -->
    <!-- <users-list-filters
      :role-filter.sync="roleFilter"
      :plan-filter.sync="planFilter"
      :status-filter.sync="statusFilter"
      :role-options="roleOptions"
      :plan-options="planOptions"
      :status-options="statusOptions"
    /> -->

    <!-- Table Container Card -->
    <b-card no-body class="mb-0">
      <div class="m-2">
        <!-- Table Top -->
        <b-row>
          <!-- Per Page -->
          <b-col
            cols="12"
            md="6"
            class="d-flex align-items-center justify-content-start mb-1 mb-md-0"
          >
            <label>Ver</label>
            <v-select
              v-model="perPage"
              :dir="$store.state.appConfig.isRTL ? 'rtl' : 'ltr'"
              :options="perPageOptions"
              :clearable="false"
              class="per-page-selector d-inline-block mx-50"
            />
            <label>entradas</label>
          </b-col>

          <!-- Search -->
          <b-col cols="12" md="6">
            <div class="d-flex align-items-center justify-content-end">
              <b-form-input
                v-model="filter"
                class="d-inline-block mr-1"
                placeholder="buscar usuarios..."
              />
              <b-button
                variant="primary"
                @click="isAddNewUserSidebarActive = true"
              >
                <span class="text-nowrap">Agregar</span>
              </b-button>
            </div>
          </b-col>
        </b-row>
      </div>

      <b-table
        ref="refUserListTable"
        class="position-relative"
        :items="users"
        responsive
        :fields="tableColumns"
        primary-key="id"
        :filter="filter"
        :filter-included-fields="filterOn"
        @filtered="onFiltered"
        :sort-by.sync="sortBy"
        :current-page="currentPage"
        :per-page="perPage"
        show-empty
        empty-text="No hay usuarios registrados por el momento"
        :sort-desc.sync="isSortDirDesc"
      >
        <!-- Column: User -->
        <template #cell(user)="data">
          <b-media vertical-align="center">
            <template #aside>
              <b-avatar
                size="32"
                :src="'/storage/' + data.item.foto_persona"
                :text="avatarText(data.item.username)"
                
                :to="{ name: 'apps-users-view', params: { id: data.item.id } }"
              />
            </template>
            <b-link
              :to="{ name: 'apps-users-view', params: { id: data.item.id } }"
              class="font-weight-bold d-block text-nowrap"
            >
              {{ data.item.username }}
            </b-link>
            <small class="text-muted">@{{ data.item.username }}</small>
          </b-media>
        </template>

        <!-- Column: Role -->
        <template #cell(roles)="data">
          <div class="text-nowrap">
            <feather-icon
              :icon="resolveUserRoleIcon(data.item.roles.nombre)"
              size="18"
              class="mr-50"
              :class="`text-${resolveUserRoleVariant(data.item.roles.nombre)}`"
            />
            <span class="align-text-top text-capitalize">{{
              data.item.roles.nombre
            }}</span>
          </div>
        </template>

        <!-- Column: Status -->
        <template #cell(estado_user)="data">
          <b-badge pill variant="light-primary" class="text-capitalize">
            {{ data.item.estado_user }}
          </b-badge>
        </template>

        <template #cell(genero)="data">
          <b-badge
            v-if="data.item.genero == '1'"
            pill
            variant="light-primary"
            class="text-capitalize"
          >
            Masculino
          </b-badge>
          <b-badge
            v-if="data.item.genero == '2'"
            pill
            variant="light-success"
            class="text-capitalize"
          >
            Femenino
          </b-badge>
        </template>

        <!-- Column: Actions -->
        <template #cell(actions)="row">
          <div class="demo-inline-spacing">
            <b-button
              v-ripple.400="'rgba(255, 255, 255, 0.15)'"
              variant="success"
              class="btn-icon"
              @click="viewUser(row.item, $event.target)"
            >
              <feather-icon icon="EyeIcon" />
            </b-button>

            <b-button
              v-ripple.400="'rgba(255, 255, 255, 0.15)'"
              variant="warning"
              class="btn-icon"
              @click="edictUser(row.item, $event.target)"
            >
              <feather-icon icon="EditIcon" />
            </b-button>
          </div>
        </template>
      </b-table>
      <div class="mx-2 mb-2">
        <b-row>
          <b-col
            cols="12"
            sm="6"
            class="
              d-flex
              align-items-center
              justify-content-center justify-content-sm-start
            "
          >
            <span class="text-muted"
              >Showing {{ dataMeta.from }} to {{ dataMeta.to }} of
              {{ dataMeta.of }} entries</span
            >
          </b-col>
          <!-- Pagination -->
          <b-col
            cols="12"
            sm="6"
            class="
              d-flex
              align-items-center
              justify-content-center justify-content-sm-end
            "
          >
            <b-pagination
              v-model="currentPage"
              :total-rows="totalUsers"
              :per-page="perPage"
              first-number
              last-number
              class="mb-0 mt-1 mt-sm-0"
              prev-class="prev-item"
              next-class="next-item"
            >
              <template #prev-text>
                <feather-icon icon="ChevronLeftIcon" size="18" />
              </template>
              <template #next-text>
                <feather-icon icon="ChevronRightIcon" size="18" />
              </template>
            </b-pagination>
          </b-col>
        </b-row>
      </div>
    </b-card>
    <modal-user-edict :paises="paisesOptions" ref="ModalUserEdict" />
    <modal-user-view ref="ModalUserView" />
  </div>
</template>

<script>
import {
  BCard,
  BRow,
  BCol,
  BFormInput,
  BButton,
  BTable,
  BMedia,
  BAvatar,
  BLink,
  BBadge,
  BDropdown,
  BDropdownItem,
  BPagination,
} from "bootstrap-vue";
import vSelect from "vue-select";
import store from "@/store";
import { ref, computed, onUnmounted } from "@vue/composition-api";

import { avatarText } from "@core/utils/filter";
import UsersListFilters from "./UsersListFilters.vue";
import useUsersList from "./useUsersList";
import userStoreModule from "../userStoreModule";
import UserListAddNew from "./UserListAddNew.vue";
import Ripple from "vue-ripple-directive";
import ModalUserEditVue from "../users-edit/ModalUserEdit.vue";
import ModalUserViewVue from "../users-edit/ModalUserView.vue";

export default {
  components: {
    UsersListFilters,
    UserListAddNew,

    BCard,
    BRow,
    BCol,
    BFormInput,
    BButton,
    BTable,
    BMedia,
    BAvatar,
    BLink,
    BBadge,
    BDropdown,
    BDropdownItem,
    BPagination,
    "modal-user-edict": ModalUserEditVue,
    "modal-user-view": ModalUserViewVue,

    vSelect,
  },

  directives: {
    Ripple,
  },

  mounted() {
    this.fetchUsers();
    this.fetchRoles();
    this.fetchPaises();
  },

  methods: {
    edictUser(code, button) {
      this.$refs.ModalUserEdict.info(code, button);
    },

    viewUser(code, button) {
      this.$refs.ModalUserView.info(code, button);
    },

    onFiltered(filteredItems) {
      // Trigger pagination to update the number of buttons/pNits due to filtering
      this.totalUsers = filteredItems.length;
    },
  },

  setup() {
    const USER_APP_STORE_MODULE_NAME = "app-user";

    // Register module
    if (!store.hasModule(USER_APP_STORE_MODULE_NAME))
      store.registerModule(USER_APP_STORE_MODULE_NAME, userStoreModule);

    // UnRegister on leave
    onUnmounted(() => {
      if (store.hasModule(USER_APP_STORE_MODULE_NAME))
        store.unregisterModule(USER_APP_STORE_MODULE_NAME);
    });

    const isAddNewUserSidebarActive = ref(false);

    const roleOptions = computed(() => {
      return store.state.appRole.role_users_all;
    });

    const users = computed(() => {
      return store.state.appUser.users;
    });

    const paisesOptions = computed(() => {
      return store.state.appLocalidades.paises;
    });

    const statesOptions = computed(() => {
      return store.state.appLocalidades.estados;
    });

    const ciudadOptions = computed(() => {
      return store.state.appLocalidades.ciudades;
    });

    const planOptions = [
      { label: "Basic", value: "basic" },
      { label: "Company", value: "company" },
      { label: "Enterprise", value: "enterprise" },
      { label: "Team", value: "team" },
    ];

    const statusOptions = [
      { label: "Pending", value: "pending" },
      { label: "Active", value: "active" },
      { label: "Inactive", value: "inactive" },
    ];

    const {
      fetchUsers,
      fetchRoles,
      fetchPaises,
      fetchStates,
      fetchCiudad,
      tableColumns,
      perPage,
      currentPage,
      totalUsers,
      dataMeta,
      perPageOptions,
      searchQuery,
      sortBy,
      isSortDirDesc,
      refUserListTable,
      refetchData,
      filter,
      filterOn,
      // UI
      resolveUserRoleVariant,
      resolveUserRoleIcon,
      resolveUserStatusVariant,

      // Extra Filters
      roleFilter,
      planFilter,
      statusFilter,
    } = useUsersList();

    return {
      // Sidebar
      isAddNewUserSidebarActive,

      fetchUsers,
      fetchRoles,
      fetchPaises,
      fetchStates,
      fetchCiudad,
      tableColumns,
      perPage,
      currentPage,
      totalUsers,
      dataMeta,
      perPageOptions,
      searchQuery,
      sortBy,
      isSortDirDesc,
      refUserListTable,
      refetchData,

      // Filter
      filter,
      filterOn,

      avatarText,

      // UI
      resolveUserRoleVariant,
      resolveUserRoleIcon,
      resolveUserStatusVariant,
      paisesOptions,
      ciudadOptions,
      statesOptions,
      roleOptions,
      planOptions,
      statusOptions,
      users,
      // Extra Filters
      roleFilter,
      planFilter,
      statusFilter,
    };
  },
};
</script>

<style lang="scss" scoped>
.per-page-selector {
  width: 90px;
}
</style>

<style lang="scss">
@import "@core/scss/vue/libs/vue-select.scss";
</style>
