<template>
  <div>
    <b-form>
      <b-row>
        <!-- Columna 1  -->
        <b-col md="6" lg="6">
          <!-- Card1-1 : Informacion basica  -->
          <b-card-actions
            border-variant="primary"
            bg-variant="transparent"
            class="shadow-none"
            title="Informacion Basica"
            action-collapse
          >
            <b-row>
              <!-- Field: Tipo de inmueble -->
              <b-col cols="12" md="6" lg="6">
                <b-form-group label="Tipo de Inmueble" label-for="language">
                  <v-select
                    v-model="userDataInfo.language"
                    :dir="$store.state.appConfig.isRTL ? 'rtl' : 'ltr'"
                    :options="tipoDeInmueble"
                    :clearable="false"
                    input-id="language"
                  />
                </b-form-group>
              </b-col>

              <!-- Field: Tipo Prueba
              <b-col cols="12" md="6" lg="6">
                <b-form-group label="Prueba" label-for="default">
                  <v-select
                    v-model="pregunta.default"
                    :options="pruebaLista"
                    :clearable="false"
                    input-id="default"
                  />
                </b-form-group>
              </b-col> -->

              <!-- Field: Tipo de Negocio -->
              <b-col cols="12" md="6" lg="6">
                <b-form-group label="Tipo de negocio" label-for="language">
                  <v-select
                    v-model="userDataInfo.language"
                    :dir="$store.state.appConfig.isRTL ? 'rtl' : 'ltr'"
                    :options="tipoDeNegocio"
                    :clearable="false"
                    input-id="language"
                  />
                </b-form-group>
              </b-col>
            </b-row>
            <b-row>
              <!-- Field: Segmento de mercado -->
              <b-col cols="12" md="6" lg="6">
                <b-form-group label="Segmento de mercado" label-for="language">
                  <v-select
                    v-model="userDataInfo.language"
                    :dir="$store.state.appConfig.isRTL ? 'rtl' : 'ltr'"
                    :options="segmendtoDeMercado"
                    :clearable="false"
                    input-id="language"
                  />
                </b-form-group>
              </b-col>
              <!-- Field: Estado de la publicacion -->
              <b-col cols="12" md="6" lg="6">
                <b-form-group
                  label="Estado de la publicación"
                  label-for="language"
                >
                  <v-select
                    v-model="userDataInfo.language"
                    :dir="$store.state.appConfig.isRTL ? 'rtl' : 'ltr'"
                    :options="estadoPublicacion"
                    :clearable="false"
                    input-id="language"
                  />
                </b-form-group>
              </b-col>
            </b-row>
            <b-row>
              <!-- Field: Matricula Inmobiliaria -->
              <b-col cols="12" md="12" lg="12">
                <b-form-group label="Titulo del inmueble" label-for="state">
                  <b-form-input
                    id="state"
                    v-model="userDataInfo.state"
                    placeholder="Titulo principal del inmueble"
                  />
                </b-form-group>
              </b-col>
            </b-row>
            <b-row>
              <!-- Field: Estado fisico de la propiedad -->
              <b-col cols="12" md="6" lg="6">
                <b-form-group
                  label="Estado fisico de la propiedad"
                  label-for="language"
                >
                  <v-select
                    v-model="userDataInfo.language"
                    :options="estadoFisicoPropiedad"
                    :clearable="false"
                    input-id="language"
                  />
                </b-form-group>
              </b-col>

              <!-- Field: Matricula Inmobiliaria -->
              <b-col cols="12" md="6" lg="6">
                <b-form-group label="Matricula Inmobiliaria" label-for="state">
                  <b-form-input
                    id="state"
                    v-model="userDataInfo.state"
                    placeholder="No. de Matricula"
                  />
                </b-form-group>
              </b-col>
            </b-row>
            <b-row>
              <!-- Field: Estrato -->
              <b-col cols="12" md="6" lg="6">
                <b-form-group label="Estrato" label-for="language">
                  <v-select
                    v-model="userDataInfo.language"
                    :dir="$store.state.appConfig.isRTL ? 'rtl' : 'ltr'"
                    :options="segmendtoDeMercado"
                    :clearable="false"
                    input-id="language"
                  />
                </b-form-group>
              </b-col>

              <!-- Field: Address Line 1 -->
              <b-col cols="12" md="6" lg="6">
                <b-form-group
                  label="Año de construcción"
                  label-for="address-line-1"
                >
                  <b-form-input
                    id="address-line-1"
                    placeholder="Ejemplo: 1990"
                  />
                </b-form-group>
              </b-col>
            </b-row>
          </b-card-actions>
          <!-- Card2-1 : Caracteristicas  -->
          <b-card-actions
            border-variant="primary"
            bg-variant="transparent"
            class="shadow-none"
            title="Caracteristicas"
            action-collapse
          >
            <b-row>
              <!-- field: Caracteristicas Internas  -->
              <b-col>
                <b-form-group label-for="" label="Caracteristicas Internas">
                  <v-select
                    v-model="selected"
                    :dir="$store.state.appConfig.isRTL ? 'rtl' : 'ltr'"
                    multiple
                    label="Caracteristicas Internas"
                    :options="option"
                  />
                </b-form-group>
              </b-col>
            </b-row>
            <b-row>
              <!-- field: Caracteristicas Externas  -->
              <b-col>
                <b-form-group label-for="" label="Caracteristicas Externas">
                  <v-select
                    v-model="selected"
                    :dir="$store.state.appConfig.isRTL ? 'rtl' : 'ltr'"
                    multiple
                    label="Caracteristicas Internas"
                    :options="option"
                  />
                </b-form-group>
              </b-col>
            </b-row>
            <b-row>
              <!-- field: Alcobas  -->
              <b-col cols="12" md="4" lg="4">
                <b-form-group label="Alcobas" label-for="language">
                  <b-form-spinbutton
                    id="sb-inline"
                    v-model="userDataInfo.value"
                    min="0"
                    max="50"
                  />
                </b-form-group>
              </b-col>

              <!-- field: Baños  -->
              <b-col cols="12" md="4" lg="4">
                <b-form-group label="Baños" label-for="language">
                  <b-form-spinbutton
                    id="sb-inline"
                    v-model="userDataInfo.value"
                    min="0"
                    max="50"
                  />
                </b-form-group>
              </b-col>
              <!-- field: Garaje  -->
              <b-col cols="12" md="4" lg="4">
                <b-form-group label="Garaje" label-for="language">
                  <b-form-spinbutton
                    id="sb-inline"
                    v-model="userDataInfo.value"
                    min="0"
                    max="50"
                  />
                </b-form-group>
              </b-col>
            </b-row>
            <b-row>
              <!-- field: Piso  -->
              <b-col cols="12" md="4" lg="4">
                <b-form-group label="Piso" label-for="language">
                  <b-form-spinbutton
                    id="sb-inline"
                    v-model="userDataInfo.value"
                    min="0"
                    max="50"
                  />
                </b-form-group>
              </b-col>
              <!-- field: Ascensor  -->
              <b-col cols="12" md="8" lg="8">
                <b-form-group label="Ascensor" label-for="language">
                  <v-select
                    v-model="userDataInfo.language"
                    :options="languageOptions"
                    :clearable="false"
                    input-id="language"
                  />
                </b-form-group>
              </b-col>
            </b-row>
            <b-row>
              <!-- field: Parqueaderos  -->
              <b-col cols="12" md="4" lg="4">
                <b-form-group label="Parqueaderos" label-for="language">
                  <b-form-spinbutton
                    id="sb-inline"
                    v-model="userDataInfo.value"
                    min="0"
                    max="50"
                  />
                </b-form-group>
              </b-col>
              <!-- field: Tipo de Parqueaderos  -->
              <b-col cols="12" md="8" lg="8">
                <b-form-group label="Tipo de Parqueaderos" label-for="language">
                  <v-select
                    v-model="userDataInfo.language"
                    :options="languageOptions"
                    :clearable="false"
                    input-id="language"
                  />
                </b-form-group>
              </b-col>
            </b-row>
            <b-row>
              <!-- area del lote  -->
              <b-col md="6">
                <b-form-group label-for="" label="Area del lote">
                  <div class="form-label-group">
                    <b-input-group append="m²">
                      <cleave
                        id="15"
                        v-model="lista.value"
                        class="form-control"
                        :raw="false"
                        :options="noptions.number"
                        placeholder="Cuota inicial"
                      />
                    </b-input-group>
                  </div>
                </b-form-group>
              </b-col>
              <!-- area construida  -->
              <b-col md="6">
                <b-form-group label-for="" label="Area construida">
                  <div class="form-label-group">
                    <b-input-group append="m²">
                      <cleave
                        id="15"
                        v-model="lista.value"
                        class="form-control"
                        :raw="false"
                        :options="noptions.number"
                        placeholder="Cuota inicial"
                      />
                    </b-input-group>
                  </div>
                </b-form-group>
              </b-col>
            </b-row>
            <b-row>
              <!-- fiel: frente  -->
              <b-col md="6">
                <b-form-group label-for="" label="Frente">
                  <div class="form-label-group">
                    <b-input-group append="m">
                      <cleave
                        id="15"
                        v-model="lista.value"
                        class="form-control"
                        :raw="false"
                        :options="noptions.number"
                        placeholder="Cuota inicial"
                      />
                    </b-input-group>
                  </div>
                </b-form-group>
              </b-col>
              <!-- Fondo  -->
              <b-col md="6">
                <b-form-group label-for="" label="Fondo">
                  <div class="form-label-group">
                    <b-input-group append="m²">
                      <cleave
                        id="15"
                        v-model="lista.value"
                        class="form-control"
                        :raw="false"
                        :options="noptions.number"
                        placeholder="Cuota inicial"
                      />
                    </b-input-group>
                  </div>
                </b-form-group>
              </b-col>
            </b-row>
            <b-row>
              <!-- Area Total  -->
              <b-col md="6">
                <b-form-group label-for="" label="Area Total">
                  <div class="form-label-group">
                    <b-input-group append="m²">
                      <cleave
                        id="15"
                        v-model="lista.value"
                        class="form-control"
                        :raw="false"
                        :options="noptions.number"
                        placeholder="Cuota inicial"
                      />
                    </b-input-group>
                  </div>
                </b-form-group>
              </b-col>
              <!-- field: Cantidad de ambientes  -->
              <b-col md="6" lg="6">
                <b-form-group
                  label="Cantidad de ambientes"
                  label-for="language"
                >
                  <v-select
                    v-model="userDataInfo.nada"
                    :options="languageOptions"
                    :clearable="false"
                    input-id="language"
                  />
                </b-form-group>
              </b-col>
            </b-row>
          </b-card-actions>
          <!-- Card3-1 : Descripcion  -->
          <b-card-actions
            border-variant="primary"
            bg-variant="transparent"
            class="shadow-none"
            title="Descripcion"
            action-collapse
          >
            <b-row>
              <!-- field: Descripcion del inmueble  -->
              <b-col>
                <b-form-textarea
                  id="textarea-state"
                  v-model="userDataInfo.textDescripcion"
                  :state="userDataInfo.textDescripcion.length >= 50"
                  placeholder="Ingresa mas de 50 caracteres"
                  rows="4"
                />
              </b-col>
            </b-row>
          </b-card-actions>
        </b-col>
        <!-- Columna 2  -->
        <b-col md="6" lg="6">
          <!-- Card1-2: Precios  -->
          <b-card-actions
            title="Precios"
            border-variant="primary"
            bg-variant="transparent"
            class="shadow-none"
            action-collapse
          >
            <!-- Form: Personal Info Form -->
            <b-row>
              <!-- Field: Precio de venta -->
              <b-col md="12">
                <b-form-group label="Precio de venta">
                  <b-input-group prepend="$">
                    <cleave
                      id="10"
                      v-model="lista.value"
                      class="form-control"
                      :raw="false"
                      :options="noptions.number"
                      placeholder="Cuota inicial"
                    />
                    <b-input-group-append>
                      <b-form-select v-model="lista.divisa" :options="divisas">
                      </b-form-select>
                    </b-input-group-append>
                  </b-input-group>
                </b-form-group>
              </b-col>

              <!-- Tipo de precio  -->
              <b-col md="12">
                <b-form-group label="Tipo de precio" label-for="language">
                  <v-select
                    v-model="userDataInfo.language"
                    :options="languageOptions"
                    :clearable="false"
                    input-id="language"
                  />
                </b-form-group>
              </b-col>
            </b-row>
            <b-row>
              <!-- Field: Precio de Alquiler -->
              <b-col md="12">
                <b-form-group label-for="" label="Precio de alquiler">
                  <div class="form-label-group">
                    <b-input-group prepend="$">
                      <cleave
                        id="11"
                        v-model="lista.value"
                        class="form-control"
                        :raw="false"
                        :options="noptions.number"
                        placeholder="Cuota inicial"
                      />
                      <b-input-group-append>
                        <b-form-select
                          v-model="lista.divisa"
                          :options="divisas"
                        >
                        </b-form-select>
                      </b-input-group-append>
                    </b-input-group>
                  </div>
                </b-form-group>
              </b-col>

              <!-- Tiempo de alquiler  -->
              <b-col cols="12">
                <b-form-group label="Tiempo de alquiler" label-for="language">
                  <v-select
                    v-model="userDataInfo.language"
                    :options="languageOptions"
                    :clearable="false"
                    input-id="language"
                  />
                </b-form-group>
              </b-col>
            </b-row>
            <b-row>
              <!-- Field: Precio de Administración  -->
              <b-col md="12">
                <b-form-group label-for="" label="Precio de administración">
                  <div class="form-label-group">
                    <b-input-group prepend="$">
                      <cleave
                        id="12"
                        v-model="lista.value"
                        class="form-control"
                        :raw="false"
                        :options="noptions.number"
                        placeholder="Cuota inicial"
                      />
                      <b-input-group-append>
                        <b-form-select
                          v-model="lista.divisa"
                          :options="divisas"
                        >
                        </b-form-select>
                      </b-input-group-append>
                    </b-input-group>
                  </div>
                </b-form-group>
              </b-col>

              <!-- Tiempo de Administración  -->
              <b-col cols="12">
                <b-form-group
                  label="Periodo de administración"
                  label-for="language"
                >
                  <v-select
                    v-model="userDataInfo.language"
                    :options="languageOptions"
                    :clearable="false"
                    input-id="language"
                  />
                </b-form-group>
              </b-col>
            </b-row>
          </b-card-actions>
          <!-- Card2-2 : Ubicación  -->
          <b-card-actions
            border-variant="primary"
            bg-variant="transparent"
            class="shadow-none"
            title="Ubicación"
            action-collapse
          >
            <b-row>
              <!-- field: Pais  -->
              <b-col>
                <b-form-group label="Pais" label-for="language">
                  <v-select
                    v-model="userDataInfo.nada"
                    :options="languageOptions"
                    :clearable="false"
                    input-id="language"
                  />
                </b-form-group>
              </b-col>
            </b-row>
            <b-row>
              <!-- field: Departamento  -->
              <b-col>
                <b-form-group label="Departamento" label-for="language">
                  <v-select
                    v-model="userDataInfo.nada"
                    :options="languageOptions"
                    :clearable="false"
                    input-id="language"
                  />
                </b-form-group>
              </b-col>
            </b-row>
            <b-row>
              <!-- field: Ciudad  -->
              <b-col>
                <b-form-group label="Ciudad" label-for="language">
                  <v-select
                    v-model="userDataInfo.nada"
                    :options="languageOptions"
                    :clearable="false"
                    input-id="language"
                  />
                </b-form-group>
              </b-col>
            </b-row>
            <b-row>
              <!-- field: Zona  -->
              <b-col>
                <b-form-group label="Zona" label-for="language">
                  <v-select
                    v-model="userDataInfo.nada"
                    :options="languageOptions"
                    :clearable="false"
                    input-id="language"
                  />
                </b-form-group>
              </b-col>
              <!-- field: Barrio  -->
              <b-col>
                <b-form-group label="Barrio" label-for="language">
                  <v-select
                    v-model="userDataInfo.nada"
                    :options="languageOptions"
                    :clearable="false"
                    input-id="language"
                  />
                </b-form-group>
              </b-col>
            </b-row>
            <b-row>
              <!-- Field: Latitud -->
              <b-col cols="12" md="6" lg="6">
                <b-form-group label="Latitud" label-for="address-line-1">
                  <b-form-input
                    id="address-line-1"
                    placeholder="Ejemplo: 1990"
                  />
                </b-form-group>
              </b-col>
              <!-- Field: Longitud -->
              <b-col cols="12" md="6" lg="6">
                <b-form-group label="Longitud" label-for="address-line-1">
                  <b-form-input
                    id="address-line-1"
                    placeholder="Ejemplo: 1990"
                  />
                </b-form-group>
              </b-col>
            </b-row>
            <b-row>
              <!-- Field: Dirección  -->
              <b-col>
                <b-form-group label="Direccion" label-for="basicInput">
                  <b-form-input
                    id="basicInput"
                    placeholder="Ingresa la dirección"
                  />
                </b-form-group>
              </b-col>
            </b-row>
          </b-card-actions>
          <!-- Card2-2 : Propietario  -->
          <b-card-actions
            border-variant="primary"
            bg-variant="transparent"
            class="shadow-none"
            title="Propietario"
            footer="*Informacion Privada"
            footer-class="text-muted"
            action-collapse
            collapsed
          >
            <b-row>
              <!-- field: Nombre Completo  -->
              <b-col md="6">
                <b-form-group label="Primer Nombre" label-for="language">
                  <b-form-input id="basicInput" placeholder="" />
                </b-form-group>
              </b-col>
              <b-col md="6">
                <b-form-group label="Segundo Nombre" label-for="language">
                  <b-form-input id="basicInput" placeholder="" />
                </b-form-group>
              </b-col>
            </b-row>
            <b-row>
              <!-- field: Apellidos  -->
              <b-col md="6">
                <b-form-group label="Primer Apellido" label-for="language">
                  <b-form-input id="basicInput" placeholder="" />
                </b-form-group>
              </b-col>
              <b-col md="6">
                <b-form-group label="Segundo Apellido" label-for="language">
                  <b-form-input id="basicInput" placeholder="" />
                </b-form-group>
              </b-col>
            </b-row>
            <b-row>
              <!-- field: Contacto  -->
              <b-col>
                <b-form-group label="Telefono" label-for="language">
                  <b-form-input id="basicInput" placeholder="" />
                </b-form-group>
              </b-col>
            </b-row>
            <b-row>
              <!-- field: Zona  -->
              <b-col>
                <h6>En construcción.. </h6>
              </b-col>
            </b-row>
          </b-card-actions>
        </b-col>
      </b-row>
      <b-row>
        <b-col>
          <b-button
            variant="primary"
            class="mb-1 mb-sm-0 mr-0 mr-sm-1"
            :block="$store.getters['app/currentBreakPoint'] === 'xs'"
          >
            Guardar
          </b-button>
          <b-button
            variant="outline-secondary"
            :block="$store.getters['app/currentBreakPoint'] === 'xs'"
          >
            Borrador
          </b-button>
        </b-col>
      </b-row>
    </b-form>
  </div>
</template>

<script>
import {
  BRow,
  BCol,
  BForm,
  BFormGroup,
  BFormInput,
  BFormTextarea,
  BFormRadioGroup,
  BFormCheckboxGroup,
  BButton,
  BCardText,
  BTable,
  BCardTitle,
  BCard,
  BInputGroupPrepend,
  BInputGroupAppend,
  BInputGroup,
  BDropdown,
  BDropdownItem,
  BDropdownDivider,
  BFormCheckbox,
  BFormDatalist,
  BFormRadio,
  BFormSelect,
  BFormTimepicker,
  BFormInvalidFeedback,
  BFormSpinbutton,
} from "bootstrap-vue";
import flatPickr from "vue-flatpickr-component";
import { ref } from "@vue/composition-api";
import vSelect from "vue-select";
import AppCollapse from "@core/components/app-collapse/AppCollapse.vue";
import AppCollapseItem from "@core/components/app-collapse/AppCollapseItem.vue";
import BCardCode from "@core/components/b-card-code";
import BCardActions from "@core/components/b-card-actions/BCardActions.vue";
import Cleave from "vue-cleave-component";
import "cleave.js/dist/addons/cleave-phone.us";

export default {
  components: {
    BRow,
    BCol,
    BForm,
    BTable,
    BFormGroup,
    flatPickr,
    BFormInput,
    vSelect,
    BFormRadioGroup,
    BFormCheckboxGroup,
    BButton,
    BCardText,
    AppCollapse,
    AppCollapseItem,
    BCardCode,
    BCardActions,
    BCardTitle,
    BCard,
    Cleave,
    BInputGroupPrepend,
    BInputGroupAppend,
    BInputGroup,
    BDropdown,
    BDropdownItem,
    BDropdownDivider,
    BFormCheckbox,
    BFormTextarea,
    BFormDatalist,
    BFormRadio,
    BFormSelect,
    BFormTimepicker,
    BFormInvalidFeedback,
    BFormSpinbutton,
  },
  setup() {
    const userDataInfo = ref({
      dob: null,
      mobile: "Ingresa un numero",
      website: "https://rowboat.com/insititious/Angelo",
      language: "Seleccionar",
      gender: "female",
      contactOptions: ["Email", "Message"],
      addressLine1: "A-65, Belvedere Streets",
      addressLine2: "",
      postcode: "",
      city: "New York",
      state: "",
      country: "",
      divisa: "",
      nada: "",
      area: "",
      value: 0,
      textDescripcion: "",
    });

    const languageOptions = [
      "English",
      "Spanish",
      "French",
      "Russian",
      "German",
      "Arabic",
      "Sanskrit",
    ];

    const tipoDeInmueble = ["Apartamento", "Casa", "Lote"];

    const tipoDeNegocio = ["Venta", "Alquiler", "Venta - Alquiler"];

    const segmendtoDeMercado = ["Residencial", "Comercial", "Otro"];

    const estadoPublicacion = ["Activo", "Inactivo", "Borrador"];

    const estadoFisicoPropiedad = ["Nuevo", "Usado", "Borrador"];

    const genderOptions = [
      { text: "Male", value: "male" },
      { text: "Female", value: "female" },
    ];

    const contactOptionsOptions = ["Email", "Message", "Phone"];

    return {
      userDataInfo,
      languageOptions,
      genderOptions,
      contactOptionsOptions,
      tipoDeInmueble,
      tipoDeNegocio,
      segmendtoDeMercado,
      estadoPublicacion,
      estadoFisicoPropiedad,
    };
  },
  data() {
    return {
      pregunta: {
        default: "Selec",
      },
      pruebaLista: [
        "valor1",
        "Valor2",
        // { text: "Valor1", value: "1" }, Pruebas FLM
        // { text: "Valor2", value: "2" },
      ],
      maxChar: 20,
      noptions: {
        number: {
          numeral: true,
          numeralDecimalMark: ",",
          delimiter: ".",

          noImmediatePrefix: true,
        },
        numberArea: {
          numeral: true,
        },
      },

      divisas: [
        { text: "COP", value: "COP" },
        { text: "USD", value: "USD" },
      ],

      areas: [{ text: "m²", value: "COP" }],

      option: ["Cocina Integral", "Calentador"],

      lista: {
        area: "m²",
        value: "",
        divisa: "COP",
      },

      dir: "ltr",
      selected: "",
    };
  },
};
</script>

<style lang="scss">
@import "@core/scss/vue/libs/vue-flatpicker.scss";
</style>
