<template>
  <!-- Alert: No item found -->
  <b-overlay :show="show" rounded="sm">
    <form-wizard
      ref="wizard"
      color="#7367F0"
      :title="null"
      :subtitle="null"
      shape="square"
      finish-button-text="Guardar"
      back-button-text="Atras"
      next-button-text="Siguiente"
      class="mb-3"
      @on-complete="formSubmitted"
    >
      <tab-content title="Datos basicos" icon="feather icon-user">
        <b-row>
          <b-col cols="12" class="mb-2">
            <b-form>
              <b-row>
                <!-- Columna 1  -->
                <b-col md="6" lg="6">
                  <!-- Card1-1 : Informacion basica  -->
                  <b-card-actions
                    border-variant="primary"
                    bg-variant="transparent"
                    class="shadow-none"
                    title="Informacion Basica"
                    action-collapse
                  >
                    <b-row>
                      <!-- Field: Tipo de inmueble -->
                      <b-col cols="12" md="6" lg="6">
                        <b-form-group
                          label="Tipo de Inmueble"
                          label-for="tipo_inmueble"
                        >
                          <v-select
                            v-model="inmueble.tipo_inmueble"
                            :options="tipo_inmuebles"
                            :clearable="false"
                            label="tipo"
                            input-id="tipo_inmueble"
                            placeholder="Seleccionar"
                          />
                        </b-form-group>
                      </b-col>

                      <!-- Field: Tipo de Negocio -->
                      <b-col cols="12" md="6" lg="6">
                        <b-form-group
                          label="Tipo de negocio"
                          label-for="tipoNegocio"
                        >
                          <v-select
                            v-model="inmueble.tipo_negocio"
                            :options="tipo_negocio"
                            :clearable="false"
                            label="tipo"
                            placeholder="Seleccionar"
                          />
                        </b-form-group>
                      </b-col>
                    </b-row>
                    <b-row>
                      <!-- Field: Segmento de mercado -->
                      <b-col cols="12" md="6" lg="6">
                        <b-form-group
                          label="Segmento de mercado"
                          label-for="SegmendoMercado"
                        >
                          <v-select
                            v-model="inmueble.segmento"
                            :options="segmento_mercado"
                            label="name"
                            :clearable="false"
                            input-id="SegmendoMercado"
                            placeholder="Seleccionar"
                          />
                        </b-form-group>
                      </b-col>
                      <!-- Field: Estado de la publicacion -->
                      <b-col cols="12" md="6" lg="6">
                        <b-form-group
                          label="Estado de la publicación"
                          label-for="estadoPublicacion"
                        >
                          <v-select
                            v-model="inmueble.estado_publicacion"
                            :options="state_publication"
                            label="name"
                            input-id="estadoPublicacion"
                            placeholder="Seleccionar"
                          />
                        </b-form-group>
                      </b-col>
                    </b-row>
                    <b-row>
                      <b-col cols="12" md="6" lg="6">
                        <b-form-group label="Antiguedad" label-for="antiguedad">
                          <v-select
                            v-model="inmueble.antiguedad"
                            :options="antiguedad"
                            label="name"
                            :clearable="false"
                            input-id="antiguedad"
                            placeholder="Seleccionar"
                          />
                        </b-form-group>
                      </b-col>
                    </b-row>
                    <b-row>
                      <!-- Field: Titulo del inmueble -->
                      <b-col cols="12" md="12" lg="12">
                        <b-form-group
                          label="Titulo del inmueble *"
                          label-for="tituloInmueble"
                        >
                          <b-form-input
                            required
                            id="tituloInmueble"
                            v-model="inmueble.titulo_inmueble"
                            placeholder="Titulo principal del inmueble"
                          />
                        </b-form-group>
                      </b-col>
                    </b-row>
                    <b-row>
                      <!-- Field: Estado fisico de la propiedad -->
                      <b-col cols="12" md="6" lg="6">
                        <b-form-group
                          label="Estado de la propiedad"
                          label-for="EstadoFisico"
                        >
                          <v-select
                            v-model="inmueble.state_fisico"
                            :options="state_fisicos"
                            label="name"
                            :clearable="false"
                            input-id="EstadoFisico"
                            placeholder="Seleccionar"
                          />
                        </b-form-group>
                      </b-col>

                      <!-- Field: Matricula Inmobiliaria -->
                      <b-col cols="12" md="6" lg="6">
                        <b-form-group
                          label="Matricula Inmobiliaria"
                          label-for="matricula"
                        >
                          <b-form-input
                            id="matricula"
                            v-model="inmueble.matricula_inmobiliaria"
                            placeholder="No. de Matricula"
                            input-id="matricula"
                          />
                        </b-form-group>
                      </b-col>
                    </b-row>
                    <b-row>
                      <!-- Field: Estrato -->
                      <b-col cols="12" md="6" lg="6">
                        <b-form-group label="Estrato" label-for="estrato">
                          <v-select
                            v-model="inmueble.estrato"
                            :options="estratos"
                            label="name"
                            input-id="estrato"
                            placeholder="Seleccionar"
                          />
                        </b-form-group>
                      </b-col>

                      <!-- Field: Año de construccion -->
                      <b-col cols="12" md="6" lg="6">
                        <b-form-group
                          label="Año de construcción"
                          label-for="año_construido"
                        >
                          <b-form-input
                            id="año_construido"
                            v-model="inmueble.ano_construcion"
                            placeholder="Ejemplo: 1990"
                          />
                        </b-form-group>
                      </b-col>
                    </b-row>
                  </b-card-actions>
                  <!-- Card2-1 : Caracteristicas  -->
                  <b-card-actions
                    border-variant="primary"
                    bg-variant="transparent"
                    class="shadow-none"
                    title="Caracteristicas"
                    action-collapse
                  >
                    <b-row>
                      <!-- field: Caracteristicas Internas  -->

                      <b-col>
                        <b-form-group
                          label-for="carInternas"
                          label="Caracteristicas Internas"
                        >
                          <v-select
                            v-model="inmueble.caracteristicas_internas"
                            multiple
                            :close-on-select="false"
                            :options="caracteristicas_internas"
                            label="texto"
                            placeholder="Seleccion"
                          />
                        </b-form-group>
                      </b-col>
                    </b-row>
                    <b-row>
                      <!-- field: Caracteristicas Externas  -->
                      <b-col>
                        <b-form-group
                          label-for="carExternas"
                          label="Caracteristicas Externas"
                        >
                          <v-select
                            v-model="inmueble.caracteristicas_externas"
                            multiple
                            :close-on-select="false"
                            label="texto"
                            :options="caracteristicas_externas"
                            placeholder="Seleccionar"
                          />
                        </b-form-group>
                      </b-col>
                    </b-row>
                    <b-row>
                      <b-col cols="12" md="4" lg="4">
                        <b-form-group label="Baños" label-for="banos">
                          <b-form-spinbutton
                            id="banos"
                            v-model="inmueble.banos"
                            min="0"
                            max="8"
                            placeholder="0"
                          />
                        </b-form-group>
                      </b-col>
                      <b-col cols="12" md="4" lg="4">
                        <b-form-group label="Habitaciones" label-for="banos">
                          <b-form-spinbutton
                            id="habitaciones"
                            v-model="inmueble.habitaciones"
                            min="0"
                            max="8"
                            placeholder="0"
                          />
                        </b-form-group>
                      </b-col>
                      <b-col cols="12" md="4" lg="4">
                        <b-form-group label="Número de pisos" label-for="piso">
                          <b-form-spinbutton
                            id="pisos"
                            v-model="inmueble.pisos"
                            min="1"
                            max="30"
                            placeholder="0"
                          />
                        </b-form-group>
                      </b-col>
                      <!-- field: Garaje  -->
                      <!-- <b-col cols="12" md="4" lg="4">
                        <b-form-group label="Garaje" label-for="garaje">
                          <b-form-spinbutton
                            id="garage"
                            v-model="inmueble.garaje"
                            min="0"
                            max="8"
                            placeholder="0"
                          />
                        </b-form-group>
                      </b-col> -->
                    </b-row>
                    <b-row>
                      <!-- field: Piso  -->
                    </b-row>
                    <b-row>
                      <!-- field: Parqueaderos  -->
                      <b-col cols="12" md="4" lg="4">
                        <b-form-group
                          label="Cantidad de Parqueaderos"
                          label-for="parqueaderos"
                        >
                          <b-form-spinbutton
                            id="sb-inline"
                            v-model="inmueble.cantidad_parqueadero"
                            min="0"
                            max="50"
                            placeholder="0"
                          />
                        </b-form-group>
                      </b-col>
                      <!-- field: Tipo de Parqueaderos  -->
                      <b-col cols="12" md="8" lg="8">
                        <b-form-group
                          label="Tipo de Parqueaderos"
                          label-for="parqueadero"
                        >
                          <v-select
                            v-model="inmueble.parqueadero"
                            :options="tipo_parqueadero"
                            label="tipo"
                            :clearable="false"
                            input-id="parqueadero"
                            placeholder="Seleccionar"
                          />
                        </b-form-group>
                      </b-col>
                    </b-row>
                    <b-row>
                      <!-- area del lote  -->
                      <b-col md="6">
                        <b-form-group
                          label-for="area_lote"
                          label="Area del lote"
                        >
                          <div class="form-label-group">
                            <b-input-group append="m²">
                              <cleave
                                id="area_lote"
                                v-model="inmueble.area_lote"
                                class="form-control"
                                :raw="false"
                                :options="noptions.number"
                                placeholder="Area del Lote"
                              />
                            </b-input-group>
                          </div>
                        </b-form-group>
                      </b-col>
                      <!-- area construida  -->
                      <b-col md="6">
                        <b-form-group
                          label-for="area_construida"
                          label="Area construida"
                        >
                          <div class="form-label-group">
                            <b-input-group append="m²">
                              <cleave
                                id="area_construida"
                                v-model="inmueble.area_contruida"
                                class="form-control"
                                :raw="false"
                                :options="noptions.number"
                                placeholder="Area construida"
                              />
                            </b-input-group>
                          </div>
                        </b-form-group>
                      </b-col>
                    </b-row>
                    <b-row>
                      <!-- fiel: frente  -->
                      <b-col md="6">
                        <b-form-group label-for="frente" label="Frente">
                          <div class="form-label-group">
                            <b-input-group append="m">
                              <cleave
                                id="fente"
                                v-model="inmueble.frente"
                                class="form-control"
                                :raw="false"
                                :options="noptions.number"
                                placeholder="Area de frente"
                              />
                            </b-input-group>
                          </div>
                        </b-form-group>
                      </b-col>
                      <!-- Fondo  -->
                      <b-col md="6">
                        <b-form-group label-for="fondo" label="Fondo">
                          <div class="form-label-group">
                            <b-input-group append="m">
                              <cleave
                                id="fondo"
                                v-model="inmueble.fondo"
                                class="form-control"
                                :raw="false"
                                :options="noptions.number"
                                placeholder="Area del fondo"
                              />
                            </b-input-group>
                          </div>
                        </b-form-group>
                      </b-col>
                    </b-row>
                    <b-row>
                      <!-- Area Total  -->
                      <b-col md="6">
                        <b-form-group
                          label-for="cuota_inicial"
                          label="Area Total"
                        >
                          <div class="form-label-group">
                            <b-input-group append="m²">
                              <cleave
                                id="cuota_inicial"
                                v-model="inmueble.area_total"
                                class="form-control"
                                :raw="false"
                                :options="noptions.number"
                                placeholder="Cuota inicial"
                              />
                            </b-input-group>
                          </div>
                        </b-form-group>
                      </b-col>
                    </b-row>
                  </b-card-actions>
                  <!-- Card3-1 : Descripcion  -->
                </b-col>
                <!-- Columna 2  -->
                <b-col md="6" lg="6">
                  <!-- Card1-2: Precios  -->
                  <b-card-actions
                    title="Precios"
                    border-variant="primary"
                    bg-variant="transparent"
                    class="shadow-none"
                    action-collapse
                  >
                    <b-form-group label="Rango de precio" label-for="precio">
                      <v-select
                        v-model="inmueble.rangue_price"
                        :options="rangue_price"
                        :clearable="false"
                        label="value"
                        input-id="precio"
                        placeholder="Seleccionar"
                      />
                    </b-form-group>

                    <!-- Form: Personal Info Form -->
                    <b-row>
                      <!-- Field: Precio de venta -->
                      <b-col md="12">
                        <b-form-group
                          label="Precio de venta"
                          label-for="pventa"
                        >
                          <b-input-group prepend="$">
                            <cleave
                              id="10"
                              v-model="inmueble.precio_venta"
                              class="form-control"
                              :raw="false"
                              :options="noptions.number"
                              placeholder="Precio de venta"
                            />
                            <b-input-group-append>
                              <b-form-select
                                v-model="numeroFormato.divisa"
                                :options="divisas"
                              >
                              </b-form-select>
                            </b-input-group-append>
                          </b-input-group>
                        </b-form-group>
                      </b-col>

                      <!-- Tipo de precio  -->
                      <b-col md="12">
                        <b-form-group label="Tipo de precio" label-for="precio">
                          <v-select
                            v-model="inmueble.tipo_precio"
                            :options="precios"
                            :clearable="false"
                            label="descripcion"
                            input-id="precio"
                            placeholder="Seleccionar"
                          />
                        </b-form-group>
                      </b-col>
                    </b-row>
                    <b-row>
                      <!-- Field: Precio de Alquiler -->
                      <b-col md="12">
                        <b-form-group
                          label="Precio del alquiler"
                          label-for="language"
                        >
                          <div class="form-label-group">
                            <b-input-group prepend="$">
                              <cleave
                                id="11"
                                v-model="inmueble.precio_alquiler"
                                class="form-control"
                                :raw="false"
                                :options="noptions.number"
                                placeholder="Precio del alquiler"
                              />
                              <b-input-group-append>
                                <b-form-select
                                  v-model="numeroFormato.divisa"
                                  :options="divisas"
                                >
                                </b-form-select>
                              </b-input-group-append>
                            </b-input-group>
                          </div>
                        </b-form-group>
                      </b-col>

                      <!-- Tiempo de alquiler  -->
                      <b-col cols="12">
                        <b-form-group
                          label="Tiempo de alquiler"
                          label-for="language"
                        >
                          <v-select
                            v-model="inmueble.tiempo_alquiler"
                            :options="tiempo_alquiler"
                            label="tipo"
                            :clearable="false"
                            placeholder="Seleccionar"
                          />
                        </b-form-group>
                      </b-col>
                    </b-row>
                    <b-row>
                      <!-- Field: Precio de Administración  -->
                      <b-col md="12">
                        <b-form-group
                          label-for="padmon"
                          label="Precio de administración"
                        >
                          <div class="form-label-group">
                            <b-input-group prepend="$">
                              <cleave
                                id="12"
                                v-model="inmueble.precio_administracion"
                                class="form-control"
                                :raw="false"
                                :options="noptions.number"
                                placeholder="Precio de la administración"
                              />
                              <b-input-group-append>
                                <b-form-select
                                  v-model="numeroFormato.divisa"
                                  :options="divisas"
                                >
                                </b-form-select>
                              </b-input-group-append>
                            </b-input-group>
                          </div>
                        </b-form-group>
                      </b-col>

                      <!-- Tiempo de Administración  -->
                      <b-col cols="12">
                        <b-form-group
                          label="Periodo de administración"
                          label-for="periodo_admon"
                        >
                          <v-select
                            v-model="inmueble.periodo_admon"
                            :options="periodo_admon"
                            label="descripcion"
                            :clearable="false"
                            placeholder="Seleccionar"
                          />
                        </b-form-group>
                      </b-col>
                    </b-row>
                  </b-card-actions>
                  <!-- Card2-2 : Ubicación  -->

                  <!-- Card2-2 : Propietario  -->
                  <b-card-actions
                    border-variant="primary"
                    bg-variant="transparent"
                    class="shadow-none"
                    title="Propietario"
                    footer="*Informacion Privada"
                    footer-class="text-muted"
                    action-collapse
                  >
                    <b-row>
                      <!-- field: Nombre Completo  -->
                      <b-col md="6">
                        <b-form-group
                          label="Primer Nombre"
                          label-for="primer_apellido"
                        >
                          <b-form-input
                            id="primer_nombre"
                            v-model="inmueble.propietario.primer_nombre"
                            placeholder=""
                          />
                        </b-form-group>
                      </b-col>
                      <b-col md="6">
                        <b-form-group
                          label="Segundo Nombre"
                          label-for="segundo_nombre"
                        >
                          <b-form-input
                            id="segundo_nombre"
                            v-model="inmueble.propietario.segundo_nombre"
                            placeholder=""
                          />
                        </b-form-group>
                      </b-col>
                    </b-row>
                    <b-row>
                      <!-- field: Apellidos  -->
                      <b-col md="6">
                        <b-form-group
                          label="Primer Apellido"
                          label-for="primer_apellido"
                        >
                          <b-form-input
                            id="primer_apellido"
                            v-model="inmueble.propietario.primer_apellido"
                            placeholder=""
                          />
                        </b-form-group>
                      </b-col>
                      <b-col md="6">
                        <b-form-group
                          label="Segundo Apellido"
                          label-for="segundo_apellido"
                        >
                          <b-form-input
                            id="segundo_apellido"
                            v-model="inmueble.propietario.segundo_apellido"
                            placeholder=""
                          />
                        </b-form-group>
                      </b-col>
                    </b-row>
                    <b-row>
                      <b-col md="12">
                        <b-form-group
                          label="Correo electroico"
                          label-for="email"
                        >
                          <b-form-input
                            id="email"
                            v-model="inmueble.propietario.email"
                            placeholder="escribe tu correo"
                          />
                        </b-form-group>
                      </b-col>
                    </b-row>
                    <b-row>
                      <b-col md="6">
                        <b-form-group label="Celular" label-for="celular">
                          <b-input-group>
                            <b-input-group-prepend is-text>
                              COL (+57)
                            </b-input-group-prepend>
                            <cleave
                              id="phone"
                              v-model="inmueble.propietario.celular"
                              class="form-control"
                              :raw="false"
                              :options="options.phone"
                              placeholder=""
                            />
                          </b-input-group>
                        </b-form-group>
                      </b-col>
                      <!-- field: Contacto  -->
                      <b-col md="6">
                        <b-form-group label="Telefono" label-for="telefono">
                          <b-form-input
                            id="telefono"
                            v-model="inmueble.propietario.telefono"
                            placeholder=""
                          />
                        </b-form-group>
                      </b-col>
                    </b-row>
                    <b-row> </b-row>
                  </b-card-actions>

                  <b-card-actions
                    border-variant="primary"
                    bg-variant="transparent"
                    class="shadow-none"
                    title="Descripcion"
                    action-collapse
                  >
                    <b-row>
                      <b-col>
                        <b-form-textarea
                          id="textarea-rows"
                          v-model="inmueble.descripcion"
                          placeholder="Escribe tu descripcion"
                          rows="8"
                        />
                      </b-col>
                    </b-row>
                  </b-card-actions>
                </b-col>
              </b-row>
            </b-form>
          </b-col>
        </b-row>
      </tab-content>

      <tab-content title="Medios" icon="feather icon-image">
        <b-card-actions
          border-variant="primary"
          bg-variant="transparent"
          class="shadow-none"
          title="Imagenes del inmueble"
          action-collapse
        >
          <b-overlay :show="show_image" rounded="sm">
            <b-row>
              <b-col cols="6" lg="6">
                <b-button
                  variant="primary"
                  @click="info(inmueble.id, $event.target)"
                  ><feather-icon icon="PlusCircleIcon" class="mx-auto" />
                  Agregar imagenes
                </b-button>
              </b-col>
              <b-col cols="6" lg="6">
                <b-button variant="warning" @click="dataOrder"
                  ><feather-icon icon="PlusCircleIcon" class="mx-auto" />
                  Guardar orden</b-button
                >
              </b-col>
            </b-row>
            <hr />
            <b-row>
              <draggable
                :list="inmueble.inmueble_imagenes"
                :group="{ name: 'tags' }"
                class="mb-1 cursor-move"
              >
                <div
                  class="card-css mr-30 mt-2"
                  v-for="(listItem, index) in inmueble.inmueble_imagenes"
                  :key="index"
                >
                  <b-badge class="container" variant="primary">
                    {{ (listItem.order = index) }}
                  </b-badge>

                  <img
                    v-if="listItem.url.substr(0, 4) == 'http'"
                    :src="listItem.url"
                    alt="Avatar"
                    class="img-card"
                  />

                  <img
                    v-else
                    :src="'/storage/' + listItem.url"
                    alt="Avatar"
                    class="img-card"
                  />

                  <div class="container">
                    <b-button
                      size="sm"
                      variant="danger"
                      @click="url = listItem"
                      class="mr-2"
                      v-b-modal.confirmDestroy
                    >
                      <feather-icon icon="Trash2Icon" class="mx-auto" />
                    </b-button>
                  </div>
                </div>
              </draggable>

              <image-component ref="modalImage" />

              <modal-image ref="modalImageRegister" />
              <b-modal
                ok-title="Eliminar"
                ok-variant="danger"
                cancel-title="Cancelar"
                id="confirmDestroy"
                size="sm"
                title="Eliminar prenda"
                @ok="remove()"
                >Estas seguro de eliminar este registro!</b-modal
              >
            </b-row>
            <b-form-group
              style="margin-top: 3%"
              label="Pega url del video Youtube"
              label-for="url_video"
            >
              <b-form-input
                id="url_video"
                v-model="inmueble.url_video"
                v-bind="addEmbet()"
                placeholder=""
              />
            </b-form-group>
            <div v-if="inmueble.url_video != ''">
              <b-embed
                type="iframe"
                aspect="16by9"
                :src="inmueble.url_video"
                allowfullscreen
              />
            </div>
          </b-overlay>
        </b-card-actions>
      </tab-content>
      <!-- accoint details tab -->
      <tab-content title="Ubicacion del inmueble" icon="feather icon-map-pin">
        <!-- account detail tab -->

        <b-row>
          <!-- Columna 1  -->
          <b-col md="12" lg="12">
            <b-card-actions
              border-variant="primary"
              bg-variant="transparent"
              class="shadow-none"
              title="Ubicaciones"
              action-collapse
            >
              <b-row>
                <b-col>
                  <b-form-group label="Paises" label-for="paises">
                    <v-select
                      v-model="inmueble.pais_id"
                      :options="paises"
                      label="name"
                      @input="getEstados"
                      placeholder="Seleccionar"
                    />
                  </b-form-group>
                </b-col>

                <!-- field: Departamento  -->
                <b-col>
                  <b-form-group label="Departamento" label-for="states">
                    <v-select
                      v-model="inmueble.estado_id"
                      :options="estados"
                      label="name"
                      @input="getCiudades"
                      placeholder="Seleccionar"
                    />
                  </b-form-group>
                </b-col>

                <!-- field: Ciudad  -->
                <b-col>
                  <b-form-group label="Ciudad" label-for="ciudad">
                    <v-select
                      v-model="inmueble.ciudad_id"
                      :options="ciudades"
                      label="name"
                      @input="getZona"
                      input-id="ciudad"
                      placeholder="Seleccionar"
                    />
                  </b-form-group>
                </b-col>
              </b-row>
              <b-row>
                <!-- field: Zona  -->
                <b-col>
                  <b-form-group label="Zona" label-for="zona">
                    <v-select
                      v-model="inmueble.zona_id"
                      :options="zonas"
                      label="name"
                      @input="getBarrio"
                      :clearable="false"
                      input-id="zona"
                    />
                  </b-form-group>
                </b-col>
                <b-col md="2">
                  <b-form-group label="+" label-for="zonaAdd">
                    <b-button
                      variant="gradient-primary"
                      class="btn-icon"
                      v-b-modal.modal-zonas
                    >
                      <feather-icon icon="PlusCircleIcon" />
                    </b-button>
                    <strong> Agregar Zona </strong>
                  </b-form-group>
                </b-col>
                <!-- Modal -->
                <b-modal
                  ref="modalZona"
                  id="modal-zonas"
                  @show="resetModalZona"
                  @hidden="resetModalZona"
                  @ok="handleOkZona"
                  ok-title="Registrar"
                  cancel-title="Cancelar"
                  centered
                  size="lg"
                  title="Agregar Zona"
                >
                  <b-card-text>
                    <b-row>
                      <b-col>
                        <form
                          ref="formZona"
                          @submit.stop.prevent="handleSubmitZona"
                        >
                          <b-form-group
                            label="Agregar Zona"
                            label-for="basicInput"
                            invalid-feedback="La zona es requerida"
                            :state="zonaState"
                          >
                            <b-form-input
                              v-model="inmueble.zona_id"
                              id="basicInput"
                              :state="zonaState"
                              placeholder="Ingresar el nombre de la zona"
                            />
                          </b-form-group>
                        </form>
                      </b-col>
                    </b-row>
                  </b-card-text>
                </b-modal>
                <!-- Fin Modal Zonas -->

                <!-- field: Barrio  -->
                <b-col>
                  <b-form-group label="Barrio" label-for="barrios">
                    <v-select
                      v-model="inmueble.barrio_id"
                      :options="barrios"
                      label="name"
                      :clearable="false"
                      input-id="barrios"
                    />
                  </b-form-group>
                </b-col>
                <b-col md="2">
                  <b-form-group label="+" label-for="BarrioAdd">
                    <b-button
                      variant="gradient-primary"
                      class="btn-icon"
                      v-b-modal.modal-barrio
                    >
                      <feather-icon icon="PlusCircleIcon" />
                    </b-button>
                    <strong> Agregar Barrio</strong>
                  </b-form-group>
                </b-col>

                <!-- Modal Barrios-->
                <b-modal
                  ref="modalBarrio"
                  id="modal-barrio"
                  @show="resetModalBarrio"
                  @hidden="resetModalBarrio"
                  @ok="handleOkBarrio"
                  ok-title="Registrar"
                  cancel-title="Cancelar"
                  centered
                  size="lg"
                  title="Agregar Barrio"
                >
                  <b-card-text>
                    <b-row>
                      <b-col>
                        <form
                          ref="formBarrio"
                          @submit.stop.prevent="handleSubmitBarrio"
                        >
                          <b-form-group
                            label="Agregar Barrio"
                            label-for="basicInputBarrio"
                            invalid-feedback="El Barrio es requerido"
                            :state="barrioState"
                          >
                            <b-form-input
                              v-model="inmueble.barrio_id"
                              id="basicInputBarrio"
                              :state="barrioState"
                              placeholder="Ingresar el nombre del barrio"
                            />
                          </b-form-group>
                        </form>
                      </b-col>
                    </b-row>
                  </b-card-text>
                </b-modal>
              </b-row>
              <!-- Fin Modal Barrios -->
              <!-- <b-row>
                <b-col>
                  <b-form-group label="Latitud" label-for="latitud">
                    <b-form-input
                      id="latitud"
                      v-model="inmueble.latitud"
                      placeholder="Ejemplo: 1990"
                    />
                  </b-form-group>
                </b-col>

              </b-row> -->
            </b-card-actions>
          </b-col>
        </b-row>

        <b-row>
          <b-col cols="12">
            <div>
              <div>
                <GmapAutocomplete
                  @place_changed="setPlace"
                  class="button-google"
                  :options="{
                    fields: [
                      'geometry',
                      'formatted_address',
                      'address_components',
                    ],
                  }"
                />
                <b-button variant="primary" @click="addMarker">Buscar</b-button>
              </div>
              <br />
              <GmapMap
                :center="center"
                :zoom="18"
                style="width: 100%; height: 400px"
              >
                <GmapMarker
                  :key="index"
                  v-for="(m, index) in markers"
                  :position="m.position"
                  @click="center = m.position"
                />
              </GmapMap>
            </div>
          </b-col>
        </b-row>

        <b-row> </b-row>
      </tab-content>
      <tab-content title="Documentos" icon="feather icon-briefcase">
        <div>
          <div>
            <!-- Accept all image formats by IANA media type wildcard-->
            <label for="wildcard">Cedula</label>
            <b-row>
              <b-col>
                <b-form-file
                  v-model="inmueble.cedula"
                  id="wildcard"
                  :placeholder="
                    inmueble.cedula == 'null'
                      ? 'Cargar predial en PDF'
                      : inmueble.cedula
                  "
                  browse-text="Cargar"
                />
              </b-col>
              <b-col v-if="inmueble.cedula != 'null'">
                <b-button
                  variant="success"
                  @click="dataPdf(inmueble.cedula, 'cedula')"
                  ><feather-icon icon="FileIcon" class="mr-50" />
                  <span class="align-middle">Descargar</span></b-button
                >
                <b-button
                  variant="primary"
                  @click="showPDF(inmueble.cedula, 'cedula')"
                  ><feather-icon icon="FileIcon" class="mr-50" />
                  <span class="align-middle">Ver</span></b-button
                >
              </b-col>
            </b-row>
            <label for="extension" class="mt-1">Predial</label>

            <b-row>
              <b-col>
                <b-form-file
                  v-model="inmueble.predial"
                  id="extension"
                  :placeholder="
                    inmueble.predial == 'null'
                      ? 'Cargar predial en PDF'
                      : inmueble.predial
                  "
                  browse-text="Cargar"
                />
              </b-col>
              <b-col v-if="inmueble.predial != 'null'">
                <b-button
                  variant="success"
                  @click="dataPdf(inmueble.predial, 'predial')"
                  ><feather-icon icon="FileIcon" class="mr-50" />
                  <span class="align-middle">Descargar</span></b-button
                >
                <b-button
                  variant="primary"
                  @click="showPDF(inmueble.predial, 'predial')"
                  ><feather-icon icon="FileIcon" class="mr-50" />
                  <span class="align-middle">Ver</span></b-button
                >
              </b-col>
            </b-row>
            <label for="IANA" class="mt-1">Certificado de Tradición</label>

            <b-row>
              <b-col>
                <b-form-file
                  v-model="inmueble.certificado_tradicion"
                  id="IANA"
                  :placeholder="
                    inmueble.certificado_tradicion == 'null'
                      ? 'Cargar Certificado de tradiccion en PDF'
                      : inmueble.certificado_tradicion
                  "
                  browse-text="Cargar"
                />
              </b-col>

              <b-col v-if="inmueble.certificado_tradicion != 'null'">
                <b-button
                  variant="success"
                  @click="
                    dataPdf(
                      inmueble.certificado_tradicion,
                      'certificado_tradiccion'
                    )
                  "
                  ><feather-icon icon="FileIcon" class="mr-50" />
                  <span class="align-middle">Descargar</span>
                </b-button>
                <b-button
                  variant="primary"
                  @click="
                    showPDF(
                      inmueble.certificado_tradicion,
                      'certificado_tradiccion'
                    )
                  "
                  ><feather-icon icon="FileIcon" class="mr-50" />
                  <span class="align-middle">Ver</span>
                </b-button>
              </b-col>
            </b-row>

            <!-- Accept specific image formats by IANA type -->

            <!-- Accept specific image formats by extension -->
          </div>
        </div>
      </tab-content>
    </form-wizard>
  </b-overlay>
</template>

<script>
import {
  BTab,
  BTabs,
  BCard,
  BAlert,
  BLink,
  BCardText,
  BCol,
  BFormGroup,
  BRow,
  BModal,
  BTable,
  BButton,
  BBadge,
  BFormInput,
  BCardTitle,
  BForm,
  BFormFile,
  BFormTextarea,
  BFormRadioGroup,
  BFormCheckboxGroup,
  BInputGroupPrepend,
  BInputGroupAppend,
  BInputGroup,
  BDropdown,
  BDropdownItem,
  BDropdownDivider,
  BFormCheckbox,
  BFormDatalist,
  BFormRadio,
  BFormSelect,
  BFormTimepicker,
  BOverlay,
  BFormInvalidFeedback,
  BFormSpinbutton,
  BEmbed,
  BImg,
} from "bootstrap-vue";
import { onUnmounted } from "@vue/composition-api";
import draggable from "vuedraggable";

import store from "@/store";

import BCardActions from "@core/components/b-card-actions/BCardActions.vue";

import vSelect from "vue-select";
import InmuebleStoreModule from "../../InmuebleStoreModule";
import { quillEditor } from "vue-quill-editor";

import flatPickr from "vue-flatpickr-component";
import AppCollapse from "@core/components/app-collapse/AppCollapse.vue";
import AppCollapseItem from "@core/components/app-collapse/AppCollapseItem.vue";

import Cleave from "vue-cleave-component";
import ToastificationContent from "@core/components/toastification/ToastificationContent.vue";

import { FormWizard, TabContent } from "vue-form-wizard";
import "vue-form-wizard/dist/vue-form-wizard.min.css";

//import SearchBar from "./component/SearchBar.vue";

import "cleave.js/dist/addons/cleave-phone.us";
import BCardCode from "@core/components/b-card-code/BCardCode.vue";

import modalImage from "./components/modalImageRegister";
import imageComponent from "../../../../componente/Image-component.vue";
import Prism from "vue-prism-component";
import "prismjs";
import "prismjs/themes/prism-tomorrow.css";
const USER_APP_STORE_MODULE_NAME = "app-inmuebles";

// Register module
if (!store.hasModule(USER_APP_STORE_MODULE_NAME))
  store.registerModule(USER_APP_STORE_MODULE_NAME, InmuebleStoreModule);

// UnRegister on leave
onUnmounted(() => {
  if (store.hasModule(USER_APP_STORE_MODULE_NAME))
    store.unregisterModule(USER_APP_STORE_MODULE_NAME);
});

export default {
  components: {
    BTab,
    BTabs,
    BCard,
    BAlert,
    BBadge,
    BFormInput,
    BLink,
    BRow,
    BModal,
    BCardText,
    BFormFile,
    BTable,
    BCardTitle,
    BCol,
    BEmbed,
    draggable,
    BFormGroup,
    quillEditor,
    BCardActions,
    BButton,
    FormWizard,
    TabContent,
    vSelect,
    BForm,
    Prism,
    BFormTextarea,
    BFormRadioGroup,
    BFormCheckboxGroup,
    BInputGroupPrepend,
    BInputGroupAppend,
    BInputGroup,
    BDropdown,

    BDropdownItem,
    BDropdownDivider,
    BFormCheckbox,
    BFormDatalist,
    BFormRadio,
    BFormSelect,
    BOverlay,
    BFormTimepicker,
    BFormInvalidFeedback,
    BFormSpinbutton,
    flatPickr,
    AppCollapse,
    AppCollapseItem,
    BCardCode,
    Cleave,
    "modal-image": modalImage,
    "image-component": imageComponent,
    BImg,
  },

  data() {
    return {
      // drap and drop

      center: { lat: 45.508, lng: -73.587 },
      currentPlace: null,
      markers: [],
      places: [],
      url: null,
      show: false,
      show_image: false,
      imagenes_inmuebles: [],
      precios: [],
      tiempo_alquiler: [],
      periodo_admon: [],

      inmueble: {
        id: null,
        caracteristicas_internas: [],
        caracteristicas_externas: [],
        banos: null,
        garaje: null,
        user_id: null,
        pisos: null,
        habitaciones: 0,
        url_video: "",
        frente: null,
        fondo: null,

        pais_id: null,
        estado_id: null,
        ciudad_id: null,
        zona_id: null,
        barrio_id: null,

        antiguedad: null,
        area_lote: null,
        precio_venta: null,
        precio_alquiler: null,
        precio_administracion: null,
        area_total: null,
        area_contruida: null,
        latitud: null,
        longitud: null,
        direccion: null,
        tipo_inmueble: null,
        tipo_negocio: null,
        periodo_admon: null,
        tiempo_alquiler: null,
        tipo_precio: null,
        titulo_inmueble: null,
        imagenes_inmuebles: [],
        tiempo: null,
        propietario: {
          id: null,
          primer_nombre: null,
          segundo_nombre: null,
          primer_apellido: null,
          segundo_apellido: null,
          email: null,
          celular: null,
          telefono_fijo: null,
        },
        segmento: null,
        estado_publicacion: null,

        state_fisico: null,
        rangue_price: null,
        matricula_inmobiliaria: null,
        estrato: null,
        alquiler: null,
        ascensor: null,
        inmueble_imagenes: null,
        descripcion: null,
        ano_construcion: null,
        cantidad_parqueadero: null,
        parqueadero: null,
        ambientes: null,
      },

      snowOption: {
        theme: "snow",
        placeholder:
          "En este apartado, escribe toda la descripción necesaria para tus inmuebles.",
        readOnly: true,
      },

      zonaState: null,
      barrioState: null,

      legal: {
        tipoDocumento: "",
      },

      pregunta: {
        default: "Selec",
      },
      pruebaLista: [
        "valor1",
        "Valor2",
        // { text: "Valor1", value: "1" }, Pruebas FLM
        // { text: "Valor2", value: "2" },
      ],
      maxChar: 20,
      noptions: {
        number: {
          numeral: true,
          numeralDecimalMark: ",",
          delimiter: ".",
        },
        numberArea: {
          numeral: true,
        },
      },

      divisas: [
        { text: "COP", value: "COP" },
        { text: "USD", value: "USD" },
      ],

      areas: [{ text: "m²", value: "COP" }],
      options: {
        phone: {
          phone: true,
          phoneRegionCode: "US",
        },
      },
      option: ["Cocina Integral", "Calentador"],

      numeroFormato: {
        area: "m²",
        value: "",
        divisa: "COP",
      },

      dir: "ltr",
      selected: "",
    };
  },
  mounted() {
    this.$root.$on(
      "ejecutar",
      function (payLoad) {
        if (this.payLoad != payLoad) {
          this.show_image = true;
          setTimeout(() => {
            this.inmueble.inmueble_imagenes = payLoad;
            this.show_image = false;
          }, 1000);
        }
      }.bind(this)
    );

    var wizard = this.$refs.wizard;
    wizard.activateAll();
  },

  computed: {
    antiguedad() {
      return this.$store.state.appInmueble.antiguedad;
    },

    tipo_parqueadero() {
      return this.$store.state.apiInmueblePrivate.tipo_parqueadero;
    },

    estratos() {
      return this.$store.state.apiInmueblePrivate.estratos;
    },

    segmento_mercado() {
      return this.$store.state.apiInmueblePrivate.segmento_mercado;
    },

    state_publication() {
      return this.$store.state.apiInmueblePrivate.state_publication;
    },

    ciudades() {
      return this.$store.state.appLocalidades.ciudades;
    },
    estados() {
      return this.$store.state.appLocalidades.estados;
    },
    zonas() {
      return this.$store.state.appLocalidades.zonas;
    },
    barrios() {
      return this.$store.state.appLocalidades.barrios;
    },
    paises() {
      return this.$store.state.appLocalidades.paises;
    },
    tipo_inmuebles() {
      return this.$store.state.apiInmueblePrivate.tipo_inmuebles;
    },

    tipo_negocio() {
      return this.$store.state.apiInmueblePrivate.tipo_negocio;
    },

    state_fisicos() {
      return this.$store.state.apiInmueblePrivate.state_fisico;
    },

    caracteristicas_externas() {
      return this.$store.state.apiInmueblePrivate.caracteristicas_externas;
    },

    caracteristicas_internas() {
      return this.$store.state.apiInmueblePrivate.caracteristicas_internas;
    },

    rangue_price() {
      return this.$store.state.apiInmueblePrivate.rangue_price;
    },
  },

  created() {
    this.getAntiguedad();
    this.getTipoInmueble();
    this.getTipoNegocio();
    this.getSegmentoMercado();
    this.getStatePublication();
    this.getStateFisico();
    this.getEstratoFisico();
    this.addEmbet();
    this.getCaracteristicasInternas();
    this.getCaracteristicasExternas();
    this.getTipoParqueadero();
    this.getTipoPrecios();
    this.getTipoTiempoAlquler();
    this.getPeridoAdmon();
    this.getPaises();
    this.fetchProduct();
    this.getRanguePrice();
  },

  methods: {
    // drap and dop image
    async dataOrder() {
      const data = {
        codigo: this.inmueble.id,
        imagenes: this.inmueble.inmueble_imagenes,
      };
      await this.$store
        .dispatch("appInmueble/orderImage", data)
        .then((response) => {
          this.$swal({
            title: "Orden!!!",
            text: response.message,
            icon: "success",
            customClass: {
              confirmButton: "btn btn-primary",
            },
            confirmButtonText: "Aceptar",
            buttonsStyling: false,
          });

          this.inmueble.inmueble_imagenes =
            response.data.data.inmueble_imagenes;
        })
        .catch((error) => {
          console.log(error);
        });
    },

    async getAntiguedad() {
      await this.$store
        .dispatch("appInmueble/getAntiguedad")
        .then((response) => {})
        .catch((error) => {
          console.log(error);
        });
    },

    infoImage(item, button) {
      this.$refs.modalImage.info(item, button);
    },

    addEmbet() {
      //console.log(this.inmueble.url_video);
      if (this.inmueble.url_video != null) {
        this.inmueble.url_video = this.inmueble.url_video.replace(
          "youtu.be/",
          "youtube.com/embed/"
        );
      }
    },

    remove() {
      this.show_image = true;
      console.log(this.url);
      let url = this.url.url;

      let data = url.replaceAll("/", ",");

      let array = data.split(",");

      const id = array[1];
      const id_inmueble = this.url.id;
      this.$store
        .dispatch("app-inmuebles/removeImage", { id, url, id_inmueble })
        .then((response) => {
          this.inmueble.inmueble_imagenes = response;
          this.show_image = false;
        })
        .catch((error) => {
          console.log(error);
        });
    },

    info(item, button) {
      this.$refs.modalImageRegister.info(item, button);
    },

    setPlace(place) {
      this.inmueble.direccion = place.formatted_address;
      this.inmueble.latitud = place.geometry.location.lat();
      this.inmueble.longitud = place.geometry.location.lng();

      this.currentPlace = place;
    },

    dataPdf(data, type) {
      this.$store
        .dispatch("appInmueble/downloadPdf", { data: data, type: type })
        .then((response) => {
          return response;
        })
        .catch((error) => {
          console.log(error);
        });
    },

    showPDF(data, type) {
      this.$store
        .dispatch("appInmueble/showPDF", { data: data, type: type })
        .then((response) => {
          window.open(response.click());
        })
        .catch((error) => {
          console.log(error);
        });
    },

    addMarker() {
      if (this.currentPlace) {
        const marker = {
          lat: this.currentPlace.geometry.location.lat(),
          lng: this.currentPlace.geometry.location.lng(),
        };
        this.markers.push({ position: marker });
        this.places.push(this.currentPlace);
        this.center = marker;
        this.currentPlace = null;
      }
    },

    geolocate: function () {
      const marker = {
        lat: parseFloat(this.inmueble.latitud),
        lng: parseFloat(this.inmueble.longitud),
      };
      this.markers.push({ position: marker, title: this.inmueble.direccion });
      this.center = marker;

      let c_int = [];
      for (let i = 0; i < this.inmueble.caracteristicas_internas.length; i++) {
        c_int.push(
          this.inmueble.caracteristicas_internas[i].caracteristicas_internas
        );
      }
      this.inmueble.caracteristicas_internas = c_int;

      let c_ext = [];

      for (let i = 0; i < this.inmueble.caracteristicas_externas.length; i++) {
        c_ext.push(
          this.inmueble.caracteristicas_externas[i].caracteristicas_externas
        );
      }

      this.inmueble.caracteristicas_externas = c_ext;
    },

    getPaises() {
      this.$store
        .dispatch("appLocalidades/getPaises")
        .then((response) => {})
        .catch((error) => {
          console.log(error);
        });
    },

    getEstados() {
      let codigo = this.inmueble.pais_id.id;
      this.$store
        .dispatch("appLocalidades/getStates", { codigo })
        .then((response) => {})
        .catch((error) => {
          console.log(error);
        });
    },

    getCiudades() {
      let codigo = this.inmueble.estado_id.id;
      this.$store
        .dispatch("appLocalidades/getCiudades", { codigo })
        .then((response) => {})
        .catch((error) => {
          console.log(error);
        });
    },

    getZona() {
      let codigo = this.inmueble.ciudad_id.id;
      this.$store
        .dispatch("appLocalidades/getZona", { codigo })
        .then((response) => {})
        .catch((error) => {
          console.log(error);
        });
    },

    getBarrio() {
      let codigo = this.inmueble.zona_id.id;
      this.$store
        .dispatch("appLocalidades/getBarrio", { codigo })
        .then((response) => {})
        .catch((error) => {
          console.log(error);
        });
    },

    getRanguePrice() {
      store.dispatch("app-inmuebles/getRanguePrice", {}).then(() => {});
    },

    /* Zona */

    checkFormValidityZona() {
      const valid = this.$refs.formZona.checkValidity();
      this.zonaState = valid;
      return valid;
    },

    resetModalZona() {
      this.inmueble.zona_id = "";
      this.zonaState = null;
    },

    handleOkZona(bvModalEvt) {
      bvModalEvt.preventDefault();
      this.handleSubmitZona();
    },

    hideModal() {
      this.$refs["modalZona"].hide();
    },

    handleSubmitZona() {
      if (!this.checkFormValidityZona()) {
        return;
      }

      let data = {
        ciudad_id: this.inmueble.ciudad_id.id,
        name: this.inmueble.zona_id,
      };

      this.$store
        .dispatch("appLocalidades/saveZona", data)
        .then((response) => {
          this.inmueble.zona_id = response;
          this.getZona();
          this.hideModal();
        })
        .catch((error) => {
          this.hideModal();
        });
    },

    /* Barrio */

    checkFormValidityBarrio() {
      const valid = this.$refs.formBarrio.checkValidity();
      this.barrioState = valid;
      return valid;
    },

    resetModalBarrio() {
      this.inmueble.barrio_id = "";
      this.barrioState = null;
    },

    handleOkBarrio(bvModalEvt) {
      bvModalEvt.preventDefault();
      this.handleSubmitBarrio();
    },

    hideModalBarrio() {
      this.$refs["modalBarrio"].hide();
    },

    handleSubmitBarrio() {
      if (!this.checkFormValidityBarrio()) {
        return;
      }

      let data = {
        zona_id: this.inmueble.zona_id.id,
        name: this.inmueble.barrio_id,
      };

      this.$store
        .dispatch("appLocalidades/saveBarrio", data)
        .then((response) => {
          this.inmueble.barrio_id = response;
          this.getBarrio();
          this.hideModalBarrio();
        })
        .catch((error) => {
          this.hideModalBarrio();
        });
    },

    getTipoInmueble() {
      this.$store
        .dispatch("app-inmuebles/getTipoInmueble", {})
        .then((response) => {
          this.tipoInmueble = response;
        });
    },
    getTipoNegocio() {
      this.$store
        .dispatch("app-inmuebles/getTipoNegocio", {})
        .then((response) => {
          this.tipoNegocio = response;
        });
    },
    getCaracteristicasInternas() {
      this.$store
        .dispatch("app-inmuebles/getCaracteristicasInternas", {})
        .then((response) => {});
    },
    getCaracteristicasExternas() {
      this.$store
        .dispatch("app-inmuebles/getCaracteristicasExternas", {})
        .then((response) => {});
    },

    getStatePublication() {
      this.$store
        .dispatch("app-inmuebles/getStatePublicacion", {})
        .then(() => {});
    },

    getSegmentoMercado() {
      this.$store
        .dispatch("app-inmuebles/getSegmentoMercado", {})
        .then((response) => {
          this.segmendtoDeMercado = response;
        });
    },

    getStateFisico() {
      this.$store.dispatch("app-inmuebles/getStateFisico", {}).then(() => {});
    },

    getEstratoFisico() {
      this.$store.dispatch("app-inmuebles/getEstratoFisico", {}).then(() => {});
    },

    getTipoParqueadero() {
      this.$store
        .dispatch("app-inmuebles/getTipoParqueadero", {})
        .then(() => {});
    },

    getTipoPrecios() {
      this.$store
        .dispatch("app-inmuebles/getTipoPrecios", {})
        .then((response) => {
          this.precios = response;
        });
    },

    getTipoTiempoAlquler() {
      this.$store
        .dispatch("app-inmuebles/getTipoTiempoAlquler", {})
        .then((response) => {
          this.tiempo_alquiler = response;
        });
    },

    getPeridoAdmon() {
      this.$store
        .dispatch("app-inmuebles/getPeridoAdmon", {})
        .then((response) => {
          console.log(response);
          this.periodo_admon = response;
        });
    },

    handleImages(e) {
      this.inmueble.imagenes = e;
    },

    // Enviar informacion
    formSubmitted() {
      this.sendData();
    },

    sendData() {
      let user = JSON.parse(localStorage.getItem("userData"));
      this.inmueble.user_id = user.id;
      this.show = true;
      let formData = new FormData();

      // formData.append("alcobas", this.inmueble.alcobas);
      formData.append("id", this.inmueble.id);
      formData.append("banos", this.inmueble.banos);
      formData.append("habitaciones", this.inmueble.habitaciones);
      formData.append("garaje", this.inmueble.garaje);
      formData.append("user_id", this.inmueble.user_id);
      formData.append("pisos", this.inmueble.pisos);
      formData.append("frente", this.inmueble.frente);
      formData.append("fondo", this.inmueble.fondo);
      formData.append("url_video", this.inmueble.url_video);
      formData.append("pais_id", JSON.stringify(this.inmueble.pais_id));
      formData.append("estado_id", JSON.stringify(this.inmueble.estado_id));
      formData.append("ciudad_id", JSON.stringify(this.inmueble.ciudad_id));
      formData.append("zona_id", JSON.stringify(this.inmueble.zona_id));
      formData.append("antiguedad", JSON.stringify(this.inmueble.antiguedad));

      formData.append("barrio_id", JSON.stringify(this.inmueble.barrio_id));
      formData.append("area_lote", this.inmueble.area_lote);
      formData.append("precio_venta", this.inmueble.precio_venta);
      formData.append("precio_alquiler", this.inmueble.precio_alquiler);

      formData.append(
        "precio_administracion",
        this.inmueble.precio_administracion
      );

      formData.append("area_total", this.inmueble.area_total);
      formData.append("area_contruida", this.inmueble.area_contruida);
      formData.append("latitud", this.inmueble.latitud);
      formData.append("longitud", this.inmueble.longitud);
      formData.append("direccion", this.inmueble.direccion);
      formData.append(
        "tipo_inmueble",
        JSON.stringify(this.inmueble.tipo_inmueble)
      );
      formData.append(
        "tipo_negocio",
        JSON.stringify(this.inmueble.tipo_negocio)
      );
      formData.append(
        "periodo_admon",
        JSON.stringify(this.inmueble.periodo_admon)
      );
      formData.append(
        "tiempo_alquiler",
        JSON.stringify(this.inmueble.tiempo_alquiler)
      );
      formData.append("tipo_precio", JSON.stringify(this.inmueble.tipo_precio));
      formData.append("titulo_inmueble", this.inmueble.titulo_inmueble);
      formData.append(
        "caracteristicas_internas",
        JSON.stringify(this.inmueble.caracteristicas_internas)
      );
      formData.append(
        "caracteristicas_externas",
        JSON.stringify(this.inmueble.caracteristicas_externas)
      );
      formData.append("tiempo", this.inmueble.tiempo);
      formData.append("propietario", JSON.stringify(this.inmueble.propietario)),
        formData.append(
          "segmento_mercado",
          JSON.stringify(this.inmueble.segmento)
        );
      formData.append(
        "estado_publicacion",
        JSON.stringify(this.inmueble.estado_publicacion)
      );
      formData.append(
        "rangue_price",
        JSON.stringify(this.inmueble.rangue_price)
      );

      formData.append(
        "state_fisico",
        JSON.stringify(this.inmueble.state_fisico)
      );
      formData.append(
        "matricula_inmobiliaria",
        this.inmueble.matricula_inmobiliaria
      );
      formData.append("estrato", JSON.stringify(this.inmueble.estrato));
      formData.append("alquiler", this.inmueble.alquiler);
      formData.append("ascensor", this.inmueble.ascensor);

      formData.append("descripcion", this.inmueble.descripcion);
      formData.append("ano_construcion", this.inmueble.ano_construcion);
      formData.append(
        "cantidad_parqueadero",
        this.inmueble.cantidad_parqueadero
      );
      formData.append("parqueadero", JSON.stringify(this.inmueble.parqueadero));
      formData.append("ambientes", this.inmueble.ambientes);
      formData.append("cedula", this.inmueble.cedula);
      formData.append(
        "certificado_tradicion",
        this.inmueble.certificado_tradicion
      );
      formData.append("predial", this.inmueble.predial);

      store
        .dispatch("app-inmuebles/edictInmuebles", formData)
        .then((response) => {
          this.show = false;

          console.log(response);

          this.$toast({
            component: ToastificationContent,
            position: "top-center",
            props: {
              title: response.message,
              icon: "CoffeeIcon",
              variant: "success",
              text: ``,
            },
          });
          this.$router.push({ name: "listar-inmueble" });
        })
        .catch((error) => {
          this.show = false;

          this.$toast({
            component: ToastificationContent,
            position: "top-center",
            props: {
              title: error.message,
              icon: "CoffeeIcon",
              variant: "danger",
              text: ``,
            },
          });
        });
    },

    getPdf(ruta) {
      store.dispatch("app-inmuebles/getPdf", ruta).then((response) => {});
    },

    alertWarning(message) {
      this.$swal({
        title: "Campos requerido!!!",
        text: message,
        icon: "warning",
        customClass: {
          confirmButton: "btn btn-warning",
        },
        confirmButtonText: "Aceptar",
        buttonsStyling: false,
      });
    },

    async fetchProduct() {
      const productSlug = this.$route.params.id;
      await this.$store
        .dispatch("appInmueble/fetchInmueble", { productSlug })
        .then((response) => {
          this.show = false;
          this.inmueble = response;
          if (this.inmueble.propietario == null) {
            this.inmueble.propietario = {
              id: null,
              primer_nombre: null,
              segundo_nombre: null,
              primer_apellido: null,
              segundo_apellido: null,
              email: null,
              celular: null,
              telefono_fijo: null,
            };
          }
          this.geolocate();
        })
        .catch((error) => {
          if (error.response.status === 404) {
          }
        });
    },
  },
};
</script>
<style>
.card-css {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  transition: 0.3s;
  width: 20rem;
  height: 22rem;
  float: left;
}

.img-card {
  width: 20rem;
  height: 18rem;
}

.card-css:hover {
  box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
}

.container {
  padding: 2px 16px;
}
.dd-vc {
  position: relative;
  top: 50%;
  transform: translateY(-50%);
}

.dd-transition {
  transition: all 0.3s ease;
}

.dd-shadow {
  box-shadow: 0 0 3px 1px rgba(0, 0, 0, 0.3);
}

#dragDrop {
  width: 1000px;
  margin: 20px auto 0;
  position: relative;
}

.dd-slot {
  float: left;
  outline: 2px dashed rgba(54, 86, 132, 0.75);
  outline-offset: -15px;
  position: relative;
  pointer-events: none;
}

.dd-slot-num {
  text-align: center;
  color: rgba(0, 0, 0, 0.1);
  font-size: 40px;
  position: absolute;
  width: 100%;
}

.dd-item {
  position: absolute;
  left: 0;
  top: 0;
  box-sizing: border-box;
  padding: 10px;
  cursor: pointer;
}

.dd-item.dd-disabled {
  pointer-events: none;
  opacity: 0;
}

.dd-item.dd-selected {
  z-index: 20;
}

.dd-item-inner {
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  width: 100%;
  height: 100%;
  position: relative;
}

.dd-item-panel {
  width: 80%;
  height: 35px;
  background: #fff;
  position: absolute;
  left: 10%;
  bottom: -15px;
  z-index: 5;
}
ul.sort {
  list-style: none;
  padding: 0;
  margin: 30px;
}

li.sort-item {
  padding: 10px;
  width: 25%;
  float: left;
  margin: 0 10px 10px 0;
  background: #efefef;
  border: solid 1px #ccc;
}

.sort-ghost {
  opacity: 0.3;
  transition: all 0.7s ease-out;
}

.dd-item-title {
  font-size: 15px;
  color: #365684;
  text-align: center;
  line-height: 35px;
}
</style>
<style lang="scss">
@import "@core/scss/vue/libs/quill.scss";
@import "@core/scss/vue/libs/vue-wizard.scss";
@import "@core/scss/vue/libs/vue-select.scss";

.pac-container {
  color: #d9d9d9;
}

.button-google {
  width: 60%;
  height: 37px;
  border: 1px solid rgba(0, 0, 0, 0.5);
  -webkit-background-clip: padding-box; /* for Safari */
  background-clip: padding-box; /* for IE9+, Firefox 4+, Opera, Chrome */
  border-radius: 10px;

  opacity: 0.5;
}

.ql-editor {
  height: 12rem;

  resize: vertical;
  overflow-y: scroll;
}

/*
class for each line of the result
*/
.pac-item {
  font-size: 12px;
  color: #d9d9d9;
  font-family: Arial, Helvetica, sans-serif;
}
</style>
