<template>
  <div>
    <b-form>
      <b-row>
        <!-- Columna 1  -->
        <b-col md="6" lg="6">
          <!-- Card1-1 : Informacion basica  -->
          <b-card-actions
            border-variant="primary"
            bg-variant="transparent"
            class="shadow-none"
            title="Informacion Basica"
            action-collapse
          >
            <b-row>
              <!-- Field: Tipo de inmueble -->
              <b-col cols="12" md="6" lg="6">
                <b-form-group
                  label="Tipo de Inmueble"
                  label-for="tipo_inmueble"
                >
                  <v-select
                    v-model="inmuebles.tipoInmueble"
                    :options="tipoInmueble"
                    :clearable="false"
                    label="tipo"
                    input-id="tipo_inmueble"
                    placeholder="Seleccionar"
                  />
                </b-form-group>
              </b-col>

              <!-- Field: Tipo Prueba
              <b-col cols="12" md="6" lg="6">
                <b-form-group label="Prueba" label-for="default">
                  <v-select
                    v-model="pregunta.default"
                    :options="pruebaLista"
                    :clearable="false"
                    input-id="default"
                  />
                </b-form-group>
              </b-col> -->

              <!-- Field: Tipo de Negocio -->
              <b-col cols="12" md="6" lg="6">
                <b-form-group label="Tipo de negocio" label-for="tipoNegocio">
                  <v-select
                    v-model="inmuebles.tipoNegocio"
                    :options="tipoNegocio"
                    :clearable="false"
                    label="tipo"
                    placeholder="Seleccionar"
                  />
                </b-form-group>
              </b-col>
            </b-row>
            <b-row>
              <!-- Field: Segmento de mercado -->
              <b-col cols="12" md="6" lg="6">
                <b-form-group
                  label="Segmento de mercado"
                  label-for="SegmendoMercado"
                >
                  <v-select
                    v-model="inmuebles.segmento"
                    :options="segmendtoDeMercado"
                    :clearable="false"
                    input-id="SegmendoMercado"
                    placeholder="Seleccionar"
                  />
                </b-form-group>
              </b-col>
              <!-- Field: Estado de la publicacion -->
              <b-col cols="12" md="6" lg="6">
                <b-form-group
                  label="Estado de la publicación"
                  label-for="estadoPublicacion"
                >
                  <v-select
                    v-model="inmuebles.estadoPublicacion"
                    :options="estadoPublicacion"
                    :clearable="false"
                    input-id="estadoPublicacion"
                    placeholder="Seleccionar"
                  />
                </b-form-group>
              </b-col>
            </b-row>
            <b-row>
              <!-- Field: Titulo del inmueble -->
              <b-col cols="12" md="12" lg="12">
                <b-form-group
                  label="Titulo del inmueble"
                  label-for="tituloInmueble"
                >
                  <b-form-input
                    id="tituloInmueble"
                    v-model="userDataInfo.state"
                    placeholder="Titulo principal del inmueble"
                  />
                </b-form-group>
              </b-col>
            </b-row>
            <b-row>
              <!-- Field: Estado fisico de la propiedad -->
              <b-col cols="12" md="6" lg="6">
                <b-form-group
                  label="Estado fisico de la propiedad"
                  label-for="EstadoFisico"
                >
                  <v-select
                    v-model="inmuebles.estadoFisicoPropiedad"
                    :options="estadoFisicoPropiedad"
                    :clearable="false"
                    input-id="EstadoFisico"
                    placeholder="Seleccionar"
                  />
                </b-form-group>
              </b-col>

              <!-- Field: Matricula Inmobiliaria -->
              <b-col cols="12" md="6" lg="6">
                <b-form-group
                  label="Matricula Inmobiliaria"
                  label-for="matricula"
                >
                  <b-form-input
                    id="matricula"
                    v-model="userDataInfo.state"
                    placeholder="No. de Matricula"
                    input-id="matricula"
                  />
                </b-form-group>
              </b-col>
            </b-row>
            <b-row>
              <!-- Field: Estrato -->
              <b-col cols="12" md="6" lg="6">
                <b-form-group label="Estrato" label-for="estrato">
                  <v-select
                    v-model="inmuebles.estratos"
                    :options="estratos"
                    :clearable="false"
                    input-id="estrato"
                    placeholder="Seleccionar"
                  />
                </b-form-group>
              </b-col>

              <!-- Field: Año de construccion -->
              <b-col cols="12" md="6" lg="6">
                <b-form-group label="Año de construcción" label-for="yearbuild">
                  <b-form-input id="yearbuild" placeholder="Ejemplo: 1990" />
                </b-form-group>
              </b-col>
            </b-row>
          </b-card-actions>
          <!-- Card2-1 : Caracteristicas  -->
          <b-card-actions
            border-variant="primary"
            bg-variant="transparent"
            class="shadow-none"
            title="Caracteristicas"
            action-collapse
          >
            <b-row>
              <!-- field: Caracteristicas Internas  -->
              <b-col>
                <b-form-group
                  label-for="carInternas"
                  label="CaracteristicasInternas"
                >
                  <v-select
                    v-model="inmuebles.caracteristicas.internas"
                    multiple
                    label="texto"
                    :options="caracteristicasInternas"
                    placeholder="Seleccion"
                  />
                </b-form-group>
              </b-col>
            </b-row>
            <b-row>
              <!-- field: Caracteristicas Externas  -->
              <b-col>
                <b-form-group
                  label-for="carExternas"
                  label="Caracteristicas Externas"
                >
                  <v-select
                    v-model="inmuebles.caracteristicas.externas"
                    multiple
                    label="texto"
                    :options="caracteristicasExternas"
                    placeholder="Seleccionar"
                  />
                </b-form-group>
              </b-col>
            </b-row>
            <b-row>
              <!-- field: Alcobas  -->
              <b-col cols="12" md="4" lg="4">
                <b-form-group label="Alcobas" label-for="alcobas">
                  <b-form-spinbutton
                    id="sb-inline"
                    v-model="inmuebles.alcobas"
                    min="0"
                    max="50"
                    placeholder="0"
                  />
                </b-form-group>
              </b-col>

              <!-- field: Baños  -->
              <b-col cols="12" md="4" lg="4">
                <b-form-group label="Baños" label-for="banos">
                  <b-form-spinbutton
                    id="sb-inline"
                    v-model="inmuebles.banos"
                    min="0"
                    max="8"
                    placeholder="0"
                  />
                </b-form-group>
              </b-col>
              <!-- field: Garaje  -->
              <b-col cols="12" md="4" lg="4">
                <b-form-group label="Garaje" label-for="garaje">
                  <b-form-spinbutton
                    id="sb-inline"
                    v-model="inmuebles.garaje"
                    min="0"
                    max="8"
                    placeholder="0"
                  />
                </b-form-group>
              </b-col>
            </b-row>
            <b-row>
              <!-- field: Piso  -->
              <b-col cols="12" md="4" lg="4">
                <b-form-group label="Piso" label-for="piso">
                  <b-form-spinbutton
                    id="sb-inline"
                    v-model="inmuebles.piso"
                    min="1"
                    max="30"
                    placeholder="0"
                  />
                </b-form-group>
              </b-col>
              <!-- field: Ascensor  -->
              <b-col cols="12" md="8" lg="8">
                <b-form-group label="Ascensor" label-for="ascensor">
                  <v-select
                    v-model="inmuebles.ascensor"
                    :options="ascensor"
                    :clearable="false"
                    input-id="ascensor"
                    placeholder="Seleccionar"
                  />
                </b-form-group>
              </b-col>
            </b-row>
            <b-row>
              <!-- field: Parqueaderos  -->
              <b-col cols="12" md="4" lg="4">
                <b-form-group label="Parqueaderos" label-for="parqueaderos">
                  <b-form-spinbutton
                    id="sb-inline"
                    v-model="inmuebles.parqueadero"
                    min="0"
                    max="50"
                    placeholder="0"
                  />
                </b-form-group>
              </b-col>
              <!-- field: Tipo de Parqueaderos  -->
              <b-col cols="12" md="8" lg="8">
                <b-form-group
                  label="Tipo de Parqueaderos"
                  label-for="tipoParqueadero"
                >
                  <v-select
                    v-model="inmuebles.tipoParqueadero"
                    :options="tipoParqueadero"
                    :clearable="false"
                    input-id="parqueadero"
                    placeholder="Seleccionar"
                  />
                </b-form-group>
              </b-col>
            </b-row>
            <b-row>
              <!-- area del lote  -->
              <b-col md="6">
                <b-form-group label-for="areaLote" label="Area del lote">
                  <div class="form-label-group">
                    <b-input-group append="m²">
                      <cleave
                        id="15"
                        v-model="numeroFormato.value"
                        class="form-control"
                        :raw="false"
                        :options="noptions.area"
                        placeholder="Area del Lote"
                      />
                    </b-input-group>
                  </div>
                </b-form-group>
              </b-col>
              <!-- area construida  -->
              <b-col md="6">
                <b-form-group
                  label-for="areaConstruida"
                  label="Area construida"
                >
                  <div class="form-label-group">
                    <b-input-group append="m²">
                      <cleave
                        id="15"
                        v-model="numeroFormato.value"
                        class="form-control"
                        :raw="false"
                        :options="noptions.area"
                        placeholder="Area construida"
                      />
                    </b-input-group>
                  </div>
                </b-form-group>
              </b-col>
            </b-row>
            <b-row>
              <!-- fiel: frente  -->
              <b-col md="6">
                <b-form-group label-for="frente" label="Frente">
                  <div class="form-label-group">
                    <b-input-group append="m">
                      <cleave
                        id="15"
                        v-model="numeroFormato.value"
                        class="form-control"
                        :raw="false"
                        :options="numeroFormato.value"
                        placeholder="Area de fondo"
                      />
                    </b-input-group>
                  </div>
                </b-form-group>
              </b-col>
              <!-- Fondo  -->
              <b-col md="6">
                <b-form-group label-for="fondo" label="Fondo">
                  <div class="form-label-group">
                    <b-input-group append="m">
                      <cleave
                        id="15"
                        v-model="numeroFormato.value"
                        class="form-control"
                        :raw="false"
                        :options="numeroFormato.number"
                        placeholder="Area del frente"
                      />
                    </b-input-group>
                  </div>
                </b-form-group>
              </b-col>
            </b-row>
            <b-row>
              <!-- Area Total  -->
              <b-col md="6">
                <b-form-group label-for="areaTotal" label="Area Total">
                  <div class="form-label-group">
                    <b-input-group append="m²">
                      <cleave
                        id="15"
                        v-model="numeroFormato.value"
                        class="form-control"
                        :raw="false"
                        :options="noptions.number"
                        placeholder="Cuota inicial"
                      />
                    </b-input-group>
                  </div>
                </b-form-group>
              </b-col>
              <!-- field: Cantidad de ambientes  -->
              <b-col md="6" lg="6">
                <b-form-group
                  label="Cantidad de ambientes"
                  label-for="ambientes"
                >
                  <v-select
                    v-model="inmuebles.ambientes"
                    :options="ambientes"
                    :clearable="false"
                    input-id="language"
                    placeholder="Seleccionar"
                  />
                </b-form-group>
              </b-col>
            </b-row>
          </b-card-actions>
          <!-- Card3-1 : Descripcion  -->
          <b-card-actions
            border-variant="primary"
            bg-variant="transparent"
            class="shadow-none"
            title="Descripcion"
            action-collapse
          >
            <b-row>
              <!-- field: Descripcion del inmueble  -->
              <b-col>
                <b-form-textarea
                  id="textarea-state"
                  v-model="userDataInfo.textDescripcion"
                  :state="userDataInfo.textDescripcion.length >= 50"
                  placeholder="Ingresa mas de 50 caracteres"
                  rows="4"
                />
              </b-col>
            </b-row>
          </b-card-actions>
        </b-col>
        <!-- Columna 2  -->
        <b-col md="6" lg="6">
          <!-- Card1-2: Precios  -->
          <b-card-actions
            title="Precios"
            border-variant="primary"
            bg-variant="transparent"
            class="shadow-none"
            action-collapse
          >
            <!-- Form: Personal Info Form -->
            <b-row>
              <!-- Field: Precio de venta -->
              <b-col md="12">
                <b-form-group label="Precio de venta" label-for="pventa">
                  <b-input-group prepend="$">
                    <cleave
                      id="10"
                      v-model="numeroFormato.value"
                      class="form-control"
                      :raw="false"
                      :options="noptions.number"
                      placeholder="Precio de venta"
                    />
                    <b-input-group-append>
                      <b-form-select
                        v-model="numeroFormato.divisa"
                        :options="divisas"
                      >
                      </b-form-select>
                    </b-input-group-append>
                  </b-input-group>
                </b-form-group>
              </b-col>

              <!-- Tipo de precio  -->
              <b-col md="12">
                <b-form-group label="Tipo de precio" label-for="language">
                  <v-select
                    v-model="inmuebles.tipoDePrecio"
                    :options="tipoDePrecio"
                    :clearable="false"
                    input-id="language"
                    placeholder="Seleccionar"
                  />
                </b-form-group>
              </b-col>
            </b-row>
            <b-row>
              <!-- Field: Precio de Alquiler -->
              <b-col md="12">
                <b-form-group label="Precio del alquiler" label-for="language">
                  <div class="form-label-group">
                    <b-input-group prepend="$">
                      <cleave
                        id="11"
                        v-model="numeroFormato.value"
                        class="form-control"
                        :raw="false"
                        :options="noptions.number"
                        placeholder="Precio del alquiler"
                      />
                      <b-input-group-append>
                        <b-form-select
                          v-model="numeroFormato.divisa"
                          :options="divisas"
                        >
                        </b-form-select>
                      </b-input-group-append>
                    </b-input-group>
                  </div>
                </b-form-group>
              </b-col>

              <!-- Tiempo de alquiler  -->
              <b-col cols="12">
                <b-form-group label="Tiempo de alquiler" label-for="language">
                  <v-select
                    v-model="inmuebles.periodoAdmon"
                    :options="periodoAdmon"
                    :clearable="false"
                    placeholder="Seleccionar"
                  />
                </b-form-group>
              </b-col>
            </b-row>
            <b-row>
              <!-- Field: Precio de Administración  -->
              <b-col md="12">
                <b-form-group
                  label-for="padmon"
                  label="Precio de administración"
                >
                  <div class="form-label-group">
                    <b-input-group prepend="$">
                      <cleave
                        id="12"
                        v-model="numeroFormato.value"
                        class="form-control"
                        :raw="false"
                        :options="noptions.number"
                        placeholder="Precio de la administración"
                      />
                      <b-input-group-append>
                        <b-form-select
                          v-model="numeroFormato.divisa"
                          :options="divisas"
                        >
                        </b-form-select>
                      </b-input-group-append>
                    </b-input-group>
                  </div>
                </b-form-group>
              </b-col>

              <!-- Tiempo de Administración  -->
              <b-col cols="12">
                <b-form-group
                  label="Periodo de administración"
                  label-for="language"
                >
                  <v-select
                    v-model="inmuebles.periodoAdmon"
                    :options="periodoAdmon"
                    label="name"
                    :clearable="false"
                    placeholder="Seleccionar"
                  />
                </b-form-group>
              </b-col>
            </b-row>
          </b-card-actions>
          <!-- Card2-2 : Ubicación  -->
          <b-card-actions
            border-variant="primary"
            bg-variant="transparent"
            class="shadow-none"
            title="Ubicaciones"
            action-collapse
          >
            <b-row>
              <b-col>
                <b-form-group label="Paises" label-for="paises">
                  <v-select
                    v-model="inmueble.pais"
                    :options="paises"
                    label="name"
                    :value="paises.id"
                    @input="getEstados"
                    placeholder="Seleccionar"
                  />
                </b-form-group>
              </b-col>
            </b-row>
            <b-row>
              <!-- field: Departamento  -->
              <b-col>
                <b-form-group label="Departamento" label-for="states">
                  <v-select
                    v-model="inmueble.estado"
                    :options="estados"
                    label="name"
                    @input="getCiudades"
                    :value="estados.id"
                    placeholder="Seleccionar"
                  />
                </b-form-group>
              </b-col>
            </b-row>
            <b-row>
              <!-- field: Ciudad  -->
              <b-col>
                <b-form-group label="Ciudad" label-for="ciudad">
                  <v-select
                    v-model="inmueble.ciudad"
                    :options="ciudades"
                    label="name"
                    :value="ciudades.id"
                    @input="getZona"
                    input-id="ciudad"
                    placeholder="Seleccionar"
                  />
                </b-form-group>
              </b-col>
            </b-row>
            <b-row>
              <!-- field: Zona  -->
              <b-col>
                <b-form-group label="Zona" label-for="zona">
                  <v-select
                    v-model="inmueble.zona"
                    :options="zonas"
                    label="name"
                    :value="zonas.id"
                    @input="getBarrio"
                    :clearable="false"
                    input-id="zona"
                  />
                </b-form-group>
              </b-col>
              <b-col md="2">
                <b-form-group label="Agregar" label-for="zonaAdd">
                  <b-button
                    variant="gradient-primary"
                    class="btn-icon"
                    v-b-modal.modal-zonas
                  >
                    <feather-icon icon="PlusCircleIcon" />
                  </b-button>
                </b-form-group>
              </b-col>
            </b-row>
            <!-- Modal -->
            <b-modal
              ref="modalZona"
              id="modal-zonas"
              @show="resetModalZona"
              @hidden="resetModalZona"
              @ok="handleOkZona"
              ok-title="Registrar"
              cancel-title="Cancelar"
              centered
              size="lg"
              title="Agregar Zona"
            >
              <b-card-text>
                <b-row>
                  <b-col>
                    <form
                      ref="formZona"
                      @submit.stop.prevent="handleSubmitZona"
                    >
                      <b-form-group
                        label="Agregar Zona"
                        label-for="basicInput"
                        invalid-feedback="La zona es requerida"
                        :state="zonaState"
                      >
                        <b-form-input
                          v-model="inmueble.zona"
                          id="basicInput"
                          :state="zonaState"
                          placeholder="Ingresar el nombre de la zona"
                        />
                      </b-form-group>
                    </form>
                  </b-col>
                </b-row>
              </b-card-text>
            </b-modal>
            <!-- Fin Modal Zonas -->

            <b-row>
              <!-- field: Barrio  -->
              <b-col>
                <b-form-group label="Barrio" label-for="barrios">
                  <v-select
                    v-model="inmueble.barrio"
                    :options="barrios"
                    label="name"
                    :value="barrios.id"
                    :clearable="false"
                    input-id="barrios"
                  />
                </b-form-group>
              </b-col>
              <b-col md="2">
                <b-form-group label="Agregar" label-for="zonaAdd">
                  <b-button
                    variant="gradient-primary"
                    class="btn-icon"
                    v-b-modal.modal-barrio
                  >
                    <feather-icon icon="PlusCircleIcon" />
                  </b-button>
                </b-form-group>
              </b-col>
            </b-row>
            <!-- Modal Barrios-->
            <b-modal
              ref="modalBarrio"
              id="modal-barrio"
              @show="resetModalBarrio"
              @hidden="resetModalBarrio"
              @ok="handleOkBarrio"
              ok-title="Registrar"
              cancel-title="Cancelar"
              centered
              size="lg"
              title="Agregar Barrio"
            >
              <b-card-text>
                <b-row>
                  <b-col>
                    <form
                      ref="formBarrio"
                      @submit.stop.prevent="handleSubmitBarrio"
                    >
                      <b-form-group
                        label="Agregar Barrio"
                        label-for="basicInputBarrio"
                        invalid-feedback="El Barrio es requerido"
                        :state="barrioState"
                      >
                        <b-form-input
                          v-model="inmueble.barrio"
                          id="basicInputBarrio"
                          :state="barrioState"
                          placeholder="Ingresar el nombre del barrio"
                        />
                      </b-form-group>
                    </form>
                  </b-col>
                </b-row>
              </b-card-text>
            </b-modal>
            <!-- Fin Modal Barrios -->
            <b-row>
              <b-col cols="12" md="6" lg="6">
                <b-form-group label="Latitud" label-for="address-line-1">
                  <b-form-input
                    id="address-line-1"
                    placeholder="Ejemplo: 1990"
                  />
                </b-form-group>
              </b-col>

              <b-col cols="12" md="6" lg="6">
                <b-form-group label="Longitud" label-for="address-line-2">
                  <b-form-input
                    id="address-line-2"
                    placeholder="Ejemplo: 1990"
                  />
                </b-form-group>
              </b-col>
            </b-row>
            <b-row>
              <!-- Field: Dirección  -->
              <b-col>
                <b-form-group label="Direccion" label-for="basicInput">
                  <b-form-input
                    id="basicInput"
                    placeholder="Ingresa la dirección"
                  />
                </b-form-group>
              </b-col>
            </b-row>
          </b-card-actions>
          <!-- Card2-2 : Propietario  -->
          <b-card-actions
            border-variant="primary"
            bg-variant="transparent"
            class="shadow-none"
            title="Propietario"
            footer="*Informacion Privada"
            footer-class="text-muted"
            action-collapse
            collapsed
          >
            <b-row>
              <!-- field: Nombre Completo  -->
              <b-col md="6">
                <b-form-group label="Primer Nombre" label-for="language">
                  <b-form-input id="basicInput" placeholder="" />
                </b-form-group>
              </b-col>
              <b-col md="6">
                <b-form-group label="Segundo Nombre" label-for="language">
                  <b-form-input id="basicInput" placeholder="" />
                </b-form-group>
              </b-col>
            </b-row>
            <b-row>
              <!-- field: Apellidos  -->
              <b-col md="6">
                <b-form-group label="Primer Apellido" label-for="language">
                  <b-form-input id="basicInput" placeholder="" />
                </b-form-group>
              </b-col>
              <b-col md="6">
                <b-form-group label="Segundo Apellido" label-for="language">
                  <b-form-input id="basicInput" placeholder="" />
                </b-form-group>
              </b-col>
            </b-row>
            <b-row>
              <!-- field: Contacto  -->
              <b-col>
                <b-form-group label="Telefono" label-for="language">
                  <b-form-input id="basicInput" placeholder="" />
                </b-form-group>
              </b-col>
            </b-row>
            <b-row>
              <!-- field: Zona  -->
              <b-col>
                <h6>En construcción..</h6>
              </b-col>
            </b-row>
          </b-card-actions>
        </b-col>
      </b-row>
      <b-row>
        <b-col>
          <b-button
            variant="primary"
            class="mb-1 mb-sm-0 mr-0 mr-sm-1"
            :block="$store.getters['app/currentBreakPoint'] === 'xs'"
          >
            Guardar
          </b-button>
          <b-button
            variant="outline-secondary"
            :block="$store.getters['app/currentBreakPoint'] === 'xs'"
          >
            Borrador
          </b-button>
        </b-col>
      </b-row>
    </b-form>
  </div>
</template>

<script>
import {
  BRow,
  BCol,
  BForm,
  BFormGroup,
  BFormInput,
  BFormTextarea,
  BFormRadioGroup,
  BFormCheckboxGroup,
  BButton,
  BCardText,
  BTable,
  BCardTitle,
  BCard,
  BInputGroupPrepend,
  BInputGroupAppend,
  BInputGroup,
  BDropdown,
  BDropdownItem,
  BDropdownDivider,
  BFormCheckbox,
  BFormDatalist,
  BFormRadio,
  BFormSelect,
  BFormTimepicker,
  BFormInvalidFeedback,
  BFormSpinbutton,
} from "bootstrap-vue";
import flatPickr from "vue-flatpickr-component";
import { ref } from "@vue/composition-api";
import vSelect from "vue-select";
import AppCollapse from "@core/components/app-collapse/AppCollapse.vue";
import AppCollapseItem from "@core/components/app-collapse/AppCollapseItem.vue";
import BCardCode from "@core/components/b-card-code";
import BCardActions from "@core/components/b-card-actions/BCardActions.vue";
import Cleave from "vue-cleave-component";
import InmuebleStoreModule from "../../InmuebleStoreModule";
import "cleave.js/dist/addons/cleave-phone.us";
import store from "@/store";
import { onUnmounted } from "@vue/composition-api";
import Ripple from "vue-ripple-directive";

const USER_APP_STORE_MODULE_NAME = "app-inmuebles";

// Register module
if (!store.hasModule(USER_APP_STORE_MODULE_NAME))
  store.registerModule(USER_APP_STORE_MODULE_NAME, InmuebleStoreModule);

// UnRegister on leave
onUnmounted(() => {
  if (store.hasModule(USER_APP_STORE_MODULE_NAME))
    store.unregisterModule(USER_APP_STORE_MODULE_NAME);
});

export default {
  components: {
    BRow,
    BCol,
    BForm,
    BTable,
    BFormGroup,
    flatPickr,
    BFormInput,
    vSelect,
    BFormRadioGroup,
    BFormCheckboxGroup,
    BButton,
    BCardText,
    AppCollapse,
    AppCollapseItem,
    BCardCode,
    BCardActions,
    BCardTitle,
    BCard,
    Cleave,
    BInputGroupPrepend,
    BInputGroupAppend,
    BInputGroup,
    BDropdown,
    BDropdownItem,
    BDropdownDivider,
    BFormCheckbox,
    BFormTextarea,
    BFormDatalist,
    BFormRadio,
    BFormSelect,
    BFormTimepicker,
    BFormInvalidFeedback,
    BFormSpinbutton,
  },

  data() {
    return {
      paises: [],
      estados: [],
      ciudades: [],
      zonas: [],
      barrios: [],

      inmueble: {
        ciudad: null,
        pais: null,
        estado: null,
        zona: null,
        barrio: null,
      },

      zonaState: null,
      barrioState: null,

      tipoInmueble: [],
      tipoNegocio: [],
      inmuebles: {
        tipoNegocio: "",
        tipoInmueble: "",
        segmento: "",
        estadoPublicacion: "",
        estadoFisicoPropiedad: "",
        estratos: "",
        ascensor: "",
        caracteristicas: {
          internas: "",
          externas: "",
        },
        parqueadero: "",
        ambientes: "",
        periodoAdmon: "",
      },
      legal: {
        tipoDocumento: "",
      },
      caracteristicasInternas: [],
      caracteristicasExternas: [],

      pregunta: {
        default: "Selec",
      },
      pruebaLista: [
        "valor1",
        "Valor2",
        // { text: "Valor1", value: "1" }, Pruebas FLM
        // { text: "Valor2", value: "2" },
      ],
      maxChar: 20,
      noptions: {
        number: {
          numeral: true,
          numeralDecimalMark: ",",
          delimiter: ".",

          noImmediatePrefix: true,
        },
        numberArea: {
          numeral: true,
        },
      },

      divisas: [
        { text: "COP", value: "COP" },
        { text: "USD", value: "USD" },
      ],

      areas: [{ text: "m²", value: "COP" }],

      option: ["Cocina Integral", "Calentador"],

      numeroFormato: {
        area: "m²",
        value: "",
        divisa: "COP",
      },

      dir: "ltr",
      selected: "",
    };
  },

  created() {
    this.getPaises();
    this.getTipoInmueble();
    this.getTipoNegocio();
    this.getCaracteristicasInternas();
    this.getCaracteristicasExternas();
  },

  methods: {
    getPaises() {
      this.$store
        .dispatch("appLocalidades/getPaises")
        .then((response) => {
          this.paises = response;
        })
        .catch((error) => {
          console.log(error);
        });
    },

    getEstados() {
      let codigo = this.inmueble.pais.id;
      this.$store
        .dispatch("appLocalidades/getStates", { codigo })
        .then((response) => {
          this.estados = response;
        })
        .catch((error) => {
          console.log(error);
        });
    },

    getCiudades() {
      let codigo = this.inmueble.estado.id;
      this.$store
        .dispatch("appLocalidades/getCiudades", { codigo })
        .then((response) => {
          this.ciudades = response;
        })
        .catch((error) => {
          console.log(error);
        });
    },

    getZona() {
      let codigo = this.inmueble.ciudad.id;
      this.$store
        .dispatch("appLocalidades/getZona", { codigo })
        .then((response) => {
          this.zonas = response;
        })
        .catch((error) => {
          console.log(error);
        });
    },

    getBarrio() {
      let codigo = this.inmueble.zona.id;
      this.$store
        .dispatch("appLocalidades/getBarrio", { codigo })
        .then((response) => {
          this.barrios = response;
        })
        .catch((error) => {
          console.log(error);
        });
    },

    /* Zona */

    checkFormValidityZona() {
      const valid = this.$refs.formZona.checkValidity();
      this.zonaState = valid;
      return valid;
    },

    resetModalZona() {
      this.inmueble.zona = "";
      this.zonaState = null;
    },

    handleOkZona(bvModalEvt) {
      bvModalEvt.preventDefault();
      this.handleSubmitZona();
    },

    hideModal() {
      this.$refs["modalZona"].hide();
    },

    handleSubmitZona() {
      if (!this.checkFormValidity()) {
        return;
      }

      let data = {
        ciudad_id: this.inmueble.ciudad.id,
        name: this.inmueble.zona,
      };

      this.$store
        .dispatch("appLocalidades/saveZona", data)
        .then((response) => {
          this.inmueble.zona = response;
          this.getZona();
          this.hideModal();
        })
        .catch((error) => {
          this.hideModal();
        });
    },

    /* Barrio */

    checkFormValidityBarrio() {
      const valid = this.$refs.formBarrio.checkValidity();
      this.barrioState = valid;
      return valid;
    },

    resetModalBarrio() {
      this.inmueble.barrio = "";
      this.barrioState = null;
    },

    handleOkBarrio(bvModalEvt) {
      bvModalEvt.preventDefault();
      this.handleSubmitBarrio();
    },

    hideModalBarrio() {
      this.$refs["modalBarrio"].hide();
    },

    handleSubmitBarrio() {
      if (!this.checkFormValidityBarrio()) {
        return;
      }

      let data = {
        zona_id: this.inmueble.zona.id,
        name: this.inmueble.barrio,
      };

      this.$store
        .dispatch("appLocalidades/saveBarrio", data)
        .then((response) => {
          this.inmueble.barrio = response.id;
          this.getBarrio();
          this.hideModalBarrio();
        })
        .catch((error) => {
          this.hideModalBarrio();
        });
    },

    getTipoInmueble() {
      store.dispatch("app-inmuebles/getTipoInmueble", {}).then((response) => {
        this.tipoInmueble = response;
      });
    },
    getTipoNegocio() {
      store.dispatch("app-inmuebles/getTipoNegocio", {}).then((response) => {
        this.tipoNegocio = response;
      });
    },
    getCaracteristicasInternas() {
      store
        .dispatch("app-inmuebles/getCaracteristicasInternas", {})
        .then((response) => {
          this.caracteristicasInternas = response;
        });
    },
    getCaracteristicasExternas() {
      store
        .dispatch("app-inmuebles/getCaracteristicasExternas", {})
        .then((response) => {
          this.caracteristicasExternas = response;
        });
    },





  // Enviar informacion

  sendData(){
    this.$emit( 'dataInmuebleAgregar', );
  }










  },
  setup() {
    const userDataInfo = ref({
      dob: null,
      mobile: "Ingresa un numero",
      website: "https://rowboat.com/insititious/Angelo",
      language: "Seleccionar",
      gender: "female",
      contactOptions: ["Email", "Message"],
      addressLine1: "A-65, Belvedere Streets",
      addressLine2: "",
      postcode: "",
      city: "New York",
      state: "",
      country: "",
      divisa: "",
      nada: "",
      area: "",
      value: 0,
      textDescripcion: "",
      alcobas: "",
      banos: "",
      garaje: "",
      piso: "1",
    });

    const languageOptions = ["English"];

    const tipoDeInmueble = ["Apartamento", "Casa", "Lote"];

    const tipoDeNegocio = ["Venta", "Alquiler", "Venta - Alquiler"];

    const segmendtoDeMercado = ["Residencial", "Comercial", "Otro"];

    const estadoPublicacion = ["Activo", "Inactivo", "Borrador"];

    const estadoFisicoPropiedad = ["Nuevo", "Usado"];

    const estratos = [
      "Estrato 1",
      "Estrato 2",
      "Estrato 3",
      "Estrato 4",
      "Estrato 5",
      "Estrato 6",
      "Estrato 7",
    ];

    const tipoParqueadero = ["Sencillo", "Doble", "Triple"];

    const ascensor = ["Si", "No"];

    const ambientes = ["2 Ambientes", "3 Ambientes", "4 Ambientes", "Duplex"];

    const periodoAdmon = ["Mensual", "Trimestral", "Semestral", "Anual"];

    const tipoDePrecio = ["Precio Fijo", "Precio Negociable", "Remate"];

    return {
      userDataInfo,
      languageOptions,
      tipoDeInmueble,
      tipoDeNegocio,
      segmendtoDeMercado,
      estadoPublicacion,
      estadoFisicoPropiedad,
      estratos,
      ascensor,
      tipoParqueadero,
      ambientes,
      periodoAdmon,
      tipoDePrecio,
    };
  },
};
</script>

<style lang="scss">
@import "@core/scss/vue/libs/vue-flatpicker.scss";
</style>
