<template>
  <div>
    <!-- olx -->

    <b-row>
      <b-col>
        <b-card
          border-variant="primary"
          title="Olx"
          bg-variant="transparent"
          class="shadow-none"
        >
          <b-card-text>
            <b-link href="htts://www.olx.com.co">
              Publicacion con www.olx.com.co
            </b-link>
          </b-card-text>
        </b-card>
      </b-col>
    </b-row>

    <!-- Video -->
    <b-row>
      <b-col>
        <b-card
          border-variant="primary"
          title="Finca Raiz"
          text="Portal wwwfincaraiz.com"
          bg-variant="transparent"
          class="shadow-none"
        >
          <b-card-text>
            <b-link href="https://www.fincaraiz.com.co/">
              Publicacion con www.fincaraiz.com.co
            </b-link>
          </b-card-text>
        </b-card>
      </b-col>
    </b-row>

    <!-- Poperati -->
    <b-row>
      <b-col>
        <b-card
          border-variant="primary"
          title="Poperati"
          bg-variant="transparent"
          class="shadow-none"
        >
          <b-card-text>
            <b-link href="https://www.properati.com.co/">
              Publicacion con www.properati.com
            </b-link>
          </b-card-text>
        </b-card>
      </b-col>
    </b-row>

    <b-row>
      <b-col>
        <!-- Action Buttons -->
        <b-button
          variant="primary"
          class="mb-1 mb-sm-0 mr-0 mr-sm-1"
          :block="$store.getters['app/currentBreakPoint'] === 'xs'"
        >
          Guardar Cambios
        </b-button>
        <b-button
          variant="outline-secondary"
          type="reset"
          :block="$store.getters['app/currentBreakPoint'] === 'xs'"
        >
          Borrar
        </b-button>
      </b-col>
    </b-row>
  </div>
</template>

<script>
import {
  BButton,
  BMedia,
  BAvatar,
  BRow,
  BCol,
  BLink,
  BFormGroup,
  BFormInput,
  BForm,
  BTable,
  BCard,
  BCardHeader,
  BCardTitle,
  BCardText,
  BFormCheckbox,
} from "bootstrap-vue";
import { avatarText } from "@core/utils/filter";
import vSelect from "vue-select";
import { useInputImageRenderer } from "@core/comp-functions/forms/form-utils";
import { ref } from "@vue/composition-api";
import useUsersList from "./useUsersList";

export default {
  components: {
    BButton,
    BMedia,
    BAvatar,
    BRow,
    BCol,
    BFormGroup,
    BFormInput,
    BForm,
    BTable,
    BCard,
    BCardHeader,
    BCardTitle,
    BFormCheckbox,
    vSelect,
    BCardText,
    BLink,
  },
  props: {},
  setup(props) {
    const { resolveUserRoleVariant } = useUsersList();

    const roleOptions = [
      { label: "Admin", value: "admin" },
      { label: "Author", value: "author" },
      { label: "Editor", value: "editor" },
      { label: "Maintainer", value: "maintainer" },
      { label: "Subscriber", value: "subscriber" },
    ];

    const statusOptions = [
      { label: "Pending", value: "pending" },
      { label: "Active", value: "active" },
      { label: "Inactive", value: "inactive" },
    ];

    const permissionsData = [
      {
        module: "Admin",
        read: true,
        write: false,
        create: false,
        delete: false,
      },
      {
        module: "Staff",
        read: false,
        write: true,
        create: false,
        delete: false,
      },
      {
        module: "Author",
        read: true,
        write: false,
        create: true,
        delete: false,
      },
      {
        module: "Contributor",
        read: false,
        write: false,
        create: false,
        delete: false,
      },
      {
        module: "User",
        read: false,
        write: false,
        create: false,
        delete: true,
      },
    ];

    // ? Demo Purpose => Update image on click of update
    const refInputEl = ref(null);
    const previewEl = ref(null);

    return {
      resolveUserRoleVariant,
      avatarText,
      roleOptions,
      statusOptions,
      permissionsData,

      //  ? Demo - Update Image on click of update button
      refInputEl,
      previewEl,
    };
  },
};
</script>

<style lang="scss">
@import "@core/scss/vue/libs/vue-select.scss";
</style>
