<template>
  <b-form>
    <b-card
      border-variant="primary"
      title="Documentos"
      bg-variant="transparent"
      class="shadow-none"
    >
      <b-row>
        <b-col>
          <b-form-group label="Adjuntar Documento" label-for="basicInput">
            <b-form-file
              placeholder="Selecciona un documento aquí..."
              drop-placeholder="Drop file here..."
            />
          </b-form-group>
        </b-col>
        <b-col>
          <b-form-group label="Tipo de documento" label-for="basicInput">
            <b-form-select
              v-model="userDataSocial.tipoDocumento"
              :options="tipoDocumento"
              placeholder="Prueba"
              input-id="TipoDOcumento1"
            />
          </b-form-group>
        </b-col>
      </b-row>
      <b-row>
        <b-col>
          <b-form-group label="Adjuntar Documento" label-for="basicInput">
            <b-form-file
              placeholder="Selecciona un documento aquí..."
              drop-placeholder="Drop file here..."
            />
          </b-form-group>
        </b-col>
        <b-col>
          <b-form-group label="Tipo de documento" label-for="basicInput2">
            <b-form-select
              v-model="userDataSocial.tipoDocumento"
              :options="tipoDocumento"
              placeholder="Prueba"
              input-id="tipoDocumento2"
            />
          </b-form-group>
        </b-col>
      </b-row>
      <b-row>
        <b-col>
          <!-- Action Buttons -->
          <b-button
            variant="primary"
            class="mb-1 mb-sm-0 mr-0 mr-sm-1"
            :block="$store.getters['app/currentBreakPoint'] === 'xs'"
          >
            Guardar Cambios
          </b-button>
          <b-button
            variant="outline-secondary"
            type="reset"
            :block="$store.getters['app/currentBreakPoint'] === 'xs'"
          >
            Borrar
          </b-button>
        </b-col>
      </b-row>
    </b-card>
  </b-form>
</template>

<script>
import {
  BRow,
  BCol,
  BForm,
  BCard,
  BFormGroup,
  BFormInput,
  BButton,
  BInputGroup,
  BInputGroupPrepend,
  BFormFile,
  BFormSelect,
} from "bootstrap-vue";

export default {
  components: {
    BRow,
    BCol,
    BForm,
    BCard,
    BFormGroup,
    BFormInput,
    BButton,
    BInputGroup,
    BInputGroupPrepend,
    BFormFile,
    BFormSelect,
  },
  setup() {
    const userDataSocial = {
      twitter: "https://www.twitter.com/adoptionism744",
      facebook: "https://www.facebook.com/adoptionism664",
      instagram: "https://www.instagram.com/adopt-ionism744",
      github: "https://www.github.com/madop818",
      codepen: "https://www.codepen.com/adoptism243",
      slack: "@adoptionism744",
      tipoDocumento: [],
    };

    const tipoDocumento = [
      "Contrato de compraventa",
      "Contrato de arrendamiento",
      "Certificado de tradicion",
    ];

    // ? dataField is field name of `userDataSocial` object
    const socialInputs = [
      {
        icon: "TwitterIcon",
        dataField: "twitter",
        label: "Twitter",
      },
      {
        icon: "FacebookIcon",
        dataField: "facebook",
        label: "facebook",
      },
      {
        icon: "InstagramIcon",
        dataField: "instagram",
        label: "instagram",
      },
      {
        icon: "GithubIcon",
        dataField: "github",
        label: "github",
      },
      {
        icon: "CodepenIcon",
        dataField: "codepen",
        label: "codepen",
      },
      {
        icon: "SlackIcon",
        dataField: "slack",
        label: "slack",
      },
    ];

    return {
      userDataSocial,
      socialInputs,
      tipoDocumento,
    };
  },
};
</script>

<style>
</style>
