<template>
  <!-- Alert: No item found -->
  <b-overlay :show="show" rounded="sm">
    <form-wizard
      ref="wizard"
      color="#7367F0"
      :title="null"
      :subtitle="null"
      shape="square"
      finish-button-text="Registrar"
      back-button-text="Atras"
      next-button-text="Siguiente"
      class="mb-3"
      @on-complete="formSubmitted"
    >
      <tab-content title="Datos basicos" icon="feather icon-user">
        <b-row>
          <b-col cols="12" class="mb-2">
            <b-form>
              <b-row>
                <!-- Columna 1  -->
                <b-col md="6" lg="6">
                  <!-- Card1-1 : Informacion basica  -->
                  <b-card-actions
                    border-variant="primary"
                    bg-variant="transparent"
                    class="shadow-none"
                    title="Informacion Basica"
                    action-collapse
                  >
                    <b-row>
                      <!-- Field: Tipo de inmueble -->
                      <b-col cols="12" md="6" lg="6">
                        <b-form-group
                          label="Tipo de Inmueble"
                          label-for="tipo_inmueble"
                        >
                          <v-select
                            v-model="inmueble.tipo_inmueble"
                            :options="tipo_inmuebles"
                            :clearable="false"
                            label="tipo"
                            input-id="tipo_inmueble"
                            placeholder="Seleccionar"
                            required
                          />
                        </b-form-group>
                      </b-col>

                      <!-- Field: Tipo de Negocio -->
                      <b-col cols="12" md="6" lg="6">
                        <b-form-group
                          label="Tipo de negocio"
                          label-for="tipoNegocio"
                        >
                          <v-select
                            @input="ocultarTipePrecio(tipoNegocio)"
                            v-model="inmueble.tipo_negocio"
                            :options="tipo_negocio"
                            :clearable="false"
                            label="tipo"
                            placeholder="Seleccionar"
                            required
                          />
                        </b-form-group>
                      </b-col>
                    </b-row>
                    <b-row>
                      <!-- Field: Segmento de mercado -->
                      <b-col cols="12" md="6" lg="6">
                        <b-form-group
                          label="Segmento de mercado"
                          label-for="SegmendoMercado"
                        >
                          <v-select
                            v-model="inmueble.segmento_mercado"
                            :options="segmento_mercado"
                            label="name"
                            :clearable="false"
                            input-id="SegmendoMercado"
                            placeholder="Seleccionar"
                            required
                          />
                        </b-form-group>
                      </b-col>
                      <!-- Field: Estado de la publicacion -->
                      <b-col cols="12" md="6" lg="6">
                        <b-form-group
                          label="Estado de la publicación"
                          label-for="estadoPublicacion"
                        >
                          <v-select
                            v-model="inmueble.estado_publicacion"
                            :options="state_publication"
                            label="name"
                            input-id="estadoPublicacion"
                            placeholder="Seleccionar"
                            required
                          />
                        </b-form-group>
                      </b-col>
                    </b-row>

                    <b-row>
                      <b-col cols="12" md="6" lg="6">
                        <b-form-group label="Antiguedad" label-for="antiguedad">
                          <v-select
                            v-model="inmueble.antiguedad"
                            :options="antiguedad"
                            label="name"
                            :clearable="false"
                            input-id="antiguedad"
                            placeholder="Seleccionar"
                            required
                          />
                        </b-form-group>
                      </b-col>
                    </b-row>
                    <b-row>
                      <!-- Field: Titulo del inmueble -->
                      <b-col cols="12" md="12" lg="12">
                        <b-form-group
                          label="Titulo del inmueble *"
                          label-for="tituloInmueble"
                        >
                          <b-form-input
                            required
                            maxlength="50"
                            id="tituloInmueble"
                            v-model="inmueble.titulo_inmueble"
                            placeholder="Titulo principal del inmueble"
                          />
                        </b-form-group>
                      </b-col>
                    </b-row>
                    <b-row>
                      <!-- Field: Estado fisico de la propiedad -->
                      <b-col cols="12" md="6" lg="6">
                        <b-form-group
                          label="Estado de la Propiedad"
                          label-for="EstadoFisico"
                        >
                          <v-select
                            v-model="inmueble.state_fisico"
                            :options="state_fisicos"
                            label="name"
                            :clearable="false"
                            input-id="EstadoFisico"
                            placeholder="Seleccionar"
                            required
                          />
                        </b-form-group>
                      </b-col>

                      <!-- Field: Matricula Inmobiliaria -->
                      <b-col cols="12" md="6" lg="6">
                        <b-form-group
                          label="Matricula Inmobiliaria"
                          label-for="matricula"
                        >
                          <b-form-input
                            id="matricula"
                            v-model="inmueble.matricula_inmobiliaria"
                            placeholder="No. de Matricula"
                            input-id="matricula"
                            required
                          />
                        </b-form-group>
                      </b-col>
                    </b-row>
                    <b-row>
                      <!-- Field: Estrato -->
                      <b-col cols="12" md="6" lg="6">
                        <b-form-group label="Estrato" label-for="estrato">
                          <v-select
                            v-model="inmueble.estrato"
                            :options="estratos"
                            label="name"
                            :value="estratos.id"
                            input-id="estrato"
                            placeholder="Seleccionar"
                            required
                          />
                        </b-form-group>
                      </b-col>

                      <!-- Field: Año de construccion -->
                      <b-col cols="12" md="6" lg="6">
                        <b-form-group
                          label="Año de construcción"
                          label-for="año_construido"
                        >
                          <b-form-input
                            id="año_construido"
                            v-model="inmueble.ano_construcion"
                            placeholder="Ejemplo: 1990"
                            required
                          />
                        </b-form-group>
                      </b-col>
                    </b-row>
                  </b-card-actions>
                  <!-- Card2-1 : Caracteristicas  -->
                  <b-card-actions
                    border-variant="primary"
                    bg-variant="transparent"
                    class="shadow-none"
                    title="Detalles"
                    action-collapse
                  >
                    <b-row>
                      <!-- area del lote  -->
                      <b-col md="6">
                        <b-form-group
                          label-for="area_lote"
                          label="Area del lote"
                        >
                          <div class="form-label-group">
                            <b-input-group append="m²">
                              <cleave
                                id="area_lote"
                                v-model="inmueble.area_lote"
                                class="form-control"
                                :raw="false"
                                :options="noptions.number"
                                placeholder="Area del Lote"
                              />
                            </b-input-group>
                          </div>
                        </b-form-group>
                      </b-col>
                      <!-- area construida  -->
                      <b-col md="6">
                        <b-form-group
                          label-for="area_construida"
                          label="Area construida"
                        >
                          <div class="form-label-group">
                            <b-input-group append="m²">
                              <cleave
                                id="area_construida"
                                v-model="inmueble.area_contruida"
                                class="form-control"
                                :raw="false"
                                :options="noptions.number"
                                placeholder="Area construida"
                              />
                            </b-input-group>
                          </div>
                        </b-form-group>
                      </b-col>
                    </b-row>
                    <b-row>
                      <!-- fiel: frente  -->
                      <b-col md="6">
                        <b-form-group label-for="frente" label="Frente">
                          <div class="form-label-group">
                            <b-input-group append="m">
                              <cleave
                                id="fente"
                                v-model="inmueble.frente"
                                class="form-control"
                                :raw="false"
                                :options="noptions.number"
                                placeholder="Area de frente"
                              />
                            </b-input-group>
                          </div>
                        </b-form-group>
                      </b-col>
                      <!-- Fondo  -->
                      <b-col md="6">
                        <b-form-group label-for="fondo" label="Fondo">
                          <div class="form-label-group">
                            <b-input-group append="m">
                              <cleave
                                id="fondo"
                                v-model="inmueble.fondo"
                                class="form-control"
                                :raw="false"
                                :options="noptions.number"
                                placeholder="Area del fondo"
                              />
                            </b-input-group>
                          </div>
                        </b-form-group>
                      </b-col>
                    </b-row>
                    <b-row>
                      <!-- Area Total  -->
                      <b-col md="6">
                        <b-form-group label-for="area_total" label="Area total">
                          <div class="form-label-group">
                            <b-input-group append="m²">
                              <cleave
                                id="area_total"
                                v-model="inmueble.area_total"
                                class="form-control"
                                :raw="false"
                                :options="noptions.number"
                                placeholder="Area total"
                              />
                            </b-input-group>
                          </div>
                        </b-form-group>
                      </b-col>
                    </b-row>

                    <b-row>
                      <b-col cols="8" md="8" lg="8">
                        <b-form-group
                          label="Tipo de Parqueaderos"
                          label-for="parqueadero"
                        >
                          <v-select
                            v-model="inmueble.parqueadero"
                            :options="tipo_parqueadero"
                            label="tipo"
                            :clearable="false"
                            input-id="parqueadero"
                            placeholder="Seleccionar"
                          />
                        </b-form-group>
                      </b-col>
                    </b-row>
                    <b-row>
                      <!-- field: Alcobas  -->

                      <!-- field: Baños  -->
                      <b-col cols="12" md="4" lg="4">
                        <b-form-group label="Baños" label-for="banos">
                          <b-form-spinbutton
                            id="banos"
                            v-model="inmueble.banos"
                            min="0"
                            max="8"
                            placeholder="0"
                          />
                        </b-form-group>
                      </b-col>
                      <b-col cols="12" md="4" lg="4">
                        <b-form-group label="Habitaciones" label-for="banos">
                          <b-form-spinbutton
                            id="habitaciones"
                            v-model="inmueble.habitaciones"
                            min="0"
                            max="8"
                            placeholder="0"
                          />
                        </b-form-group>
                      </b-col>
                      <!-- field: Garaje  -->
                      <!-- <b-col cols="12" md="4" lg="4">
                        <b-form-group label="Garaje" label-for="garaje">
                          <b-form-spinbutton
                            id="garage"
                            v-model="inmueble.garaje"
                            min="0"
                            max="8"
                            placeholder="0"
                          />
                        </b-form-group>
                      </b-col> -->
                      <b-col cols="12" md="4" lg="4">
                        <b-form-group label="Número de pisos" label-for="piso">
                          <b-form-spinbutton
                            id="pisos"
                            v-model="inmueble.pisos"
                            min="1"
                            max="30"
                            placeholder="0"
                          />
                        </b-form-group>
                      </b-col>
                    </b-row>
                    <b-row>
                      <!-- field: Piso  -->

                      <!-- field: Ascensor  -->
                      <!-- <b-col cols="12" md="8" lg="8">
                    <b-form-group label="Ascensor" label-for="ascensor">
                      <v-select
                        v-model="inmueble.ascensor"
                        :options="ascensor"
                        :clearable="false"
                        input-id="ascensor"
                        placeholder="Seleccionar"
                      />
                    </b-form-group>
                  </b-col> -->
                    </b-row>
                    <b-row>
                      <!-- field: Parqueaderos  -->
                      <b-col cols="12" md="4" lg="4">
                        <b-form-group
                          label="Cantidad de Parqueaderos"
                          label-for="parqueaderos"
                        >
                          <b-form-spinbutton
                            id="sb-inline"
                            v-model="inmueble.cantidad_parqueadero"
                            min="0"
                            max="50"
                            placeholder="0"
                          />
                        </b-form-group>
                      </b-col>
                      <b-col cols="12" md="8" lg="8">
                        <b-form-group
                          label="Tipo de Parqueaderos"
                          label-for="parqueadero"
                        >
                          <v-select
                            v-model="inmueble.parqueadero"
                            :options="tipo_parqueadero"
                            label="tipo"
                            :clearable="false"
                            input-id="parqueadero"
                            placeholder="Seleccionar"
                          />
                        </b-form-group>
                      </b-col>
                      <!-- field: Tipo de Parqueaderos  -->
                    </b-row>
                    <b-row>
                      <!-- field: Caracteristicas Internas  -->
                      <b-col>
                        <b-form-group
                          label-for="carInternas"
                          label="Caracteristicas Internas"
                        >
                          <v-select
                            v-model="inmueble.caracteristicas_internas"
                            multiple
                            :close-on-select="false"
                            label="texto"
                            :options="caracteristicas_internas"
                            placeholder="Seleccion"
                          />
                        </b-form-group>
                      </b-col>
                    </b-row>
                    <b-row>
                      <!-- field: Caracteristicas Externas  -->
                      <b-col>
                        <b-form-group
                          label-for="carExternas"
                          label="Caracteristicas Externas"
                        >
                          <v-select
                            v-model="inmueble.caracteristicas_externas"
                            multiple
                            :close-on-select="false"
                            label="texto"
                            :options="caracteristicas_externas"
                            placeholder="Seleccionar"
                          />
                        </b-form-group>
                      </b-col>
                    </b-row>
                  </b-card-actions>
                  <!-- Card3-1 : Descripcion  -->
                </b-col>
                <!-- Columna 2  -->
                <b-col md="6" lg="6">
                  <!-- Card1-2: Precios  -->
                  <b-card-actions
                    title="Precios"
                    border-variant="primary"
                    bg-variant="transparent"
                    class="shadow-none"
                    action-collapse
                  >
                    <b-form-group label="Rango de precio" label-for="precio">
                      <v-select
                        v-model="inmueble.rangue_price"
                        :options="rangue_price"
                        :clearable="false"
                        label="value"
                        input-id="precio"
                        placeholder="Seleccionar"
                      />
                    </b-form-group>

                    <!-- Form: Personal Info Form -->
                    <b-row v-if="show_venta">
                      <!-- Field: Precio de venta -->
                      <b-col md="12">
                        <b-form-group
                          label="Precio de venta"
                          label-for="pventa"
                        >
                          <b-input-group prepend="$">
                            <cleave
                              id="10"
                              v-model="inmueble.precio_venta"
                              class="form-control"
                              :raw="false"
                              :options="noptions.number"
                              placeholder="Precio de venta"
                            />
                            <b-input-group-append>
                              <!-- <b-form-select
                                v-model="numeroFormato.divisa"
                                :options="divisas"
                              >
                              </b-form-select> -->
                            </b-input-group-append>
                          </b-input-group>
                        </b-form-group>
                      </b-col>

                      <!-- Tipo de precio  -->
                      <b-col md="12">
                        <b-form-group label="Tipo de precio" label-for="precio">
                          <v-select
                            v-model="inmueble.tipo_precio"
                            :options="precios"
                            :clearable="false"
                            :value="precios.id"
                            label="descripcion"
                            input-id="precio"
                            placeholder="Seleccionar"
                          />
                        </b-form-group>
                      </b-col>
                    </b-row>
                    <span v-if="show_alquiler">
                      <b-row>
                        <!-- Field: Precio de Alquiler -->
                        <b-col md="12">
                          <b-form-group
                            label="Precio del alquiler"
                            label-for="language"
                          >
                            <div class="form-label-group">
                              <b-input-group prepend="$">
                                <cleave
                                  id="11"
                                  v-model="inmueble.precio_alquiler"
                                  class="form-control"
                                  :raw="false"
                                  :options="noptions.number"
                                  placeholder="Precio del alquiler"
                                />
                                <b-input-group-append>
                                  <b-form-select
                                    v-model="numeroFormato.divisa"
                                    :options="divisas"
                                  >
                                  </b-form-select>
                                </b-input-group-append>
                              </b-input-group>
                            </div>
                          </b-form-group>
                        </b-col>

                        <!-- Tiempo de alquiler  -->
                        <b-col cols="12">
                          <b-form-group
                            label="Tiempo de alquiler"
                            label-for="language"
                          >
                            <v-select
                              v-model="inmueble.tiempo_alquiler"
                              :options="tiempo_alquiler"
                              :value="tiempo_alquiler.id"
                              label="tipo"
                              :clearable="false"
                              placeholder="Seleccionar"
                            />
                          </b-form-group>
                        </b-col>
                      </b-row>
                      <b-row>
                        <!-- Field: Precio de Administración  -->
                        <b-col md="12">
                          <b-form-group
                            label-for="padmon"
                            label="Precio de administración"
                          >
                            <div class="form-label-group">
                              <b-input-group prepend="$">
                                <cleave
                                  id="12"
                                  v-model="inmueble.precio_administracion"
                                  class="form-control"
                                  :raw="false"
                                  :options="noptions.number"
                                  placeholder="Precio de la administración"
                                />
                                <b-input-group-append>
                                  <b-form-select
                                    v-model="numeroFormato.divisa"
                                    :options="divisas"
                                  >
                                  </b-form-select>
                                </b-input-group-append>
                              </b-input-group>
                            </div>
                          </b-form-group>
                        </b-col>

                        <!-- Tiempo de Administración  -->
                        <b-col cols="12">
                          <b-form-group
                            label="Periodo de administración"
                            label-for="periodo_admon"
                          >
                            <v-select
                              v-model="inmueble.periodo_admon"
                              :options="periodo_admon"
                              label="descripcion"
                              :value="periodo_admon.id"
                              :clearable="false"
                              placeholder="Seleccionar"
                            />
                          </b-form-group>
                        </b-col>
                      </b-row>
                    </span>
                  </b-card-actions>
                  <!-- Card2-2 : Ubicación  -->

                  <!-- Card2-2 : Propietario  -->
                  <b-card-actions
                    border-variant="primary"
                    bg-variant="transparent"
                    class="shadow-none"
                    title="Propietario"
                    footer="*Informacion Privada"
                    footer-class="text-muted"
                    action-collapse
                  >
                    <b-row>
                      <!-- field: Nombre Completo  -->
                      <b-col md="6">
                        <b-form-group
                          label="Primer Nombre"
                          label-for="primer_apellido"
                        >
                          <b-form-input
                            id="primer_nombre"
                            v-model="inmueble.propietario.primer_nombre"
                            placeholder=""
                          />
                        </b-form-group>
                      </b-col>
                      <b-col md="6">
                        <b-form-group
                          label="Segundo Nombre"
                          label-for="segundo_nombre"
                        >
                          <b-form-input
                            id="segundo_nombre"
                            v-model="inmueble.propietario.segundo_nombre"
                            placeholder=""
                          />
                        </b-form-group>
                      </b-col>
                    </b-row>
                    <b-row>
                      <!-- field: Apellidos  -->
                      <b-col md="6">
                        <b-form-group
                          label="Primer Apellido"
                          label-for="primer_apellido"
                        >
                          <b-form-input
                            id="primer_apellido"
                            v-model="inmueble.propietario.primer_apellido"
                            placeholder=""
                          />
                        </b-form-group>
                      </b-col>
                      <b-col md="6">
                        <b-form-group
                          label="Segundo Apellido"
                          label-for="segundo_apellido"
                        >
                          <b-form-input
                            id="segundo_apellido"
                            v-model="inmueble.propietario.segundo_apellido"
                            placeholder=""
                          />
                        </b-form-group>
                      </b-col>
                    </b-row>
                    <b-row>
                      <b-col md="12">
                        <b-form-group
                          label="Correo electroico"
                          label-for="email"
                        >
                          <b-form-input
                            id="email"
                            v-model="inmueble.propietario.email"
                            placeholder="escribe tu correo"
                          />
                        </b-form-group>
                      </b-col>
                    </b-row>
                    <b-row>
                      <b-col md="6">
                        <b-form-group label="Celular" label-for="celular">
                          <b-input-group>
                            <vue-phone-number-input
                              default-country-code="CO"
                              :translations="{
                                countrySelectorLabel: 'Codigo pais',
                                countrySelectorError: 'Choisir un pays',
                                phoneNumberLabel: 'Numéro de WhatsApp',
                                example: 'Ejemplo :',
                              }"
                              v-model="inmueble.propietario.celular"
                              @update="results = $event"
                            />
                          </b-input-group>
                        </b-form-group>
                      </b-col>
                      <!-- field: Contacto  -->
                      <b-col md="6">
                        <b-form-group label="Telefono" label-for="telefono">
                          <b-form-input
                            id="telefono"
                            v-model="inmueble.propietario.telefono"
                            placeholder=""
                          />
                        </b-form-group>
                      </b-col>
                    </b-row>
                    <b-row>
                      <!-- field: Zona  -->
                      <!-- <b-col>
                  <h6>En construcción..</h6>
                </b-col> -->
                    </b-row>
                  </b-card-actions>

                  <b-card-actions
                    border-variant="primary"
                    bg-variant="transparent"
                    class="shadow-none"
                    title="Descripcion"
                    action-collapse
                  >
                    <b-row>
                      <b-col>
                        <b-form-textarea
                          id="textarea-rows"
                          v-model="inmueble.descripcion"
                          placeholder="Escribe tu descripcion"
                          rows="8"
                        />
                      </b-col>
                    </b-row>
                  </b-card-actions>
                </b-col>
              </b-row>
            </b-form>
          </b-col>
        </b-row>
      </tab-content>

      <tab-content title="Medios" icon="feather icon-image">
        <b-card-actions
          border-variant="primary"
          bg-variant="transparent"
          class="shadow-none"
          title="Imagenes del inmueble"
          action-collapse
        >
          <!--b-row>
            <b-col>
              <UploadImages
                @change="handleImages"
                uploadMsg="Subir imágenes del inmueble ..."
                clearAll="limpiar"
              />
            </b-col>
          </b-row-->

          <b-row>
            <b-col cols="6" lg="6">
              <b-button
                variant="primary"
                @click="info(inmueble.id, $event.target)"
                ><feather-icon icon="PlusCircleIcon" class="mx-auto" />
                Agregar imagenes
              </b-button>
            </b-col>
            <!--b-col cols="6" lg="6">
              <b-button variant="warning" @click="dataOrder"
                ><feather-icon icon="PlusCircleIcon" class="mx-auto" />
                Guardar orden</b-button
              >
            </b-col-->
          </b-row>

          <b-row>
            <draggable
              :list="inmueble.imagenes_temporales"
              :group="{ name: 'tags' }"
              class="mb-1 cursor-move"
              @end="actualizarImagenes"
            >
              <div
                class="card-css mr-30 mt-2"
                v-for="(listItem, index) in inmueble.imagenes_temporales"
                :key="index"
              >
                <b-badge class="container" variant="primary">
                  {{ (listItem.order = index) }}
                </b-badge>

                <img
                  v-if="listItem.url.substr(0, 4) == 'http'"
                  :src="listItem.url"
                  alt="Avatar"
                  class="img-card"
                />

                <img
                  v-else
                  :src="'/storage/' + listItem.url"
                  alt="Avatar"
                  class="img-card"
                />

                <div class="container">
                  <b-button
                    size="sm"
                    variant="danger"
                    @click="btnEliminarImagen(listItem)"
                    class="mr-2"
                    v-b-modal.confirmDestroy
                  >
                    <feather-icon icon="Trash2Icon" class="mx-auto" />
                  </b-button>
                </div>
              </div>
            </draggable>
          </b-row>

          <div>
            <b-modal
              ref="myModal"
              hide-footer
              title="Subir imágenes del inmueble."
            >
              <div class="d-block text-center">
                <b-row>
                  <b-col>
                    <UploadImages
                      @change="handleImages"
                      uploadMsg="subir imágenes del inmueble modal"
                      clearAll="limpiar"
                    />
                  </b-col>
                </b-row>
              </div>
              <b-button
                class="mt-2"
                variant="outline-warning"
                block
                @click="handleOk"
                >Cargar Imagenes</b-button
              >
            </b-modal>

            <b-modal ref="modalEliminar" hide-footer title="Eliminar Imagen.">
              <div class="d-block text-center danger">
                <b-row>
                  <b-col>
                    <h3>¿Esta seguro de eliminar la imagen?</h3>
                  </b-col>
                </b-row>
              </div>
              <b-button
                class="mt-2 danger"
                variant="outline-warning"
                block
                @click="eliminarImagenAction"
                >Eliminar
              </b-button>
            </b-modal>
          </div>
          <hr />
          <b-form-group
            style="margin-top: 3%"
            label="Pega url del video Youtube"
            label-for="url_video"
          >
            <b-form-input
              id="url_video"
              v-model="inmueble.url_video"
              v-bind="addEmbet()"
              placeholder=""
            />
          </b-form-group>
          <div v-if="inmueble.url_video != ''">
            <b-embed
              type="iframe"
              aspect="16by9"
              :src="inmueble.url_video"
              allowfullscreen
            />
          </div>
        </b-card-actions>
      </tab-content>
      <!-- accoint details tab -->
      <tab-content title="Ubicacion del inmueble" icon="feather icon-map-pin">
        <!-- account detail tab -->

        <b-row>
          <!-- Columna 1  -->
          <b-col md="12" lg="12">
            <b-card-actions
              border-variant="primary"
              bg-variant="transparent"
              class="shadow-none"
              title="Ubicaciones"
              action-collapse
            >
              <b-row>
                <b-col>
                  <b-form-group label="Pais" label-for="paises">
                    <v-select
                      v-model="inmueble.pais_id"
                      :options="paises"
                      label="name"
                      :value="paises.id"
                      @input="getEstados"
                      placeholder="Seleccionar"
                    />
                  </b-form-group>
                </b-col>

                <!-- field: Departamento  -->
                <b-col>
                  <b-form-group label="Departamento" label-for="states">
                    <v-select
                      v-model="inmueble.estado_id"
                      :options="estados"
                      label="name"
                      @input="getCiudades"
                      :value="estados.id"
                      placeholder="Seleccionar"
                    />
                  </b-form-group>
                </b-col>

                <!-- field: Ciudad  -->
                <b-col>
                  <b-form-group label="Ciudad" label-for="ciudad">
                    <v-select
                      v-model="inmueble.ciudad_id"
                      :options="ciudades"
                      label="name"
                      :value="ciudades.id"
                      @input="getZona"
                      input-id="ciudad"
                      placeholder="Seleccionar"
                    />
                  </b-form-group>
                </b-col>
              </b-row>
              <b-row>
                <!-- field: Zona  -->
                <b-col>
                  <b-form-group label="Zona" label-for="zona">
                    <v-select
                      v-model="inmueble.zona_id"
                      :options="zonas"
                      label="name"
                      :value="zonas.id"
                      @input="getBarrio"
                      :clearable="false"
                      input-id="zona"
                    />
                  </b-form-group>
                </b-col>
                <b-col md="2">
                  <b-form-group label="+" label-for="zonaAdd">
                    <b-button
                      variant="gradient-primary"
                      class="btn-icon"
                      v-b-modal.modal-zonas
                    >
                      <feather-icon icon="PlusCircleIcon" />
                    </b-button>
                    <strong> Agregar Zona </strong>
                  </b-form-group>
                </b-col>
                <!-- Modal -->
                <b-modal
                  ref="modalZona"
                  id="modal-zonas"
                  @show="resetModalZona"
                  @hidden="resetModalZona"
                  @ok="handleOkZona"
                  ok-title="Registrar"
                  cancel-title="Cancelar"
                  centered
                  size="lg"
                  title="Agregar Zona"
                >
                  <b-card-text>
                    <b-row>
                      <b-col>
                        <form
                          ref="formZona"
                          @submit.stop.prevent="handleSubmitZona"
                        >
                          <b-form-group
                            label="Agregar Zona"
                            label-for="basicInput"
                            invalid-feedback="La zona es requerida"
                            :state="zonaState"
                          >
                            <b-form-input
                              v-model="inmueble.zona_id"
                              id="basicInput"
                              :state="zonaState"
                              placeholder="Ingresar el nombre de la zona"
                            />
                          </b-form-group>
                        </form>
                      </b-col>
                    </b-row>
                  </b-card-text>
                </b-modal>
                <!-- Fin Modal Zonas -->

                <!-- field: Barrio  -->
                <b-col>
                  <b-form-group label="Barrio" label-for="barrios">
                    <v-select
                      v-model="inmueble.barrio_id"
                      :options="barrios"
                      label="name"
                      :value="barrios.id"
                      :clearable="false"
                      input-id="barrios"
                    />
                  </b-form-group>
                </b-col>
                <b-col md="2">
                  <b-form-group label="+" label-for="BarrioAdd">
                    <b-button
                      variant="gradient-primary"
                      class="btn-icon"
                      v-b-modal.modal-barrio
                    >
                      <feather-icon icon="PlusCircleIcon" />
                    </b-button>
                    <strong> Agregar Barrio</strong>
                  </b-form-group>
                </b-col>

                <!-- Modal Barrios-->
                <b-modal
                  ref="modalBarrio"
                  id="modal-barrio"
                  @show="resetModalBarrio"
                  @hidden="resetModalBarrio"
                  @ok="handleOkBarrio"
                  ok-title="Registrar"
                  cancel-title="Cancelar"
                  centered
                  size="lg"
                  title="Agregar Barrio"
                >
                  <b-card-text>
                    <b-row>
                      <b-col>
                        <form
                          ref="formBarrio"
                          @submit.stop.prevent="handleSubmitBarrio"
                        >
                          <b-form-group
                            label="Agregar Barrio"
                            label-for="basicInputBarrio"
                            invalid-feedback="El Barrio es requerido"
                            :state="barrioState"
                          >
                            <b-form-input
                              v-model="inmueble.barrio_id"
                              id="basicInputBarrio"
                              :state="barrioState"
                              placeholder="Ingresar el nombre del barrio"
                            />
                          </b-form-group>
                        </form>
                      </b-col>
                    </b-row>
                  </b-card-text>
                </b-modal>
              </b-row>
              <!-- Fin Modal Barrios -->
              <!-- <b-row>
                <b-col>
                  <b-form-group label="Latitud" label-for="latitud">
                    <b-form-input
                      id="latitud"
                      v-model="inmueble.latitud"
                      placeholder="Ejemplo: 1990"
                    />
                  </b-form-group>
                </b-col>

                <b-col>
                  <b-form-group label="Longitud" label-for="longitud">
                    <b-form-input
                      id="longitud"
                      v-model="inmueble.longitud"
                      placeholder="Ejemplo: 1990"
                    />
                  </b-form-group>
                </b-col>

              
                <b-col>
                  <b-form-group label="Direccion" label-for="direccion">
                    <b-form-input
                      id="direccion"
                      v-model="inmueble.direccion"
                      placeholder="Ingresa la dirección"
                    />
                  </b-form-group>
                </b-col>
              </b-row> -->
            </b-card-actions>
          </b-col>
        </b-row>

        <b-row>
          <b-col cols="12">
            <div>
              <div>
                <GmapAutocomplete
                  @place_changed="setPlace"
                  class="button-google"
                  :options="{
                    fields: [
                      'geometry',
                      'formatted_address',
                      'address_components',
                    ],
                  }"
                />
                <b-button variant="primary" @click="addMarker">Buscar</b-button>
              </div>
              <br />
              <GmapMap
                :center="center"
                :zoom="18"
                style="width: 100%; height: 400px"
              >
                <GmapMarker
                  :key="index"
                  v-for="(m, index) in markers"
                  :position="m.position"
                  @click="center = m.position"
                />
              </GmapMap>
            </div>
          </b-col>
        </b-row>

        <b-row> </b-row>
      </tab-content>

      <tab-content title="Documentos" icon="feather icon-briefcase">
        <div>
          <div>
            <!-- Accept all image formats by IANA media type wildcard-->
            <label for="wildcard">Cedula</label>
            <b-form-file
              v-model="inmueble.cedula"
              id="wildcard"
              placeholder="Click para cargar tu Cedula en PDF"
              browse-text="Cargar"
            />

            <!-- Accept specific image formats by IANA type -->
            <label for="IANA" class="mt-1">Certificado de Tradición</label>
            <b-form-file
              v-model="inmueble.certificado_tradicion"
              id="IANA"
              placeholder="Click para cargar tu Certifacado de Tradición"
              browse-text="Cargar"
            />

            <!-- Accept specific image formats by extension -->
            <label for="extension" class="mt-1">Predial</label>
            <b-form-file
              v-model="inmueble.predial"
              id="extension"
              placeholder="Click para cargar tu Predial"
              browse-text="Cargar"
            />
          </div>
        </div>
      </tab-content>
    </form-wizard>
  </b-overlay>
</template>

<script>
import {
  BTab,
  BTabs,
  BCard,
  BAlert,
  BLink,
  BCardText,
  BCol,
  BFormGroup,
  BRow,
  BTable,
  BButton,
  BFormInput,
  BCardTitle,
  BForm,
  BFormTextarea,
  BFormRadioGroup,
  BFormCheckboxGroup,
  BFormFile,
  BInputGroupPrepend,
  BInputGroupAppend,
  BInputGroup,
  BDropdown,
  BDropdownItem,
  BDropdownDivider,
  BFormCheckbox,
  BFormDatalist,
  BFormRadio,
  BFormSelect,
  BFormTimepicker,
  BOverlay,
  BFormInvalidFeedback,
  BEmbed,
  BFormSpinbutton,
  BModal,
} from "bootstrap-vue";
import { onUnmounted } from "@vue/composition-api";

import draggable from "vuedraggable";

import store from "@/store";

import InmuebleAgregarMedios from "./InmuebleAgregarMedios.vue";
import InmuebleAgregarInmueble from "./InmuebleAgregarInmueble.vue";
import InmuebleAgregarLegal from "./InmuebleAgregarLegal.vue";
import InmuebleAgregarConexion from "./InmuebleAgregarConexion.vue";
import BCardActions from "@core/components/b-card-actions/BCardActions.vue";

import vSelect from "vue-select";
import InmuebleAgregarIntegraciones from "./InmuebleAgregarIntegraciones.vue";
import InmuebleStoreModule from "../../InmuebleStoreModule";
import { quillEditor } from "vue-quill-editor";

import flatPickr from "vue-flatpickr-component";
import AppCollapse from "@core/components/app-collapse/AppCollapse.vue";
import AppCollapseItem from "@core/components/app-collapse/AppCollapseItem.vue";

import Cleave from "vue-cleave-component";
import ToastificationContent from "@core/components/toastification/ToastificationContent.vue";

import { FormWizard, TabContent } from "vue-form-wizard";
import "vue-form-wizard/dist/vue-form-wizard.min.css";

//import SearchBar from "./component/SearchBar.vue";

import "cleave.js/dist/addons/cleave-phone.us";
import BCardCode from "@core/components/b-card-code/BCardCode.vue";

import modalImage from "./components/modalImageRegister";

const USER_APP_STORE_MODULE_NAME = "app-inmuebles";

// Register module
if (!store.hasModule(USER_APP_STORE_MODULE_NAME))
  store.registerModule(USER_APP_STORE_MODULE_NAME, InmuebleStoreModule);

// UnRegister on leave
onUnmounted(() => {
  if (store.hasModule(USER_APP_STORE_MODULE_NAME))
    store.unregisterModule(USER_APP_STORE_MODULE_NAME);
});

export default {
  components: {
    BTab,
    BTabs,
    BCard,
    BAlert,
    BFormInput,
    BLink,
    BRow,
    BCardText,
    BTable,
    BCardTitle,
    BCol,
    BEmbed,
    BFormGroup,
    quillEditor,
    BCardActions,
    BFormFile,
    BButton,
    FormWizard,
    TabContent,
    vSelect,
    BForm,
    BFormTextarea,
    BFormRadioGroup,
    BFormCheckboxGroup,
    BInputGroupPrepend,
    BInputGroupAppend,
    BInputGroup,
    BDropdown,
    BModal,
    draggable,
    BDropdownItem,
    BDropdownDivider,
    BFormCheckbox,
    BFormDatalist,
    BFormRadio,
    BFormSelect,
    BOverlay,
    BFormTimepicker,
    BFormInvalidFeedback,
    BFormSpinbutton,
    flatPickr,
    AppCollapse,
    AppCollapseItem,
    BCardCode,
    Cleave,
    InmuebleAgregarMedios,
    InmuebleAgregarInmueble,
    InmuebleAgregarLegal,
    InmuebleAgregarConexion,
    InmuebleAgregarIntegraciones,
    "modal-image": modalImage,
  },

  data() {
    return {
      center: { lat: 45.508, lng: -73.587 },
      currentPlace: null,
      markers: [],
      places: [],

      show: false,

      //estratos: [],

      precios: [],
      tiempo_alquiler: [],
      periodo_admon: [],

      show_alquiler: true,
      show_venta: true,
      imagen_eliminar: null,

      inmueble: {
        id: Date.now(),
        alcobas: null,
        banos: null,
        garaje: null,
        user_id: null,
        pisos: null,
        url_video: "",
        frente: null,
        fondo: null,
        cedula: null,
        certificado_tradicion: null,
        predial: null,
        pais_id: { id: null },
        estado_id: { id: null },
        ciudad_id: { id: null },
        antiguedad: { id: null },
        zona_id: { id: null },
        barrio_id: { id: null },

        area_lote: null,
        precio_venta: null,
        precio_alquiler: null,
        precio_administracion: null,
        area_total: null,
        area_contruida: null,
        latitud: null,
        longitud: null,
        direccion: null,
        tipo_inmueble: { id: null },
        tipo_negocio: { id: null },
        periodo_admon: { id: null },
        tiempo_alquiler: { id: null },
        tipo_precio: { id: null },
        titulo_inmueble: null,
        habitaciones: 0,
        caracteristicas_internas: [],
        caracteristicas_externas: [],
        tiempo: null,
        propietario: {
          primer_nombre: null,
          segundo_nombre: null,
          primer_apellido: null,
          segundo_apellido: null,
          email: null,
          celular: null,
          telefono_fijo: null,
        },
        segmento_mercado: { id: null },
        estado_publicacion: { id: null },
        imagenes: [],
        state_fisico: { id: null },
        matricula_inmobiliaria: null,
        estrato: { id: null },
        alquiler: null,
        ascensor: null,
        imagenes: null,
        imagenes_temporales: null,
        rangue_price: null,
        descripcion: null,
        ano_construcion: null,
        cantidad_parqueadero: null,
        parqueadero: { id: null },
        ambientes: null,
      },

      snowOption: {
        theme: "snow",
        placeholder:
          "En este apartado, escribe toda la descripción necesaria para tus inmuebles.",
        readOnly: true,
      },

      zonaState: null,
      barrioState: null,

      legal: {
        tipoDocumento: "",
      },

      pregunta: {
        default: "Selec",
      },
      pruebaLista: [
        "valor1",
        "Valor2",
        // { text: "Valor1", value: "1" }, Pruebas FLM
        // { text: "Valor2", value: "2" },
      ],
      maxChar: 20,
      noptions: {
        number: {
          numeral: true,
          numeralDecimalMark: ",",
          delimiter: ".",
        },
        numberArea: {
          numeral: true,
        },
      },

      divisas: [
        { text: "COP", value: "COP" },
        { text: "USD", value: "USD" },
      ],

      areas: [{ text: "m²", value: "COP" }],
      options: {
        phone: {
          phone: true,
          phoneRegionCode: "US",
        },
      },
      option: ["Cocina Integral", "Calentador"],

      numeroFormato: {
        area: "m²",
        value: "",
        divisa: "COP",
      },

      dir: "ltr",
      selected: "",
    };
  },
  mounted() {
    this.geolocate();

    var wizard = this.$refs.wizard;
    wizard.activateAll();
  },

  computed: {
    antiguedad() {
      return this.$store.state.appInmueble.antiguedad;
    },

    tipo_parqueadero() {
      return this.$store.state.apiInmueblePrivate.tipo_parqueadero;
    },

    estratos() {
      return this.$store.state.apiInmueblePrivate.estratos;
    },

    segmento_mercado() {
      return this.$store.state.apiInmueblePrivate.segmento_mercado;
    },

    state_publication() {
      return this.$store.state.apiInmueblePrivate.state_publication;
    },

    ciudades() {
      return this.$store.state.appLocalidades.ciudades;
    },
    estados() {
      return this.$store.state.appLocalidades.estados;
    },
    zonas() {
      return this.$store.state.appLocalidades.zonas;
    },
    barrios() {
      return this.$store.state.appLocalidades.barrios;
    },
    paises() {
      return this.$store.state.appLocalidades.paises;
    },
    tipo_inmuebles() {
      return this.$store.state.apiInmueblePrivate.tipo_inmuebles;
    },

    tipo_negocio() {
      return this.$store.state.apiInmueblePrivate.tipo_negocio;
    },

    state_fisicos() {
      return this.$store.state.apiInmueblePrivate.state_fisico;
    },

    caracteristicas_externas() {
      return this.$store.state.apiInmueblePrivate.caracteristicas_externas;
    },

    caracteristicas_internas() {
      return this.$store.state.apiInmueblePrivate.caracteristicas_internas;
    },

    rangue_price() {
      return this.$store.state.apiInmueblePrivate.rangue_price;
    },
  },

  created() {
    this.getAntiguedad();
    this.getPaises();
    this.getTipoInmueble();
    this.getTipoNegocio();
    this.getCaracteristicasInternas();
    this.getCaracteristicasExternas();
    this.getStatePublication();
    this.getSegmentoMercado();
    this.getStateFisico();
    this.getEstratoFisico();
    this.getTipoParqueadero();
    this.getTipoPrecios();
    this.getTipoTiempoAlquler();
    this.getPeridoAdmon();
    this.getRanguePrice();
  },

  methods: {
    ocultarTipePrecio() {
      let da = this.inmueble.tipo_negocio;
      if (da.descripcion == "Venta") {
        this.show_alquiler = false;
        this.show_venta = true;
      }
      if (da.descripcion == "Alquiler") {
        this.show_alquiler = true;
        this.show_venta = false;
      }

      if (da.descripcion == "Vender - Alquiler") {
        this.show_alquiler = true;
        this.show_venta = true;
      }
    },

    addEmbet() {
      //console.log(this.inmueble.url_video);
      if (this.inmueble.url_video != null) {
        this.inmueble.url_video = this.inmueble.url_video.replace(
          "youtu.be/",
          "youtube.com/embed/"
        );
        console.log(this.inmueble.url_video);
      }
    },

    setPlace(place) {
      this.inmueble.direccion = place.formatted_address;
      this.inmueble.latitud = place.geometry.location.lat();
      this.inmueble.longitud = place.geometry.location.lng();

      this.currentPlace = place;
    },

    addMarker() {
      if (this.currentPlace) {
        const marker = {
          lat: this.currentPlace.geometry.location.lat(),
          lng: this.currentPlace.geometry.location.lng(),
        };
        this.markers.push({ position: marker });
        this.places.push(this.currentPlace);
        this.center = marker;
        this.currentPlace = null;
      }
    },

    geolocate: function () {
      // navigator.geolocation.getCurrentPosition((position) => {
      this.center = {
        lat: 3.42158,
        lng: -76.5205,
      };
      // });
    },

    getPaises() {
      this.$store
        .dispatch("appLocalidades/getPaises")
        .then((response) => {})
        .catch((error) => {
          console.log(error);
        });
    },
    dataPdf() {
      const url = window.URL.createObjectURL(
        new Blob(["/storage/" + this.inmueble.cedula])
      );
      const link = document.createElement("a");
      link.href = url;
      link.setAttribute("download", "file.pdf");
      document.body.appendChild(link);
      link.click();
    },

    async getAntiguedad() {
      await this.$store
        .dispatch("appInmueble/getAntiguedad")
        .then((response) => {
          console.log(response);
        })
        .catch((error) => {
          console.log(error);
        });
    },

    getEstados() {
      let codigo = this.inmueble.pais_id.id;
      this.$store
        .dispatch("appLocalidades/getStates", { codigo })
        .then(() => {})
        .catch((error) => {
          console.log(error);
        });
    },

    getCiudades() {
      let codigo = this.inmueble.estado_id.id;
      this.$store
        .dispatch("appLocalidades/getCiudades", { codigo })
        .then(() => {})
        .catch((error) => {
          console.log(error);
        });
    },

    getZona() {
      let codigo = this.inmueble.ciudad_id.id;
      this.$store
        .dispatch("appLocalidades/getZona", { codigo })
        .then(() => {})
        .catch((error) => {
          console.log(error);
        });
    },

    getBarrio() {
      let codigo = this.inmueble.zona_id.id;
      this.$store
        .dispatch("appLocalidades/getBarrio", { codigo })
        .then(() => {})
        .catch((error) => {
          console.log(error);
        });
    },

    checkFormValidityZona() {
      const valid = this.$refs.formZona.checkValidity();
      this.zonaState = valid;
      return valid;
    },

    resetModalZona() {
      this.inmueble.zona_id = "";
      this.zonaState = null;
    },

    handleOkZona(bvModalEvt) {
      bvModalEvt.preventDefault();
      this.handleSubmitZona();
    },

    hideModal() {
      this.$refs["modalZona"].hide();
    },

    handleSubmitZona() {
      if (!this.checkFormValidityZona()) {
        return;
      }

      let data = {
        ciudad_id: this.inmueble.ciudad_id.id,
        name: this.inmueble.zona_id,
      };

      this.$store
        .dispatch("appLocalidades/saveZona", data)
        .then((response) => {
          this.inmueble.zona_id = response;
          this.getZona();
          this.hideModal();
        })
        .catch((error) => {
          this.hideModal();
        });
    },

    /* Barrio */

    checkFormValidityBarrio() {
      const valid = this.$refs.formBarrio.checkValidity();
      this.barrioState = valid;
      return valid;
    },

    resetModalBarrio() {
      this.inmueble.barrio_id = "";
      this.barrioState = null;
    },

    handleOkBarrio(bvModalEvt) {
      bvModalEvt.preventDefault();
      this.handleSubmitBarrio();
    },

    hideModalBarrio() {
      this.$refs["modalBarrio"].hide();
    },

    handleSubmitBarrio() {
      if (!this.checkFormValidityBarrio()) {
        return;
      }

      let data = {
        zona_id: this.inmueble.zona_id.id,
        name: this.inmueble.barrio_id,
      };

      this.$store
        .dispatch("appLocalidades/saveBarrio", data)
        .then((response) => {
          this.inmueble.barrio_id = response;
          this.getBarrio();
          this.hideModalBarrio();
        })
        .catch((error) => {
          this.hideModalBarrio();
        });
    },

    getRanguePrice() {
      store.dispatch("app-inmuebles/getRanguePrice", {}).then(() => {});
    },
    getTipoInmueble() {
      store.dispatch("app-inmuebles/getTipoInmueble", {}).then(() => {});
    },
    getTipoNegocio() {
      store.dispatch("app-inmuebles/getTipoNegocio", {}).then(() => {});
    },
    getCaracteristicasInternas() {
      store
        .dispatch("app-inmuebles/getCaracteristicasInternas", {})
        .then(() => {});
    },
    getCaracteristicasExternas() {
      store
        .dispatch("app-inmuebles/getCaracteristicasExternas", {})
        .then(() => {});
    },

    getStatePublication() {
      store.dispatch("app-inmuebles/getStatePublicacion", {}).then(() => {});
    },

    getSegmentoMercado() {
      store.dispatch("app-inmuebles/getSegmentoMercado", {}).then(() => {});
    },

    getStateFisico() {
      store.dispatch("app-inmuebles/getStateFisico", {}).then(() => {});
    },

    getEstratoFisico() {
      store.dispatch("app-inmuebles/getEstratoFisico", {}).then(() => {});
    },

    getTipoParqueadero() {
      store.dispatch("app-inmuebles/getTipoParqueadero", {}).then(() => {});
    },

    getTipoPrecios() {
      store.dispatch("app-inmuebles/getTipoPrecios", {}).then((response) => {
        this.precios = response;
      });
    },

    getTipoTiempoAlquler() {
      store
        .dispatch("app-inmuebles/getTipoTiempoAlquler", {})
        .then((response) => {
          this.tiempo_alquiler = response;
        });
    },

    getPeridoAdmon() {
      store.dispatch("app-inmuebles/getPeridoAdmon", {}).then((response) => {
        this.periodo_admon = response;
      });
    },

    handleImages(e) {
      this.inmueble.imagenes = e;
      // console.log(this.inmueble.imagenes);
    },

    handleOk(bvModalEvt) {
      let formData = new FormData();
      if (this.inmueble.imagenes != null) {
        formData.append("id", this.inmueble.id);
        for (var i = 0; i < this.inmueble.imagenes.length; i++) {
          formData.append("files[]", this.inmueble.imagenes[i]);
        }

        this.$store
          .dispatch("app-inmuebles/addImage", formData)
          .then((response) => {
            this.inmueble.imagenes_temporales = response;

            this.$refs["myModal"].hide();
          })
          .catch((error) => {
            console.log(error);
          });
      }
    },

    actualizarImagenes() {
      let formData = new FormData();
      if (this.inmueble.imagenes_temporales != null) {
        formData.append(
          "json",
          JSON.stringify(this.inmueble.imagenes_temporales)
        );

        this.$store
          .dispatch("app-inmuebles/updImage", formData)
          .then((response) => {
            this.inmueble.imagenes_temporales = response;

            this.$refs["myModal"].hide();
          })
          .catch((error) => {
            console.log(error);
          });
      }
    },

    info(item, button) {
      this.$refs["myModal"].show();
      // this.$refs[this.inmueble.id].info(item, button);
    },

    btnEliminarImagen(item) {
      console.log(item);

      this.imagen_eliminar = item;

      this.$refs["modalEliminar"].show();
    },

    eliminarImagenAction() {
      console.log("eliminar imagenes ");
      let formData = new FormData();
      if (this.inmueble.imagenes_temporales != null) {
        formData.append("json", JSON.stringify(this.imagen_eliminar));

        this.$store
          .dispatch("app-inmuebles/delImage", formData)
          .then((response) => {
            this.inmueble.imagenes_temporales = response;

            this.$refs["modalEliminar"].hide();

            this.imagen_eliminar = null;
          })
          .catch((error) => {
            console.log(error);
          });
      }
    },

    // Enviar informacion
    formSubmitted() {
      this.sendData();
    },
    sendData() {
      let user = JSON.parse(localStorage.getItem("userData"));
      this.inmueble.user_id = user.id;

      let formData = new FormData();

      // formData.append("alcobas", this.inmueble.alcobas);
      formData.append(
        "json",
        JSON.stringify(this.inmueble.imagenes_temporales)
      );
      formData.append("id_temporal", this.inmueble.id);

      formData.append("banos", this.inmueble.banos);
      formData.append("habitaciones", this.inmueble.habitaciones);
      formData.append("garaje", this.inmueble.garaje);
      formData.append("user_id", this.inmueble.user_id);
      formData.append("pisos", this.inmueble.pisos);
      formData.append("frente", this.inmueble.frente);
      formData.append("fondo", this.inmueble.fondo);
      formData.append("url_video", this.inmueble.url_video);
      formData.append("pais_id", this.inmueble.pais_id.id);
      formData.append("estado_id", this.inmueble.estado_id.id);
      formData.append("ciudad_id", this.inmueble.ciudad_id.id);
      formData.append("zona_id", this.inmueble.zona_id.id);
      formData.append("antiguedad", this.inmueble.antiguedad.id);

      formData.append("barrio_id", this.inmueble.barrio_id.id);
      formData.append("area_lote", this.inmueble.area_lote);
      formData.append("precio_venta", this.inmueble.precio_venta);
      formData.append("precio_alquiler", this.inmueble.precio_alquiler);
      formData.append(
        "precio_administracion",
        this.inmueble.precio_administracion
      );
      formData.append("area_total", this.inmueble.area_total);
      formData.append("area_contruida", this.inmueble.area_contruida);
      formData.append("latitud", this.inmueble.latitud);
      formData.append("longitud", this.inmueble.longitud);
      formData.append("direccion", this.inmueble.direccion);
      formData.append("tipo_inmueble", this.inmueble.tipo_inmueble.id);
      formData.append("tipo_negocio", this.inmueble.tipo_negocio.id);
      formData.append("periodo_admon", this.inmueble.periodo_admon.id);
      formData.append("tiempo_alquiler", this.inmueble.tiempo_alquiler.id);
      formData.append("tipo_precio", this.inmueble.tipo_precio.id);
      formData.append("titulo_inmueble", this.inmueble.titulo_inmueble);
      formData.append(
        "caracteristicas_internas",
        JSON.stringify(this.inmueble.caracteristicas_internas)
      );
      formData.append(
        "caracteristicas_externas",
        JSON.stringify(this.inmueble.caracteristicas_externas)
      );
      formData.append("tiempo", this.inmueble.tiempo);
      formData.append("propietario", JSON.stringify(this.inmueble.propietario)),
        formData.append("segmento_mercado", this.inmueble.segmento_mercado.id);
      formData.append(
        "estado_publicacion",
        this.inmueble.estado_publicacion.id
      );

      formData.append("state_fisico", this.inmueble.state_fisico.id);
      formData.append(
        "matricula_inmobiliaria",
        this.inmueble.matricula_inmobiliaria
      );
      formData.append("estrato", this.inmueble.estrato.id);
      formData.append("alquiler", this.inmueble.alquiler);
      formData.append("ascensor", this.inmueble.ascensor);
      formData.append(
        "rangue_price",
        JSON.stringify(this.inmueble.rangue_price)
      );

      formData.append("descripcion", this.inmueble.descripcion);
      formData.append("ano_construcion", this.inmueble.ano_construcion);
      formData.append(
        "cantidad_parqueadero",
        this.inmueble.cantidad_parqueadero
      );
      formData.append("parqueadero", this.inmueble.parqueadero.id);
      formData.append("ambientes", this.inmueble.ambientes);
      formData.append("cedula", this.inmueble.cedula);
      formData.append(
        "certificado_tradicion",
        this.inmueble.certificado_tradicion
      );
      formData.append("predial", this.inmueble.predial);

      if (this.inmueble.tipo_inmueble.id == null) {
        this.alertWarning("El tipo de inmueble es requerido");
        return;
      }
      if (this.inmueble.tipo_negocio.id == null) {
        this.alertWarning("El tipo de negocio es requerido");
        return;
      }
      if (this.inmueble.segmento_mercado.id == null) {
        this.alertWarning("El segmento de mercado es requerido");
        return;
      }
      if (this.inmueble.estado_publicacion.id == null) {
        this.alertWarning("El estado de publicacion es requerido");
        return;
      }
      if (this.inmueble.antiguedad.id == null) {
        this.alertWarning("La antiguedad es requerido");
        return;
      }
      if (this.inmueble.state_fisico.id == null) {
        this.alertWarning("El estado de la propiedad es requerido");
        return;
      }
      if (this.inmueble.estrato.id == null) {
        this.alertWarning("El estrato es requerido");
        return;
      }
      if (this.inmueble.matricula_inmobiliaria == null) {
        this.alertWarning("La matricula inmobiliaria es requerida");
        return;
      }
      if (this.inmueble.area_lote == null) {
        this.alertWarning("El area lote es requerido");
        return;
      }
      if (this.inmueble.area_contruida == null) {
        this.alertWarning("El area contruida es requerido");
        return;
      }
      if (this.inmueble.area_total == null) {
        this.alertWarning("El area total es requerido");
        return;
      }
      if (this.inmueble.banos == null) {
        this.alertWarning("El baño es requerido");
        return;
      }
      if (this.inmueble.banos == null) {
        this.alertWarning("El baño es requerido");
        return;
      }

      if (this.inmueble.habitaciones == null) {
        this.alertWarning("Las habitaciones son requerida");
        return;
      }

      if (this.inmueble.habitaciones == null) {
        this.alertWarning("Las habitaciones son requerida");
        return;
      }
      if (this.inmueble.habitaciones == null) {
        this.alertWarning("Las habitaciones son requerida");
        return;
      }

      if (this.inmueble.titulo_inmueble != null) {
        if (this.inmueble.imagenes != null) {
          for (var i = 0; i < this.inmueble.imagenes.length; i++) {
            formData.append("files[]", this.inmueble.imagenes[i]);
          }
          this.show = true;
          store
            .dispatch("app-inmuebles/saveInmuebles", formData)
            .then((response) => {
              this.show = false;

              this.$toast({
                component: ToastificationContent,
                position: "top-center",
                props: {
                  title: response.message,
                  icon: "CoffeeIcon",
                  variant: "success",
                  text: ``,
                },
              });

              this.$router.push({ name: "listar-inmueble" });
            })
            .catch((error) => {
              this.show = false;
              this.$toast({
                component: ToastificationContent,
                position: "top-center",
                props: {
                  title: error.message,
                  icon: "CoffeeIcon",
                  variant: "danger",
                  text: ``,
                },
              });
            });
        } else {
          this.alertWarning("Agregale una imagen como minimo a tu inmueble");
        }
      } else {
        this.alertWarning("El titulo del inmueble es requerido");
      }
    },

    alertWarning(message) {
      this.$swal({
        title: "Campos requerido!!!",
        text: message,
        icon: "warning",
        customClass: {
          confirmButton: "btn btn-warning",
        },
        confirmButtonText: "Aceptar",
        buttonsStyling: false,
      });
    },
  },

  setup() {},
};
</script>

<style lang="scss">
@import "@core/scss/vue/libs/quill.scss";
@import "@core/scss/vue/libs/vue-wizard.scss";
@import "@core/scss/vue/libs/vue-select.scss";

.card-css {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  transition: 0.3s;
  width: 20rem;
  height: 22rem;
  float: left;
}

.img-card {
  width: 20rem;
  height: 18rem;
}

.card-css:hover {
  box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
}

.container {
  padding: 2px 16px;
}
.dd-vc {
  position: relative;
  top: 50%;
  transform: translateY(-50%);
}

.dd-transition {
  transition: all 0.3s ease;
}

.dd-shadow {
  box-shadow: 0 0 3px 1px rgba(0, 0, 0, 0.3);
}

#dragDrop {
  width: 1000px;
  margin: 20px auto 0;
  position: relative;
}

.dd-slot {
  float: left;
  outline: 2px dashed rgba(54, 86, 132, 0.75);
  outline-offset: -15px;
  position: relative;
  pointer-events: none;
}

.dd-slot-num {
  text-align: center;
  color: rgba(0, 0, 0, 0.1);
  font-size: 40px;
  position: absolute;
  width: 100%;
}

.dd-item {
  position: absolute;
  left: 0;
  top: 0;
  box-sizing: border-box;
  padding: 10px;
  cursor: pointer;
}

.dd-item.dd-disabled {
  pointer-events: none;
  opacity: 0;
}

.dd-item.dd-selected {
  z-index: 20;
}

.dd-item-inner {
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  width: 100%;
  height: 100%;
  position: relative;
}

.dd-item-panel {
  width: 80%;
  height: 35px;
  background: #fff;
  position: absolute;
  left: 10%;
  bottom: -15px;
  z-index: 5;
}
ul.sort {
  list-style: none;
  padding: 0;
  margin: 30px;
}

li.sort-item {
  padding: 10px;
  width: 25%;
  float: left;
  margin: 0 10px 10px 0;
  background: #efefef;
  border: solid 1px #ccc;
}

.sort-ghost {
  opacity: 0.3;
  transition: all 0.7s ease-out;
}

.dd-item-title {
  font-size: 15px;
  color: #365684;
  text-align: center;
  line-height: 35px;
}
</style>
<style lang="scss">
@import "@core/scss/vue/libs/quill.scss";
@import "@core/scss/vue/libs/vue-wizard.scss";
@import "@core/scss/vue/libs/vue-select.scss";

.pac-container {
  color: #d9d9d9;
}

.button-google {
  width: 60%;
  height: 37px;
  border: 1px solid rgba(0, 0, 0, 0.5);
  -webkit-background-clip: padding-box; /* for Safari */
  background-clip: padding-box; /* for IE9+, Firefox 4+, Opera, Chrome */
  border-radius: 10px;

  opacity: 0.5;
}

.ql-editor {
  height: 12rem;

  resize: vertical;
  overflow-y: scroll;
}

/*
class for each line of the result
*/
.pac-item {
  font-size: 12px;
  color: #d9d9d9;
  font-family: Arial, Helvetica, sans-serif;
}
</style>
