<template>
  <b-nav-item-dropdown
    right
    toggle-class="d-flex align-items-center dropdown-user-link"
    class="dropdown-user"
  >
    <template #button-content>
      <div class="d-sm-flex d-none user-nav">
        <p class="user-name font-weight-bolder mb-0">
          {{ usuario.primer_nombre }}
        </p>
        <span class="user-status">{{ usuario.username }}</span>
      </div>
      <b-avatar
        size="40"
        :src="infoData"
        variant="light-primary"
        badge
        class="badge-minimal"
        badge-variant="success"
      >
        <feather-icon v-if="!usuario.username" icon="UserIcon" size="22" />
      </b-avatar>
    </template>

    <b-dropdown-item
      v-if="usuario.role.slug != 'visitantes'"
      @click="redirectDenendenciRole()"
      link-class="d-flex align-items-center"
    >
      <feather-icon size="16" icon="UserIcon" class="mr-50" />
      <span>Perfil </span>
    </b-dropdown-item>

    <b-dropdown-item link-class="d-flex align-items-center" @click="logout">
      <feather-icon size="16" icon="LogOutIcon" class="mr-50" />
      <span>Cerrar sesion</span>
    </b-dropdown-item></b-nav-item-dropdown
  >
</template>

<script>
import {
  BNavItemDropdown,
  BDropdownItem,
  BDropdownDivider,
  BAvatar,
} from "bootstrap-vue";
import { initialAbility } from "@/libs/acl/config";
import useJwt from "@/auth/jwt/useJwt";

export default {
  components: {
    BNavItemDropdown,
    BDropdownItem,
    BDropdownDivider,
    BAvatar,
  },
  data() {
    return {
      foto_persona: null,
      image: require("@/assets/images/avatars/perfil.png"),
    };
  },

  computed: {
    usuario() {
      return this.$store.state.userData.userData;
    },

    infoData() {
      let data = this.$store.state.userData.userData;
      if (this.validURL(data.foto_persona)) {
        return data.foto_persona;
      } else {
        return "/storage/" + data.foto_persona;
      }
    },
  },

  created() {
    // if (this.usuario.foto_persona != null) {
    //   if (this.validURL(this.usuario.foto_persona)) {
    //     this.foto_persona = this.usuario.foto_persona;
    //   } else {
    //     this.foto_persona = "/storage/" + this.usuario.foto_persona;
    //   }
    // }
  },

  methods: {
    redirectDenendenciRole() {
      if (this.usuario.role.slug == "agentes") {
        this.$router.push({ name: "pages-profile-agente" });
      } else if (this.usuario.role.slug == "socio_referidor") {
        this.$router.push({ name: "pages-profile" });
      } else if (this.usuario.role.slug == "administrator") {
        this.$router.push({ name: "pages-profile-agente" });
      } else {
        this.$router.push({ name: "apps-public-perfil" });
      }
    },

    logout() {
      localStorage.removeItem(useJwt.jwtConfig.storageTokenKeyName);
      localStorage.removeItem(useJwt.jwtConfig.storageRefreshTokenKeyName);

      // Removeuser from localStorage
      localStorage.removeItem("userData");
      localStorage.removeItem("user");

      this.$store.commit("userData/DELETE", []);

      // Reset ability
      this.$ability.update(initialAbility);

      // Redirect to login page
      this.$router.push({ name: "auth-login" });
    },

    validURL(str) {
      let regexp =
        /^(?:(?:https?|ftp):\/\/)?(?:(?!(?:10|127)(?:\.\d{1,3}){3})(?!(?:169\.254|192\.168)(?:\.\d{1,3}){2})(?!172\.(?:1[6-9]|2\d|3[0-1])(?:\.\d{1,3}){2})(?:[1-9]\d?|1\d\d|2[01]\d|22[0-3])(?:\.(?:1?\d{1,2}|2[0-4]\d|25[0-5])){2}(?:\.(?:[1-9]\d?|1\d\d|2[0-4]\d|25[0-4]))|(?:(?:[a-z\u00a1-\uffff0-9]-*)*[a-z\u00a1-\uffff0-9]+)(?:\.(?:[a-z\u00a1-\uffff0-9]-*)*[a-z\u00a1-\uffff0-9]+)*(?:\.(?:[a-z\u00a1-\uffff]{2,})))(?::\d{2,5})?(?:\/\S*)?$/;
      if (regexp.test(str)) {
        return true;
      } else {
        return false;
      }
    },
  },
};
</script>
