<template>
  <div>
    <b-modal
      :id="infoModal.id"
      ok-only
      ok-title="Accept"
      modal-class="modal-primary"
      centered
      title="Gestion de Addy"
      size="xl"
    >
      <b-container>
        <b-row class="match-height">
          <b-col>
            <!-- Referido -->
            <modal-referido :referido="infoModal.content" />
          </b-col>
          <b-col>
            <!-- Respuestas -->
            <modal-respuestas :respuestas="infoModal.contentPreguntas" />
          </b-col>
        </b-row>
      </b-container>
    </b-modal>
  </div>
</template>

<script>
import { BModal, VBModal, BRow, BCol, BContainer } from "bootstrap-vue";
import ModalReferido from "./ModalReferido.vue";
import ModalRespuestas from "./ModalRespuestas.vue";
import preguntaStoreModule from "../../../preguntas/preguntaStoreModule";
import { onUnmounted } from "@vue/composition-api";
import store from "@/store/index";

const REFERIDOS_APP_STORE_MODULE_NAME = "app-preguntas";

// Register module
if (!store.hasModule(REFERIDOS_APP_STORE_MODULE_NAME))
  store.registerModule(REFERIDOS_APP_STORE_MODULE_NAME, preguntaStoreModule);

// UnRegister on leave
onUnmounted(() => {
  if (store.hasModule(REFERIDOS_APP_STORE_MODULE_NAME))
    store.unregisterModule(REFERIDOS_APP_STORE_MODULE_NAME);
});
export default {
  watch: {},

  data() {
    return {
      infoModal: {
        id: "modal-preguntas",
        title: "",
        content: {},
        contentPreguntas: {},
      },
    };
  },

  components: {
    BModal,
    VBModal,
    BRow,
    BCol,
    ModalRespuestas,
    ModalReferido,
    BContainer,
  },

  directives: {
    "b-modal": VBModal,
  },

  methods: {
    info(item, button) {
      console.log(item);
      this.getPreguntas(item.id);

      this.infoModal.content = { ...item };

      this.$root.$emit("bv::show::modal", this.infoModal.id, button);
    },

    getPreguntas(data) {
      store
        .dispatch("app-preguntas/listResponsePregunta", { id: data })
        .then((response) => {
          let preguntas = response.data.data.preguntas;

          this.infoModal.contentPreguntas = preguntas;
        })
        .catch((error) => {
          console.log(error);
        });
    },
  },
};
</script>

<style></style>
