<template>
  <b-card class="card-transaction" no-body>
    <b-card-header>
      <b-card-title>Respuestas</b-card-title>
      <feather-icon icon="MoreVerticalIcon" size="18" class="cursor-pointer" />
    </b-card-header>

    <b-card-body>
      <div
        v-for="transaction in respuestas"
        :key="transaction.id"
        class="transaction-item"
      >
        <b-media no-body>
          <b-media-aside v-if="transaction.id_pregunta == 1">
            <b-avatar rounded size="42" variant="light-warning">
              <feather-icon size="18" icon="DollarSignIcon" />
            </b-avatar>
          </b-media-aside>

          <b-media-aside v-if="transaction.id_pregunta == 2">
            <b-avatar rounded size="42" variant="light-warning">
              <feather-icon size="18" icon="DollarSignIcon" />
            </b-avatar>
          </b-media-aside>

          <b-media-aside v-if="transaction.id_pregunta == 4">
            <b-avatar rounded size="42" variant="light-warning">
              <feather-icon size="18" icon="DollarSignIcon" />
            </b-avatar>
          </b-media-aside>

          <b-media-aside v-if="transaction.id_pregunta == 3">
            <b-avatar rounded size="42" variant="light-success">
              <feather-icon size="18" icon="CreditCardIcon" />
            </b-avatar>
          </b-media-aside>

          <b-media-aside v-if="transaction.id_pregunta == 5">
            <b-avatar rounded size="42" variant="light-success">
              <feather-icon size="18" icon="CreditCardIcon" />
            </b-avatar>
          </b-media-aside>

          <b-media-aside v-if="transaction.id_pregunta == 6">
            <b-avatar rounded size="42" variant="light-success">
              <feather-icon size="18" icon="CreditCardIcon" />
            </b-avatar>
          </b-media-aside>
          <b-media-aside v-if="transaction.id_pregunta == 7">
            <b-avatar rounded size="42" variant="light-success">
              <feather-icon size="18" icon="CreditCardIcon" />
            </b-avatar>
          </b-media-aside>
          <b-media-aside v-if="transaction.id_pregunta == 8">
            <b-avatar rounded size="42" variant="light-success">
              <feather-icon size="18" icon="CreditCardIcon" />
            </b-avatar>
          </b-media-aside>
          <b-media-aside v-if="transaction.id_pregunta == 9">
            <b-avatar rounded size="42" variant="light-success">
              <feather-icon size="18" icon="CreditCardIcon" />
            </b-avatar>
          </b-media-aside>
          <b-media-aside v-if="transaction.id_pregunta == 10">
            <b-avatar rounded size="42" variant="light-primary">
              <feather-icon size="18" icon="HomeIcon" />
            </b-avatar>
          </b-media-aside>

          <b-media-aside v-if="transaction.id_pregunta == 12">
            <b-avatar rounded size="42" variant="light-warning">
              <feather-icon size="18" icon="DollarSignIcon" />
            </b-avatar>
          </b-media-aside>
          <b-media-aside v-if="transaction.id_pregunta == 13">
            <b-avatar rounded size="42" variant="light-warning">
              <feather-icon size="18" icon="DollarSignIcon" />
            </b-avatar>
          </b-media-aside>
          <b-media-aside v-if="transaction.id_pregunta == 14">
            <b-avatar rounded size="42" variant="light-warning">
              <feather-icon size="18" icon="DollarSignIcon" />
            </b-avatar>
          </b-media-aside>
          <b-media-aside v-if="transaction.id_pregunta == 61">
            <b-avatar rounded size="42" variant="light-warning">
              <feather-icon size="18" icon="DollarSignIcon" />
            </b-avatar>
          </b-media-aside>
          <b-media-aside v-if="transaction.id_pregunta == 11">
            <b-avatar rounded size="42" variant="light-dark">
              <feather-icon size="18" icon="BriefcaseIcon" />
            </b-avatar>
          </b-media-aside>

          <b-media-body>
            <h6 class="transaction-title" v-if="transaction.id_pregunta == 1">
              ¿Cual es la modadlidad de compra?
            </h6>
            <h6 class="transaction-title" v-if="transaction.id_pregunta == 3">
              ¿Que tipo de inmueble esta buscando?
            </h6>
            <h6 class="transaction-title" v-if="transaction.id_pregunta == 2">
              ¿Cuál es el rango de precio de la compra?
            </h6>
            <h6 class="transaction-title" v-if="transaction.id_pregunta == 4">
              ¿Tiene credito aprobado?
            </h6>
            <h6 class="transaction-title" v-if="transaction.id_pregunta == 5">
              ¿Cual es el valor de la cuota inicial que tiene disponible?
            </h6>
            <h6 class="transaction-title" v-if="transaction.id_pregunta == 6">
              ¿En que pais?
            </h6>
            <h6 class="transaction-title" v-if="transaction.id_pregunta == 61">
              ¿En que departamento?
            </h6>
            <h6 class="transaction-title" v-if="transaction.id_pregunta == 7">
              ¿En que ciudad?
            </h6>
            <h6 class="transaction-title" v-if="transaction.id_pregunta == 8">
              ¿En qué Zona?
            </h6>
            <h6 class="transaction-title" v-if="transaction.id_pregunta == 9">
              ¿En qué Barrio / Localidad?
            </h6>
            <h6 class="transaction-title" v-if="transaction.id_pregunta == 10">
              ¿Área ideal para la propiedad?
            </h6>

            <h6 class="transaction-title" v-if="transaction.id_pregunta == 11">
                ¿Cantidad minima de habitaciones?
            </h6>
            <h6 class="transaction-title" v-if="transaction.id_pregunta == 12">
              ¿Alguna caracteristica indispensable?
            </h6>
            <h6 class="transaction-title" v-if="transaction.id_pregunta == 13">
              ¿Hace cuanto tiempo esta buscando inmueble?
            </h6>
            <h6 class="transaction-title" v-if="transaction.id_pregunta == 14">
              ¿En cuanto tiempo necesita comprar propiedad?
            </h6>

            <h6 class="transaction-title">
              {{ transaction.descripcion_respuesta }}
            </h6>
          </b-media-body>
        </b-media>
        <div class="font-weight-bolder text-success"></div>
      </div>
    </b-card-body>
  </b-card>
</template>

<script>
import {
  BCard,
  BCardHeader,
  BCardTitle,
  BCardBody,
  BMediaBody,
  BMedia,
  BMediaAside,
  BAvatar,
} from "bootstrap-vue";

export default {
  components: {
    BCard,
    BCardHeader,
    BCardTitle,
    BCardBody,
    BMediaBody,
    BMedia,
    BMediaAside,
    BAvatar,
  },

  props: {
    respuestas: {
      type: Object,
      default: () => {},
    },
  },

  data() {
    // let num = 111111.11;
    // console.log(num.toLocaleString('en-US'));

    return {
      transactionData: [
        {
          mode: "Wallet",
          types: "Starbucks",
          avatar: "PocketIcon",
          avatarVariant: "light-primary",
          payment: "-$74",
          deduction: true,
        },
        {
          mode: "Bank Transfer",
          types: "Add Money",
          avatar: "CheckIcon",
          avatarVariant: "light-success",
          payment: "+$480",
          deduction: false,
        },
        {
          mode: "Paypal",
          types: "Add Money",
          avatar: "DollarSignIcon",
          avatarVariant: "light-danger",
          payment: "+$480",
          deduction: false,
        },
        {
          mode: "Mastercard",
          types: "Ordered Food",
          avatar: "CreditCardIcon",
          avatarVariant: "light-warning",
          payment: "-$23",
          deduction: true,
        },
        {
          mode: "Transfer",
          types: "Refund",
          avatar: "TrendingUpIcon",
          avatarVariant: "light-info",
          payment: "+$98",
          deduction: false,
        },
      ],
    };
  },

  methods: {
    getPaisForId() {
        console.log(this.$store.state.appLocalidades)
    },
  },

  created() {
    this.getPaisForId()
  }
};
</script>
