<template>
  <div>
    <b-row>
      <b-col cols="12">
        <form-wizard
          color="#7367F0"
          :title="null"
          :subtitle="null"
          finish-button-text="Registrar"
          back-button-text="Atras"
          next-button-text="Siguiente"
          class="wizard-vertical mb-3"
          @on-complete="validationTipoCliente"
        >
          <!-- account datails tab -->
          <tab-content
            title="Informacion basica"
            :before-change="validationInformacionBasica"
          >
            <validation-observer ref="validacionInfoBasica">
              <b-row>
                <b-col cols="12" class="mb-2">
                  <h5 class="mb-0">Informacion basica</h5>
                  <small class="text-muted">
                    Ingresa todos los campos, si tienes (*) Son
                    obligatorios</small
                  >
                </b-col>
                <!-- <b-col md="12">
                        <b-form-group label="Foto referido">
                          <b-form-file
                            id="file"
                            ref="file"
                            name="file"
                            class="btn-file"
                            @change="onFileChange"
                            accept="image/*"
                          />
                          <div
                            class="image-preview row"
                            v-if="imageData.length > 0"
                          >
                            <div class="img-wrapper">
                              <img
                                style="max-width: 150px; max-height: 150px"
                                class="image-input"
                                v-bind:src="imageData"
                              />
                            </div>
                          </div>
                        </b-form-group>
                      </b-col>-->
                <b-col md="6">
                  <b-form-group
                    label="* Tipo de documento"
                    label-for="tipo_documento"
                  >
                    <validation-provider
                      #default="{ errors }"
                      name="tipo documento"
                      rules="required"
                    >
                      <b-form-select
                        id="tipo_documento"
                        v-model="form.code_tipo_documento"
                        :state="errors.length > 0 ? false : null"
                        :options="tipo_documento"
                        placeholder=""
                      ></b-form-select>
                      <b-form-invalid-feedback
                        :state="errors.length > 0 ? false : null"
                      >
                      </b-form-invalid-feedback>
                    </validation-provider>
                  </b-form-group>
                </b-col>

                <b-col md="6">
                  <b-form-group
                    label="* Numero de Cedula"
                    label-for="v-numero_cedula"
                  >
                    <validation-provider
                      #default="{ errors }"
                      name="numero_cedula"
                      rules="required|min:5|max:14"
                    >
                      <b-form-input
                        id="v-numero_cedula"
                        v-model="form.numero_cedula"
                        type="number"
                        :state="errors.length > 0 ? false : null"
                        placeholder="Escribe tu número de cedula"
                      />
                      <b-form-invalid-feedback
                        :state="errors.length > 0 ? false : null"
                      >
                        El numero debe tener entre 5 a 14 numeros
                      </b-form-invalid-feedback>
                    </validation-provider>
                  </b-form-group>
                </b-col>
                <b-col md="12">
                  <b-form-group
                    label="* Nombre Completo"
                    label-for="v-primer_nombre"
                  >
                    <validation-provider
                      #default="{ errors }"
                      name="nombre"
                      rules="required"
                    >
                      <b-form-input
                        id="v-primer_nombre"
                        v-model="form.primer_nombre"
                        type="text"
                        :state="errors.length > 0 ? false : null"
                        placeholder="Escribe tu nombre"
                      />
                      <b-form-invalid-feedback
                        :state="errors.length > 0 ? false : null"
                      >
                        campo requerido
                      </b-form-invalid-feedback>
                    </validation-provider>
                  </b-form-group>
                </b-col>
                

                <b-col md="6">
                  <b-form-group label="" label-for="v-whatsapp">
                    <validation-provider
                      #default="{ errors }"
                      name="whatsApp"
                      rules="required|min:4|max:14"
                    >
                      * WhatsApp
                      <vue-phone-number-input
                        default-country-code="CO"
                        :translations="{
                          countrySelectorLabel: 'Codigo pais',
                          countrySelectorError: 'Choisir un pays',
                          phoneNumberLabel: 'Numéro de Celular',
                          example: 'Ejemplo :',
                        }"
                        v-model="form.whatsApp"
                        @update="results = $event"
                      />

                      <b-form-checkbox
                        id="llenar_cel"
                        name="llenar_cel"
                        style="float: right"
                        v-model="checked"
                        @change="chekiar()"
                      >
                        Autocompletar celular
                      </b-form-checkbox>

                      <b-form-invalid-feedback
                        :state="errors.length > 0 ? false : null"
                      >
                        campo requerido
                      </b-form-invalid-feedback>
                    </validation-provider>
                  </b-form-group>
                </b-col>

                <b-col md="6">
                  <b-form-group
                    label="* Telefono de contacto"
                    label-for="v-celular"
                  >
                    <validation-provider
                      #default="{ errors }"
                      name="celular|min:13"
                      rules="required"
                    >
                      <vue-phone-number-input
                        default-country-code="CO"
                        :translations="{
                          countrySelectorLabel: 'Codigo pais',
                          countrySelectorError: 'Choisir un pays',
                          phoneNumberLabel: 'Numéro de Celular',
                          example: 'Ejemplo :',
                        }"
                        v-model="form.celular"
                        @update="results = $event"
                      />

                      <b-form-invalid-feedback
                        :state="errors.length > 0 ? false : null"
                      >
                        campo requerido
                      </b-form-invalid-feedback>
                    </validation-provider>
                  </b-form-group>
                </b-col>
                <b-col md="6">
                  <b-form-group label="Seleccionar paises">
                    <validation-provider
                      #default="{ errors }"
                      name="pais"
                      rules="required"
                    >
                      <b-form-select
                        v-model="form.codigo_pais"
                        :options="paises"
                        value-field="id"
                        @change="getEstados()"
                        text-field="name"
                        :state="errors.length > 0 ? false : null"
                        disabled-field="notEnabled"
                      ></b-form-select>
                      <b-form-invalid-feedback
                        :state="errors.length > 0 ? false : null"
                      >
                      </b-form-invalid-feedback>
                    </validation-provider>
                  </b-form-group>
                </b-col>

                <b-col md="6">
                  <b-form-group label="Seleccionar estados">
                    <validation-provider
                      #default="{ errors }"
                      name="estados"
                      rules="required"
                    >
                      <b-form-select
                        v-model="form.codigo_estado"
                        :options="estados"
                        value-field="id"
                        @change="getCiudades()"
                        text-field="name"
                        :state="errors.length > 0 ? false : null"
                        disabled-field="notEnabled"
                      ></b-form-select>
                      <b-form-invalid-feedback
                        :state="errors.length > 0 ? false : null"
                      >
                      </b-form-invalid-feedback>
                    </validation-provider>
                  </b-form-group>
                </b-col>

                <b-col md="6">
                  <b-form-group label="Seleccionar ciudades">
                    <validation-provider
                      #default="{ errors }"
                      name="ciudad"
                      rules="required"
                    >
                      <b-form-select
                        v-model="form.codigo_ciudad"
                        :options="ciudades"
                        value-field="id"
                        text-field="name"
                        :state="errors.length > 0 ? false : null"
                        disabled-field="notEnabled"
                      ></b-form-select>
                      <b-form-invalid-feedback
                        :state="errors.length > 0 ? false : null"
                      >
                      </b-form-invalid-feedback>
                    </validation-provider>
                  </b-form-group>
                </b-col>
                <b-col md="6">
                  <b-form-group label="* Correo" label-for="v-correo">
                    <validation-provider
                      #default="{ errors }"
                      name="correo"
                      rules="required|email"
                    >
                      <b-form-input
                        id="v-correo"
                        v-model="form.correo"
                        type="email"
                        placeholder="Escribe tu correo electronico"
                        :state="errors.length > 0 ? false : null"
                      />
                      <b-form-invalid-feedback
                        :state="errors.length > 0 ? false : null"
                      >
                        campo requerido
                      </b-form-invalid-feedback>
                    </validation-provider>
                  </b-form-group>
                </b-col>
              </b-row>
            </validation-observer>
          </tab-content>

          <!-- personal info tab -->
          <tab-content title="Tipo de clientes">
            <validation-observer ref="validacionTipoCliente">
              <b-row>
                <b-col cols="12" class="mb-2">
                  <h5 class="mb-0">Tipo de Cliente</h5>
                </b-col>

                <b-col md="12">
                  <div class="demo-inline-spacing">
                    <b-form-radio
                      v-model="form.tipo_cliente"
                      name="some-radios"
                      value="2"
                    >
                      Cliente comprador
                    </b-form-radio>
                    <b-form-radio
                      v-model="form.tipo_cliente"
                      name="some-radios"
                      value="1"
                    >
                      Cliente vendedor
                    </b-form-radio>
                  </div>
                </b-col>
              </b-row>
            </validation-observer>
          </tab-content>
        </form-wizard>
      </b-col>
    </b-row>
  </div>
</template>

<script>
import { FormWizard, TabContent } from "vue-form-wizard";
import { ValidationProvider, ValidationObserver } from "vee-validate";
import Cleave from "vue-cleave-component";
import "cleave.js/dist/addons/cleave-phone.us";
import "vue-form-wizard/dist/vue-form-wizard.min.css";
import {
  BRow,
  BCol,
  BFormCheckbox,
  BFormGroup,
  BFormInput,
  BFormSelect,
  BFormFile,
  BFormInvalidFeedback,
  BButton,
  BFormCheckboxGroup,
  BFormRadio,
  BFormDatepicker,
  BInputGroupPrepend,
} from "bootstrap-vue";
import ToastificationContent from "@core/components/toastification/ToastificationContent.vue";
import { codeIndeterminate, codeVueBasic, codeIcon, codeBasic } from "../code";
import { onUnmounted } from "@vue/composition-api";
import store from "@/store/index";
import vSelect from "vue-select";
import { required, email } from "@validations";
import referidoStoreModule from "../referidoStoreModule";

const REFERIDOS_APP_STORE_MODULE_NAME = "app-referidos";
// Register module
if (!store.hasModule(REFERIDOS_APP_STORE_MODULE_NAME))
  store.registerModule(REFERIDOS_APP_STORE_MODULE_NAME, referidoStoreModule);
// UnRegister on leave
onUnmounted(() => {
  if (store.hasModule(REFERIDOS_APP_STORE_MODULE_NAME))
    store.unregisterModule(REFERIDOS_APP_STORE_MODULE_NAME);
});

export default {
  components: {
    FormWizard,
    TabContent,
    BRow,
    BCol,
    BFormGroup,
    BFormInput,
    vSelect,
    BFormSelect,
    BFormCheckbox,
    BFormFile,
    BButton,
    BFormRadio,
    BFormInvalidFeedback,
    BFormCheckboxGroup,
    ValidationProvider,
    ValidationObserver,
    BFormDatepicker,
    Cleave,
    BInputGroupPrepend,
    BFormCheckbox,
    // eslint-disable-next-line vue/no-unused-components
    ToastificationContent,
  },

  data() {
    return {
      options: {
        phone: {
          phone: true,
          phoneRegionCode: "US",
        },
        prefix: {
          prefix: "+57",
          blocks: [3, 3, 3, 4],
          uppercase: true,
        },
      },
      nextButtonText: {
        type: String,
        default: "Siguiente",
      },
      imageData: "",
      codeVueBasic,
      file: "",
      username: null,
      tipo_documento: [
        { text: "Cedula de ciudadania", value: 1 },
        { text: "Cédula de extranjería", value: 1 },
        { text: "Pasaporte", value: 2 },
        { text: "ID", value: 1 },
      ],
      ciudades: [],
      estados: [],
      paises: [],
      tipo_cliente: "",

      form: {
        id_usuario: null,
        codigo_pais: 48,
        codigo_estado: 2904,
        codigo_ciudad: 20634,
        foto_persona: "",
        code_tipo_documento: 1,
        numero_cedula: null,
        telefono_fijo: null,
        primer_nombre: "",
        segundo_nombre: "",
        primer_apellido: "",
        segundo_apellido: "",
        fecha_nacimiento: "",
        celular: null,
        whatsApp: null,
        correo: "",
        tipo_cliente: "",

        estado_persona: 1,
        fecha_nacimiento: null,
        direccion_persona: null,
        codigo_postal: null,
        cedula: null,
        rut: null,
      },

      checked: false,
      indeterminate: false,
      codeIndeterminate,
      codeIcon,
      codeBasic,
      email,
      required,
    };
  },

  created() {
    this.getPaises();
  },

  computed: {},

  methods: {
    chekiar() {
      if (this.checked == true) {
        this.form.celular = this.form.whatsApp;
      }
    },
    validationInformacionBasica() {
      return new Promise((resolve, reject) => {
        this.$refs.validacionInfoBasica.validate().then((success) => {
          if (success) {
            let formData = new FormData();
            formData.append("numero_cedula", this.form.numero_cedula);
            formData.append("celular", this.form.celular);
            formData.append("whatsApp", this.form.whatsApp);
            formData.append("correo", this.form.correo);

            store
              .dispatch("app-referidos/validateCampos", formData)
              .then((response) => {
                resolve(true);
              })
              .catch((error) => {
                reject();
                this.$toast({
                  component: ToastificationContent,
                  props: {
                    title: error.response.data.message,
                    icon: "EditIcon",
                    variant: "danger",
                  },
                });
              });
          } else {
            reject();
          }
        });
      });
    },

    validationInfoAdicional() {
      return new Promise((resolve, reject) => {
        this.$refs.validacionAdicional.validate().then((success) => {
          if (success) {
            resolve(true);
          } else {
            reject();
          }
        });
      });
    },
    
    onFileChangeRut(event) {
      var input = event.target;
      this.form.rut = input.files[0];

      if (input.files && input.files[0]) {
        var reader = new FileReader();
        reader.onload = (e) => {
          this.imageData = e.target.result;
        };
        reader.readAsDataURL(input.files[0]);
      }
    },

    onFileChangeCedula(event) {
      var input = event.target;
      this.form.cedula = input.files[0];

      if (input.files && input.files[0]) {
        var reader = new FileReader();
        reader.onload = (e) => {
          this.imageData = e.target.result;
        };
        reader.readAsDataURL(input.files[0]);
      }
    },

    validationTipoCliente() {
      return new Promise((resolve, reject) => {
        this.$refs.validacionTipoCliente.validate().then((success) => {
          if (success) {
            let user = JSON.parse(localStorage.getItem("userData"));
            this.form.id_usuario = user.id_usuario;

            store
              .dispatch("app-referidos/addReferido", this.form)
              .then((response) => {
                resolve(true);
                console.log(response);
                this.$toast({
                  component: ToastificationContent,
                  props: {
                    title: response.data.message,
                    icon: "EditIcon",
                    variant: "success",
                  },
                });
                this.$router.push({ name: "apps-referido-list" });
              })
              .catch((error) => {
                console.log(error);
                this.$toast({
                  component: ToastificationContent,
                  props: {
                    title: error.data.message,
                    icon: "EditIcon",
                    variant: "danger",
                  },
                });
              });
          } else {
            reject();
          }
        });
      });
    },
    toggleIndeterminate() {
      this.indeterminate = !this.indeterminate;
    },

    getPaises() {
      this.$store
        .dispatch("appLocalidades/getPaises")
        .then((response) => {
          this.paises = response;
          this.getEstados();
        })
        .catch((error) => {
          console.log(error);
        });
    },

    getEstados() {
      let codigo = this.form.codigo_pais;
      this.$store
        .dispatch("appLocalidades/getStates", { codigo })
        .then((response) => {
          this.estados = response;
          this.getCiudades();
        })
        .catch((error) => {
          console.log(error);
        });
    },

    getCiudades() {
      let codigo = this.form.codigo_estado;
      this.$store
        .dispatch("appLocalidades/getCiudades", { codigo })
        .then((response) => {
          this.ciudades = response;
        })
        .catch((error) => {
          console.log(error);
        });
    },

    formSubmitted() {
      let formData = new FormData();
      formData.append("numero_cedula", this.form.numero_cedula);
      formData.append("codigo_pais", this.form.codigo_pais);
      formData.append("codigo_estado", this.form.codigo_estado);
      formData.append("codigo_ciudad", this.form.codigo_ciudad);
      formData.append("estado_persona", this.form.estado_persona);
      formData.append("fecha_nacimiento", this.form.fecha_nacimiento);
      formData.append("direccion_persona", this.form.direccion_persona);
      formData.append("codigo_postal", this.form.codigo_postal);
      formData.append("documento_cedula", this.form.cedula);
      formData.append("documento_rut", this.form.rut);

      if (this.form.rut != null) {
        store
          .dispatch("app-referidos/fetchReferidosAdicional", formData)
          .then((response) => {
            this.$router.push({ name: "apps-referido-list" });
          })
          .catch((error) => {
            console.log(error);
            this.$toast({
              component: ToastificationContent,
              props: {
                title: error.data.message,
                icon: "EditIcon",
                variant: "danger",
              },
            });
          });
      } else {
        this.$toast({
          component: ToastificationContent,
          props: {
            title:
              '"Si no posee RUT, por favor sube tu cédula nuevamente. "  (Y le seleccionar en el campo RUT)',
            icon: "EditIcon",
            variant: "danger",
          },
        });
      }
    },
  },
};
</script>
<style lang="scss">
@import "@core/scss/vue/libs/vue-wizard.scss";
@import "@core/scss/vue/libs/vue-select.scss";
</style>
