<template>
  <b-sidebar
    id="add-new-user-sidebar"
    :visible="isAddNewUserSidebarActive"
    bg-variant="white"
    sidebar-class="sidebar-lg"
    shadow
    backdrop
    no-header
    right
    @hidden="resetForm"
    @change="(val) => $emit('update:is-add-new-user-sidebar-active', val)"
  >
    <template #default="{ hide }">
      <!-- Header -->
      <div
        class="
          d-flex
          justify-content-between
          align-items-center
          content-sidebar-header
          px-2
          py-1
        "
      >
        <h5 class="mb-0">Agregar cliente</h5>

        <feather-icon
          class="ml-1 cursor-pointer"
          icon="XIcon"
          size="16"
          @click="hide"
        />
      </div>

      <!-- BODY -->
      <validation-observer #default="{ handleSubmit }" ref="refFormObserver">
        <!-- Form -->
        <b-form
          class="p-2"
          @submit.prevent="handleSubmit(onSubmit)"
          @reset.prevent="resetForm"
        >
          <!-- Full Name -->
          <validation-provider
            #default="validationContext"
            name="Nombre"
            rules="required"
          >
            <b-form-group label="Nombre" label-for="nombre">
              <b-form-input
                id="full-name"
                v-model="cliente.nombre"
                autofocus
                :state="getValidationState(validationContext)"
                trim
                placeholder="Escribe tu nombre"
              />

              <b-form-invalid-feedback>
                {{ validationContext.errors[0] }}
              </b-form-invalid-feedback>
            </b-form-group>
          </validation-provider>

          <!-- Username -->
          <validation-provider
            #default="validationContext"
            name="Apellido"
            rules="required|alpha-num"
          >
            <b-form-group label="Apellido" label-for="nombre">
              <b-form-input
                id="apellido"
                v-model="cliente.apellido"
                autofocus
                :state="getValidationState(validationContext)"
                trim
                placeholder="Escribe tu apellido"
              />

              <b-form-invalid-feedback>
                {{ validationContext.errors[0] }}
              </b-form-invalid-feedback>
            </b-form-group>
          </validation-provider>

          <!-- Email -->
          <validation-provider
            #default="validationContext"
            name="Correo electronico"
            rules="required|email"
          >
            <b-form-group label="Correo" label-for="email">
              <b-form-input
                id="email"
                v-model="cliente.correo"
                :state="getValidationState(validationContext)"
                trim
                placeholder="Escribe tu nombre"
              />

              <b-form-invalid-feedback>
                {{ validationContext.errors[0] }}
              </b-form-invalid-feedback>
            </b-form-group>
          </validation-provider>

          <!-- Company -->
          <validation-provider
            #default="validationContext"
            name="telefono"
            rules="required"
          >
            <b-form-group label="Telefono" label-for="telefono">
              <b-form-input
                id="telefono"
                v-model="cliente.telefono"
                :state="getValidationState(validationContext)"
                trim
                placeholder="Escribe tu telefono"
              />

              <b-form-invalid-feedback>
                {{ validationContext.errors[0] }}
              </b-form-invalid-feedback>
            </b-form-group>
          </validation-provider>

          <validation-provider
            #default="validationContext"
            name="numero de identificacion"
            rules="required"
          >
            <b-form-group
              label="Número de identificación"
              label-for="n.identficación"
            >
              <b-form-input
                id="n.identficación"
                type="number"
                v-model="cliente.n_identificacion"
                :state="getValidationState(validationContext)"
                trim
                placeholder="Escribe tu numero de identificacion"
              />

              <b-form-invalid-feedback>
                {{ validationContext.errors[0] }}
              </b-form-invalid-feedback>
            </b-form-group>
          </validation-provider>

          <!-- Company -->
          <validation-provider
            #default="validationContext"
            name="Celular"
            rules="required"
          >
            <b-form-group label="Celular" label-for="celular">
              <b-form-input
                id="celular"
                v-model="cliente.celular"
                :state="getValidationState(validationContext)"
                trim
                placeholder="Escribe tu celular"
              />

              <b-form-invalid-feedback>
                {{ validationContext.errors[0] }}
              </b-form-invalid-feedback>
            </b-form-group>
          </validation-provider>

          <validation-provider
            #default="validationContext"
            name="fecha de nacimiento"
            rules="required"
          >
            <b-form-group label="Fecha de nacimiento" label-for="due-date">
              <flat-pickr
                v-model="cliente.fecha_nacimiento"
                class="form-control"
              />
              <b-form-invalid-feedback
                :state="getValidationState(validationContext)"
              >
                *Debes ingresar una fecha.
              </b-form-invalid-feedback>
            </b-form-group>
          </validation-provider>

          <!-- Country -->
          <validation-provider
            #default="validationContext"
            name="pais"
            rules="required"
          >
            <b-form-group
              label="Paises"
              label-for="pais"
              :state="getValidationState(validationContext)"
            >
              <v-select
                v-model="cliente.pais"
                :dir="$store.state.appConfig.isRTL ? 'rtl' : 'ltr'"
                :options="paises"
                label="name"
                :value="paises.id"
                @input="getEstados"
                :clearable="false"
                input-id="pais"
              />
              <b-form-invalid-feedback
                :state="getValidationState(validationContext)"
              >
                {{ validationContext.errors[0] }}
              </b-form-invalid-feedback>
            </b-form-group>
          </validation-provider>

          <!-- User Role -->
          <validation-provider
            #default="validationContext"
            name="Estado"
            rules="required"
          >
            <b-form-group
              label="Estado"
              label-for="estado"
              :state="getValidationState(validationContext)"
            >
              <v-select
                v-model="cliente.departamento"
                :dir="$store.state.appConfig.isRTL ? 'rtl' : 'ltr'"
                :options="estados"
                label="name"
                @input="getCiudades"
                :clearable="false"
                input-id="estado"
              />
              <b-form-invalid-feedback
                :state="getValidationState(validationContext)"
              >
                {{ validationContext.errors[0] }}
              </b-form-invalid-feedback>
            </b-form-group>
          </validation-provider>

          <validation-provider
            #default="validationContext"
            name="Ciudad"
            rules="required"
          >
            <b-form-group
              label="Ciudad"
              label-for="ciudad"
              :state="getValidationState(validationContext)"
            >
              <v-select
                v-model="cliente.ciudad"
                :dir="$store.state.appConfig.isRTL ? 'rtl' : 'ltr'"
                :options="ciudades"
                label="name"
                :value="ciudades.id"
                :clearable="false"
                input-id="ciudad"
              />
              <b-form-invalid-feedback
                :state="getValidationState(validationContext)"
              >
                {{ validationContext.errors[0] }}
              </b-form-invalid-feedback>
            </b-form-group>
          </validation-provider>

          <!-- Plan -->
          <validation-provider
            #default="validationContext"
            name="Direccion"
            rules="required"
          >
            <b-form-group label="Direccion" label-for="n.direccion">
              <b-form-input
                id="direccion"
                type="text"
                v-model="cliente.direccion"
                :state="getValidationState(validationContext)"
                trim
                placeholder="Escribe tu direccion"
              />

              <b-form-invalid-feedback>
                {{ validationContext.errors[0] }}
              </b-form-invalid-feedback>
            </b-form-group>
          </validation-provider>

          <b-form-group label="Observaciones" label-for="task-description">
            <quill-editor
              id="quil-content"
              v-model="cliente.observaciones"
              :options="editorOption"
              class="border-bottom-0"
            />
            <div
              id="quill-toolbar"
              class="d-flex justify-content-end border-top-0"
            ></div>
          </b-form-group>

          <!-- Form Actions -->
          <div class="d-flex mt-2">
            <b-button
              v-ripple.400="'rgba(255, 255, 255, 0.15)'"
              variant="primary"
              class="mr-2"
              type="submit"
            >
              Agregar
            </b-button>
            <b-button
              v-ripple.400="'rgba(186, 191, 199, 0.15)'"
              type="button"
              variant="outline-secondary"
              @click="hide"
            >
              Cancelar
            </b-button>
          </div>
        </b-form>
      </validation-observer>
    </template>
  </b-sidebar>
</template>

<script>
import {
  BSidebar,
  BForm,
  BFormGroup,
  BFormInput,
  BFormInvalidFeedback,
  BButton,
} from "bootstrap-vue";
import flatPickr from "vue-flatpickr-component";
import { quillEditor } from "vue-quill-editor";
import { ValidationProvider, ValidationObserver } from "vee-validate";
import { ref } from "@vue/composition-api";
import { required, alphaNum, email } from "@validations";
import formValidation from "@core/comp-functions/forms/form-validation";
import Ripple from "vue-ripple-directive";
import vSelect from "vue-select";
import countries from "@/@fake-db/data/other/countries";
import store from "@/store";

export default {
  components: {
    BSidebar,
    BForm,
    BFormGroup,
    BFormInput,
    BFormInvalidFeedback,
    BButton,
    vSelect,
    flatPickr,
    quillEditor,
    // Form Validation
    ValidationProvider,
    ValidationObserver,
  },
  directives: {
    Ripple,
  },
  model: {
    prop: "isAddNewUserSidebarActive",
    event: "update:is-add-new-user-sidebar-active",
  },
  props: {
    isAddNewUserSidebarActive: {
      type: Boolean,
      required: true,
    },
    roleOptions: {
      type: Array,
      required: true,
    },
    planOptions: {
      type: Array,
      required: true,
    },
  },
  data() {
    return {
      cliente: {
        user_id: JSON.parse(localStorage.getItem("userData")),
        estado: null,
        nombre: null,
        apellido: null,
        correo: null,
        telefono: null,
        celular: null,
        fecha_nacimiento: null,
        n_identificacion: null,
        adiciona: null,
        pais: null,
        ciudad: null,
        departamento: null,
        direccion: null,
        observaciones: null,
      },

      estados: [],
      ciudades: [],
      required,
      alphaNum,
      email,
      countries,
    };
  },

  computed: {
    paises() {
      return this.$store.state.appLocalidades.paises;
    },
  },

  methods: {
    getPaises() {
      this.$store
        .dispatch("appLocalidades/getPaises")
        .then((response) => {})
        .catch((error) => {
          console.log(error);
        });
    },

    getEstados() {
      let codigo = this.cliente.pais.id;
      this.$store
        .dispatch("appLocalidades/getStates", { codigo })
        .then((response) => {
          console.log(response);
          this.estados = response;
        })
        .catch((error) => {
          console.log(error);
        });
    },

    getCiudades() {
      let codigo = this.cliente.departamento.id;
      this.$store
        .dispatch("appLocalidades/getCiudades", { codigo })
        .then((response) => {
          this.ciudades = response;
        })
        .catch((error) => {
          console.log(error);
        });
    },
  },

  created() {
    this.getPaises();


  },

  setup(props, { emit }) {
    const blankcliente = {
      user_id: null,
      estado: null,
      nombre: null,
      apellido: null,
      correo: null,
      telefono: null,
      celular: null,
      fecha_nacimiento: null,
      n_identificacion: null,
      adiciona: null,
      pais: null,
      ciudad: null,
      departamento: null,
      direccion: null,
      observaciones: null,
    };

    const cliente = ref(JSON.parse(JSON.stringify(blankcliente)));
    const resetcliente = () => {
      cliente.value = JSON.parse(JSON.stringify(blankcliente));
    };

    const onSubmit = () => {
      store.dispatch("app-user/addClient", cliente.value).then(() => {
        emit("refetch-data");
        emit("update:is-add-new-user-sidebar-active", false);
      });
    };

    const editorOption = {
      modules: {
        toolbar: "#quill-toolbar",
      },
      placeholder: "Escribe tus observaciones",
    };

    const { refFormObserver, getValidationState, resetForm } =
      formValidation(resetcliente);

    return {
      cliente,
      onSubmit,
      editorOption,
      refFormObserver,
      getValidationState,
      resetForm,
    };
  },
};
</script>

<style lang="scss">
@import "@core/scss/vue/libs/vue-select.scss";
@import "@core/scss/vue/libs/quill.scss";
#add-new-user-sidebar {
  .vs__dropdown-menu {
    max-height: 200px !important;
  }
}

.ql-editor {
  height: 12rem;

  resize: vertical;
  overflow-y: scroll;
}
</style>
