<template>
  <div>
    <div>
      <GmapAutocomplete @place_changed="setPlace" class="button-google"
       :options="{fields: ['geometry', 'formatted_address', 'address_components']}" />
      <b-button variant="primary" @click="addMarker">Buscar direccion</b-button>
    </div>
    <br />
    <GmapMap :center="center" :zoom="18" style="width:100%;  height: 400px;">
      <GmapMarker
        :key="index"
        v-for="(m, index) in markers"
        :position="m.position"
        @click="center = m.position"
      />
    </GmapMap>
  </div>
</template>

<script>
import { BButton } from "bootstrap-vue";
export default {
  name: "GoogleMap",

  components: {
    BButton,
  },

  data() {
    return {
      center: { lat: 45.508, lng: -73.587 },
      currentPlace: null,
      markers: [],
      places: [],
    };
  },
  mounted() {
    this.geolocate();
  },
  methods: {
    setPlace(place) {
      //console.log(place.geometry.location.lat())
      this.currentPlace = place;
    },
    addMarker() {
      if (this.currentPlace) {    
        const marker = {
          lat: this.currentPlace.geometry.location.lat(),
          lng: this.currentPlace.geometry.location.lng(),
        };
        this.markers.push({ position: marker });
        this.places.push(this.currentPlace);
        this.center = marker;
        this.currentPlace = null;
      }
    },
    geolocate: function() {
      navigator.geolocation.getCurrentPosition((position) => {
        this.center = {
          lat: position.coords.latitude,
          lng: position.coords.longitude,
        };
      });
    },
  },
};
</script>

<style>
.pac-container {
  color: #d9d9d9;
}

.button-google {
  width: 60%;
  height: 37px;
  border: 1px solid rgba(0, 0, 0, 0.5);
  -webkit-background-clip: padding-box; /* for Safari */
  background-clip: padding-box; /* for IE9+, Firefox 4+, Opera, Chrome */
  border-radius: 10px;

  opacity: 0.5;
}

/*
class for each line of the result
*/
.pac-item {
  font-size: 12px;
  color: #d9d9d9;
  font-family: Arial, Helvetica, sans-serif;
}
</style>
