<template>
  <!-- Alert: No item found -->
  <b-overlay :show="show" rounded="sm">
    <form-wizard
      color="#7367F0"
      :title="null"
      :subtitle="null"
      shape="square"
      finish-button-text="Registrar"
      back-button-text="Atras"
      next-button-text="Siguiente"
      class="mb-3"
      @on-complete="formSubmitted"
    >
      <!-- accoint details tab -->
      <tab-content title="Ubicacion del inmueble" icon="feather icon-file-text">
        <!-- account detail tab -->

        <b-row>
          <!-- Columna 1  -->
          <b-col md="12" lg="12">
            <b-card-actions
              border-variant="primary"
              bg-variant="transparent"
              class="shadow-none"
              title="Ubicaciones"
              action-collapse
            >
              <b-row>
                <b-col>
                  <b-form-group label="Paises" label-for="paises">
                    <v-select
                      v-model="inmueble.pais_id"
                      :options="paises"
                      label="name"
                      :value="paises.id"
                      @input="getEstados"
                      placeholder="Seleccionar"
                    />
                  </b-form-group>
                </b-col>

                <!-- field: Departamento  -->
                <b-col>
                  <b-form-group label="Departamento" label-for="states">
                    <v-select
                      v-model="inmueble.estado_id"
                      :options="estados"
                      label="name"
                      @input="getCiudades"
                      :value="estados.id"
                      placeholder="Seleccionar"
                    />
                  </b-form-group>
                </b-col>

                <!-- field: Ciudad  -->
                <b-col>
                  <b-form-group label="Ciudad" label-for="ciudad">
                    <v-select
                      v-model="inmueble.ciudad_id"
                      :options="ciudades"
                      label="name"
                      :value="ciudades.id"
                      @input="getZona"
                      input-id="ciudad"
                      placeholder="Seleccionar"
                    />
                  </b-form-group>
                </b-col>
              </b-row>
              <b-row>
                <!-- field: Zona  -->
                <b-col>
                  <b-form-group label="Zona" label-for="zona">
                    <v-select
                      v-model="inmueble.zona_id"
                      :options="zonas"
                      label="name"
                      :value="zonas.id"
                      @input="getBarrio"
                      :clearable="false"
                      input-id="zona"
                    />
                  </b-form-group>
                </b-col>
                <b-col md="2">
                  <b-form-group label="+" label-for="zonaAdd">
                    <b-button
                      variant="gradient-primary"
                      class="btn-icon"
                      v-b-modal.modal-zonas
                    >
                      <feather-icon icon="PlusCircleIcon" />
                    </b-button>
                    <strong> Agregar Zona </strong>
                  </b-form-group>
                </b-col>
                <!-- Modal -->
                <b-modal
                  ref="modalZona"
                  id="modal-zonas"
                  @show="resetModalZona"
                  @hidden="resetModalZona"
                  @ok="handleOkZona"
                  ok-title="Registrar"
                  cancel-title="Cancelar"
                  centered
                  size="lg"
                  title="Agregar Zona"
                >
                  <b-card-text>
                    <b-row>
                      <b-col>
                        <form
                          ref="formZona"
                          @submit.stop.prevent="handleSubmitZona"
                        >
                          <b-form-group
                            label="Agregar Zona"
                            label-for="basicInput"
                            invalid-feedback="La zona es requerida"
                            :state="zonaState"
                          >
                            <b-form-input
                              v-model="inmueble.zona_id"
                              id="basicInput"
                              :state="zonaState"
                              placeholder="Ingresar el nombre de la zona"
                            />
                          </b-form-group>
                        </form>
                      </b-col>
                    </b-row>
                  </b-card-text>
                </b-modal>
                <!-- Fin Modal Zonas -->

                <!-- field: Barrio  -->
                <b-col>
                  <b-form-group label="Barrio" label-for="barrios">
                    <v-select
                      v-model="inmueble.barrio_id"
                      :options="barrios"
                      label="name"
                      :value="barrios.id"
                      :clearable="false"
                      input-id="barrios"
                    />
                  </b-form-group>
                </b-col>
                <b-col md="2">
                  <b-form-group label="+" label-for="BarrioAdd">
                    <b-button
                      variant="gradient-primary"
                      class="btn-icon"
                      v-b-modal.modal-barrio
                    >
                      <feather-icon icon="PlusCircleIcon" />
                    </b-button>
                    <strong> Agregar Barrio</strong>
                  </b-form-group>
                </b-col>

                <!-- Modal Barrios-->
                <b-modal
                  ref="modalBarrio"
                  id="modal-barrio"
                  @show="resetModalBarrio"
                  @hidden="resetModalBarrio"
                  @ok="handleOkBarrio"
                  ok-title="Registrar"
                  cancel-title="Cancelar"
                  centered
                  size="lg"
                  title="Agregar Barrio"
                >
                  <b-card-text>
                    <b-row>
                      <b-col>
                        <form
                          ref="formBarrio"
                          @submit.stop.prevent="handleSubmitBarrio"
                        >
                          <b-form-group
                            label="Agregar Barrio"
                            label-for="basicInputBarrio"
                            invalid-feedback="El Barrio es requerido"
                            :state="barrioState"
                          >
                            <b-form-input
                              v-model="inmueble.barrio_id"
                              id="basicInputBarrio"
                              :state="barrioState"
                              placeholder="Ingresar el nombre del barrio"
                            />
                          </b-form-group>
                        </form>
                      </b-col>
                    </b-row>
                  </b-card-text>
                </b-modal>
              </b-row>
              <!-- Fin Modal Barrios -->
              <b-row>
                <b-col>
                  <b-form-group label="Latitud" label-for="latitud">
                    <b-form-input
                      id="latitud"
                      v-model="inmueble.latitud"
                      placeholder="Ejemplo: 1990"
                    />
                  </b-form-group>
                </b-col>

                <b-col>
                  <b-form-group label="Longitud" label-for="longitud">
                    <b-form-input
                      id="longitud"
                      v-model="inmueble.longitud"
                      placeholder="Ejemplo: 1990"
                    />
                  </b-form-group>
                </b-col>

                <!-- Field: Dirección  -->
                <b-col>
                  <b-form-group label="Direccion" label-for="direccion">
                    <b-form-input
                      id="direccion"
                      v-model="inmueble.direccion"
                      placeholder="Ingresa la dirección"
                    />
                  </b-form-group>
                </b-col>
              </b-row>
            </b-card-actions>
          </b-col>
        </b-row>
        <b-row>
          <b-col cols="12">
            <l-map
              :zoom="zoom"
              :center="location"
              style="height: 500px; width: 100%"
            >
              <l-tile-layer
                url="http://{s}.tile.osm.org/{z}/{x}/{y}.png"
              ></l-tile-layer>
              <!-- IMPORTANT PART HERE -->
              <l-marker :lat-lng="marker" />
              <l-icon-default :image-path="path" />
              <v-geosearch :options="geosearchOptions"></v-geosearch>
              <!-- /IMPORTANT PART HERE -->
            </l-map>
          </b-col>
        </b-row>

        <b-row> </b-row>
      </tab-content>

      <tab-content title="Datos basicos" icon="feather icon-user">
        <b-row>
          <b-col cols="12" class="mb-2">
            <b-form>
              <b-row>
                <!-- Columna 1  -->
                <b-col md="6" lg="6">
                  <!-- Card1-1 : Informacion basica  -->
                  <b-card-actions
                    border-variant="primary"
                    bg-variant="transparent"
                    class="shadow-none"
                    title="Informacion Basica"
                    action-collapse
                  >
                    <b-row>
                      <!-- Field: Tipo de inmueble -->
                      <b-col cols="12" md="6" lg="6">
                        <b-form-group
                          label="Tipo de Inmueble"
                          label-for="tipo_inmueble"
                        >
                          <v-select
                            v-model="inmueble.tipo_inmueble"
                            :options="tipoInmueble"
                            :clearable="false"
                            label="tipo"
                            :value="tipoInmueble.id"
                            input-id="tipo_inmueble"
                            placeholder="Seleccionar"
                          />
                        </b-form-group>
                      </b-col>

                      <!-- Field: Tipo Prueba
              <b-col cols="12" md="6" lg="6">
                <b-form-group label="Prueba" label-for="default">
                  <v-select
                    v-model="pregunta.default"
                    :options="pruebaLista"
                    :clearable="false"
                    input-id="default"
                  />
                </b-form-group>
              </b-col> -->

                      <!-- Field: Tipo de Negocio -->
                      <b-col cols="12" md="6" lg="6">
                        <b-form-group
                          label="Tipo de negocio"
                          label-for="tipoNegocio"
                        >
                          <v-select
                            v-model="inmueble.tipo_negocio"
                            :options="tipoNegocio"
                            :value="tipoNegocio.id"
                            :clearable="false"
                            label="tipo"
                            placeholder="Seleccionar"
                          />
                        </b-form-group>
                      </b-col>
                    </b-row>
                    <b-row>
                      <!-- Field: Segmento de mercado -->
                      <b-col cols="12" md="6" lg="6">
                        <b-form-group
                          label="Segmento de mercado"
                          label-for="SegmendoMercado"
                        >
                          <v-select
                            v-model="inmueble.segmento_mercado"
                            :options="segmendtoDeMercado"
                            :value="segmendtoDeMercado.id"
                            label="name"
                            :clearable="false"
                            input-id="SegmendoMercado"
                            placeholder="Seleccionar"
                          />
                        </b-form-group>
                      </b-col>
                      <!-- Field: Estado de la publicacion -->
                      <b-col cols="12" md="6" lg="6">
                        <b-form-group
                          label="Estado de la publicación"
                          label-for="estadoPublicacion"
                        >
                          <v-select
                            v-model="inmueble.estado_publicacion"
                            :options="estadoPublicacion"
                            :value="estadoPublicacion.id"
                            label="name"
                            input-id="estadoPublicacion"
                            placeholder="Seleccionar"
                          />
                        </b-form-group>
                      </b-col>
                    </b-row>
                    <b-row>
                      <!-- Field: Titulo del inmueble -->
                      <b-col cols="12" md="12" lg="12">
                        <b-form-group
                          label="Titulo del inmueble *"
                          label-for="tituloInmueble"
                        >
                          <b-form-input
                            required
                            id="tituloInmueble"
                            v-model="inmueble.titulo_inmueble"
                            placeholder="Titulo principal del inmueble"
                          />
                        </b-form-group>
                      </b-col>
                    </b-row>
                    <b-row>
                      <!-- Field: Estado fisico de la propiedad -->
                      <b-col cols="12" md="6" lg="6">
                        <b-form-group
                          label="Estado fisico de la propiedad"
                          label-for="EstadoFisico"
                        >
                          <v-select
                            v-model="inmueble.state_fisico"
                            :options="estadoFisico"
                            label="name"
                            :value="estadoFisico.id"
                            :clearable="false"
                            input-id="EstadoFisico"
                            placeholder="Seleccionar"
                          />
                        </b-form-group>
                      </b-col>

                      <!-- Field: Matricula Inmobiliaria -->
                      <b-col cols="12" md="6" lg="6">
                        <b-form-group
                          label="Matricula Inmobiliaria"
                          label-for="matricula"
                        >
                          <b-form-input
                            id="matricula"
                            v-model="inmueble.matricula_inmobiliaria"
                            placeholder="No. de Matricula"
                            input-id="matricula"
                          />
                        </b-form-group>
                      </b-col>
                    </b-row>
                    <b-row>
                      <!-- Field: Estrato -->
                      <b-col cols="12" md="6" lg="6">
                        <b-form-group label="Estrato" label-for="estrato">
                          <v-select
                            v-model="inmueble.estrato"
                            :options="estratos"
                            label="name"
                            :value="estratos.id"
                            input-id="estrato"
                            placeholder="Seleccionar"
                          />
                        </b-form-group>
                      </b-col>

                      <!-- Field: Año de construccion -->
                      <b-col cols="12" md="6" lg="6">
                        <b-form-group
                          label="Año de construcción"
                          label-for="año_construido"
                        >
                          <b-form-input
                            id="año_construido"
                            v-model="inmueble.ano_contruido"
                            placeholder="Ejemplo: 1990"
                          />
                        </b-form-group>
                      </b-col>
                    </b-row>
                  </b-card-actions>
                  <!-- Card2-1 : Caracteristicas  -->
                  <b-card-actions
                    border-variant="primary"
                    bg-variant="transparent"
                    class="shadow-none"
                    title="Caracteristicas"
                    action-collapse
                  >
                    <b-row>
                      <!-- field: Caracteristicas Internas  -->
                      <b-col>
                        <b-form-group
                          label-for="carInternas"
                          label="Caracteristicas Internas"
                        >
                          <v-select
                            v-model="inmueble.caracteristicas_internas"
                            multiple
                            label="texto"
                            :options="caracteristicasInternas"
                            :value="caracteristicasInternas.id"
                            placeholder="Seleccion"
                          />
                        </b-form-group>
                      </b-col>
                    </b-row>
                    <b-row>
                      <!-- field: Caracteristicas Externas  -->
                      <b-col>
                        <b-form-group
                          label-for="carExternas"
                          label="Caracteristicas Externas"
                        >
                          <v-select
                            v-model="inmueble.caracteristicas_externas"
                            multiple
                            label="texto"
                            :options="caracteristicasExternas"
                            :value="caracteristicasExternas.id"
                            placeholder="Seleccionar"
                          />
                        </b-form-group>
                      </b-col>
                    </b-row>
                    <b-row>
                      <!-- field: Alcobas  -->
                      <b-col cols="12" md="4" lg="4">
                        <b-form-group label="Alcobas" label-for="alcobas">
                          <b-form-spinbutton
                            id="alcobas"
                            v-model="inmueble.alcobas"
                            min="0"
                            max="50"
                            placeholder="0"
                          />
                        </b-form-group>
                      </b-col>

                      <!-- field: Baños  -->
                      <b-col cols="12" md="4" lg="4">
                        <b-form-group label="Baños" label-for="banos">
                          <b-form-spinbutton
                            id="banos"
                            v-model="inmueble.banos"
                            min="0"
                            max="8"
                            placeholder="0"
                          />
                        </b-form-group>
                      </b-col>
                      <!-- field: Garaje  -->
                      <b-col cols="12" md="4" lg="4">
                        <b-form-group label="Garaje" label-for="garaje">
                          <b-form-spinbutton
                            id="garage"
                            v-model="inmueble.garaje"
                            min="0"
                            max="8"
                            placeholder="0"
                          />
                        </b-form-group>
                      </b-col>
                    </b-row>
                    <b-row>
                      <!-- field: Piso  -->
                      <b-col cols="12" md="4" lg="4">
                        <b-form-group label="Piso" label-for="piso">
                          <b-form-spinbutton
                            id="pisos"
                            v-model="inmueble.pisos"
                            min="1"
                            max="30"
                            placeholder="0"
                          />
                        </b-form-group>
                      </b-col>

                      <!-- field: Ascensor  -->
                      <!-- <b-col cols="12" md="8" lg="8">
                    <b-form-group label="Ascensor" label-for="ascensor">
                      <v-select
                        v-model="inmueble.ascensor"
                        :options="ascensor"
                        :clearable="false"
                        input-id="ascensor"
                        placeholder="Seleccionar"
                      />
                    </b-form-group>
                  </b-col> -->
                    </b-row>
                    <b-row>
                      <!-- field: Parqueaderos  -->
                      <b-col cols="12" md="4" lg="4">
                        <b-form-group
                          label="Cantidad de Parqueaderos"
                          label-for="parqueaderos"
                        >
                          <b-form-spinbutton
                            id="sb-inline"
                            v-model="inmueble.cantidad_parqueadero"
                            min="0"
                            max="50"
                            placeholder="0"
                          />
                        </b-form-group>
                      </b-col>
                      <!-- field: Tipo de Parqueaderos  -->
                      <b-col cols="12" md="8" lg="8">
                        <b-form-group
                          label="Tipo de Parqueaderos"
                          label-for="parqueadero"
                        >
                          <v-select
                            v-model="inmueble.parqueadero"
                            :options="parqueaderos"
                            label="tipo"
                            :value="parqueaderos.id"
                            :clearable="false"
                            input-id="parqueadero"
                            placeholder="Seleccionar"
                          />
                        </b-form-group>
                      </b-col>
                    </b-row>
                    <b-row>
                      <!-- area del lote  -->
                      <b-col md="6">
                        <b-form-group
                          label-for="area_lote"
                          label="Area del lote"
                        >
                          <div class="form-label-group">
                            <b-input-group append="m²">
                              <cleave
                                id="area_lote"
                                v-model="inmueble.area_lote"
                                class="form-control"
                                :raw="false"
                                :options="noptions.number"
                                placeholder="Area del Lote"
                              />
                            </b-input-group>
                          </div>
                        </b-form-group>
                      </b-col>
                      <!-- area construida  -->
                      <b-col md="6">
                        <b-form-group
                          label-for="area_construida"
                          label="Area construida"
                        >
                          <div class="form-label-group">
                            <b-input-group append="m²">
                              <cleave
                                id="area_construida"
                                v-model="inmueble.area_contruida"
                                class="form-control"
                                :raw="false"
                                :options="noptions.number"
                                placeholder="Area construida"
                              />
                            </b-input-group>
                          </div>
                        </b-form-group>
                      </b-col>
                    </b-row>
                    <b-row>
                      <!-- fiel: frente  -->
                      <b-col md="6">
                        <b-form-group label-for="frente" label="Frente">
                          <div class="form-label-group">
                            <b-input-group append="m">
                              <cleave
                                id="fente"
                                v-model="inmueble.frente"
                                class="form-control"
                                :raw="false"
                                :options="noptions.number"
                                placeholder="Area de frente"
                              />
                            </b-input-group>
                          </div>
                        </b-form-group>
                      </b-col>
                      <!-- Fondo  -->
                      <b-col md="6">
                        <b-form-group label-for="fondo" label="Fondo">
                          <div class="form-label-group">
                            <b-input-group append="m">
                              <cleave
                                id="fondo"
                                v-model="inmueble.fondo"
                                class="form-control"
                                :raw="false"
                                :options="noptions.number"
                                placeholder="Area del fondo"
                              />
                            </b-input-group>
                          </div>
                        </b-form-group>
                      </b-col>
                    </b-row>
                    <b-row>
                      <!-- Area Total  -->
                      <b-col md="6">
                        <b-form-group
                          label-for="cuota_inicial"
                          label="Area Total"
                        >
                          <div class="form-label-group">
                            <b-input-group append="m²">
                              <cleave
                                id="cuota_inicial"
                                v-model="inmueble.area_total"
                                class="form-control"
                                :raw="false"
                                :options="noptions.number"
                                placeholder="Cuota inicial"
                              />
                            </b-input-group>
                          </div>
                        </b-form-group>
                      </b-col>
                      <!-- field: Cantidad de ambientes  -->
                      <!-- <b-col md="6" lg="6">
                    <b-form-group
                      label="Cantidad de ambientes"
                      label-for="ambientes"
                    >
                      <v-select
                        v-model="inmueble.ambientes"
                        :options="ambientes"
                        :clearable="false"
                        input-id="language"
                        placeholder="Seleccionar"
                      />
                    </b-form-group>
                  </b-col> -->
                    </b-row>
                  </b-card-actions>
                  <!-- Card3-1 : Descripcion  -->

                  <b-card-actions
                    border-variant="primary"
                    bg-variant="transparent"
                    class="shadow-none"
                    title="Descripcion"
                    action-collapse
                  >
                    <b-row>
                      <b-col>
                        <quill-editor
                          v-model="inmueble.descripcion"
                          :options="snowOption"
                        />
                      </b-col>
                    </b-row>
                  </b-card-actions>

                  <b-card-actions
                    border-variant="primary"
                    bg-variant="transparent"
                    class="shadow-none"
                    title="Imagenes del inmueble"
                    action-collapse
                  >
                    <b-row>
                      <b-col>
                        <UploadImages
                          @change="handleImages"
                          uploadMsg="subir imágenes del inmueble..."
                          clearAll="limpiar"
                        />
                      </b-col>
                    </b-row>
                  </b-card-actions>
                </b-col>
                <!-- Columna 2  -->
                <b-col md="6" lg="6">
                  <!-- Card1-2: Precios  -->
                  <b-card-actions
                    title="Precios"
                    border-variant="primary"
                    bg-variant="transparent"
                    class="shadow-none"
                    action-collapse
                  >
                    <!-- Form: Personal Info Form -->
                    <b-row>
                      <!-- Field: Precio de venta -->
                      <b-col md="12">
                        <b-form-group
                          label="Precio de venta"
                          label-for="pventa"
                        >
                          <b-input-group prepend="$">
                            <cleave
                              id="10"
                              v-model="inmueble.precio_venta"
                              class="form-control"
                              :raw="false"
                              :options="noptions.number"
                              placeholder="Precio de venta"
                            />
                            <b-input-group-append>
                              <b-form-select
                                v-model="numeroFormato.divisa"
                                :options="divisas"
                              >
                              </b-form-select>
                            </b-input-group-append>
                          </b-input-group>
                        </b-form-group>
                      </b-col>

                      <!-- Tipo de precio  -->
                      <b-col md="12">
                        <b-form-group label="Tipo de precio" label-for="precio">
                          <v-select
                            v-model="inmueble.tipo_precio"
                            :options="precios"
                            :clearable="false"
                            :value="precios.id"
                            label="descripcion"
                            input-id="precio"
                            placeholder="Seleccionar"
                          />
                        </b-form-group>
                      </b-col>
                    </b-row>
                    <b-row>
                      <!-- Field: Precio de Alquiler -->
                      <b-col md="12">
                        <b-form-group
                          label="Precio del alquiler"
                          label-for="language"
                        >
                          <div class="form-label-group">
                            <b-input-group prepend="$">
                              <cleave
                                id="11"
                                v-model="inmueble.precio_alquiler"
                                class="form-control"
                                :raw="false"
                                :options="noptions.number"
                                placeholder="Precio del alquiler"
                              />
                              <b-input-group-append>
                                <b-form-select
                                  v-model="numeroFormato.divisa"
                                  :options="divisas"
                                >
                                </b-form-select>
                              </b-input-group-append>
                            </b-input-group>
                          </div>
                        </b-form-group>
                      </b-col>

                      <!-- Tiempo de alquiler  -->
                      <b-col cols="12">
                        <b-form-group
                          label="Tiempo de alquiler"
                          label-for="language"
                        >
                          <v-select
                            v-model="inmueble.tiempo_alquiler"
                            :options="tiempo_alquiler"
                            :value="tiempo_alquiler.id"
                            label="tipo"
                            :clearable="false"
                            placeholder="Seleccionar"
                          />
                        </b-form-group>
                      </b-col>
                    </b-row>
                    <b-row>
                      <!-- Field: Precio de Administración  -->
                      <b-col md="12">
                        <b-form-group
                          label-for="padmon"
                          label="Precio de administración"
                        >
                          <div class="form-label-group">
                            <b-input-group prepend="$">
                              <cleave
                                id="12"
                                v-model="inmueble.precio_administracion"
                                class="form-control"
                                :raw="false"
                                :options="noptions.number"
                                placeholder="Precio de la administración"
                              />
                              <b-input-group-append>
                                <b-form-select
                                  v-model="numeroFormato.divisa"
                                  :options="divisas"
                                >
                                </b-form-select>
                              </b-input-group-append>
                            </b-input-group>
                          </div>
                        </b-form-group>
                      </b-col>

                      <!-- Tiempo de Administración  -->
                      <b-col cols="12">
                        <b-form-group
                          label="Periodo de administración"
                          label-for="language"
                        >
                          <v-select
                            v-model="inmueble.periodo_admon"
                            :options="periodo_admon"
                            label="descripcion"
                            :value="periodo_admon.id"
                            :clearable="false"
                            placeholder="Seleccionar"
                          />
                        </b-form-group>
                      </b-col>
                    </b-row>
                  </b-card-actions>
                  <!-- Card2-2 : Ubicación  -->

                  <!-- Card2-2 : Propietario  -->
                  <b-card-actions
                    border-variant="primary"
                    bg-variant="transparent"
                    class="shadow-none"
                    title="Propietario"
                    footer="*Informacion Privada"
                    footer-class="text-muted"
                    action-collapse
                  >
                    <b-row>
                      <!-- field: Nombre Completo  -->
                      <b-col md="6">
                        <b-form-group
                          label="Primer Nombre"
                          label-for="primer_apellido"
                        >
                          <b-form-input
                            id="primer_nombre"
                            v-model="inmueble.propietario.primer_nombre"
                            placeholder=""
                          />
                        </b-form-group>
                      </b-col>
                      <b-col md="6">
                        <b-form-group
                          label="Segundo Nombre"
                          label-for="segundo_nombre"
                        >
                          <b-form-input
                            id="segundo_nombre"
                            v-model="inmueble.propietario.segundo_nombre"
                            placeholder=""
                          />
                        </b-form-group>
                      </b-col>
                    </b-row>
                    <b-row>
                      <!-- field: Apellidos  -->
                      <b-col md="6">
                        <b-form-group
                          label="Primer Apellido"
                          label-for="primer_apellido"
                        >
                          <b-form-input
                            id="primer_apellido"
                            v-model="inmueble.propietario.primer_apellido"
                            placeholder=""
                          />
                        </b-form-group>
                      </b-col>
                      <b-col md="6">
                        <b-form-group
                          label="Segundo Apellido"
                          label-for="segundo_apellido"
                        >
                          <b-form-input
                            id="segundo_apellido"
                            v-model="inmueble.propietario.segundo_apellido"
                            placeholder=""
                          />
                        </b-form-group>
                      </b-col>
                    </b-row>
                    <b-row>
                      <b-col md="6">
                        <b-form-group label="Celular" label-for="celular">
                          <b-input-group>
                            <b-input-group-prepend is-text>
                              COL (+57)
                            </b-input-group-prepend>
                            <cleave
                              id="phone"
                              v-model="inmueble.propietario.celular"
                              class="form-control"
                              :raw="false"
                              :options="options.phone"
                              placeholder=""
                            />
                          </b-input-group>
                        </b-form-group>
                      </b-col>
                      <!-- field: Contacto  -->
                      <b-col md="6">
                        <b-form-group label="Telefono" label-for="telefono">
                          <b-form-input
                            id="telefono"
                            v-model="inmueble.propietario.telefono"
                            placeholder=""
                          />
                        </b-form-group>
                      </b-col>
                    </b-row>
                    <b-row>
                      <!-- field: Zona  -->
                      <!-- <b-col>
                  <h6>En construcción..</h6>
                </b-col> -->
                    </b-row>
                  </b-card-actions>
                </b-col>
              </b-row>
              <b-row>
                <b-col>
                  <b-button
                    variant="primary"
                    class="mb-1 mb-sm-0 mr-0 mr-sm-1"
                    @click="sendData()"
                    :block="$store.getters['app/currentBreakPoint'] === 'xs'"
                  >
                    Guardar
                  </b-button>
                  <b-button
                    variant="outline-secondary"
                    :block="$store.getters['app/currentBreakPoint'] === 'xs'"
                  >
                    Borrador
                  </b-button>
                </b-col>
              </b-row>
            </b-form>
          </b-col>
        </b-row>
      </tab-content>
    </form-wizard>
  </b-overlay>
</template>

<script>
import {
  BTab,
  BTabs,
  BCard,
  BAlert,
  BLink,
  BCardText,
  BCol,
  BFormGroup,
  BRow,
  BTable,
  BButton,
  BFormInput,
  BCardTitle,
  BForm,
  BFormTextarea,
  BFormRadioGroup,
  BFormCheckboxGroup,
  BInputGroupPrepend,
  BInputGroupAppend,
  BInputGroup,
  BDropdown,
  BDropdownItem,
  BDropdownDivider,
  BFormCheckbox,
  BFormDatalist,
  BFormRadio,
  BFormSelect,
  BFormTimepicker,
  BOverlay,
  BFormInvalidFeedback,
  BFormSpinbutton,
} from "bootstrap-vue";
import { onUnmounted } from "@vue/composition-api";

import store from "@/store";

import InmuebleAgregarMedios from "./InmuebleAgregarMedios.vue";
import InmuebleAgregarInmueble from "./InmuebleAgregarInmueble.vue";
import InmuebleAgregarLegal from "./InmuebleAgregarLegal.vue";
import InmuebleAgregarConexion from "./InmuebleAgregarConexion.vue";
import BCardActions from "@core/components/b-card-actions/BCardActions.vue";

import vSelect from "vue-select";
import InmuebleAgregarIntegraciones from "./InmuebleAgregarIntegraciones.vue";
import InmuebleStoreModule from "../../InmuebleStoreModule";
import { quillEditor } from "vue-quill-editor";

import flatPickr from "vue-flatpickr-component";
import AppCollapse from "@core/components/app-collapse/AppCollapse.vue";
import AppCollapseItem from "@core/components/app-collapse/AppCollapseItem.vue";

import Cleave from "vue-cleave-component";
import ToastificationContent from "@core/components/toastification/ToastificationContent.vue";


import { LMap, LTileLayer, LMarker, LIconDefault } from "vue2-leaflet";
import VGeosearch from "vue2-leaflet-geosearch";
import "leaflet/dist/leaflet.css";

import L from "leaflet";


import { FormWizard, TabContent } from "vue-form-wizard";
import "vue-form-wizard/dist/vue-form-wizard.min.css";


import "cleave.js/dist/addons/cleave-phone.us";
import BCardCode from "@core/components/b-card-code/BCardCode.vue";

import { OpenStreetMapProvider } from "leaflet-geosearch";


const USER_APP_STORE_MODULE_NAME = "app-inmuebles";

// Register module
if (!store.hasModule(USER_APP_STORE_MODULE_NAME))
  store.registerModule(USER_APP_STORE_MODULE_NAME, InmuebleStoreModule);

// UnRegister on leave
onUnmounted(() => {
  if (store.hasModule(USER_APP_STORE_MODULE_NAME))
    store.unregisterModule(USER_APP_STORE_MODULE_NAME);
});

export default {
  components: {
    BTab,
    BTabs,
    BCard,
    BAlert,
    BFormInput,
    BLink,
    BRow,
    BCardText,
    BTable,
    BCardTitle,
    BCol,
    VGeosearch,
    BFormGroup,
    quillEditor,
    BCardActions,
    BButton,
    FormWizard,
    TabContent,
    vSelect,
    BForm,
    BFormTextarea,
    BFormRadioGroup,
    BFormCheckboxGroup,
    BInputGroupPrepend,
    BInputGroupAppend,
    BInputGroup,
    BDropdown,
    BDropdownItem,
    BDropdownDivider,
    BFormCheckbox,
    BFormDatalist,
    BFormRadio,
    BFormSelect,
    BOverlay,
    BFormTimepicker,
    BFormInvalidFeedback,
    BFormSpinbutton,
    flatPickr,
    AppCollapse,
    AppCollapseItem,
    BCardCode,
    Cleave,
    InmuebleAgregarMedios,
    InmuebleAgregarInmueble,
    InmuebleAgregarLegal,
    InmuebleAgregarConexion,
    InmuebleAgregarIntegraciones,
    LMap,
    LTileLayer,
    LMarker,
    LIconDefault,
  },

  data() {
    return {
      location: null,
      geosearchOptions: {
        // Important part Here
        provider: new OpenStreetMapProvider(),
      },
      zoom: 13,
      path: "/images/",
      center: [47.41322, -1.219482],
      url: "https://{s}.tile.openstreetmap.org/{z}/{x}/{y}.png",
      attribution:
        '&copy; <a href="http://osm.org/copyright">OpenStreetMap</a> contributors',
      marker: L.latLng(47.41322, -1.219482),

      show: false,

      paises: [],
      estados: [],
      ciudades: [],
      zonas: [],
      barrios: [],
      tipoInmueble: [],
      tipoNegocio: [],
      estadoPublicacion: [],
      segmendtoDeMercado: [],
      estadoFisico: [],
      estratos: [],
      caracteristicasInternas: [],
      caracteristicasExternas: [],
      parqueaderos: [],
      precios: [],
      tiempo_alquiler: [],
      periodo_admon: [],

      inmueble: {
        alcobas: null,
        banos: null,
        garaje: null,
        user_id: null,
        pisos: null,

        frente: null,
        fondo: null,

        pais_id: { id: null },
        estado_id: { id: null },
        ciudad_id: { id: null },
        zona_id: { id: null },
        barrio_id: { id: null },

        area_lote: null,
        precio_venta: null,
        precio_alquiler: null,
        precio_administracion: null,
        area_total: null,
        area_contruida: null,
        latitud: null,
        longitud: null,
        direccion: null,
        tipo_inmueble: { id: null },
        tipo_negocio: { id: null },
        periodo_admon: { id: null },
        tiempo_alquiler: { id: null },
        tipo_precio: { id: null },
        titulo_inmueble: null,
        caracteristicas_internas: [],
        caracteristicas_externas: [],
        tiempo: null,
        propietario: {
          primer_nombre: null,
          segundo_nombre: null,
          primer_apellido: null,
          segundo_apellido: null,
          email: null,
          celular: null,
          telefono_fijo: null,
        },
        segmento_mercado: { id: null },
        estado_publicacion: { id: null },
        imagenes: [],
        state_fisico: { id: null },
        matricula_inmobiliaria: null,
        estrato: { id: null },
        alquiler: null,
        ascensor: null,
        imagenes: null,
        descripcion: null,
        ano_contruido: null,
        cantidad_parqueadero: null,
        parqueadero: { id: null },
        ambientes: null,
      },

      snowOption: {
        theme: "snow",
        placeholder:
          "En este apartado, escribe toda la descripción necesaria para tus inmuebles.",
        readOnly: true,
      },

      zonaState: null,
      barrioState: null,

      legal: {
        tipoDocumento: "",
      },

      pregunta: {
        default: "Selec",
      },
      pruebaLista: [
        "valor1",
        "Valor2",
        // { text: "Valor1", value: "1" }, Pruebas FLM
        // { text: "Valor2", value: "2" },
      ],
      maxChar: 20,
      noptions: {
        number: {
          numeral: true,
          numeralDecimalMark: ",",
          delimiter: ".",

          noImmediatePrefix: true,
        },
        numberArea: {
          numeral: true,
        },
      },

      divisas: [
        { text: "COP", value: "COP" },
        { text: "USD", value: "USD" },
      ],

      areas: [{ text: "m²", value: "COP" }],
      options: {
        phone: {
          phone: true,
          phoneRegionCode: "US",
        },
      },
      option: ["Cocina Integral", "Calentador"],

      numeroFormato: {
        area: "m²",
        value: "",
        divisa: "COP",
      },

      dir: "ltr",
      selected: "",
    };
  },
  mounted() {
    setTimeout(function() {
      window.dispatchEvent(new Event("resize"));
    }, 250);
  },
  async created() {
    this.getPaises();
    this.getTipoInmueble();
    this.getTipoNegocio();
    this.getCaracteristicasInternas();
    this.getCaracteristicasExternas();
    this.getStatePublication();
    this.getSegmentoMercado();
    this.getStateFisico();
    this.getEstratoFisico();
    this.getTipoParqueadero();
    this.getTipoPrecios();
    this.getTipoTiempoAlquler();
    this.getPeridoAdmon();
  },

  methods: {
    getPaises() {
      this.$store
        .dispatch("appLocalidades/getPaises")
        .then((response) => {
          this.paises = response;
        })
        .catch((error) => {
          console.log(error);
        });
    },

    getEstados() {
      let codigo = this.inmueble.pais_id.id;
      this.$store
        .dispatch("appLocalidades/getStates", { codigo })
        .then((response) => {
          this.estados = response;
        })
        .catch((error) => {
          console.log(error);
        });
    },

    getCiudades() {
      let codigo = this.inmueble.estado_id.id;
      this.$store
        .dispatch("appLocalidades/getCiudades", { codigo })
        .then((response) => {
          this.ciudades = response;
        })
        .catch((error) => {
          console.log(error);
        });
    },

    getZona() {
      let codigo = this.inmueble.ciudad_id.id;
      this.$store
        .dispatch("appLocalidades/getZona", { codigo })
        .then((response) => {
          this.zonas = response;
        })
        .catch((error) => {
          console.log(error);
        });
    },

    getBarrio() {
      let codigo = this.inmueble.zona_id.id;
      this.$store
        .dispatch("appLocalidades/getBarrio", { codigo })
        .then((response) => {
          this.barrios = response;
        })
        .catch((error) => {
          console.log(error);
        });
    },

    /* Zona */

    checkFormValidityZona() {
      const valid = this.$refs.formZona.checkValidity();
      this.zonaState = valid;
      return valid;
    },

    resetModalZona() {
      this.inmueble.zona_id = "";
      this.zonaState = null;
    },

    handleOkZona(bvModalEvt) {
      bvModalEvt.preventDefault();
      this.handleSubmitZona();
    },

    hideModal() {
      this.$refs["modalZona"].hide();
    },

    handleSubmitZona() {
      if (!this.checkFormValidityZona()) {
        return;
      }
      console.log(this.inmueble);
      let data = {
        ciudad_id: this.inmueble.ciudad_id.id,
        name: this.inmueble.zona_id,
      };

      this.$store
        .dispatch("appLocalidades/saveZona", data)
        .then((response) => {
          this.inmueble.zona_id = response;
          this.getZona();
          this.hideModal();
        })
        .catch((error) => {
          this.hideModal();
        });
    },

    /* Barrio */

    checkFormValidityBarrio() {
      const valid = this.$refs.formBarrio.checkValidity();
      this.barrioState = valid;
      return valid;
    },

    resetModalBarrio() {
      this.inmueble.barrio_id = "";
      this.barrioState = null;
    },

    handleOkBarrio(bvModalEvt) {
      bvModalEvt.preventDefault();
      this.handleSubmitBarrio();
    },

    hideModalBarrio() {
      this.$refs["modalBarrio"].hide();
    },

    handleSubmitBarrio() {
      if (!this.checkFormValidityBarrio()) {
        return;
      }

      let data = {
        zona_id: this.inmueble.zona_id.id,
        name: this.inmueble.barrio_id,
      };

      this.$store
        .dispatch("appLocalidades/saveBarrio", data)
        .then((response) => {
          this.inmueble.barrio_id = response;
          this.getBarrio();
          this.hideModalBarrio();
        })
        .catch((error) => {
          this.hideModalBarrio();
        });
    },

    getTipoInmueble() {
      store.dispatch("app-inmuebles/getTipoInmueble", {}).then((response) => {
        this.tipoInmueble = response;
      });
    },
    getTipoNegocio() {
      store.dispatch("app-inmuebles/getTipoNegocio", {}).then((response) => {
        this.tipoNegocio = response;
      });
    },
    getCaracteristicasInternas() {
      store
        .dispatch("app-inmuebles/getCaracteristicasInternas", {})
        .then((response) => {
          this.caracteristicasInternas = response;
        });
    },
    getCaracteristicasExternas() {
      store
        .dispatch("app-inmuebles/getCaracteristicasExternas", {})
        .then((response) => {
          this.caracteristicasExternas = response;
        });
    },

    getStatePublication() {
      store
        .dispatch("app-inmuebles/getStatePublicacion", {})
        .then((response) => {
          this.estadoPublicacion = response;
        });
    },

    getSegmentoMercado() {
      store
        .dispatch("app-inmuebles/getSegmentoMercado", {})
        .then((response) => {
          this.segmendtoDeMercado = response;
        });
    },

    getStateFisico() {
      store.dispatch("app-inmuebles/getStateFisico", {}).then((response) => {
        this.estadoFisico = response;
      });
    },

    getEstratoFisico() {
      store.dispatch("app-inmuebles/getEstratoFisico", {}).then((response) => {
        this.estratos = response;
      });
    },

    getTipoParqueadero() {
      store
        .dispatch("app-inmuebles/getTipoParqueadero", {})
        .then((response) => {
          this.parqueaderos = response;
        });
    },

    getTipoPrecios() {
      store.dispatch("app-inmuebles/getTipoPrecios", {}).then((response) => {
        this.precios = response;
      });
    },

    getTipoTiempoAlquler() {
      store
        .dispatch("app-inmuebles/getTipoTiempoAlquler", {})
        .then((response) => {
          this.tiempo_alquiler = response;
        });
    },

    getPeridoAdmon() {
      store.dispatch("app-inmuebles/getPeridoAdmon", {}).then((response) => {
        this.periodo_admon = response;
      });
    },

    handleImages(e) {
     // console.log(e);
      this.inmueble.imagenes = e;
      //console.log(this.inmueble.imagenes);
    },

    // Enviar informacion
    formSubmitted() {
      this.$toast({
        component: ToastificationContent,
        props: {
          title: "Form Submitted",
          icon: "EditIcon",
          variant: "success",
        },
      });
    },
    sendData() {
      let user = JSON.parse(localStorage.getItem("userData"));
      this.inmueble.user_id = user.id;

      let formData = new FormData();

      formData.append("alcobas", this.inmueble.alcobas);
      formData.append("banos", this.inmueble.banos);
      formData.append("garaje", this.inmueble.garaje);
      formData.append("user_id", this.inmueble.user_id);
      formData.append("pisos", this.inmueble.pisos);
      formData.append("frente", this.inmueble.frente);
      formData.append("fondo", this.inmueble.fondo);
      formData.append("pais_id", this.inmueble.pais_id.id);
      formData.append("estado_id", this.inmueble.estado_id.id);
      formData.append("ciudad_id", this.inmueble.ciudad_id.id);
      formData.append("zona_id", this.inmueble.zona_id.id);
      formData.append("barrio_id", this.inmueble.barrio_id.id);
      formData.append("area_lote", this.inmueble.area_lote);
      formData.append("precio_venta", this.inmueble.precio_venta);
      formData.append("precio_alquiler", this.inmueble.precio_alquiler);
      formData.append(
        "precio_administracion",
        this.inmueble.precio_administracion
      );
      formData.append("area_total", this.inmueble.area_total);
      formData.append("area_contruida", this.inmueble.area_contruida);
      formData.append("latitud", this.inmueble.latitud);
      formData.append("longitud", this.inmueble.longitud);
      formData.append("direccion", this.inmueble.direccion);
      formData.append("tipo_inmueble", this.inmueble.tipo_inmueble.id);
      formData.append("tipo_negocio", this.inmueble.tipo_negocio.id);
      formData.append("periodo_admon", this.inmueble.periodo_admon.id);
      formData.append("tiempo_alquiler", this.inmueble.tiempo_alquiler.id);
      formData.append("tipo_precio", this.inmueble.tipo_precio.id);
      formData.append("titulo_inmueble", this.inmueble.titulo_inmueble);
      formData.append(
        "caracteristicas_internas",
        JSON.stringify(this.inmueble.caracteristicas_internas)
      );
      formData.append(
        "caracteristicas_externas",
        JSON.stringify(this.inmueble.caracteristicas_externas)
      );
      formData.append("tiempo", this.inmueble.tiempo);
      formData.append("propietario", JSON.stringify(this.inmueble.propietario)),
        formData.append("segmento_mercado", this.inmueble.segmento_mercado.id);
      formData.append(
        "estado_publicacion",
        this.inmueble.estado_publicacion.id
      );

      formData.append("state_fisico", this.inmueble.state_fisico.id);
      formData.append(
        "matricula_inmobiliaria",
        this.inmueble.matricula_inmobiliaria
      );
      formData.append("estrato", this.inmueble.estrato.id);
      formData.append("alquiler", this.inmueble.alquiler);
      formData.append("ascensor", this.inmueble.ascensor);

      formData.append("descripcion", this.inmueble.descripcion);
      formData.append("ano_contruido", this.inmueble.ano_contruido);
      formData.append(
        "cantidad_parqueadero",
        this.inmueble.cantidad_parqueadero
      );
      formData.append("parqueadero", this.inmueble.parqueadero.id);
      formData.append("ambientes", this.inmueble.ambientes);

      if (this.inmueble.titulo_inmueble != null) {
        if (this.inmueble.imagenes != null) {
          for (var i = 0; i < this.inmueble.imagenes.length; i++) {
            formData.append("files[]", this.inmueble.imagenes[i]);
          }
          this.show = true;

          console.log(this.inmueble.imagenes);

          return 

         /* store
            .dispatch("app-inmuebles/saveInmuebles", formData)
            .then((response) => {
              this.show = false;

              this.$toast({
                component: ToastificationContent,
                position: "top-center",
                props: {
                  title: response.message,
                  icon: "CoffeeIcon",
                  variant: "success",
                  text: ``,
                },
              });

              this.$router.push({ name: "listar-inmueble" });
            })
            .catch((error) => {
              console.log(error);
            });*/
        } else {
          this.alertWarning("Agregale una imagen como minimo a tu inmueble");
        }
      } else {
        this.alertWarning("El titulo del inmueble es requerido");
      }
    },

    alertWarning(message) {
      this.$swal({
        title: "Campos requerido!!!",
        text: message,
        icon: "warning",
        customClass: {
          confirmButton: "btn btn-warning",
        },
        confirmButtonText: "Aceptar",
        buttonsStyling: false,
      });
    },
  },

  setup() {},
};
</script>

<style lang="scss">
@import "@core/scss/vue/libs/quill.scss";
@import "@core/scss/vue/libs/vue-wizard.scss";
@import "@core/scss/vue/libs/vue-select.scss";
@import "~leaflet-search/src/leaflet-search.css";

@import "@core/scss/vue/libs/map-leaflet.scss";

.vue2leaflet-map {
  &.leaflet-container {
    height: 350px;
  }
}
</style>
