<template>
  <b-modal
    :id="infoModal.id"
    title="Subir imagenes del inmueble"
    @hide="resetInfoModal"
    ok-title="Subir"
    ok-variant="orange"
    cancel-title="Cancelar"
    @ok="handleOk"
    size="lg"
  >
    <b-row>
      <b-col>
        <UploadImages
          @change="handleImages"
          uploadMsg="subir imágenes del inmueble"
          clearAll="limpiar"
        />
      </b-col>
    </b-row>
  </b-modal>
</template>

<script>
import { BCol, BRow, BModal } from "bootstrap-vue";
export default {
  name: "modalImage",

  data() {
    return {
      data: {
        id: null,
        imagenes: null,
      },
      infoModal: {
        id: "modal-image",
        title: "",
        content: {},
      },
    };
  },

  components: {
    BModal,
    BRow,
    BCol,
  },

  methods: {
    info(item, button) {
        this.data.id = item;
        console.log(item);
        this.$root.$emit("bv::show::modal", this.infoModal.id, button);
    },

    resetInfoModal() {
      this.infoModal.title = "";
    },

    handleOk(bvModalEvt) {
      let formData = new FormData();
      if (this.data.imagenes != null) {
        formData.append("id", this.data.id);
        for (var i = 0; i < this.data.imagenes.length; i++) {
          formData.append("files[]", this.data.imagenes[i]);
        }

        this.$store
          .dispatch("app-inmuebles/editImage", formData)
          .then((response) => {
              this.$root.$emit('ejecutar', response);
          })
          .catch((error) => {
            console.log(error);
          });
      }

     
    },

    handleImages(e) {
      this.data.imagenes = e;
    },

    sendData() {},
  },
};
</script>

<style></style>
