/*================================================================================

NOTE:
------
PLACE HERE YOUR OWN SCSS CODES AND IF NEEDED, OVERRIDE THE STYLES FROM THE OTHER STYLESHEETS.
WE WILL RELEASE FUTURE UPDATES SO IN ORDER TO NOT OVERWRITE YOUR STYLES IT'S BETTER LIKE THIS.  */


#customers {
  font-family    : Arial, Helvetica, sans-serif;
  border-collapse: collapse;
  width          : 100%;
}

#customers td,
#customers th {
  border : 1px solid #ddd;
  padding: 8px;
}

#customers tr:nth-child(even) {
  background-color: #f2f2f2;
}

#customers tr:hover {
  background-color: #ddd;
}

#customers th {
  padding-top     : 12px;
  padding-bottom  : 12px;
  text-align      : left;
  background-color: #cecece;
  color           : white;
}

.ql-editor {
  height: 12rem;

  resize    : vertical;
  overflow-y: scroll;
}

.img-card-portal {
  width: 100%;
  min-height: 15rem;
}


.card-addy {
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
  transition: 0.3s;
  width: 23%;
  padding: 5px;
}

.card-addy:hover {
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
}

.container-card-addy {
  padding: 2px 16px;
}